Repository secondlife/viewer, changes with the labels that .github/labeler.yaml gives for each.
All labels: llappearance, llaudio, llcharacter, llcommon, llcorehttp, llcrashlogger, llfilesystem, llimage, llimagej2coj, llinventory, llkdu, llmath, llmeshoptimizer, llmessage, llplugin, llprimitive, llrender, llui, llwindow, llxml, cmake, python, c/cpp, team:viewer

.github/labeler.yaml:

llappearance:
  - indra/llappearance/**/*

llaudio:
  - indra/llaudio/**/*

llcharacter:
  - indra/llcharacter/**/*

llcommon:
  - indra/llcommon/**/*

llcorehttp:
  - indra/llcorehttp/**/*

llcrashlogger:
  - indra/llcrashlogger/**/*

llfilesystem:
  - indra/llfilesystem/**/*

llimage:
  - indra/llimage/**/*

llimagej2coj:
  - indra/llimagej2coj/**/*

llinventory:
  - indra/llinventory/**/*

llkdu:
  - indra/llkdu/**/*

llmath:
  - indra/llmath/**/*

llmeshoptimizer:
  - indra/llmeshoptimizer/**/*

llmessage:
  - indra/llmessage/**/*

llplugin:
  - indra/llplugin/**/*

llprimitive:
  - indra/llprimitive/**/*

llrender:
  - indra/llrender/**/*

llui:
  - indra/llui/**/*

llwindow:
  - indra/llwindow/**/*

llxml:
  - indra/llxml/**/*

cmake:
  - '**/*.cmake'
  - '**/*/cmake/*'
  - '**/CMakeLists.txt'

python:
  - '**/*.py'

c/cpp:
  - '**/*.c'
  - '**/*.cpp'
  - '**/*.cxx'
  - '**/*.h'
  - '**/*.hpp'
  - '**/*.hxx'
  - '**/*.i'
  - '**/*.inl'
  - '**/*.y'

'team:viewer':
  - '*'

Fix some BOOL oversights during WebRTC merge
  indra/newview/llimview.cpp
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#1769 gltf optimization pass (#1816)
  indra/llcommon/llprofilercategories.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llrender.cpp
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/gltf/animation.cpp
  indra/newview/gltf/animation.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/common.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolpbropaque.cpp
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: llcommon, llrender, c/cpp

Multiple LL.atexit(function) calls run functions in reverse order.
  indra/newview/scripts/lua/test_atexit.lua
Labels: none

Introduce require/logout.lua and test_logout.lua.
  indra/newview/llappviewerlistener.cpp
  indra/newview/llappviewerlistener.h
  indra/newview/scripts/lua/require/logout.lua
  indra/newview/scripts/lua/test_logout.lua
Labels: c/cpp

login.lua works now, update test_login.lua accordingly.
  indra/newview/scripts/lua/test_login.lua
Labels: none

Remove pre-Floater.lua versions of the floater test scripts.
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
Labels: none

Exercise the simple popup.lua APIs
  indra/newview/scripts/lua/test_popup.lua
Labels: none

Disable voice morphing and throw up a warning if it's previously enabled.
  indra/newview/app_settings/settings.xml
  indra/newview/llviewermenu.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/skins/default/xui/de/menu_viewer.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/es/menu_viewer.xml
  indra/newview/skins/default/xui/it/menu_viewer.xml
  indra/newview/skins/default/xui/ja/menu_viewer.xml
  indra/newview/skins/default/xui/pl/menu_viewer.xml
  indra/newview/skins/default/xui/pt/menu_viewer.xml
  indra/newview/skins/default/xui/ru/menu_viewer.xml
  indra/newview/skins/default/xui/tr/menu_viewer.xml
  indra/newview/skins/default/xui/zh/menu_viewer.xml
Labels: c/cpp

#1831 Fix for redundantly rebuilding bounding boxes forever
  indra/newview/llviewerobject.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp

#1831 Fix for redundantly rebuilding bounding boxes forever (#1832)
  indra/newview/llviewerobject.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp
