Repository secondlife/viewer, pull requests merged in 2022-12, with the labels that each got.

#18 SL-18243 Add wear and unwear buttons on line items in Outfits floater
  indra/newview/llinventorylistitem.h
  indra/newview/llwearableitemslist.cpp
  indra/newview/llwearableitemslist.h
  indra/newview/skins/default/textures/icons/add_icon.png
  indra/newview/skins/default/textures/icons/remove_icon.png
  indra/newview/skins/default/textures/textures.xml
  indra/newview/skins/default/xui/en/outfit_accordion_tab.xml
  indra/newview/skins/default/xui/en/panel_outfits_wearing.xml
  indra/newview/skins/default/xui/en/widgets/wearable_outfit_list_item.xml
Labels: c/cpp

#22 SL-18734 certain links are not displayed appropriately
  indra/llui/llurlentry.cpp
  indra/llui/llurlregistry.cpp
Labels: c/cpp, llui

#24 SL-18486 Complete Avatars floater is blank.
  indra/newview/llfloateravatar.cpp
  indra/newview/llfloateravatar.h
Labels: c/cpp

#25 SL-18778 Crash at LLVoiceClient::removeObserver
  indra/newview/llspeakingindicatormanager.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicevivox.h
Labels: c/cpp

#31 SL-18807 FIXED Viewer crashes when trying to purge item using 'Select settings' floater
  indra/newview/llinventorypanel.cpp
  indra/newview/llinventorypanel.h
Labels: c/cpp

#28 SL-14399: Ditch overflow queue LLViewerAssetStorage::mCoroWaitList.
  indra/llmessage/llcoproceduremanager.cpp
  indra/newview/llviewerassetstorage.cpp
  indra/newview/llviewerassetstorage.h
Labels: c/cpp, llmessage

#32 SL-18823 FIXED Crash when using 'Create folder from selected'
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp

#26 Fix failures to update the TP states while the viewer is minimized.
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#36 more correct LLPose::usage in LLPuppetMotion
  indra/newview/llpuppetmotion.cpp
Labels: c/cpp
