Repository secondlife/viewer, pull requests merged in 2022-11, with the labels that each got.

#8 Update message template URL after move to GitHub
  indra/cmake/Variables.cmake
  scripts/template_verifier.py
Labels: cmake, python

#6 Fix a thread safety issue in the GL image worker.
  indra/newview/lldrawpoolbump.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
Labels: c/cpp

#10 Fix bugs affecting puppetry_poser.py plug-in
  indra/newview/llpuppetmotion.cpp
Labels: c/cpp

#12 SL-18713 fix crash in handleCompositionMessage
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#16 Sl 18732: Fix responsiveness of GLTF texture transform controls in build floater
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
  indra/newview/llmaterialeditor.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
Labels: bug

#15 more puppetry fixes and attempt to add Puppetry support for per-joint scale
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llpolyskeletaldistortion.cpp
  indra/llcharacter/CMakeLists.txt
  indra/llcharacter/llcharacter.h
  indra/llcharacter/llik.cpp
  indra/llcharacter/llik.h
  indra/llcharacter/lljoint.cpp
  indra/llcharacter/lljoint.h
  indra/llcharacter/tests/llik_test.cpp
  indra/llcharacter/tests/lljoint_test.cpp
  indra/newview/llpuppetevent.cpp
  indra/newview/llpuppetevent.h
  indra/newview/llpuppetmodule.cpp
  indra/newview/llpuppetmotion.cpp
  indra/newview/llpuppetmotion.h
  indra/newview/llvoavatar.cpp
Labels: c/cpp, cmake, llcharacter, llappearance
