Repository secondlife/viewer, pull requests merged in 2023-12, with the labels that each got.

#556 SL-20611 Make haze effect local lights. Incidental fix for EventPump coroutine sometimes doing unsafe work mid-render.
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/shaders/class1/deferred/fullbrightF.glsl
  indra/newview/app_settings/shaders/class1/environment/waterFogF.glsl
  indra/newview/app_settings/shaders/class1/lighting/lightWaterAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/lighting/lightWaterNonIndexedF.glsl
  indra/newview/app_settings/shaders/class1/objects/simpleWaterF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsHelpersV.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsV.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsV.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsWaterF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsWaterV.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/fullbrightShinyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/hazeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/waterHazeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/waterHazeV.glsl
  indra/newview/app_settings/shaders/class3/environment/underWaterF.glsl
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/lldrawpoolmaterials.cpp
  indra/newview/lldrawpoolsimple.cpp
  indra/newview/lleventpoll.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llviewercamera.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llworld.cpp
  indra/newview/llworld.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#550 Fix LLGLTFMaterial hashing
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
Labels: c/cpp, llprimitive

#540 SL-19655 BugSplat Crash: LLGLState::checkStates (2427)
  indra/newview/pipeline.cpp
Labels: c/cpp

#561 SL-18107 Allow dropping inventory onto a profile for sharing
  indra/newview/llpanelavatar.cpp
  indra/newview/llpanelavatar.h
  indra/newview/llpanelgroupnotices.cpp
  indra/newview/llpanelprofile.cpp
  indra/newview/llpanelprofile.h
Labels: c/cpp

#563 SL-20694 and SL-20693 classified creation fixes
  indra/newview/llpanelprofileclassifieds.cpp
  indra/newview/skins/default/xui/en/floater_publish_classified.xml
Labels: c/cpp

#562 SL-20140 Setting shape hand size to 36 won't save
  indra/newview/character/avatar_lad.xml
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
Labels: c/cpp

#566 SL-20696 FIXED llLoopSoundSlave producing no sound since viewer update
  indra/llaudio/llaudioengine.cpp
Labels: c/cpp, llaudio

#569 SL-20672 Menu support in gallery view
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp

#571 SL-20701 FIXED Build tool texture tab shows incorrect material parameters in some cases
  indra/newview/llpanelface.cpp
Labels: c/cpp

#575 SL-20709 FIXED Avatar Maximum Complexity changing upon cancelling Advanced Graphics
  indra/newview/llfloaterpreference.cpp
Labels: c/cpp

#576 SL-20714 Crash accessing mControlAVBridge
  indra/newview/llviewermessage.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp

#579 SL-17597 AV height in Shape dialog IS WRONG
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/llappearance/llwearable.cpp
Labels: c/cpp, llappearance

#582 SL-20710 ignore pelvis fixup when sitting in mouselook
  indra/newview/llagentcamera.cpp
Labels: c/cpp

#584 SL-20715 Mapping mode and specular color not copied correctly
  indra/newview/llpanelface.cpp
Labels: c/cpp

#585 SL-20279 BugSplat Crash #1327171: gl_debug_callback(111)
  indra/llrender/llgl.cpp
Labels: c/cpp, llrender

#586 SL-20729 Crash in getObject
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp

#588 SL-20672 Added outfit related menu options to gallery
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp

#589 SL-20717 Add PBR to Advanced > Rendering Types
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#590 SL-20715 Mask cutoff not copied corretly in build tools
  indra/newview/llpanelface.cpp
Labels: c/cpp

#591 SL-15628 Crash inside ~LLModelInstanceBase
  indra/llmath/llvolume.h
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/newview/llmodelpreview.cpp
  indra/newview/llmodelpreview.h
Labels: c/cpp, llmath, llprimitive

#592 SL-3508 Crash in LLKDUDecodeState::processTileDecode
  indra/llimage/llimage.cpp
  indra/llimage/llimagej2c.cpp
  indra/llkdu/llimagej2ckdu.cpp
Labels: c/cpp, llimage, llkdu

#593 DRTVWR-600 macos buildfix
  indra/llkdu/llimagej2ckdu.cpp
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp, llkdu

#595 SL-20737 Crash clearing texture callbacks
  indra/newview/llfloaterprofiletexture.cpp
Labels: c/cpp

#594 SL-20743 Use LLMutex in LLImageBase for internal data thread-safety
  indra/llappearance/llavatarappearance.h
  indra/llappearance/llpolymorph.cpp
  indra/llappearance/llpolymorph.h
  indra/llappearance/lltexlayer.cpp
  indra/llappearance/lltexlayer.h
  indra/llcommon/llapr.cpp
  indra/llcommon/llapr.h
  indra/llcommon/llmutex.cpp
  indra/llcommon/llmutex.h
  indra/llimage/llimage.cpp
  indra/llimage/llimage.h
  indra/llimage/llimagebmp.cpp
  indra/llimage/llimagebmp.h
  indra/llimage/llimagedxt.cpp
  indra/llimage/llimagefilter.cpp
  indra/llimage/llimagej2c.cpp
  indra/llimage/llimagejpeg.cpp
  indra/llimage/llimagejpeg.h
  indra/llimage/llimagepng.cpp
  indra/llimage/llimagetga.cpp
  indra/llimage/llimageworker.cpp
  indra/llimage/llpngwrapper.cpp
  indra/llimagej2coj/llimagej2coj.cpp
  indra/llkdu/llimagej2ckdu.cpp
  indra/llrender/llcubemap.cpp
  indra/llrender/llfontfreetype.cpp
  indra/llrender/llimagegl.cpp
  indra/newview/lldrawpoolbump.cpp
  indra/newview/llfasttimerview.cpp
  indra/newview/llfloater360capture.cpp
  indra/newview/llfloaterauction.cpp
  indra/newview/llfloatercolorpicker.cpp
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llinventorygallerymenu.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llnetmap.cpp
  indra/newview/llsnapshotlivepreview.cpp
  indra/newview/lltexturecache.cpp
  indra/newview/lltexturecache.h
  indra/newview/lltexturefetch.cpp
  indra/newview/lltinygltfhelper.cpp
  indra/newview/llviewerassetupload.cpp
  indra/newview/llviewerparceloverlay.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvosky.cpp
  indra/newview/llvosky.h
  indra/newview/llvovolume.cpp
  indra/newview/llwebprofile.cpp
Labels: c/cpp, llappearance, llcommon, llimage, llimagej2coj, llkdu, llrender
