Repository secondlife/viewer, pull requests merged in 2023-05, with the labels that each got.

#200 Davep/sl 19656
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/lldrawpoolbump.cpp
  indra/newview/lldrawpoolmaterials.cpp
  indra/newview/llfloaterperformance.cpp
  indra/newview/llfloaterperformance.h
  indra/newview/llperfstats.cpp
  indra/newview/llperfstats.h
  indra/newview/llviewerjointmesh.cpp
  indra/newview/llviewerobject.h
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvovolume.cpp
  indra/newview/llworld.cpp
  indra/newview/llworld.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#201 puppetry: cleanup IK algorithm invocation
  indra/llcharacter/llik.cpp
  indra/llcharacter/llik.h
  indra/llcharacter/tests/llik_test.cpp
Labels: c/cpp, llcharacter

#202 Fix typos in floater_scene_load_stats.xml and llviewerstats.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/skins/default/xui/en/floater_scene_load_stats.xml
Labels: c/cpp

#191 Fix SL-19675 crash due to thread unsafe LLRefCount usage possibly related to SL-19648
  indra/llprimitive/llgltfmaterial.h
  indra/newview/llgltfmateriallist.cpp
Labels: c/cpp, llprimitive

#179 brad/mac nightly builds
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/LLAddBuildTest.cmake
  indra/cmake/Variables.cmake
Labels: cmake

#207 Fix exceptions during shutdown causing early program termination
  indra/llcommon/workqueue.h
  indra/llimage/llimageworker.cpp
Labels: c/cpp, llcommon, llimage

#206 SL-19644: De-virtualize pushBatch
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolbump.cpp
  indra/newview/lldrawpoolbump.h
Labels: c/cpp

#199 BUG-233797/233798 - fix blackout when u/w fog_density < 0
  indra/llinventory/llsettingswater.cpp
Labels: c/cpp, llinventory

#205 sl-19676 - Stats on updates and scene loading
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llfloater360capture.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/lltexturefetch.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llviewerstatsrecorder.cpp
  indra/newview/llviewerstatsrecorder.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#208 SL-19690: Follow up on Rye Mutt's fix for shutdown crashes.
  indra/llaudio/llaudiodecodemgr.cpp
  indra/llcommon/llqueuedthread.cpp
  indra/llcommon/workqueue.cpp
  indra/llcommon/workqueue.h
  indra/llimage/llimageworker.cpp
  indra/llrender/llimagegl.h
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow, llcommon, llimage, llrender, llaudio

#212 SL-19236: Fix HUDs not rendering when transparent water graphics setting is off
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#211 sl-19676 - more loading stats and 360 Interest List mode work
  indra/newview/app_settings/settings.xml
  indra/newview/llagent.cpp
  indra/newview/llagent.h
  indra/newview/llfloater360capture.cpp
  indra/newview/llfloater360capture.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llviewerstatsrecorder.cpp
  indra/newview/llviewerstatsrecorder.h
Labels: c/cpp

#215 SL-19676 - more IL control, added Reset Interest List Debug menu command
  indra/llmessage/llcorehttputil.cpp
  indra/llmessage/llcorehttputil.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llmessage

#217 SL-19575 Create emoji gallery (fix bug with drawing emojis in chat history)
  indra/llcommon/llstring.cpp
  indra/llui/llemojidictionary.cpp
  indra/llui/llemojidictionary.h
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/newview/llchathistory.cpp
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
  indra/newview/llscripteditor.cpp
  indra/newview/skins/default/xui/en/widgets/chat_history.xml
Labels: c/cpp, llcommon, llui

#216 Add a binary cache for compiled shaders using glProgramBinary
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llrender

#221 SL-19575 Create emoji gallery (use ::value_type in LLEmojiDictionary typedefs)
  indra/llui/llemojidictionary.h
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp, llui

#222 SL-19635 Implement DeepL tranlation support
  indra/newview/app_settings/settings.xml
  indra/newview/llfloatertranslationsettings.cpp
  indra/newview/llfloatertranslationsettings.h
  indra/newview/lltranslate.cpp
  indra/newview/lltranslate.h
  indra/newview/skins/default/xui/en/floater_translation_settings.xml
Labels: c/cpp

#223 Drtvwr 583 glossy ssr
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/screenSpaceReflUtil.glsl
  indra/newview/app_settings/shaders/class3/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/screenSpaceReflPostF.glsl
  indra/newview/app_settings/shaders/class3/deferred/screenSpaceReflUtil.glsl
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#224 SL-19748 Fix thumbnail not applying if floater was closed too fast
  indra/newview/llfloaterchangeitemthumbnail.cpp
  indra/newview/llfloaterchangeitemthumbnail.h
Labels: c/cpp

#227 Fix underwater fog mismatch between opaque and alpha blend when local lights are nearby
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
Labels: c/cpp

#228 DRTVWR-582 xcode-14.3 merge follow up
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize.h
  indra/newview/llmeshrepository.cpp
Labels: c/cpp, llcommon
