Repository secondlife/viewer, pull requests merged in 2023-08, with the labels that each got.

#313 SL-19528 Remove PERMISSION_DEBIT warning from experience that is Grid and Privileged
  indra/newview/llviewermessage.cpp
Labels: c/cpp

#314 SL-19887 Water cuts avatar's name bubble
  indra/newview/llhudnametag.cpp
  indra/newview/llhudnametag.h
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#315 SL-19303 switch automatically between Materials/PBR/Media based on current values
  indra/newview/llpanelface.cpp
Labels: c/cpp

#316 SL-20121 Fixed the crash in LLViewerInput::getKeyBindingAsString()
  indra/newview/llviewerinput.cpp
Labels: c/cpp

#317 SL-20078 Remove Google Translation UI (just fix error processing)
  indra/newview/lltranslate.cpp
Labels: c/cpp

#318 SL-20086 esape the message text before sending
  indra/newview/lltranslate.cpp
Labels: c/cpp

#319 SL-20090 BugSplat Crash: LLViewerFetchedTexture::updateFetch(2099)
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#320 SL-19807 BugSplat Crash: LLDispatchSetEstateExperience::getIDs()
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp

#321 SL-20039 "Save to inventory" should only allow saving identical faces
  indra/newview/llpanelface.cpp
Labels: c/cpp

#323 SL-20024: Improve material permissions handling
  indra/llinventory/llpermissions.h
  indra/llprimitive/llmaterial.cpp
  indra/llprimitive/llmaterial.h
  indra/newview/app_settings/settings.xml
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llpreview.cpp
  indra/newview/llpreview.h
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
  indra/newview/lltooldraganddrop.cpp
  indra/newview/llviewerinventory.cpp
  indra/newview/llviewerinventory.h
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/en/panel_tools_texture.xml
Labels: c/cpp, llinventory, llprimitive

#325 SL-19528 Remove PERMISSION_DEBIT warning (revert recent change)
  indra/newview/llviewermessage.cpp
Labels: c/cpp

#326 SL-20146 Statistic bar collapsed/expanded accordions not saving
  indra/llui/llcontainerview.cpp
  indra/llui/llcontainerview.h
  indra/llui/llstatview.cpp
  indra/llui/llstatview.h
  indra/newview/app_settings/settings.xml
  indra/newview/skins/default/xui/en/floater_stats.xml
Labels: c/cpp, llui

#324 SL-20024: Double-check object inventory is not pending when save button pressed
  indra/llinventory/llpermissions.h
  indra/newview/llmaterialeditor.cpp
  indra/newview/llpanelface.cpp
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp, llinventory

#329 SL-20151 allow right-clicking reflection probes if 'Select Reflection Probes' is enabled
  indra/newview/lltoolpie.cpp
Labels: c/cpp

#332 Remove unused counters that cause fatal warnings
  indra/llcharacter/llbvhloader.cpp
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize.h
  indra/llcommon/stdtypes.h
  indra/llcommon/tests/llleap_test.cpp
  indra/llcommon/tests/llsdserialize_test.cpp
  indra/llcorehttp/tests/test_llcorehttp_peer.py
  indra/llmath/llvolume.cpp
  indra/llmessage/llcircuit.cpp
  indra/llmessage/tests/test_llsdmessage_peer.py
  indra/llrender/llgl.cpp
  indra/llui/llbutton.cpp
  indra/llui/llmenugl.cpp
  indra/llxml/llcontrol.cpp
  indra/newview/llagent.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llpanelnearbymedia.cpp
  indra/newview/llsceneview.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llsprite.cpp
  indra/newview/llstartup.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llvosurfacepatch.cpp
  indra/newview/llvovolume.cpp
  indra/newview/viewer_manifest.py
  scripts/metrics/slp_conv.py
  scripts/metrics/viewer_asset_logs.py
  scripts/metrics/viewerstats.py
Labels: c/cpp, python, llcharacter, llcommon, llcorehttp, llmath, llmessage, llrender, llui, llxml

#333 SL-20099 Thumbnail upload scale textures to be square
  indra/newview/llfloatersimplesnapshot.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
Labels: c/cpp

#335 SL-20140 Fix formatting file llpaneleditwearable.cpp
  indra/newview/llpaneleditwearable.cpp
Labels: c/cpp

#338 SL-20024: Fix unable to modify a no-copy material from the build floater
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#340 SL-20173 show warning notification when trying to add invalid files as local texture
  indra/llimage/llimagedimensionsinfo.cpp
  indra/llimage/llimagedimensionsinfo.h
  indra/newview/lllocalbitmaps.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llimage

#342 SL-19299 Viewer crashes after change 'Pick a physics model:' dropdown
  indra/llcommon/llpointer.h
  indra/llcommon/llrefcount.cpp
  indra/llcommon/llrefcount.h
  indra/newview/llmodelpreview.cpp
Labels: c/cpp, llcommon

#345 SL-18620 Statistics->Advanced->Memory Usage no longer updating
  indra/llcommon/lltrace.cpp
  indra/llcommon/lltrace.h
  indra/llcommon/lltraceaccumulators.cpp
  indra/llcommon/lltraceaccumulators.h
  indra/llcommon/lltracerecording.cpp
  indra/llcommon/lltracerecording.h
  indra/llcommon/lltracethreadrecorder.cpp
  indra/llui/llstatbar.cpp
  indra/llui/llstatbar.h
  indra/newview/llscenemonitor.cpp
  indra/newview/skins/default/xui/en/floater_stats.xml
Labels: c/cpp, llcommon, llui

#349 SL-20214 Crash at LLControlAVBridge::updateSpatialExtents
  indra/newview/llvovolume.cpp
Labels: c/cpp

#351 SL-20211 EmojiPicker - The search field should be the same as other floaters
  indra/llui/llsearcheditor.cpp
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llui

#352 SL-20209 Open read access to the recently used emojis
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
Labels: c/cpp

#353 SL-20209 Add 'noscroll' parameter to LLPanelEmojiComplete::Params
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/llpanelemojicomplete.h
Labels: c/cpp

#347 Fix builds using OpenAL
  indra/llaudio/llaudioengine_openal.h
Labels: c/cpp, llaudio

#355 SL-20210 Recent Emojis - Remember emojis that were actually sent in the message
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloaterimnearbychat.cpp
  indra/newview/llfloaterimsession.cpp
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
Labels: c/cpp

#359 SL-20226 Object Profile Floater Stays As Inactive Transparency When Active
  indra/newview/llfloatersidepanelcontainer.cpp
Labels: c/cpp

#348 Fix CMake CMP0148 deprecation warning introduced with CMake 3.27.4
  indra/cmake/Python.cmake
Labels: cmake
