Repository secondlife/viewer, pull requests merged in 2023-11, with the labels that each got.

#486 SL-20397: Fix material set from script not updating when the GLTF material has non-default texture transforms
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp

#487 DRTVWR-594 Mac buildfix (remove unused field)
  indra/newview/lloutfitgallery.h
Labels: c/cpp

#493 SL-20163 Allow residents to hide exact join date on profiles (check server support)
  indra/newview/llavatarpropertiesprocessor.cpp
  indra/newview/llavatarpropertiesprocessor.h
  indra/newview/llpanelprofile.cpp
Labels: c/cpp

#495 SL-20356 Show tooltip for the empty-recent textbox
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
Labels: c/cpp

#494 SL-20566 Allow removal of a teleport history locations
  indra/newview/llpanelteleporthistory.cpp
  indra/newview/skins/default/xui/en/menu_teleport_history_item.xml
Labels: c/cpp

#498 SL-20579 Translation export script improvements
  scripts/code_tools/modified_strings.py
Labels: python

#497 SL-20356 EmojiPicker - Implement arrow keys navigation
  indra/llui/llscrollcontainer.cpp
  indra/llui/llscrollcontainer.h
  indra/llui/llscrollingpanellist.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/llviewerwindow.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llui

#499 SL-20415 Activating an already active category button should move focus to search field
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#500 SL-20518 EmojiPicker - The 'More' button is overlapped the recently used emojis row
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llpanelemojicomplete.cpp
Labels: c/cpp

#496 SL-20569 Notify user when reflection probe can't be selected
  indra/newview/llpanelvolume.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#502 SL-20438 Emoji picker will dock with edge of screen if the Conversations floater is dragged there
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
  indra/llui/llview.cpp
  indra/llui/llview.h
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp, llui

#503 SL-20576 FIXED Viewer crashes when clicking scroll bar after switching views
  indra/newview/llinventorygallery.cpp
Labels: c/cpp

#504 Fix BUG-225288: Detaching stops unrelated animations
  indra/newview/llviewermessage.cpp
  indra/newview/llvoavatarself.cpp
Labels: c/cpp

#507 SL-20521 Focus does not move to the Nearby Chat field
  indra/newview/llfloaterimsessiontab.cpp
Labels: c/cpp

#508 SL-20416 Choose emoji floater puts emoji in the chat window that opened it
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
Labels: c/cpp

#509 SL-20575 Fix some deletion issues
  indra/newview/llappearancemgr.cpp
  indra/newview/llappearancemgr.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventoryfunctions.h
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallerymenu.cpp
  indra/newview/llstartup.cpp
Labels: c/cpp

#510 SL-20277 ignore both settings when loading camera preset
  indra/newview/llpresetsmanager.cpp
Labels: c/cpp

#505 SL-20553: Save material button in build floater now depends on agent inventory rather than object inventory
  indra/newview/llinventorymodel.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llviewerinventory.cpp
  indra/newview/llviewerinventory.h
Labels: c/cpp

#501 Drtvwr 596 11/8/2023
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llprimitive.cpp
  indra/llprimitive/llprimitive.h
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp, llprimitive

#512 SL-20599 restore "New folder" option for "Marketplace Listings" floater
  indra/newview/llinventorybridge.cpp
  indra/newview/skins/default/xui/en/menu_inventory.xml
Labels: c/cpp

#517 SL-20563 Add 'No Post' option to Snapshot floater
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llfloatersnapshot.h
  indra/newview/skins/default/xui/en/floater_snapshot.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#516 SL-20575 When opening menu cache results and spread load over frames
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorybridge.h
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp

#519 SL-20607 Version folder was not created when copying folders to marketplace
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llmarketplacefunctions.cpp
Labels: c/cpp

#520 SL-20553: Fix crash in ~PBRPickerAgentListener
  indra/newview/llpanelface.cpp
Labels: c/cpp

#523 Added the script for adjusting XUI xml format
  scripts/code_tools/fix_xml_indentations.py
Labels: python

#527 SL-20550 Infinite loop test crashes intantly on MacOS.
  indra/newview/llappviewer.cpp
Labels: c/cpp

#528 Switch to viewer-build-util@v1
  .github/workflows/build.yaml
Labels: ignore-for-release

#522 SL-20563 Add 'No Post' option to Snapshot floater
  indra/newview/app_settings/settings.xml
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llsnapshotlivepreview.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewermenufile.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/pipeline.cpp
Labels: enhancement, c/cpp

#524 Fix failure to save the normalized translation data during collada upload
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/llmodel.cpp
Labels: bug, c/cpp, llprimitive

#529 SL-20327 FIXED friend location on the map is not shown after right click>Map
  indra/newview/llfloaterworldmap.cpp
Labels: c/cpp

#530 SL-20578 Underwater parcel lines are not visible from above water
  indra/newview/llviewerparceloverlay.cpp
  indra/newview/llviewerparceloverlay.h
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
Labels: c/cpp

#525 Ignore .vscode
  .gitignore
Labels: ignore-for-release

#521 Only publish installers to releases
  .github/workflows/build.yaml
Labels: ignore-for-release

#536 SL-20442 Add an 'Until shortcut key released' option to gestures so we can do properly user-mappable keys
  indra/llcharacter/llmultigesture.cpp
  indra/llcharacter/llmultigesture.h
  indra/newview/llgesturemgr.cpp
Labels: c/cpp, llcharacter

#538 SL-18098 Crash inside unpackBinaryData
  indra/llmessage/lldatapacker.cpp
Labels: c/cpp, llmessage

#541 Mac build fix
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llinventorygallery.cpp
Labels: c/cpp

#543 SL-20651 DragnDrop from library in gallery mode doesn't work
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventoryobserver.cpp
Labels: c/cpp

#546 SL-20647 don't allow dragging 'no mod' material into the picker of an attached object
  indra/newview/llpanelface.cpp
Labels: c/cpp

#547 merge SL-20411 work that missed the DRTVWR-559 release into DRTVWR-596
  indra/llrender/llgltexture.cpp
  indra/llrender/llgltexture.h
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallery.h
  indra/newview/llthumbnailctrl.cpp
  indra/newview/llthumbnailctrl.h
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, llrender

#553 SL-20655 FIXED Texture permissions not enforced in Material floaters
  indra/newview/llmaterialeditor.cpp
  indra/newview/llpanelface.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
Labels: c/cpp
