Repository secondlife/viewer, pull requests merged in 2023-01, with the labels that each got.

#38 Clean up for loops in llappearance to use C++11 range based for loops
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/llappearance/llavatarappearancedefines.cpp
  indra/llappearance/llavatarjoint.cpp
  indra/llappearance/llavatarjointmesh.cpp
  indra/llappearance/lldriverparam.cpp
  indra/llappearance/lllocaltextureobject.cpp
  indra/llappearance/llpolymesh.cpp
  indra/llappearance/llpolymorph.cpp
  indra/llappearance/llpolyskeletaldistortion.cpp
  indra/llappearance/lltexglobalcolor.cpp
  indra/llappearance/lltexlayer.cpp
  indra/llappearance/lltexlayerparams.cpp
  indra/llappearance/llwearable.cpp
Labels: c/cpp, llappearance

#41 Clean up for loops in llaudio to use C++11 range based for loops
  indra/llaudio/llaudioengine.cpp
Labels: c/cpp, llaudio

#42 Cleanup for loops in llcharacter to use C++11 range based for loops
  indra/llcharacter/llanimationstates.cpp
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llcharacter/llgesture.cpp
  indra/llcharacter/lljoint.cpp
  indra/llcharacter/llkeyframemotion.cpp
  indra/llcharacter/llkeyframemotionparam.cpp
  indra/llcharacter/llmotioncontroller.cpp
  indra/llcharacter/llmultigesture.cpp
  indra/llcharacter/llpose.cpp
  indra/llcharacter/llstatemachine.cpp
Labels: c/cpp, llcharacter

#44 Cleanup for loops in llcommon to use C++11 range based for loops
  indra/llcommon/llallocator_heap_profile.cpp
  indra/llcommon/llassettype.cpp
  indra/llcommon/llcallbacklist.cpp
  indra/llcommon/llcallstack.cpp
  indra/llcommon/lldependencies.h
  indra/llcommon/llerror.cpp
  indra/llcommon/llevent.cpp
  indra/llcommon/llheteromap.cpp
  indra/llcommon/llinitdestroyclass.cpp
  indra/llcommon/llinitparam.cpp
  indra/llcommon/llinitparam.h
  indra/llcommon/llkeybind.cpp
  indra/llcommon/llmetricperformancetester.cpp
  indra/llcommon/llnametable.h
  indra/llcommon/llpriqueuemap.h
  indra/llcommon/llregistry.h
  indra/llcommon/llsdparam.cpp
  indra/llcommon/llsdutil.cpp
  indra/llcommon/llstring.h
  indra/llcommon/llstringtable.cpp
  indra/llcommon/llstringtable.h
  indra/llcommon/lltracerecording.cpp
  indra/llcommon/lltracethreadrecorder.cpp
  indra/llcommon/lluri.cpp
  indra/llcommon/llworkerthread.cpp
Labels: c/cpp, llcommon

#46 Fixes for pull requests #38, #41, and #42
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/llappearance/llavatarappearancedefines.cpp
  indra/llappearance/llavatarjoint.cpp
  indra/llappearance/llavatarjointmesh.cpp
  indra/llappearance/lldriverparam.cpp
  indra/llappearance/lllocaltextureobject.cpp
  indra/llappearance/llpolymesh.cpp
  indra/llappearance/llpolymorph.cpp
  indra/llappearance/llpolyskeletaldistortion.cpp
  indra/llappearance/lltexglobalcolor.cpp
  indra/llappearance/lltexlayer.cpp
  indra/llappearance/lltexlayerparams.cpp
  indra/llappearance/llwearable.cpp
  indra/llaudio/llaudioengine.cpp
  indra/llcharacter/llanimationstates.cpp
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llcharacter.h
  indra/llcharacter/llgesture.cpp
  indra/llcharacter/lljoint.cpp
  indra/llcharacter/llkeyframemotion.cpp
  indra/llcharacter/llkeyframemotionparam.cpp
  indra/llcharacter/llmotioncontroller.cpp
  indra/llcharacter/llpose.cpp
  indra/llcharacter/llstatemachine.cpp
Labels: c/cpp, llcharacter, llappearance, llaudio

#48 Sl 18820: Build floater should preserve GLTF transforms when changing the PBR material
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/lltextureentry.cpp
  indra/llprimitive/lltextureentry.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp, llprimitive

#51 SL-18735 Using "Find original" in main inventory tab breaks inventory view
  indra/llcommon/llallocator_heap_profile.cpp
  indra/llui/llfolderview.cpp
  indra/llui/llfolderviewitem.h
  indra/newview/lleventpoll.cpp
  indra/newview/llfolderviewmodelinventory.cpp
  indra/newview/llstartup.cpp
Labels: c/cpp, llcommon, llui

#55 SL-19014 Sanitize the override data sent for faces without GLTF materials
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
  indra/newview/llmaterialeditor.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#49 SL-18946: Adding message from viewer to simulator. Tracks attachment…
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llmessage/llregionflags.h
  indra/llmessage/message_prehash.cpp
  indra/llmessage/message_prehash.h
  indra/newview/llpuppetmotion.cpp
  indra/newview/llviewerjointattachment.h
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
  scripts/messages/message_template.msg
  scripts/messages/message_template.msg.sha1
Labels: c/cpp, llcharacter, llmessage

#60 cleanup attachment update system
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/newview/llpuppetmotion.cpp
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
Labels: c/cpp, llcharacter

#59 SL-19012: Fix new material IDs sometimes not applying when set via LSL
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp

#61 SL-19081: Fix assert when uploading texture
  indra/newview/llfloaterimagepreview.cpp
Labels: c/cpp

#62 SL-18996 Make MacOS picker dialogs modeless to avoid disconnects
  indra/newview/llfilepicker.cpp
  indra/newview/llfilepicker.h
  indra/newview/llfilepicker_mac.h
  indra/newview/llfilepicker_mac.mm
  indra/newview/llviewermenufile.cpp
  indra/newview/llviewermenufile.h
Labels: c/cpp

#63 SL-19203 et al -- Integrate SSR with reflection probes, tweak probe blending.
  indra/llrender/llgl.cpp
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/llrender/llvertexbuffer.cpp
  indra/newview/app_settings/shaders/class1/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class1/deferred/screenSpaceReflPostF.glsl
  indra/newview/app_settings/shaders/class1/deferred/screenSpaceReflUtil.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/fullbrightShinyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/screenSpaceReflPostF.glsl
  indra/newview/app_settings/shaders/class3/deferred/screenSpaceReflUtil.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/llfasttimerview.cpp
  indra/newview/llglsandbox.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llscenemonitor.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#64 Fast hashing classes for use in place of the slow LLMD5, where speed matters
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/LLCommon.cmake
  indra/cmake/xxHash.cmake
  indra/llcommon/CMakeLists.txt
  indra/llcommon/hbxxh.cpp
  indra/llcommon/hbxxh.h
  indra/llcommon/lluuid.cpp
  indra/llprimitive/llmodel.cpp
  indra/newview/skins/default/xui/da/floater_about.xml
  indra/newview/skins/default/xui/de/floater_about.xml
  indra/newview/skins/default/xui/en/floater_about.xml
  indra/newview/skins/default/xui/es/floater_about.xml
  indra/newview/skins/default/xui/fr/floater_about.xml
  indra/newview/skins/default/xui/it/floater_about.xml
  indra/newview/skins/default/xui/ja/floater_about.xml
  indra/newview/skins/default/xui/pt/floater_about.xml
  indra/newview/skins/default/xui/ru/floater_about.xml
  indra/newview/skins/default/xui/tr/floater_about.xml
  indra/newview/skins/default/xui/zh/floater_about.xml
Labels: c/cpp, cmake, llcommon, llprimitive
