Repository secondlife/viewer, pull requests merged in 2023-03, with the labels that each got.

#102 SL-19327 Disable crash reporting for Win7
  indra/newview/llappviewerwin32.cpp
Labels: c/cpp

#101 SL-19316 fix filter for GLTF materials on mac
  indra/newview/llfilepicker.cpp
Labels: c/cpp

#100 SL-19294: Fix Blinn-Phong texture transforms affecting PBR materials
  indra/newview/llface.cpp
  indra/newview/llspatialpartition.h
  indra/newview/llvovolume.cpp
Labels: c/cpp

#99 SL-18330: Address further code review comments
  indra/llcommon/lldefs.h
  indra/llcommon/llmd5.cpp
  indra/llcommon/llmd5.h
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/lltracerecording.cpp
  indra/llcommon/lltracerecording.h
  indra/llcommon/tests/llsdserialize_test.cpp
Labels: c/cpp, llcommon

#105 SL-15752 Reduce default graphical quality on machines with little memory
  indra/newview/llfeaturemanager.cpp
Labels: c/cpp

#106 SL-18707: Fix colours of light reflection on water at sunrise and sunset
  indra/newview/lldrawpoolwater.cpp
Labels: c/cpp

#108 Fix hiding huds in PBR viewer
  indra/newview/llviewerwindow.cpp
Labels: c/cpp

#107 Fix double copy of tangents array
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#111 SL-19346 PERMISSION_DEBIT remove warning for Linden owned content
  indra/newview/llimprocessing.cpp
  indra/newview/llimview.cpp
  indra/newview/llmutelist.cpp
  indra/newview/llmutelist.h
  indra/newview/llviewermessage.cpp
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#112 SL-19345: Fix Blinn-Phong faces missing transforms
  indra/newview/llface.cpp
Labels: c/cpp

#93 Send binary LLSD to LEAP plugins; extend LLSD compatibility, redux
  indra/llcommon/llapp.cpp
  indra/llcommon/llbase64.cpp
  indra/llcommon/lldefs.h
  indra/llcommon/lldependencies.cpp
  indra/llcommon/lldependencies.h
  indra/llcommon/llerror.cpp
  indra/llcommon/lleventdispatcher.cpp
  indra/llcommon/llinstancetracker.h
  indra/llcommon/llkeybind.cpp
  indra/llcommon/llkeybind.h
  indra/llcommon/llleap.cpp
  indra/llcommon/llmd5.cpp
  indra/llcommon/llmd5.h
  indra/llcommon/llmetricperformancetester.cpp
  indra/llcommon/llmetricperformancetester.h
  indra/llcommon/llmortician.cpp
  indra/llcommon/llmortician.h
  indra/llcommon/llqueuedthread.cpp
  indra/llcommon/llqueuedthread.h
  indra/llcommon/llrun.cpp
  indra/llcommon/llrun.h
  indra/llcommon/llsd.cpp
  indra/llcommon/llsd.h
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize.h
  indra/llcommon/llsdserialize_xml.cpp
  indra/llcommon/llstreamtools.cpp
  indra/llcommon/llstreamtools.h
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llcommon/llsys.cpp
  indra/llcommon/llsys.h
  indra/llcommon/llsys_objc.h
  indra/llcommon/llsys_objc.mm
  indra/llcommon/llthreadsafequeue.h
  indra/llcommon/lltimer.cpp
  indra/llcommon/lltrace.cpp
  indra/llcommon/lltrace.h
  indra/llcommon/lltraceaccumulators.cpp
  indra/llcommon/lltracerecording.cpp
  indra/llcommon/lltracerecording.h
  indra/llcommon/lltracethreadrecorder.cpp
  indra/llcommon/lltracethreadrecorder.h
  indra/llcommon/llworkerthread.cpp
  indra/llcommon/llworkerthread.h
  indra/llcommon/stdtypes.h
  indra/llcommon/tests/lleventdispatcher_test.cpp
  indra/llcommon/tests/llleap_test.cpp
  indra/llcommon/tests/llsdserialize_test.cpp
  indra/llcommon/threadsafeschedule.h
  indra/llcorehttp/bufferarray.cpp
  indra/llimage/llimageworker.cpp
  indra/llimage/llimageworker.h
  indra/llmath/llvolume.cpp
  indra/newview/llpathfindingnavmesh.cpp
  indra/newview/lltexturecache.cpp
  indra/newview/lltexturecache.h
  indra/newview/lltexturefetch.cpp
  indra/newview/lltexturefetch.h
Labels: c/cpp, llcommon, llcorehttp, llimage, llmath

#113 SL-19128: Fix adding material to face sometimes not respecting protections
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#114 Sl 19338: Fix textures not loading when RenderCompressTextures is 1
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
Labels: c/cpp, llrender

#115 SL-19330: Fix texture animation in wrong direction when setting material on another side
  indra/newview/llvovolume.cpp
Labels: c/cpp

#119 SL-19389: Fix textures not being optimally loaded after the fix in SL-19338
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
Labels: c/cpp, llrender

#123 SL-19085 Save Wiki-style URL as link when creating the Pick with an existing link in About Land
  indra/newview/llpanelprofilepicks.cpp
Labels: c/cpp

#125 SL-19105 Fix menu's opening position
  indra/newview/llpanelmaininventory.cpp
Labels: c/cpp

#126 SL-19417 Improve colors.xml behavior
  indra/llui/lluicolortable.cpp
Labels: c/cpp, llui

#110 SL-18721: Faster viewer shutdown time since performance improvements can lead to perceived inventory loss due to cache corruption
  indra/llcommon/threadpool.cpp
  indra/llcommon/threadpool.h
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow, llcommon

#128 SL-19289 UI for Estate Floater - Block Scripted Agents from Estate/Region
  indra/llmessage/llregionflags.h
  indra/newview/llestateinfomodel.cpp
  indra/newview/llestateinfomodel.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/skins/default/xui/en/panel_region_estate.xml
Labels: c/cpp, llmessage

#129 SL-19348 Remove 'get mesh_rez_enabled' code in viewer
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
Labels: c/cpp

#130 SL-19266 Potential Use-After-Free in LLImageGL::setImage
  indra/llrender/llimagegl.cpp
Labels: c/cpp, llrender

#132 SL-19434: Fix texture issues with minimap, but keep performance from SL-19331
  indra/llrender/llimagegl.cpp
Labels: c/cpp, llrender

#131 Phase 2 of work on SL-18458 material override cache fixes
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#133 SL-4126: Create NVIDIA application profile for Second Life specific settings
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewerwin32.cpp
Labels: c/cpp

#134 SL-19394: Change default midday to an asset ID with probe ambiance
  indra/newview/llenvironment.cpp
Labels: c/cpp

#136 SL-19169 Local material updates aren't applied with non-default transforms
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/lltextureentry.cpp
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/lllocalgltfmaterials.cpp
  indra/newview/lllocalgltfmaterials.h
  indra/newview/llviewerobject.cpp
  indra/newview/skins/default/xui/en/floater_material_editor.xml
Labels: c/cpp, llprimitive

#135 SL-19462 Declare the FetchGroupChatHistory setting in the code
  indra/newview/llimview.cpp
Labels: c/cpp

#139 SL-19394: Update default midday per feedback
  indra/newview/llenvironment.cpp
Labels: c/cpp

#137 SL-19399: Allow editing all PBR texture transforms at once with Complete material radio
  doc/contributions.txt
  indra/newview/llpanelface.cpp
Labels: c/cpp

#138 DRTVWR-558: Fix TC unit tests; make Xcode 14.2 compatible
  build.sh
  indra/llcharacter/llik.cpp
  indra/llcommon/tests/llleap_test.cpp
  indra/llcommon/tests/llsdserialize_test.cpp
  indra/llcorehttp/tests/test_llcorehttp_peer.py
  indra/llmath/v3math.h
  indra/llmessage/tests/test_llsdmessage_peer.py
  indra/newview/llpuppetmotion.cpp
  indra/newview/viewer_manifest.py
  scripts/metrics/slp_conv.py
  scripts/metrics/viewer_asset_logs.py
  scripts/metrics/viewerstats.py
Labels: c/cpp, python, llcharacter, llcommon, llcorehttp, llmath, llmessage

#140 SL-17045 LSL editor cursor position desynchronization
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/newview/llscripteditor.cpp
Labels: c/cpp, llrender, llui

#142 SL-19331: Prevent some unnecessary image updates on media prims
  indra/newview/llviewermedia.cpp
Labels: c/cpp
