Repository secondlife/viewer, pull requests merged in 2023-02, with the labels that each got.

#66 SL-19104 Clean up inventory UI to prepare for thumbnails
  indra/newview/llfolderviewmodelinventory.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorybridge.h
  indra/newview/llinventoryfilter.cpp
  indra/newview/llinventoryfilter.h
  indra/newview/llpanelmaininventory.cpp
  indra/newview/llpanelmaininventory.h
  indra/newview/llpanelmarketplaceinbox.cpp
  indra/newview/llsidepanelinventory.cpp
  indra/newview/llsidepanelinventory.h
  indra/newview/skins/default/xui/en/menu_inventory_gear_default.xml
  indra/newview/skins/default/xui/en/menu_inventory_search_visibility.xml
  indra/newview/skins/default/xui/en/menu_inventory_view_default.xml
  indra/newview/skins/default/xui/en/panel_main_inventory.xml
  indra/newview/skins/default/xui/en/sidepanel_inventory.xml
Labels: c/cpp

#58 DRTVWR-558: Introduce support for batch LEAP operations
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/Python.cmake
  indra/cmake/run_build_test.py
  indra/llcommon/CMakeLists.txt
  indra/llcommon/always_return.h
  indra/llcommon/apply.cpp
  indra/llcommon/apply.h
  indra/llcommon/function_types.h
  indra/llcommon/lleventdispatcher.cpp
  indra/llcommon/lleventdispatcher.h
  indra/llcommon/lleventfilter.h
  indra/llcommon/llleap.cpp
  indra/llcommon/llptrto.h
  indra/llcommon/llsdutil.cpp
  indra/llcommon/llsdutil.h
  indra/llcommon/tests/apply_test.cpp
  indra/llcommon/tests/lleventdispatcher_test.cpp
  indra/llcommon/tests/llleap_test.cpp
  indra/llcommon/tests/wrapllerrs.h
  indra/test/CMakeLists.txt
  indra/test/test.cpp
Labels: c/cpp, cmake, python, llcommon

#67 SL-19089 Changing UI scale crashes viewer
  indra/llrender/llfontbitmapcache.cpp
  indra/llrender/llfontfreetype.cpp
Labels: c/cpp, llrender

#72 Make HBXXH* classes no-copy.
  indra/llcommon/hbxxh.h
Labels: c/cpp, llcommon

#70 Faster LLUUID and LLMaterialID hashing for std and boost containers keys
  indra/llcommon/lluuid.cpp
  indra/llcommon/lluuid.h
  indra/llprimitive/llmaterialid.h
  indra/newview/llmaterialmgr.h
Labels: c/cpp, llcommon, llprimitive

#71 Faster and simpler inventory category hashing.
  indra/llappearance/llwearable.h
  indra/llappearance/llwearabledata.cpp
  indra/llappearance/llwearabledata.h
  indra/newview/llagentwearables.cpp
  indra/newview/llinventorymodel.cpp
  indra/newview/llinventorymodel.h
  indra/newview/llinventoryobserver.cpp
  indra/newview/llinventoryobserver.h
  indra/newview/lloutfitobserver.cpp
  indra/newview/lloutfitobserver.h
  indra/newview/llviewerwearable.h
Labels: c/cpp, llappearance

#74 SL-19194 update slurl handling
  indra/newview/llslurl.cpp
  indra/newview/llviewerhelp.cpp
Labels: c/cpp

#77 SL-18964 Move creating of LLViewerFetchedTexture::sSmokeImagep to LLDrawPoolAlpha::renderDebugAlpha()
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#75 EMERGENCY FIX: revert LLUUID::combine() to old algorithm to match server code.
  indra/llcommon/lluuid.cpp
Labels: c/cpp, llcommon

#81 Add multi item properties floater support
  indra/newview/llfloatermarketplacelistings.cpp
  indra/newview/llfloatermarketplacelistings.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp

#73 SL-19080: GLTF Material asset consistency: Part 2: Update viewer GLTF Material asset upload to v1.1
  indra/llprimitive/CMakeLists.txt
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/tests/llgltfmaterial_test.cpp
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
  indra/newview/lltinygltfhelper.cpp
  indra/newview/llviewermenufile.cpp
  indra/newview/llviewerobject.cpp
Labels: c/cpp, cmake, llprimitive

#82 Xcode 14.1
  indra/llappearance/llwearabletype.h
  indra/llcommon/llcoros.h
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize.h
  indra/llcommon/llsingleton.h
  indra/llcommon/tests/llsingleton_test.cpp
  indra/llinventory/llfoldertype.cpp
  indra/llinventory/llinventorysettings.cpp
  indra/llmessage/llexperiencecache.h
  indra/llmessage/llproxy.h
  indra/llui/llnotifications.h
  indra/llui/llspellcheck.h
  indra/llui/lltextbase.cpp
  indra/llui/lluictrl.h
  indra/llui/llview.cpp
  indra/llui/llviewquery.h
  indra/newview/llautoreplace.h
  indra/newview/llchannelmanager.h
  indra/newview/llchicletbar.h
  indra/newview/llconversationlog.h
  indra/newview/llfeaturemanager.h
  indra/newview/llfriendcard.h
  indra/newview/llgesturemgr.h
  indra/newview/llimagefiltersmanager.h
  indra/newview/llimview.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llmutelist.h
  indra/newview/llnavigationbar.h
  indra/newview/lloutfitobserver.h
  indra/newview/llpaneltopinfobar.h
  indra/newview/llpathfindingpathtool.h
  indra/newview/llproductinforequest.h
  indra/newview/llrecentpeople.h
  indra/newview/llspeakers.h
  indra/newview/llspeakingindicatormanager.cpp
  indra/newview/lltoolbrush.h
  indra/newview/lltoolcomp.h
  indra/newview/lltooldraganddrop.h
  indra/newview/lltoolface.h
  indra/newview/lltoolfocus.h
  indra/newview/lltoolindividual.h
  indra/newview/lltoolobjpicker.h
  indra/newview/lltoolpie.h
  indra/newview/lltoolpipette.h
  indra/newview/lltoolselectland.h
  indra/newview/llversioninfo.h
  indra/newview/llviewerhelp.h
  indra/newview/llviewermedia.h
  indra/newview/llviewermediafocus.h
  indra/newview/llviewerparcelaskplay.h
  indra/newview/llviewerparcelmedia.h
  indra/newview/llviewerparcelmediaautoplay.h
  indra/newview/llviewertexturelist.h
  indra/newview/llvoicechannel.h
  indra/newview/llvoicevivox.h
  indra/newview/llwearableitemslist.h
  indra/newview/llwindebug.h
Labels: c/cpp, llappearance, llcommon, llinventory, llmessage, llui

#85 SL-19002: Handle edge case in client networking which could cause material ID and overrides to become out-of-sync
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#76 SL-19121: Add some override tests
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/tests/llgltfmaterial_test.cpp
Labels: c/cpp, llprimitive

#86 SL-18246 Highlight 100% transparent faces for scripted objects
  indra/newview/llvovolume.cpp
Labels: c/cpp

#87 SL-17640 Fix 'Apply now' being enabled when importing
  indra/newview/llmaterialeditor.cpp
  indra/newview/lltexturectrl.cpp
Labels: c/cpp

#29 SL-18330: Send binary LLSD to LEAP plugins; extend LLSD compatibility.
  indra/llcommon/llleap.cpp
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llstreamtools.cpp
  indra/llcommon/llstreamtools.h
  indra/llcommon/tests/llleap_test.cpp
  indra/llcommon/tests/llsdserialize_test.cpp
Labels: c/cpp, llcommon

#89 SL-19228: Fix GLTF texture transform rotation + add UV debug
  indra/llprimitive/llgltfmaterial.cpp
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/shaders/class1/deferred/pbralphaV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrglowV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueV.glsl
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp, llprimitive, llrender

#94 SL-18882: Show diffuse non-alpha textures opaque on editing
  indra/llprimitive/llmaterial.cpp
  indra/llprimitive/llmaterial.h
  indra/newview/llvovolume.cpp
Labels: c/cpp, llprimitive

#92 SL-19265: Fix precision issue with texture transforms, separate texture animations
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/shaders/class1/deferred/pbralphaV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrglowF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrglowV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueV.glsl
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, llrender

#96 SL-19279: LLGLSLShader::bindXXX is not free. Pack the uniforms
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/shaders/class1/deferred/pbralphaV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrglowV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueV.glsl
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
  indra/newview/llfetchedgltfmaterial.cpp
Labels: c/cpp, llprimitive, llrender

#97 brad/drtvwr-559 mac shader and assert fixes
  indra/llrender/llimagegl.cpp
  indra/llrender/llvertexbuffer.cpp
  indra/newview/app_settings/shaders/class1/interface/gaussianF.glsl
  indra/newview/app_settings/shaders/class1/interface/splattexturerectV.glsl
  indra/newview/featuretable_mac.txt
Labels: c/cpp, llrender
