Repository secondlife/viewer, pull requests merged in 2023-07, with the labels that each got.

#263 SL-19575 Rework emoji picker layout similar to Slack
  indra/llui/llscrollingpanellist.cpp
  indra/llui/llscrollingpanellist.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/skins/default/xui/en/floater_activeim.xml
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llui

#264 SL-19951 Make EmojiFloater UI design looking similar to Slack - bg colors
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#266 SL-19702 restore previous double clicking behavior for objects
  indra/newview/llviewerinput.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
Labels: c/cpp

#265 SL-19951 Define a list of icon groups with their names and icons
  indra/llui/llemojidictionary.cpp
  indra/llui/llemojidictionary.h
  indra/newview/app_settings/emoji_groups.xml
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/skins/default/xui/da/emoji_categories.xml
  indra/newview/skins/default/xui/de/emoji_categories.xml
  indra/newview/skins/default/xui/en/emoji_categories.xml
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
  indra/newview/skins/default/xui/es/emoji_categories.xml
  indra/newview/skins/default/xui/fr/emoji_categories.xml
  indra/newview/skins/default/xui/it/emoji_categories.xml
  indra/newview/skins/default/xui/ja/emoji_categories.xml
  indra/newview/skins/default/xui/pl/emoji_categories.xml
  indra/newview/skins/default/xui/pt/emoji_categories.xml
  indra/newview/skins/default/xui/ru/emoji_categories.xml
  indra/newview/skins/default/xui/zh/emoji_categories.xml
Labels: c/cpp, llui

#267 SL-19951 Collect used icons in a special group 'Recently used'
  indra/llcommon/llstring.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llcommon

#269 SL-19728 Objects that cannot be clicked or cammed unless in edit mode
  indra/llcommon/indra_constants.h
  indra/newview/llpanelpermissions.cpp
  indra/newview/llsidepaneltaskinfo.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/skins/default/xui/en/floater_tools.xml
  indra/newview/skins/default/xui/en/sidepanel_task_info.xml
Labels: c/cpp, llcommon

#270 SL-19992: Fix LOD assert
  indra/llmath/llvolumemgr.cpp
  indra/newview/llmeshrepository.cpp
Labels: c/cpp, llmath

#213 SL-18837: Remove C++17 override, given build-variables change.
  indra/CMakeLists.txt
Labels: c/cpp, cmake, llui

#272 SL-19831 Check marks in the menu are less visible
  indra/llrender/llfontfreetype.cpp
Labels: c/cpp, llrender

#273 added info log lines for assistance diagnosing SL-19968
  indra/newview/llvocache.cpp
Labels: c/cpp

#274 added info log lines for assistance diagnosing SL-19968
  indra/newview/llvocache.cpp
Labels: c/cpp

#275 SL-19567: Mitigate glow banding
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/effects/glowExtractF.glsl
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#278 SL-20001 EmojiPicker - make the preview to be a panel instead of a button
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llui/lllineeditor.cpp
  indra/llui/lllineeditor.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/llfloaterimnearbychat.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llrender, llui

#279 SL-20009 - race condition - calling cards could be created without name
  indra/newview/llfriendcard.cpp
  indra/newview/llviewerinventory.cpp
Labels: c/cpp

#282 SL-20011 Restrict 'Empty Trash' if objects are attached
  indra/newview/llinventorybridge.cpp
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
Labels: c/cpp

#281 SL-19306 A method of displaying user-customized keybindings in user visible text
  indra/llui/llurlentry.cpp
  indra/llui/llurlentry.h
  indra/llui/llurlregistry.cpp
  indra/llui/llurlregistry.h
  indra/llwindow/llkeyboard.cpp
  indra/llwindow/llkeyboard.h
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llkeyconflict.cpp
  indra/newview/llviewerinput.cpp
  indra/newview/llviewerinput.h
Labels: c/cpp, llwindow, llui

#283 SL-19995 FIXED The context menu is not fully displayed for the naviga…
  indra/llui/lllineeditor.cpp
  indra/llui/lllineeditor.h
  indra/newview/lllocationinputctrl.cpp
Labels: c/cpp, llui

#242 SL-18837 set build id based on github workflow run id
  .github/workflows/build.yaml
  indra/llcommon/llprocessor.cpp
  indra/llcommon/llrand.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llversioninfo.cpp
  indra/newview/llversioninfo.h
  indra/newview/llweb.cpp
Labels: c/cpp, llcommon

#288 Marchcat/d582 xcode15
  indra/cmake/00-Common.cmake
  indra/newview/llviewerthrottle.cpp
Labels: c/cpp, cmake

#289 Picked the nicest syntax of conflicting merges.
  indra/llcharacter/lljoint.cpp
  indra/llcharacter/llkeyframemotionparam.cpp
  indra/llcharacter/llmotioncontroller.cpp
Labels: c/cpp, llcharacter

#291 SL-20018: Fix PBR glow affected by Blinn-Phong alpha
  indra/newview/llvovolume.cpp
Labels: c/cpp

#292 drtvwr 559 xcode 14.3
  indra/cmake/00-Common.cmake
  indra/llcharacter/llbvhloader.cpp
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize.h
  indra/llcommon/stdtypes.h
  indra/llcommon/tests/llleap_test.cpp
  indra/llcommon/tests/llsdserialize_test.cpp
  indra/llcorehttp/tests/test_llcorehttp_peer.py
  indra/llmessage/llcircuit.cpp
  indra/llmessage/tests/test_llsdmessage_peer.py
  indra/llrender/llgl.cpp
  indra/llui/llbutton.cpp
  indra/llui/llmenugl.cpp
  indra/llxml/llcontrol.cpp
  indra/newview/llagent.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llpanelnearbymedia.cpp
  indra/newview/llsceneview.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llsprite.cpp
  indra/newview/llstartup.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerthrottle.cpp
  indra/newview/llvosurfacepatch.cpp
  indra/newview/llvovolume.cpp
  indra/newview/viewer_manifest.py
  scripts/metrics/slp_conv.py
  scripts/metrics/viewer_asset_logs.py
  scripts/metrics/viewerstats.py
Labels: c/cpp, cmake, python, llcharacter, llcommon, llcorehttp, llmessage, llrender, llui, llxml

#294 SL-20015 wait for the outfit items to load before wearing it
  indra/newview/llaisapi.cpp
  indra/newview/llaisapi.h
  indra/newview/llappearancemgr.cpp
  indra/newview/llappearancemgr.h
  indra/newview/llinventorymodel.cpp
  indra/newview/llinventorymodel.h
  indra/newview/llstartup.cpp
  indra/newview/llstartup.h
Labels: c/cpp

#297 SL-19948 Update estate manager and ban list limits to match new values from simulator
  indra/llmessage/llregionflags.h
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp, llmessage

#299 SL-20040 Fix selection and context menu issues
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallery.h
  indra/newview/llpanelmaininventory.cpp
Labels: c/cpp

#302 DRTVWR-587: Pacify VS 2022 specifically.
  indra/llcommon/lleventdispatcher.h
Labels: c/cpp, llcommon

#301 Fixed automated builds for Windows. Not yet tested for Mac.
  indra/cmake/Assimp.cmake
  indra/llcharacter/CMakeLists.txt
  indra/llcharacter/llbvhloader.cpp
  indra/newview/app_settings/anim.ini
  indra/newview/llfilepicker.cpp
Labels: c/cpp, cmake, llcharacter

#304 SL-18619 Eyes not rendering in Shape floater thumbnails
  indra/llappearance/llavatarappearance.cpp
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/llvoavatar.cpp
Labels: c/cpp, llappearance

#307 SL-18619 Eyes not rendering in Shape floater thumbnails
  indra/llappearance/llavatarappearance.cpp
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/llvoavatar.cpp
Labels: c/cpp, llappearance

#305 SL-18720 getDataBegin() and stateSort() crashes
  indra/newview/llvieweroctree.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#311 SL-20053: Fix sometimes unable to unset a PBR material on a prim
  indra/newview/lltexturectrl.cpp
Labels: c/cpp

#303 DRTVWR-587: Use [[noreturn]] attribute on callFail() methods
  indra/llcommon/lleventdispatcher.cpp
  indra/llcommon/lleventdispatcher.h
Labels: c/cpp, llcommon

#309 SL-18399 'DisableCameraConstraints' debug setting is not working on RC
  indra/newview/llagentcamera.cpp
Labels: c/cpp

#308 SL-20066 Add debug setting for animation import viewer diagnostics
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llbvhloader.h
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterbvhpreview.cpp
Labels: c/cpp, llcharacter

#312 SL-20088 EmojiPicker - replace the image on the activation button with an emoji
  indra/llui/lluistring.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/skins/default/textures/icons/emoji_picker_icon.png
  indra/newview/skins/default/textures/textures.xml
  indra/newview/skins/default/xui/en/floater_im_session.xml
Labels: c/cpp, llui
