Repository secondlife/viewer, pull requests merged in 2023-09, with the labels that each got.

#364 SL-20236 BugSplat Crash in LLVertexBuffer::validateRange(708)
  indra/newview/llvopartgroup.cpp
Labels: c/cpp

#363 Fix spelling error in source files
  indra/newview/llpaneleditwearable.cpp
  indra/newview/llpaneleditwearable.h
  indra/newview/skins/default/xui/en/panel_edit_shape.xml
Labels: c/cpp

#369 SL-20206 Underwater visuals problematic when camera is swung below Z=0
  indra/newview/llagentcamera.cpp
Labels: c/cpp

#362 SL-20236 BugSplat Crash in LLVertexBuffer::validateRange(708)
  indra/newview/llvopartgroup.cpp
Labels: c/cpp

#367 Fix emoji category filter not working correctly
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#366 SL-18125 Fixed default upload permissions being ignored
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#371 SL-19655 Remove a couple unused debug settings and related code (update)
  indra/newview/llface.cpp
Labels: c/cpp

#361 SL-20167: Grey out the clipboard when copying the material is not allowed
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
  indra/newview/llpanelface.cpp
Labels: c/cpp

#372 DRTVWR-587: Simplify Python.cmake by omitting find_package(Python3).
  indra/cmake/Python.cmake
Labels: cmake

#374 SL-20261 Allow and resize existing textures as necessary for thumbnails
  indra/newview/llfloaterchangeitemthumbnail.cpp
  indra/newview/llfloaterchangeitemthumbnail.h
  indra/newview/llfloatersimplesnapshot.cpp
  indra/newview/llfloatersimplesnapshot.h
  indra/newview/llsnapshotlivepreview.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
  indra/newview/skins/default/xui/en/floater_texture_ctrl.xml
Labels: c/cpp

#375 SL-20157: Fix scale of avatar mesh parts when mikktspace tangent generation fails
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#376 SL-20278 Disconnect saving MFA from saving password
  indra/newview/llfloaterforgetuser.cpp
  indra/newview/lllogininstance.cpp
  indra/newview/lllogininstance.h
  indra/newview/llpanellogin.cpp
  indra/newview/llstartup.cpp
  indra/newview/lltoastalertpanel.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#377 SL-20279 BugSplat Crash #1327171: gl_debug_callback(111)
  indra/llrender/llgl.cpp
Labels: c/cpp, llrender

#365 SEC-430 'WARNING: LLFace::getGeometryVolume: Index buffer overflow' occuring 500 times plus per minute
  indra/newview/llface.cpp
  indra/newview/llface.h
  indra/newview/llvovolume.cpp
Labels: c/cpp

#378 SL-20177: Blind attempt at fixing crash in SetWindowLongPtr
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#380 SL-20280 BugSplat Crash in LLVertexBuffer::setBuffer()
  indra/llrender/llvertexbuffer.cpp
Labels: c/cpp, llrender

#381 SL-20287 The 'search_history.txt' file in the user profile is always empty
  indra/newview/llsearchhistory.cpp
Labels: c/cpp

#384 SL-20294 The row of recent emojis displays the recently sent emoji only after clicking the collapsing smiley button
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
Labels: c/cpp

#385 SL-20244 Log crash reason before assertion in check_rigged_group()
  indra/newview/llspatialpartition.cpp
Labels: c/cpp

#386 SL-20188 Size of friend list affects time to open Preferences floater
  indra/newview/llfloaterpreference.cpp
  indra/newview/lllogchat.cpp
  indra/newview/lllogchat.h
Labels: c/cpp

#388 SL-20335 Disable ERROR # diffuseColor4fv : ASSERT (shader != NULL)
  indra/newview/lldrawpoolground.cpp
  indra/newview/llvosky.cpp
Labels: c/cpp

#389 SL-20276 shape thumbnails should display front of avatar regardless o…
  indra/newview/lltoolmorph.cpp
Labels: c/cpp

#391 SL-20338 FIXED Texture tab Material drop-down does not change if same…
  indra/newview/llpanelface.cpp
Labels: c/cpp

#394 SL-20341 Item Properties floater closes on changes for task inventory item
  indra/newview/llsidepaneliteminfo.cpp
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#393 Fix integer overflow when framebuffers are extremely high resolution
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
  indra/newview/llviewertexture.cpp
Labels: c/cpp, llrender

#398 SL-20361 Avoid of ASSERT (false) in check_rigged_group()
  indra/newview/llspatialpartition.cpp
Labels: c/cpp

#400 SL-20337 Add tooltips for HDR Scale and Reflection Probe Ambience environment sliders
  indra/newview/llfloaterenvironmentadjust.cpp
  indra/newview/llpaneleditsky.cpp
  indra/newview/skins/default/xui/en/floater_adjust_environment.xml
  indra/newview/skins/default/xui/en/panel_settings_sky_atmos.xml
Labels: c/cpp

#331 SL-20031: Update viewer-manager to v3.0-83fb46a.
  autobuild.xml
Labels: stale

#399 SL-20244 On-screen animesh characters that start pelvis offset animations disappear when root goes off-screen
  indra/newview/lldrawable.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llspatialpartition.h
  indra/newview/llvovolume.cpp
Labels: c/cpp
