Repository secondlife/viewer, pull requests merged in 2023-06, with the labels that each got.

#231 Davep/falling skies
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/fullbrightF.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredGammaCorrect.glsl
  indra/newview/app_settings/shaders/class1/environment/srgbF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsFuncs.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsHelpersF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsHelpersV.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsV.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsV.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsWaterF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsVarsWaterV.glsl
  indra/newview/app_settings/shaders/class1/windlight/gammaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/fullbrightShinyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llenvironment.cpp
  indra/newview/llfloaterenvironmentadjust.cpp
  indra/newview/llfloaterenvironmentadjust.h
  indra/newview/llpaneleditsky.cpp
  indra/newview/llpaneleditsky.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_adjust_environment.xml
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/panel_settings_sky_atmos.xml
Labels: c/cpp, llinventory, llrender

#230 SL-18251 Expand extents to include the Control Avatar bounds
  indra/newview/llcontrolavatar.cpp
  indra/newview/llcontrolavatar.h
  indra/newview/lldrawable.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llspatialpartition.h
  indra/newview/llvovolume.cpp
Labels: c/cpp

#235 SL-19286 Avatar is upside down when viewed from below
  indra/newview/llagent.cpp
  indra/newview/llagent.h
Labels: c/cpp

#232 Fixes for compatibility with new xcode 15 beta
  indra/cmake/00-Common.cmake
  indra/newview/llviewerthrottle.cpp
Labels: c/cpp, cmake

#243 SL-18977 Borders of inventory view in inventory floater seem to be cut a bit
  indra/llui/llscrollcontainer.cpp
  indra/llui/lltabcontainer.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/skins/default/xui/en/floater_my_inventory.xml
  indra/newview/skins/default/xui/en/panel_main_inventory.xml
  indra/newview/skins/default/xui/en/sidepanel_inventory.xml
Labels: c/cpp, llui

#246 SL-19404 Navigation bar coordinates slightly off
  indra/newview/llagentui.cpp
Labels: c/cpp

#245 Performance and visual tuning of glossy SSR
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/fullbrightShinyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/screenSpaceReflUtil.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#248 SL-18977 Borders of inventory view in inventory floater seem to be cut a bit
  indra/llui/llscrollcontainer.cpp
  indra/llui/lltabcontainer.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/skins/default/xui/en/panel_inventory_gallery.xml
  indra/newview/skins/default/xui/en/panel_main_inventory.xml
  indra/newview/skins/default/xui/en/sidepanel_inventory.xml
Labels: c/cpp, llui

#249 SL-18977 Borders of inventory view in inventory floater seem to be cut a bit
  indra/llui/llbutton.cpp
  indra/llui/llscrollcontainer.cpp
  indra/llui/lltabcontainer.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/llpanelmaininventory.cpp
  indra/newview/skins/default/xui/en/panel_inventory_gallery.xml
  indra/newview/skins/default/xui/en/panel_main_inventory.xml
  indra/newview/skins/default/xui/en/sidepanel_inventory.xml
Labels: c/cpp, llui

#250 SL-19692 Z Offset is applied twice in Mouselook
  indra/newview/llagentcamera.cpp
Labels: c/cpp

#253 SL-19805 Second Life Viewer last update made invisible parts visible
  indra/newview/llvovolume.cpp
Labels: c/cpp

#254 SL-19805 Follow-up fix
  indra/newview/llvovolume.cpp
Labels: c/cpp

#255 SL-19805 Fix touch handling logic
  indra/newview/llvovolume.cpp
Labels: c/cpp

#252 SL-5161 Hiding meshes that wait for skin data
  indra/llmath/llvolume.cpp
  indra/llmath/llvolume.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvovolume.cpp
  indra/newview/llvovolume.h
Labels: c/cpp, llmath

#258 SL-19572 Fix some obscure cases of residents bypasing mute list
  indra/llmessage/llcachename.cpp
  indra/newview/llmutelist.h
Labels: c/cpp, llmessage

#260 SL-17405 (Part 2): Fix viewer not requesting land impact when a non-root prim in a link set gets a GLTF material ID update
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp

#261 SL-19816 Home location on world map for invalid locations
  indra/newview/llagent.cpp
Labels: c/cpp

#262 SL-19565 Prefs Bug when searching in Prefs
  indra/llui/lltabcontainer.cpp
Labels: c/cpp, llui

#259 Merge ReleaseOS build into Maint U
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/cmake/Python.cmake
  indra/newview/installers/windows/installer_template.nsi
  indra/newview/viewer_manifest.py
Labels: cmake, python
