Repository secondlife/viewer, pull requests merged in 2023-04, with the labels that each got.

#147 SL-18458 Make LLVOCache the one source of truth on most recently rece…
  indra/llprimitive/lltextureentry.cpp
  indra/llprimitive/lltextureentry.h
  indra/newview/llappviewer.cpp
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llvocache.cpp
  indra/newview/llvocache.h
Labels: c/cpp, llprimitive

#151 SL-19538 Remove hacky ambiance scale and take the mittens off probe a…
  indra/llprimitive/llprimitive.cpp
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/fullbrightF.glsl
  indra/newview/app_settings/shaders/class1/deferred/skyV.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class2/interface/irradianceGenF.glsl
  indra/newview/app_settings/shaders/class2/windlight/atmosphericsF.glsl
  indra/newview/app_settings/shaders/class2/windlight/atmosphericsFuncs.glsl
  indra/newview/app_settings/shaders/class2/windlight/transportF.glsl
  indra/newview/app_settings/shaders/class3/deferred/fullbrightShinyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_adjust_environment.xml
  indra/newview/skins/default/xui/en/floater_tools.xml
  indra/newview/skins/default/xui/en/panel_settings_sky_atmos.xml
Labels: c/cpp, llprimitive, llrender

#149 SL-19042: Replace FMOD with VLC for parcel audio
  indra/llaudio/llaudioengine.cpp
  indra/llaudio/llaudioengine.h
  indra/llaudio/llaudioengine_fmodstudio.cpp
  indra/llaudio/llaudioengine_fmodstudio.h
  indra/newview/app_settings/cmd_line.xml
  indra/newview/app_settings/settings.xml
  indra/newview/llstartup.cpp
  indra/newview/llvieweraudio.cpp
Labels: c/cpp, llaudio

#145 SL-19331: Partially revert code trim in LLViewerMediaImpl
  indra/newview/llviewermedia.cpp
Labels: c/cpp

#153 SL-19331: Move media updates off-thread on select hardware
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
  indra/newview/app_settings/settings.xml
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/lldrawpoolbump.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llrender

#154 SL-19538 Followup -- tune exposure parameters and clamp local light a…
  indra/llrender/llcubemaparray.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/exposureF.glsl
  indra/newview/app_settings/shaders/class2/windlight/atmosphericsHelpersV.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiPointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/pointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/llenvironment.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llreflectionmapmanager.h
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#144 SL-18839: Add basic windows build
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/cmake/Python.cmake
  indra/newview/installers/windows/installer_template.nsi
  indra/newview/viewer_manifest.py
Labels: cmake, python

#160 Cherry-pick basic build into contribute
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/cmake/Python.cmake
  indra/newview/installers/windows/installer_template.nsi
  indra/newview/viewer_manifest.py
Labels: cmake, python

#162 Sl 19538 rebalance
  indra/llprimitive/lltextureentry.cpp
  indra/llrender/llglslshader.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/exposureF.glsl
  indra/newview/app_settings/shaders/class1/deferred/fullbrightF.glsl
  indra/newview/app_settings/shaders/class1/deferred/luminanceF.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredGammaCorrect.glsl
  indra/newview/app_settings/shaders/class1/environment/srgbF.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/windlight/atmosphericsF.glsl
  indra/newview/app_settings/shaders/class2/windlight/atmosphericsFuncs.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiPointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiSpotLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/pointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/spotLightF.glsl
  indra/newview/llenvironment.cpp
  indra/newview/llenvironment.h
  indra/newview/llsculptidsize.cpp
  indra/newview/lltoolcomp.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llprimitive, llrender

#163 SL-19036: Extra folder is created after dragging the inventory folder
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventoryfunctions.h
  indra/newview/llinventorymodel.cpp
Labels: c/cpp

#166 Drtvwr 559 post processing refactor
  indra/llrender/llglslshader.cpp
  indra/newview/app_settings/shaders/class1/interface/glowcombineFXAAF.glsl
  indra/newview/llviewerdisplay.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#168 SL-19573: Fix alpha mask prims not rendering in HUD
  indra/newview/llviewerdisplay.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#173 SL-19549 Add option to show ban lines on collision
  indra/newview/app_settings/settings.xml
  indra/newview/llglsandbox.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llviewerparcelmgr.cpp
  indra/newview/llviewerparcelmgr.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#170 SL-19591 Prompt user to save current settings as Graphics Preset before enabling AutoFPS
  indra/newview/llfloaterperformance.cpp
  indra/newview/llfloaterperformance.h
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#176 SL-19561: Fix missing shadows on PBR alpha mask animeshes
  indra/newview/app_settings/shaders/class1/deferred/shadowAlphaMaskSkinnedV.glsl
  indra/newview/app_settings/shaders/class1/deferred/shadowAlphaMaskV.glsl
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#178 SL-19609 Urls aren't dispatched according to the indicated grid
  indra/newview/llagentlistener.cpp
  indra/newview/llappearancemgr.cpp
  indra/newview/llbuycurrencyhtml.cpp
  indra/newview/llchathistory.cpp
  indra/newview/llchatitemscontainerctrl.cpp
  indra/newview/llcommanddispatcherlistener.cpp
  indra/newview/llcommandhandler.cpp
  indra/newview/llcommandhandler.h
  indra/newview/lleventnotifier.cpp
  indra/newview/llfloaterexperienceprofile.cpp
  indra/newview/llfloaterhandler.cpp
  indra/newview/llfloaterhandler.h
  indra/newview/llfloaterimnearbychat.cpp
  indra/newview/llfloatersearch.cpp
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llgroupactions.cpp
  indra/newview/llloginhandler.cpp
  indra/newview/llloginhandler.h
  indra/newview/llpaneleditwearable.cpp
  indra/newview/llpanellogin.cpp
  indra/newview/llpanelplaces.cpp
  indra/newview/llpanelprofile.cpp
  indra/newview/llpanelprofileclassifieds.cpp
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llshareavatarhandler.cpp
  indra/newview/llstatusbar.cpp
  indra/newview/llurldispatcher.cpp
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/llviewerhelp.cpp
  indra/newview/llviewerinventory.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llvoicecallhandler.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llworldmapview.cpp
Labels: c/cpp

#150 Fix CMake files related to ICU4C
  indra/cmake/CMakeLists.txt
  indra/cmake/FindICU4C.cmake
  indra/cmake/ICU4C.cmake
  indra/llcommon/CMakeLists.txt
  indra/newview/CMakeLists.txt
Labels: cmake, llcommon

#183 SL-19575 LLFloaterEmojiPicker - Add filter by category
  indra/llcommon/llstring.h
  indra/llui/llbutton.cpp
  indra/llui/llbutton.h
  indra/llui/llemojidictionary.cpp
  indra/llui/llemojidictionary.h
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
  indra/newview/llfloateravatarpicker.cpp
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
  indra/newview/llviewerchat.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llcommon, llui

#182 SL-19598: Fix shadows not having textures for PBR/non-rigged/alpha blended prims
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpool.h
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#172 Add buffer visulization
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llrender.h
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/postDeferredVisualizeBuffers.glsl
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#175 Reporting debugged and ready for merge.
  indra/llcharacter/llik.h
  indra/newview/llpuppetevent.cpp
  indra/newview/llpuppetevent.h
  indra/newview/llpuppetmodule.cpp
  indra/newview/llpuppetmodule.h
  indra/newview/llpuppetmotion.cpp
  indra/newview/llpuppetmotion.h
  indra/newview/llvoavatar.cpp
Labels: c/cpp, llcharacter

#185 SL-19606: Fix PBR texture transforms in alpha shadows
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/newview/app_settings/shaders/class1/deferred/shadowAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/deferred/shadowAlphaMaskV.glsl
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolbump.cpp
  indra/newview/lldrawpoolbump.h
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llprimitive

#186 SL-19636 Profile badges
  indra/newview/llavatarpropertiesprocessor.h
  indra/newview/llpanelprofile.cpp
  indra/newview/skins/default/textures/icons/profile_badge_beta.png
  indra/newview/skins/default/textures/icons/profile_badge_beta_lifetime.png
  indra/newview/skins/default/textures/icons/profile_badge_lifetime.png
  indra/newview/skins/default/textures/icons/profile_badge_linden.png
  indra/newview/skins/default/textures/icons/profile_badge_pplus_lifetime.png
  indra/newview/skins/default/textures/icons/profile_badge_premium_lifetime.png
  indra/newview/skins/default/textures/textures.xml
  indra/newview/skins/default/xui/en/panel_profile_secondlife.xml
Labels: c/cpp

#190 SL-19362 Add teleport button to Top Scripts and Top Colliders floaters
  indra/newview/llfloatertopobjects.cpp
  indra/newview/llfloatertopobjects.h
  indra/newview/skins/default/xui/en/floater_top_objects.xml
Labels: c/cpp

#189 Don't hardcode UI text plus layout fixes and removing some needless checks
  indra/newview/llfloateremojipicker.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp

#188 Load correct localized version of emoji dictionary and guard against access violation exception
  indra/llui/llemojidictionary.cpp
Labels: c/cpp, llui

#192 SL-19575 LLFloaterEmojiPicker - code cleanup and layout fixup
  doc/contributions.txt
  indra/llui/llemojidictionary.h
  indra/llui/llview.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llui

#195 SL-19653: Fix some vertex buffer data mask asserts
  indra/newview/llvovolume.cpp
Labels: c/cpp
