Repository secondlife/viewer, pull requests merged in 2023-10, with the labels that each got.

#404 SL-20356 Allow menu navigation by tabbing around emoji menu
  indra/llui/llview.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp, llui

#406 SL-20387 Show Emoji Completion floater at the beginning of the shortcode
  indra/llui/llemojihelper.cpp
  indra/llui/lltexteditor.cpp
Labels: c/cpp, llui

#401 SL-20367 Some click actions can't be set from object's profile
  indra/newview/llsidepaneltaskinfo.cpp
  indra/newview/skins/default/xui/en/sidepanel_task_info.xml
Labels: c/cpp

#405 SL-20358 restore focus after opening recent emoji panel
  indra/newview/llfloaterimsessiontab.cpp
Labels: c/cpp

#402 sl-20375 : null pointer crash in new animation import
  indra/llcharacter/llassimpinterface.cpp
Labels: c/cpp, cmake, llcharacter

#410 SL-20348 Focus should be in the chat bar when the Conversations floater is opened
  indra/newview/llfloaterimcontainer.cpp
  indra/newview/llfloaterimsessiontab.cpp
Labels: c/cpp

#412 Revert "DRTVWR-587: Simplify Python.cmake by omitting find_package(Python3)."
  indra/cmake/Python.cmake
Labels: cmake

#411 SL-20254: Fix blinn-phong alpha of 0 making GLTF materials invisible for non-root prims
  indra/newview/llvovolume.cpp
Labels: c/cpp

#415 SL-20390 Emoji Completion floater - ignore symbols in shortcodes when searching by pattern
  indra/llui/llemojidictionary.cpp
  indra/llui/llemojidictionary.h
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/llpanelemojicomplete.h
Labels: c/cpp, llui

#416 SL-20389 Emoji Completion floater - highlight the entered part of the shortcode
  indra/newview/llpanelemojicomplete.cpp
Labels: c/cpp

#417 SL-20355 Sort completion suggestions by position of the search pattern
  indra/llui/llemojidictionary.cpp
Labels: c/cpp, llui

#418 SL-19826 Fix mac build issue (unused variable)
  indra/newview/llinventorygallery.cpp
Labels: c/cpp

#414 SL-19311 Grey textures after teleport
  indra/newview/lltexturefetch.cpp
Labels: c/cpp

#422 SL-20420 Emoji - Increase nearby chat history buffer size
  indra/newview/lllogchat.cpp
Labels: c/cpp

#424 SL-20380 Add group notices button as hover button on Groups floater
  indra/llui/llaccordionctrl.cpp
  indra/llui/llaccordionctrl.h
  indra/newview/llgroupactions.cpp
  indra/newview/llgroupactions.h
  indra/newview/llgrouplist.cpp
  indra/newview/llgrouplist.h
  indra/newview/llpanelgroup.cpp
  indra/newview/skins/default/textures/icons/Group_Notices.png
  indra/newview/skins/default/textures/textures.xml
  indra/newview/skins/default/xui/en/panel_group_list_item.xml
  indra/newview/skins/default/xui/en/panel_group_list_item_short.xml
Labels: c/cpp, llui

#354 SL-20225: Update LLGLTFMaterial
  indra/llprimitive/CMakeLists.txt
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/llgltfmaterial_templates.h
Labels: c/cpp, cmake, llprimitive

#429 SL-20288 Lags in Appearance floater
  indra/newview/lloutfitslist.cpp
  indra/newview/lloutfitslist.h
Labels: c/cpp

#428 SL-20372 Picker should remember choice of texture source
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
Labels: c/cpp

#421 SL-19311 Grey textures after teleport
  indra/newview/lltexturefetch.cpp
Labels: c/cpp

#419 SL-20396: Apply blinn-phong rotation to texture translation animations for GLTF materials
  indra/newview/llvovolume.cpp
Labels: c/cpp

#430 SL-20288 Lags in Appearance floater (code format in LLAccordionCtrl)
  indra/llui/llaccordionctrl.cpp
  indra/llui/llaccordionctrl.h
  indra/llui/llaccordionctrltab.cpp
  indra/llui/llaccordionctrltab.h
  indra/llui/llflatlistview.cpp
Labels: c/cpp, llui

#432 SL-20432 Buildfix
  indra/llui/llflatlistview.cpp
  indra/newview/llwearableitemslist.cpp
Labels: c/cpp, llui

#433 SL-20370 Change PDT to SLT on menu bar
  indra/llcommon/llstring.cpp
Labels: c/cpp, llcommon

#435 SL-20403 FIXED People floater showing arrows on default size
  indra/llui/lltabcontainer.cpp
  indra/llui/lltabcontainer.h
  indra/newview/skins/default/xui/en/panel_main_inventory.xml
Labels: c/cpp, llui

#436 SL-20419 Receiving new objects or items, etc causes inventory to switch from recent to my inventory tab
  indra/llui/lltabcontainer.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/llinventorypanel.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llviewerassetupload.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llwearableitemslist.cpp
Labels: c/cpp, llui

#427 Add python 3.12 to FindPython search path
  indra/cmake/Python.cmake
Labels: cmake

#440 SL-20422 Clicking the 'Bring it back' link on Aditi displays a teleport alert
  indra/newview/llslurl.cpp
  indra/newview/llslurl.h
  indra/newview/llurldispatcher.cpp
Labels: c/cpp

#443 SL-20286 Duplication of autocomplete results occurs when entering some search queries in the navigation bar
  indra/newview/lllocationinputctrl.cpp
  indra/newview/lllocationinputctrl.h
Labels: c/cpp

#444 SL-20422 Unit-tests fix
  indra/newview/llslurl.cpp
  indra/newview/tests/llslurl_test.cpp
Labels: c/cpp

#442 SL-20062: Fix near clip on reflection probes being clamped to at or below 10
  indra/llmath/llcamera.h
  indra/llprimitive/llprimitive.cpp
Labels: c/cpp, llmath, llprimitive

#446 SL-20464 Don't allow enetring non-unicode material name
  indra/newview/llmaterialeditor.cpp
  indra/newview/lltoastalertpanel.cpp
Labels: c/cpp

#449 SL-20163 Delete LLAvatarPropertiesProcessor::sendAvatarPropertiesUpdate
  indra/newview/llavatarpropertiesprocessor.cpp
  indra/newview/llavatarpropertiesprocessor.h
Labels: c/cpp

#448 SL-20163 Allow residents to hide exact join date on profiles
  indra/newview/llavatarpropertiesprocessor.h
  indra/newview/llpanelavatar.cpp
  indra/newview/llpanelavatar.h
  indra/newview/llpanelprofile.cpp
  indra/newview/llpanelprofile.h
  indra/newview/skins/default/xui/en/panel_profile_secondlife.xml
Labels: c/cpp

#447 SL-20382 Warn when moving no-copy items on drop
  indra/newview/lltooldraganddrop.cpp
  indra/newview/lltooldraganddrop.h
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#454 SL-20465 allow creating new items from the right-click context menu
  indra/newview/llinventorybridge.cpp
  indra/newview/skins/default/xui/en/menu_inventory.xml
Labels: c/cpp

#455 SL-20457 allow creating new items from the right-click context menu
  indra/newview/llinventorybridge.cpp
  indra/newview/skins/default/xui/en/menu_inventory.xml
Labels: c/cpp

#457 Prepend the material name to each texture.
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#458 SL-20463 Rename outfit dialog box accepts emoji characters
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llui/lllineeditor.cpp
  indra/llui/lllineeditor.h
  indra/llui/llnotifications.cpp
  indra/llui/llnotifications.h
  indra/newview/lltoastalertpanel.cpp
Labels: c/cpp, llcommon, llui

#459 SL-20376 Clarify group membership status and leave-group confirmation…
  indra/newview/llgroupactions.cpp
  indra/newview/llpanelgroup.cpp
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/en/panel_group_general.xml
  indra/newview/skins/default/xui/en/panel_group_info_sidetray.xml
Labels: c/cpp

#425 BUG-234493 Add "Until key release" to the gesture "Wait"
  indra/llcharacter/llmultigesture.cpp
  indra/llcharacter/llmultigesture.h
  indra/newview/llgesturemgr.cpp
  indra/newview/llgesturemgr.h
  indra/newview/llpreviewgesture.cpp
  indra/newview/llpreviewgesture.h
  indra/newview/llviewerwindow.cpp
  indra/newview/skins/default/xui/en/floater_preview_gesture.xml
Labels: c/cpp, llcharacter

#460 SL-20497 FIXED Minimum distance is not updated correctly
  indra/newview/llviewercontrol.cpp
Labels: c/cpp

#461 SL-20504 Chat history crashes on shutdown
  indra/newview/llimview.cpp
Labels: c/cpp

#462 SL-20163 Rework add/remove observers in LLAvatarPropertiesProcessor
  indra/newview/llavatarpropertiesprocessor.cpp
Labels: c/cpp

#463 Rework hide_age in processAvatarPropertiesReply()
  indra/newview/llavatarpropertiesprocessor.cpp
  indra/newview/llavatarpropertiesprocessor.h
Labels: c/cpp

#464 SL-16661 dmg installer update
  indra/newview/installers/darwin/release-dmg/Applications-alias.r
  indra/newview/installers/darwin/release-dmg/_VolumeIcon.icns
  indra/newview/installers/darwin/release-dmg/background.jpg
  indra/newview/viewer_manifest.py
Labels: python

#465 SL-20380 show group notice button only if user is a member of the group
  indra/newview/llgrouplist.cpp
  indra/newview/skins/default/xui/en/panel_group_list_item_short.xml
Labels: c/cpp

#452 SL-20163 Rework LLAvatarPropertiesProcessor::sendRequest()
  indra/newview/llavatariconctrl.cpp
  indra/newview/llavatarpropertiesprocessor.cpp
  indra/newview/llavatarpropertiesprocessor.h
  indra/newview/llfloaterbuycurrency.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llinspectavatar.cpp
  indra/newview/llpanelprofile.cpp
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp

#468 SL-20468 Add ability to overwrite an existing outfit
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitgallery.h
  indra/newview/lloutfitslist.cpp
  indra/newview/lloutfitslist.h
  indra/newview/skins/default/xui/en/menu_gallery_inventory.xml
  indra/newview/skins/default/xui/en/menu_gallery_outfit_tab.xml
  indra/newview/skins/default/xui/en/menu_inventory.xml
  indra/newview/skins/default/xui/en/menu_outfit_gear.xml
  indra/newview/skins/default/xui/en/menu_outfit_tab.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#473 SL-20109 -> Maint Y merge
  indra/newview/CMakeLists.txt
  indra/newview/llfloaterinventorythumbnailshelper.cpp
  indra/newview/llfloaterinventorythumbnailshelper.h
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/skins/default/xui/en/floater_inventory_thumbnails_helper.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, cmake

#475 Post merge build fix
  indra/llcommon/tests/apply_test.cpp
Labels: c/cpp, llcommon

#474 SL-20109 Add inventory_thumbnails_helper floater to blacklist_untrusted
  indra/newview/llviewerfloaterreg.cpp
Labels: c/cpp

#476 D587 build fix
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/newview/CMakeLists.txt
Labels: cmake

#472 SL-20401 FIXED Popping out conversation floater second time moves location
  indra/llui/llfloater.cpp
Labels: c/cpp, llui

#478 SL-20536: Fix build error C1128 on Windows RelWithDebInfo
  indra/newview/CMakeLists.txt
Labels: cmake

#480 SL-20496 FIXED Auto-adjust causes incorrect UI value of Max number of non-impostors
  indra/newview/llperfstats.cpp
Labels: c/cpp

#479 Revert the revert of "DRTVWR-587: Simplify Python.cmake
  indra/cmake/Python.cmake
Labels: cmake

#484 SL-20537 Add hover-preview for My Outfit list
  indra/llui/lltooltip.cpp
  indra/newview/llinspecttexture.cpp
  indra/newview/lloutfitslist.cpp
  indra/newview/lloutfitslist.h
Labels: c/cpp, llui
