Repository secondlife/viewer, pull requests merged in 2024-05, with the labels that each got.

#1264 Fix for SL-20652 shadows on mac breaking alpha blended objects.
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llface.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, llrender

#1383 #1382 Fix for scrubbing occlusion channel of ORM map
  indra/newview/lltinygltfhelper.cpp
Labels: c/cpp

#1361 secondlife/viewer#1359 Introduce enum ERezzedStatus
  indra/newview/llavatarrenderinfoaccountant.cpp
  indra/newview/llavatarrendernotifier.cpp
  indra/newview/llavatarrendernotifier.h
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
Labels: c/cpp

#1368 secondlife/viewer#1360 Avoid of using avatar full names when writing to the log in release builds
  indra/llcharacter/llcharacter.h
  indra/newview/llaisapi.cpp
  indra/newview/llappearancemgr.cpp
  indra/newview/llcontrolavatar.cpp
  indra/newview/llpanelpeoplemenus.cpp
  indra/newview/llskinningutil.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvovolume.cpp
Labels: c/cpp, llcharacter

#1348 secondlife/viewer#1330 EmojiPicker inserts emoji to inactive chat floater
  indra/llui/llmenugl.cpp
  indra/llui/llmodaldialog.cpp
  indra/newview/lltoast.cpp
Labels: c/cpp, llui

#1352 Allow changing debug settings via Lua script
  indra/llxml/llcontrol.cpp
  indra/llxml/llcontrol.h
  indra/newview/llfloatersettingsdebug.cpp
  indra/newview/llfloatersettingsdebug.h
  indra/newview/llviewercontrollistener.cpp
  indra/newview/scripts/lua/LLDebugSettings.lua
  indra/newview/skins/default/xui/en/floater_settings_debug.xml
Labels: c/cpp, llxml

#1388 pviewer#235 slurl command should require at least click action
  indra/newview/llvoicecallhandler.cpp
Labels: c/cpp

#1356 #1354 Make coroutines use LLCoros::Mutex instead of LLMutex
  indra/llcommon/llcommon.cpp
  indra/llcommon/llcoros.cpp
  indra/llcommon/llcoros.h
  indra/llcommon/llerror.cpp
  indra/llcommon/llevents.cpp
  indra/llcommon/llevents.h
  indra/llcommon/llfixedbuffer.h
  indra/llcommon/llmutex.cpp
  indra/llcommon/llrefcount.h
  indra/llcommon/llthread.cpp
  indra/llmessage/llavatarnamecache.cpp
  indra/llplugin/llpluginprocessparent.cpp
  indra/llplugin/llpluginprocessparent.h
  indra/llui/llconsole.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llavatarrenderinfoaccountant.cpp
  indra/newview/lldrawpoolbump.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewermedia.h
  indra/newview/llviewerregion.cpp
  indra/newview/llvoicevivox.cpp
Labels: c/cpp, llcommon, llmessage, llui, llplugin

#1371 #1357 GLTF Export Prototype
  indra/llmath/llvolumeoctree.h
  indra/newview/gltf/accessor.cpp
  indra/newview/gltf/accessor.h
  indra/newview/gltf/animation.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/llfilepicker.cpp
  indra/newview/lltinygltfhelper.cpp
  indra/newview/lltinygltfhelper.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llmath

#1389 brad/fix gltfmaterial tests
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/tests/llgltfmaterial_test.cpp
Labels: c/cpp, llprimitive, ignore-for-release

#1386 secondlife/viewer#1367 Small fix
  indra/llmath/llcamera.h
  indra/llmath/llmath.h
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
  indra/llwindow/llgamecontroltranslator.cpp
Labels: c/cpp, llwindow, llmath

#1391 Turn on LL_TESTS for CI builds.
  build.sh
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/tests/llgltfmaterial_test.cpp
Labels: c/cpp, llprimitive

#1390 [WebRTC] Remove old region's participants when transiting to a new region.
  indra/llwebrtc/llwebrtc.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp, webRTC

#1399 #1382 Fix for scrubbing occlusion channel of ORM map (#1383)
  indra/newview/lltinygltfhelper.cpp
Labels: c/cpp

#1401 [WebRTC-Voice] Pull webrtc-voice branch changes into project/webrtc-voice
  autobuild.xml
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/app_settings/settings.xml
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/llspeakers.cpp
  indra/newview/llspeakers.h
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
  indra/newview/skins/default/xui/en/floater_incoming_call.xml
Labels: c/cpp, team:viewer, webRTC

#1395 secondlife/viewer#1367 Detect odd GameControl hardware
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/gamecontrollerdb.txt
  indra/newview/llappviewer.cpp
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llwindow

#1414 viewer#1195 Don't allow Bake textures as group images
  indra/newview/llpanelgroupcreate.cpp
  indra/newview/llpanelgroupgeneral.cpp
Labels: c/cpp

#1423 viewer#1420 Fixed names not showing in Chat
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
Labels: c/cpp, llxml

#1429 Even more mirror fixes.
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llpanelvolume.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llvovolume.cpp
  indra/newview/skins/default/xui/en/floater_tools.xml
Labels: c/cpp

#1436 Fix for mirrors not functioning properly under water.
  .github/workflows/build.yaml
  build.sh
  indra/llimage/tests/llimageworker_test.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/llprimitive/tests/llgltfmaterial_test.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llimage, llprimitive

#1419 Copy xml files to scripts/lua; make Lua debug floater resizable
  indra/newview/scripts/lua/LLDebugSettings.lua
  indra/newview/skins/default/xui/en/floater_lua_debug.xml
  indra/newview/viewer_manifest.py
Labels: python

#1439 secondlife/viewer#1364 Save/load custom GameControl mappings
  indra/llcommon/indra_constants.h
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llui/llcombobox.cpp
  indra/llui/llcombobox.h
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
  indra/llwindow/llgamecontroltranslator.cpp
  indra/llwindow/llgamecontroltranslator.h
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/skins/default/xui/en/panel_preferences_game_control.xml
Labels: c/cpp, llwindow, llcommon, llui

#1444 Update to S3-published GHA build of slvoice.
  autobuild.xml
  indra/llcommon/llcoros.cpp
Labels: c/cpp, llcommon

#1460 viewer#1420 Fixed names not showing in Chat
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
Labels: c/cpp, llxml

#1461 Revert "viewer#819 Avoid reading the same XML file multiple times"
  indra/llfilesystem/lldir.cpp
  indra/llfilesystem/lldir.h
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
  indra/llui/llmenubutton.cpp
  indra/llui/llpanel.cpp
  indra/llui/llpanel.h
  indra/llui/lluictrlfactory.cpp
  indra/llui/lluictrlfactory.h
  indra/llui/llxuiparser.cpp
  indra/llxml/llcontrol.cpp
  indra/llxml/llcontrol.h
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
  indra/llxml/llxmltree.cpp
  indra/llxml/llxmltree.h
  indra/newview/llappviewer.cpp
  indra/newview/llblocklist.cpp
  indra/newview/llchathistory.cpp
  indra/newview/llcommandlineparser.cpp
  indra/newview/llfavoritesbar.cpp
  indra/newview/llmediactrl.cpp
  indra/newview/llnotificationlistitem.cpp
  indra/newview/lltoast.cpp
  indra/newview/lltoastnotifypanel.cpp
  indra/newview/lltoastscriptquestion.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, llfilesystem, llui, llxml

#1446 Fix broken merge and BOOL/bool issues
  indra/llmath/llvolume.cpp
  indra/llrender/llshadermgr.cpp
  indra/newview/gltf/asset.cpp
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/lldrawpoolterrain.h
  indra/newview/lldynamictexture.cpp
  indra/newview/llenvironment.cpp
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/llgltfmaterialpreviewmgr.h
  indra/newview/llmaniprotate.cpp
  indra/newview/llmaniptranslate.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
  indra/newview/llsurfacepatch.cpp
  indra/newview/llviewercamera.cpp
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/pipeline.cpp
Labels: c/cpp, llmath, llrender

#1468 triage#49 Menu didn't work for already selected items
  indra/newview/llpanelnearbymedia.cpp
Labels: c/cpp

#1482 secondlife/viewer#1474: Remove small texture offset from PBR terrain
  doc/testplans/pbr_terrain_appearance.md
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainV.glsl
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
  indra/newview/lldrawpoolterrain.cpp
Labels: c/cpp

#1467 secondlife/viewer#1418 Mesh Upload - Physics - Bounding Box is not working as expected
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/newview/llmodelpreview.cpp
Labels: c/cpp, llprimitive

#1483 secondlife/jira-archive-internal#70713 Combine recently and frequently used
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp

#1470 1466 haze is missing from some eep settings in featurettes viewer
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsFuncs.glsl
Labels: c/cpp, cmake, llcommon, llimage, llinventory, llmath, llprimitive, llrender, llplugin

#1484 jira-archive-internal#67837 Windows' bulk export of snapshots and textures #2
  indra/newview/llpreviewtexture.cpp
  indra/newview/llpreviewtexture.h
Labels: c/cpp

#1485 #1267 Fix for alpha cutoff of zero and base color factor alpha of zer…
  indra/newview/app_settings/shaders/class1/deferred/pbrShadowAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueF.glsl
  indra/newview/llface.cpp
  indra/newview/llfetchedgltfmaterial.cpp
Labels: c/cpp

#1487 secondlife/viewer#1474: Remove small texture offset from PBR terrain
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
Labels: ignore-for-release

#1488 brad/gltf dev featurttes merge
  doc/testplans/pbr_terrain_appearance.md
  indra/newview/app_settings/shaders/class1/deferred/pbrShadowAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueF.glsl
  indra/newview/app_settings/shaders/class1/windlight/atmosphericsFuncs.glsl
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llface.cpp
  indra/newview/llfetchedgltfmaterial.cpp
Labels: c/cpp

#1480 Correcting the display position of the input dialog
  indra/llwindow/llwindowsdl.cpp
  indra/llwindow/llwindowsdl.h
Labels: c/cpp, llwindow

#1491 [SL-20752] Mouselook no longer allows pitch upwards to full 90 degrees
  indra/newview/llagent.cpp
Labels: c/cpp

#1499 viewer#1117 Use attachment info to prevent accidental nudity #2
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp

#1504 #1386 Remove Buttons from mapping options
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
Labels: c/cpp

#1503 fix bad indentation and modernise
  indra/llxml/llxmltree.cpp
Labels: c/cpp, llxml

#1449 Fix issue where groups/adhoc chats were named with the initiators display name.
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llfloaterimsession.cpp
  indra/newview/llfloaterimsession.h
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/llvoicechannel.h
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#1523 #1508 LLGameControl: Provide the list of currently detected devices
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
Labels: c/cpp, llwindow

#1524 triage#59 Render Friends Only option
  indra/newview/app_settings/settings.xml
  indra/newview/llcontrolavatar.h
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/lluiavatar.h
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#1525 #1509 LLGameControl: Provide the data structure for device-specific settings
  indra/llcommon/llstring.h
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
Labels: c/cpp, llwindow, llcommon

#1394 #1392 GLTF Upload
  autobuild.xml
  indra/cmake/GLM.cmake
  indra/llcommon/llassettype.cpp
  indra/llcommon/llassettype.h
  indra/llfilesystem/lldiskcache.cpp
  indra/llinventory/llinventorytype.cpp
  indra/llinventory/llinventorytype.h
  indra/llmath/llmatrix4a.h
  indra/llmath/llvector4a.h
  indra/llmath/llvolume.h
  indra/llprimitive/CMakeLists.txt
  indra/llprimitive/llgltfmaterial.h
  indra/llui/llui.h
  indra/newview/app_settings/settings.xml
  indra/newview/gltf/README.md
  indra/newview/gltf/accessor.cpp
  indra/newview/gltf/accessor.h
  indra/newview/gltf/animation.cpp
  indra/newview/gltf/animation.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/common.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llimprocessing.cpp
  indra/newview/llinventorymodel.cpp
  indra/newview/llviewerassettype.cpp
  indra/newview/llviewerassetupload.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/llviewerregion.cpp
  indra/newview/llvovolume.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, cmake, llcommon, llfilesystem, llinventory, llmath, llprimitive, llui

#1526 viewer#1520 Material upload floater displays wrong upload fee
  indra/llrender/llgltexture.cpp
  indra/newview/llagentbenefits.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
Labels: c/cpp, llrender

#1540 viewer#1529 Mesh Uploader should permit lowering material count
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llmodelpreview.cpp
Labels: c/cpp

#1543 triage#59 Fix missed 'static' declarations
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/llinventorybridge.cpp
Labels: c/cpp

#1539 Change `LLPredicate::Rule::requires()` to `mandates()` for C++20.
  indra/llcommon/llpredicate.h
  indra/newview/CMakeLists.txt
Labels: c/cpp, cmake, llcommon

#1546 Adjust Copy3rdPartyLibs.cmake for Visual Studio 2022 17.10.0 and greater
  indra/cmake/Copy3rdPartyLibs.cmake
Labels: cmake

#1544 #1510 LLGameControl: Implement Save/Load operations for device settings
  indra/llcommon/llsd.cpp
  indra/llcommon/llsd.h
  indra/llcommon/llstring.h
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  scripts/messages/message_template.msg
Labels: c/cpp, llwindow, llcommon

#1550 triage#59 Cover cases where some attachments stayed visible
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#1554 viewer-private#240 Restore missing marketplace notification
  indra/llui/llfolderviewitem.cpp
  indra/llui/llfolderviewitem.h
  indra/newview/skins/default/xui/en/panel_marketplace_listings_inventory.xml
  indra/newview/skins/default/xui/en/panel_marketplace_listings_listed.xml
  indra/newview/skins/default/xui/en/panel_marketplace_listings_unassociated.xml
  indra/newview/skins/default/xui/en/panel_marketplace_listings_unlisted.xml
Labels: c/cpp, llui

#1547 Add support for sending messages to Nearby chat from Lua script
  indra/llui/llchat.h
  indra/newview/llchathistory.cpp
  indra/newview/llchathistory.h
  indra/newview/llchatitemscontainerctrl.cpp
  indra/newview/llchatitemscontainerctrl.h
  indra/newview/llfloaterimnearbychat.cpp
  indra/newview/llfloaterimnearbychathandler.cpp
  indra/newview/llfloaterimnearbychatlistener.cpp
  indra/newview/llfloaterimnearbychatlistener.h
  indra/newview/llviewerchat.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/scripts/lua/LLChat.lua
  indra/newview/scripts/lua/test_LLChat.lua
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, llui

#1557 Introduce LLWStringView to prevent unnecessary memory allocations
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
Labels: c/cpp, llcommon

#1560 viewer#1408 Change misleading content removal wanring
  indra/newview/llpanelobjectinventory.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#1562 Mark script messages in compact mode too; code clean up
  indra/llui/llchat.h
  indra/newview/llchathistory.cpp
  indra/newview/llfloaterimnearbychathandler.cpp
  indra/newview/llfloaterimnearbychatlistener.cpp
  indra/newview/llfloaterimnearbychatlistener.h
  indra/newview/llviewerchat.cpp
  indra/newview/scripts/lua/test_LLChat.lua
Labels: c/cpp, llui

#1566 viewer#1552 Bake textures could be applied to terrain textures
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/lltexturectrl.cpp
Labels: c/cpp

#1569 #1512 LLPanelPreferenceGameControl: Showing current device name
  indra/llwindow/llgamecontrol.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/skins/default/xui/en/panel_preferences_game_control.xml
Labels: c/cpp, llwindow

#1571 Try copying the VC++ runtime files from the redistributable package first
  indra/cmake/Copy3rdPartyLibs.cmake
Labels: cmake

#1574 viewer#1573 Crash at updateMovedList
  indra/newview/pipeline.cpp
Labels: c/cpp

#1575 viewer#1553 Local PBR materials are not applied to the terrain
  indra/llrender/llgltexture.cpp
  indra/newview/lllocalgltfmaterials.cpp
Labels: c/cpp, llrender

#1541 Remove tinygltf dependency from LL::GLTF
  indra/llcommon/lluuid.h
  indra/llimage/llimage.cpp
  indra/llimage/llimage.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/gltf/README.md
  indra/newview/gltf/accessor.cpp
  indra/newview/gltf/accessor.h
  indra/newview/gltf/animation.cpp
  indra/newview/gltf/animation.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/common.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/llfilepicker.cpp
  indra/newview/lllocalbitmaps.cpp
  indra/newview/lllocalbitmaps.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llcommon, llimage, llrender

#1570 Improvements to mirror probe update rates
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#1578 viewer#1568 Revert "SL-17597 AV height in Shape dialog IS WRONG"
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
Labels: c/cpp, llappearance

#1563 viewer#1497 Gray out some options for Mirror (Everything)
  indra/newview/llpanelvolume.cpp
Labels: c/cpp

#1586 viewer#1577 Attachments cannot be detached in performance floater
  indra/newview/llfloaterperformance.cpp
  indra/newview/llfloaterperformance.h
Labels: c/cpp

#1582 #1530 Increase joint limit for GLTF Assets
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/llrender/llvertexbuffer.cpp
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbralphaV.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/gltf/accessor.cpp
  indra/newview/gltf/animation.cpp
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/common.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/lldrawpoolpbropaque.cpp
  indra/newview/llenvironment.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llskinningutil.cpp
  indra/newview/llskinningutil.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#1579 #1513 LLPanelPreferenceGameControl: Implement UI for device settings
  indra/llcommon/llinitparam.h
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/skins/default/xui/en/game_control_table_rows.xml
  indra/newview/skins/default/xui/en/panel_preferences_game_control.xml
Labels: c/cpp, llwindow, llcommon, llui

#1592 #1581 Only render mirrors when reflection probes are enabled.
  indra/newview/llheroprobemanager.cpp
Labels: c/cpp

#1496 Attempt to diagnose stack overflow in test programs. Also, improve build.yaml logic.
  .github/workflows/build.yaml
  indra/llcommon/always_return.h
  indra/llcommon/llcoros.cpp
  indra/llcommon/llexception.cpp
  indra/llcommon/llexception.h
  indra/llcommon/tests/llleap_test.cpp
  indra/llwindow/llwindowwin32.cpp
  indra/newview/llappviewerwin32.cpp
  indra/newview/llfeaturemanager.cpp
  indra/test/test.cpp
Labels: c/cpp, cmake, python, llwindow, llappearance, llcommon, llcorehttp, llimage, llimagej2coj, llmath, llmessage, llprimitive, llrender, llplugin, llxml

#1393 Turn on LL_TESTS for Maint B.
  build.sh
  indra/llcommon/tests/llstring_test.cpp
Labels: c/cpp, llcommon

#1599 #1597 Fix for some GLTF transforms not loading properly.
  indra/newview/gltf/accessor.cpp
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/buffer_util.h
  indra/newview/llsidepaneltaskinfo.cpp
Labels: c/cpp

#1602 #1596 Fix for GLTF uploads failing after loading from .glb file
  indra/newview/gltfscenemanager.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
Labels: c/cpp

#1603 #1515 LLPanelPreferenceGameControl: Add a button 'Reset to Defaults'
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llgamecontrol.h
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/skins/default/xui/en/panel_preferences_game_control.xml
Labels: c/cpp, llwindow

#1605 viewer#1600 Fixed being unable to delete links to worn objects
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventorygallery.cpp
Labels: c/cpp

#1606 #1567 Server-side Translation UI - display translation in italics
  indra/llui/llchat.h
  indra/llui/lltextbase.cpp
  indra/newview/llchathistory.cpp
  indra/newview/llfloaterimsession.cpp
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/lllogchat.cpp
  indra/newview/lllogchat.h
  indra/newview/llnotificationhandlerutil.cpp
  indra/newview/lltranslate.cpp
  indra/newview/llviewermessage.cpp
Labels: c/cpp, llui

#1604 Add support for RequestTaskInventory capability
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/llviewerregion.cpp
Labels: c/cpp
