Repository secondlife/viewer, pull requests merged in 2024-04, with the labels that each got.

#1094 Fix configure error for Linux and build fix (part)
  autobuild.xml
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/ICU4C.cmake
  indra/cmake/ViewerMiscLibs.cmake
  indra/llcommon/llprocessor.cpp
  indra/llcommon/llsdutil.cpp
  indra/llimagej2coj/llimagej2coj.cpp
  indra/llrender/llglheaders.h
Labels: c/cpp, cmake, llcommon, llimagej2coj, llrender

#1100 [WebRTC] Add UI for AGC, Echo Cancellation, and Noise Reduction; use Linden STUN servers.
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/app_settings/settings.xml
  indra/newview/llviewercontrol.cpp
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
  indra/newview/skins/default/xui/en/panel_preferences_sound.xml
Labels: c/cpp, webRTC

#1092 BUG-134040: Fix broken SOCKS5 proxy
  indra/llmessage/llproxy.cpp
Labels: bug, c/cpp, llmessage

#1103 triage#150 on OSX any file can be chosen for model upload
  indra/newview/llfilepicker.cpp
Labels: c/cpp

#1107 enable tracy for linux and build fix
  autobuild.xml
  indra/llcommon/llprofiler.h
Labels: c/cpp, llcommon

#1105 viewer#1104 Crash at populateFoldersList
  indra/newview/llfloatercreatelandmark.cpp
  indra/newview/llfloatercreatelandmark.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorybridge.h
Labels: c/cpp

#1108 [WebRTC Voice] Device Selection Fixes
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#1106 secondlife/viewer#925 Missing simple :smile emoji
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#1115 #854 Fix for skies that shouldn't be auto-adjusted getting auto-adjusted.
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/newview/app_settings/settings.xml
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llsettingsvo.cpp
Labels: c/cpp, llinventory

#1119 #1116 HDRI preview enhancements
  indra/newview/app_settings/settings.xml
  indra/newview/lldrawpoolwlsky.cpp
Labels: c/cpp

#1118 viewer#1114 Expose max impostors setting in basic graphics preferences
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.h
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/panel_preferences_graphics1.xml
Labels: c/cpp

#1110 Add `startup.lua` module with `startup.ensure()`, `startup.wait()` functions.
  indra/llcommon/CMakeLists.txt
  indra/llcommon/fsyspath.h
  indra/llcommon/llleaplistener.cpp
  indra/llcommon/llstring.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/lualistener.cpp
  indra/llui/llluafloater.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/scripts/lua/ErrorQueue.lua
  indra/newview/scripts/lua/Queue.lua
  indra/newview/scripts/lua/WaitQueue.lua
  indra/newview/scripts/lua/fiber.lua
  indra/newview/scripts/lua/leap.lua
  indra/newview/scripts/lua/startup.lua
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
  indra/newview/scripts/lua/util.lua
Labels: c/cpp, cmake, llcommon, llui

#1101 Lua scripts floater
  indra/llwindow/llwindow.h
  indra/llwindow/llwindowmacosx-objc.h
  indra/llwindow/llwindowmacosx-objc.mm
  indra/llwindow/llwindowmacosx.cpp
  indra/llwindow/llwindowmacosx.h
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
  indra/newview/CMakeLists.txt
  indra/newview/llfloaterluascripts.cpp
  indra/newview/llfloaterluascripts.h
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/skins/default/xui/en/floater_lua_scripts.xml
  indra/newview/skins/default/xui/en/menu_lua_scripts.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, cmake, llwindow

#1124 Luau for Linux
  indra/cmake/Lualibs.cmake
  indra/newview/CMakeLists.txt
Labels: cmake

#1133 secondlife/viewer#773: Improve documentation for RenderTerrainPBREnabled
  doc/testplans/pbr_terrain_composition.md
  indra/newview/app_settings/settings.xml
Labels: ignore-for-release

#1125 Introduce LLInstanceTracker::destruct() methods; use in ~LuaState().
  indra/llcommon/llinstancetracker.h
  indra/llcommon/lua_function.cpp
Labels: c/cpp, llcommon

#1138 secondlife/viewer#984 BugSplat Crash: LLLoadedCallbackEntry::removeTexture(146)
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#1127 viewer#1117 Use attacment info for declouding logic
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp

#1142 SL-19585 Fix openal exit failure logging
  indra/llaudio/llaudioengine_openal.cpp
Labels: c/cpp, llaudio

#1054 Port from JsonCPP to Boost.Json for json parsing and serializing
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/JsonCpp.cmake
  indra/cmake/LLCommon.cmake
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llsdjson.cpp
  indra/llcommon/llsdjson.h
  indra/llmessage/CMakeLists.txt
  indra/llmessage/llcorehttputil.cpp
  indra/newview/CMakeLists.txt
  indra/newview/llappviewerwin32.cpp
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llmarketplacefunctions.cpp
  indra/newview/lltranslate.cpp
  indra/newview/lltranslate.h
  indra/newview/llwebprofile.cpp
Labels: c/cpp, cmake, llcommon, llmessage

#1150 [WebRTC] Explicit decline message for webrtc p2p sessions.
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llimview.cpp
  indra/newview/llvoicechannel.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp, webRTC

#1155 triage#163 'Create folder from selected' misbehaves in marketplace
  indra/newview/llinventorybridge.cpp
Labels: c/cpp

#1144 Some fixes to linux builds
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/cmake/UI.cmake
  indra/llcommon/llprofiler.h
Labels: c/cpp, cmake, llcommon

#1160 triage#162 "Away" status is removed even by a random hover
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llviewerjoystick.cpp
  indra/newview/llviewerwindow.cpp
Labels: c/cpp

#1164 [WebRTC] show 'moderator muted' state in the viewer for group voice sessions.
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp, webRTC

#1146 Update Linux media handling
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/cmake/CEFPlugin.cmake
  indra/cmake/LLWindow.cmake
  indra/cmake/NDOF.cmake
  indra/llcommon/llprocessor.cpp
  indra/llplugin/CMakeLists.txt
  indra/media_plugins/CMakeLists.txt
  indra/media_plugins/base/CMakeLists.txt
  indra/media_plugins/base/media_plugin_base.cpp
  indra/media_plugins/base/media_plugin_base.h
  indra/media_plugins/cef/CMakeLists.txt
  indra/media_plugins/cef/linux_volume_catcher.cpp
  indra/media_plugins/cef/linux_volume_catcher_pa_syms.inc
  indra/media_plugins/cef/linux_volume_catcher_paglib_syms.inc
  indra/media_plugins/cef/media_plugin_cef.cpp
  indra/media_plugins/example/CMakeLists.txt
  indra/media_plugins/gstreamer010/CMakeLists.txt
  indra/media_plugins/gstreamer010/llmediaimplgstreamer.h
  indra/media_plugins/gstreamer010/llmediaimplgstreamer_syms.cpp
  indra/media_plugins/gstreamer010/llmediaimplgstreamer_syms.h
  indra/media_plugins/gstreamer010/llmediaimplgstreamer_syms_raw.inc
  indra/media_plugins/gstreamer010/llmediaimplgstreamer_syms_rawv.inc
  indra/media_plugins/gstreamer010/llmediaimplgstreamertriviallogging.h
  indra/media_plugins/gstreamer010/llmediaimplgstreamervidplug.cpp
  indra/media_plugins/gstreamer010/llmediaimplgstreamervidplug.h
  indra/media_plugins/gstreamer010/media_plugin_gstreamer010.cpp
  indra/media_plugins/gstreamer10/CMakeLists.txt
  indra/media_plugins/gstreamer10/llmediaimplgstreamer_syms.cpp
  indra/media_plugins/gstreamer10/llmediaimplgstreamer_syms.h
  indra/media_plugins/gstreamer10/llmediaimplgstreamer_syms_raw.inc
  indra/media_plugins/gstreamer10/media_plugin_gstreamer10.cpp
  indra/media_plugins/libvlc/CMakeLists.txt
  indra/newview/CMakeLists.txt
  indra/newview/linux_tools/wrapper.sh
  indra/newview/llappviewer.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/skins/default/xui/en/mime_types_linux.xml
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llcommon, llplugin

#1162 secondlife/viewer#759: Fix minimap loading for 2k PBR materials
  indra/newview/llvlcomposition.cpp
Labels: c/cpp

#1171 triage#166 Select 'No Description' when clicking on a text field
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
  indra/newview/llsidepaneliteminfo.cpp
  indra/newview/llsidepaneliteminfo.h
  indra/newview/skins/default/xui/en/floater_inventory_item_properties.xml
Labels: c/cpp, llui

#1172 #1126 gltf scene import prototype
  indra/llmath/llvolume.cpp
  indra/llmath/llvolume.h
  indra/llmath/llvolumeoctree.cpp
  indra/llmath/llvolumeoctree.h
  indra/llrender/llvertexbuffer.cpp
  indra/newview/CMakeLists.txt
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/llappviewer.cpp
  indra/newview/lldrawpoolpbropaque.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/lltinygltfhelper.cpp
  indra/newview/lltinygltfhelper.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobject.h
  indra/newview/llvovolume.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, cmake, llmath, llrender

#1190 triage#170 Fix 'Clear log' button having incorrect state
  indra/newview/llconversationlog.cpp
  indra/newview/llfloaterpreference.cpp
Labels: c/cpp

#1193 triage#171 Sometimes conversation.log remains empty
  indra/newview/app_settings/settings_per_account.xml
  indra/newview/llimview.cpp
Labels: c/cpp

#1192 Multiple fixes for mirrors.
  indra/newview/app_settings/shaders/class3/deferred/reflectionProbeF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llviewercontrol.cpp
  indra/newview/llvoavatarself.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
Labels: c/cpp, cmake, python, llcommon, llimage, llinventory, llmath, llprimitive, llrender, llplugin

#1194 viewer#1163: Avoid terrain texture memory leak
  indra/newview/llvlcomposition.cpp
Labels: c/cpp

#1187 Make sure inventory does not end with dead objects in it's maps
  indra/newview/llinventorymodel.cpp
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#1196 Add LINK_WITH_MOLD option
  .github/workflows/build.yaml
  build.sh
  indra/cmake/00-Common.cmake
  indra/cmake/Linker.cmake
Labels: cmake, ignore-for-release

#1201 Restore the fix for #945 (lost during merge #1178)
  indra/newview/lloutfitslist.cpp
Labels: c/cpp

#1199 CI: Remove python-version from matrix
  .github/workflows/build.yaml
Labels: ignore-for-release

#1095 Remove BuildParams
  BuildParams
  build.sh
Labels: ignore-for-release

#1197 Remove unused fix-incredibuild.py
  indra/fix-incredibuild.py
Labels: python, ignore-for-release

#1205 Chore/cmake pretty up
  indra/cmake/00-Common.cmake
  indra/cmake/Linker.cmake
Labels: cmake

#1189 Fix ASAN errors from LLVector4a::memcpyNonAliased16
  indra/llappearance/llpolymesh.cpp
  indra/newview/llviewerjointmesh.cpp
Labels: c/cpp, llappearance

#1210 viewer-private#226 Unhandled PngError throws application into a loop
  indra/llimage/llimagepng.cpp
  indra/llimage/llpngwrapper.cpp
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
Labels: c/cpp, llimage

#1198 CI: adopt xz compression, actions/*-artifact@v4
  .github/workflows/build.yaml
  build.sh
  indra/newview/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: cmake, python, ignore-for-release

#1152 Add script termination option to 'Lua Scripts' floater
  indra/llcommon/llapp.cpp
  indra/llcommon/lualistener.cpp
  indra/llcommon/lualistener.h
  indra/newview/llfloaterluascripts.cpp
  indra/newview/llfloaterluascripts.h
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/skins/default/xui/en/menu_lua_scripts.xml
Labels: c/cpp, llcommon

#1223 viewer#1081 Add expected price to upload's body
  indra/newview/llviewerassetupload.cpp
Labels: c/cpp

#1225 Feature/linux gtk removal
  autobuild.xml
  indra/cmake/LLWindow.cmake
  indra/cmake/OPENAL.cmake
  indra/linux_crash_logger/llcrashloggerlinux.cpp
  indra/llwindow/llwindowsdl.h
  indra/newview/llappviewer.cpp
  indra/newview/lldirpicker.cpp
  indra/newview/llfilepicker.cpp
  indra/newview/llfilepicker.h
Labels: c/cpp, cmake, llwindow

#1227 Inject XZ_DEFAULTS=-T0 into the environment. This will speed up archive generation.
  indra/newview/viewer_manifest.py
Labels: python

#1233 Revert "SL-20140 Setting shape hand size to 36 won't save"
  indra/newview/character/avatar_lad.xml
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
Labels: c/cpp

#1222 viewer#1195 Real Life photo can be set to a bake texture
  indra/newview/llpanelprofile.cpp
Labels: c/cpp

#1140 viewer#676 Use attacment info for rez state reporting
  indra/newview/app_settings/settings.xml
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#1239 viewer#1213 My Environments 'Apply' buttons enabled for folders
  indra/newview/llfloatermyenvironment.cpp
  indra/newview/llfloatermyenvironment.h
  indra/newview/skins/default/xui/en/menu_settings_gear.xml
Labels: c/cpp

#1226 Chore/pragma gcc cleansweep
  indra/cmake/00-Common.cmake
  indra/llcommon/llerror.h
  indra/llcommon/llsdutil.cpp
  indra/llmessage/llnamevalue.cpp
  indra/newview/llface.cpp
  indra/newview/llviewerstats.cpp
Labels: c/cpp, cmake, llcommon, llmessage

#1228 secondlife/viewer#912 BugSplat Crash 1412267: nvoglv64+0xadcd00
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/llprimitive/llmodelloader.cpp
  indra/llprimitive/llmodelloader.h
  indra/newview/llmodelpreview.cpp
Labels: c/cpp, llprimitive

#1241 viewer#1215 My Environments' trash button is missing a notification
  indra/newview/llfloatermyenvironment.cpp
  indra/newview/llfloatermyenvironment.h
Labels: c/cpp

#1247 Call suspend() periodically to avoid viewer freeze
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llluamanager.cpp
Labels: c/cpp

#1242 viewer#1216 Library settings can be deleted via My Environments
  indra/newview/llfloatermyenvironment.cpp
Labels: c/cpp

#1251 viewer#1143 Crash at LLReflectionMap::autoAdjustOrigin #2
  indra/newview/llreflectionmap.cpp
Labels: c/cpp

#1256 [WebRTC] Update webrtc.lib to address issue with voice bars not appearing.
  autobuild.xml
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp, team:viewer

#1250 SL-18721 Window shutdown adjustments
  indra/llcommon/threadpool.h
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow, llcommon

#1258 1176 integrate llgltfnode with selection manager and llmaniptranslate/rotate
  indra/llmath/llmatrix4a.h
  indra/llrender/llrender.cpp
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/llagentcamera.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llmanip.cpp
  indra/newview/llmaniprotate.cpp
  indra/newview/llmaniptranslate.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
  indra/newview/lltinygltfhelper.cpp
  indra/newview/lltoolselect.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llmath, llrender

#1269 Update open_libndofdev and openal to latest versions.
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/OPENAL.cmake
Labels: cmake, linux

#1270 viewer-private#217 Fix cef log name
  indra/newview/llviewermedia.cpp
Labels: c/cpp

#1274 Revert "SL-20140 Setting shape hand size to 36 won't save"
  indra/newview/character/avatar_lad.xml
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
Labels: c/cpp

#1272 Revert "SL-20140 Setting shape hand size to 36 won't save"
  indra/newview/character/avatar_lad.xml
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
Labels: c/cpp

#1275 Revert "SL-20140 Setting shape hand size to 36 won't save"
  indra/newview/character/avatar_lad.xml
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
Labels: c/cpp

#1277 viewer#1117 optimize one getIsCloud() call away
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#1278 viewer#1081 removed a 'not finalized' part of 2K benefits
  indra/newview/llagentbenefits.cpp
Labels: c/cpp

#1276 secondlife/viewer#1249 Erratic Emoji Picker Behavior
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
Labels: c/cpp

#1262 Reintroduce `LLCoros::killreq()` to request killing a named coroutine.
  indra/llcommon/llapp.cpp
  indra/llcommon/llcoros.cpp
  indra/llcommon/llcoros.h
  indra/llcommon/lleventcoro.cpp
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/lualistener.cpp
  indra/llcommon/lualistener.h
  indra/llcommon/threadpool.cpp
  indra/llcommon/threadpool.h
  indra/llcommon/workqueue.cpp
  indra/llcommon/workqueue.h
  indra/llimage/tests/llimageworker_test.cpp
  indra/llmessage/llcoproceduremanager.cpp
  indra/newview/llfloaterluascripts.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/tests/llluamanager_test.cpp
  indra/test/debug.h
Labels: c/cpp, llcommon, llimage, llmessage

#1283 Update to use newer mikktspace generation lib changes from Blender
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#1273 #1139 Fix for world going black/white in some scenes (NaNs)
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/shaders/class1/deferred/avatarF.glsl
  indra/newview/app_settings/shaders/class1/deferred/bumpF.glsl
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseAlphaMaskIndexedF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseAlphaMaskNoColorF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseIndexedF.glsl
  indra/newview/app_settings/shaders/class1/deferred/impostorF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/terrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/treeF.glsl
  indra/newview/app_settings/shaders/class1/environment/encodeNormF.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/lldrawpoolbump.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llrender

#1240 viewer#1200 Avatar rotates 360 degrees when viewed from the top and below
  indra/newview/llagent.cpp
  indra/newview/llagentcamera.h
Labels: c/cpp

#1291 Revert "SL-20140 Setting shape hand size to 36 won't save"
  indra/newview/character/avatar_lad.xml
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
Labels: c/cpp

#1288 1284 incorporate mikktspace changes
  autobuild.xml
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#1287 Port from OpenEXR to TinyEXR for reduced installer and library size
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/OpenEXR.cmake
  indra/cmake/TinyEXR.cmake
  indra/newview/CMakeLists.txt
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python

#1293 viewer#1290 Fix snapToMessageHeight crash
  indra/newview/lltoastnotifypanel.cpp
  indra/newview/lltoastnotifypanel.h
Labels: c/cpp

#1295 [WebRTC] Outgoing calls now use the voice server type corresponding to the region the agent is on.
  indra/llwebrtc/llwebrtc.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/llimview.cpp
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#1306 1285 gltf animation nodes
  indra/llcommon/llstrider.h
  indra/llmath/llvolumeoctree.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/CMakeLists.txt
  indra/newview/gltf/accessor.cpp
  indra/newview/gltf/accessor.h
  indra/newview/gltf/animation.cpp
  indra/newview/gltf/animation.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/llappviewer.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolpbropaque.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, cmake, llcommon, llmath, llrender

#1317 Fix BOOL vs bool issues after merge
  indra/llinventory/llpermissions.h
  indra/llmessage/lldatapacker.cpp
  indra/newview/llappviewer.cpp
  indra/newview/lloutfitslist.cpp
  indra/newview/llpanelprofileclassifieds.cpp
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llplacesinventorypanel.cpp
  indra/newview/tests/llviewerassetstats_test.cpp
Labels: c/cpp, llinventory, llmessage

#1322 viewer#1309 Handle deprecated avatar properties messages
  indra/newview/llavatarpropertiesprocessor.cpp
  indra/newview/llavatarpropertiesprocessor.h
  indra/newview/llstartup.cpp
Labels: c/cpp

#1327 secondlife/viewer#1200 Avatar rotates 360 degrees when viewed from the top and below
  indra/newview/llagent.cpp
  indra/newview/llagentcamera.h
Labels: c/cpp

#1332 viewer#1321 allow to set price before clicking the "For Sale" box
  indra/newview/llpanelpermissions.cpp
  indra/newview/llpanelpermissions.h
Labels: c/cpp

#1335 viewer#1308 LLFloaterView::restoreAll Crash
  indra/llui/llfloater.cpp
Labels: c/cpp, llui

#1337 Cached minimap textures still using extra memory/loading still not reliable
  indra/llimage/llimage.cpp
  indra/llimage/llimage.h
  indra/llrender/llgltexture.cpp
  indra/llrender/llgltexture.h
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llviewertexture.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
Labels: c/cpp, llimage, llrender

#1340 #1325 Fix for GLTF overrides sometimes not showing up.
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llvocache.cpp
Labels: c/cpp

#1336 secondlife/viewer#1331 The animation with null id is attempted to fetch
  indra/llcharacter/llkeyframemotion.cpp
  indra/llcharacter/llkeyframemotion.h
  indra/newview/llvoavatar.cpp
Labels: c/cpp, llcharacter

#1349 [WebRTC-Voice] Fix server reconnect issue (and other issues)
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/llspeakers.cpp
  indra/newview/llspeakers.h
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/skins/default/xui/en/floater_incoming_call.xml
Labels: c/cpp

#1345 #886 Fix for crash in LLBumpImageList when connecting to a simulator with different feature flags
  indra/newview/llviewerregion.cpp
Labels: c/cpp

#1344 Add timestamp to snapshot file names
  indra/llcommon/lldate.cpp
  indra/llcommon/lldate.h
  indra/llimage/tests/llimageworker_test.cpp
  indra/newview/llfloater360capture.cpp
  indra/newview/llviewerwindow.cpp
Labels: enhancement, c/cpp, llcommon

#1341 secondlife/viewer-private#230: Amend terrain loading test plan
  doc/testplans/terrain_loading.md
Labels: ignore-for-release
