Repository secondlife/viewer, pull requests merged in 2024-09, with the labels that each got.

#2475 Restore old error handling early out logic in LLAppViewer::init()
  indra/newview/llappviewer.cpp
Labels: c/cpp

#2476 Additional styling and inconsistency fixes for Inventorymodelbackgroundfetch code
  indra/newview/llinventorymodelbackgroundfetch.cpp
  indra/newview/llinventorymodelbackgroundfetch.h
Labels: c/cpp

#2478 #2471 The Destinations ComboBox on Login Screen changes the selected item
  indra/llui/llcombobox.cpp
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
Labels: c/cpp, llui

#2479 #2403 Reset Skeleton issues
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2480 viewer#2310 Fix snapshot's size string dropping color during upload
  indra/newview/llfloatersnapshot.cpp
Labels: c/cpp

#2481 viewer#2311 Message about oversized snapshots wasn't shown in some cases
  indra/newview/llwebprofile.cpp
Labels: c/cpp

#2489 Fix visualizing luminance buffer and small cleanup
  indra/newview/pipeline.cpp
Labels: c/cpp

#2496 #2471 The Destinations ComboBox on Login Screen... (quick fix)
  indra/llui/llcombobox.cpp
Labels: c/cpp, llui

#2486 #2482 Low end NVIDIA compatibility pass
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llglsandbox.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, llrender

#2497 Added missing comma in a list. Fixed loop with too small a loop variable.
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llviewerfloaterreg.cpp
Labels: c/cpp

#2491 Fix another 1856 crash on startup case when Terrain Bake shaders are unsupported
  indra/newview/app_settings/settings.xml
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2499 Fix autobuild.xml after merge
  autobuild.xml
  indra/newview/llappviewerlinux.cpp
  indra/newview/llconversationloglist.cpp
Labels: c/cpp, team:viewer

#2502 Fix name of vsync param in LLWindowSDL
  indra/llwindow/llwindowsdl.cpp
  indra/llwindow/llwindowsdl.h
Labels: c/cpp, llwindow

#2504 cherry pick fix for #2490 into DeltaFPS
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp

#2507 Fixed md5 buffer in LLMD5::finalize not being correctly zero-initialized
  indra/llcommon/llmd5.cpp
  indra/llcommon/llmd5.h
Labels: c/cpp, llcommon

#2506 Fix some race conditions on webrtc connection shutdown.
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: bug, c/cpp, team:viewer

#2511 #2482 Fix for Quadro GPUs claiming to have infinite VRAM
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#2451 Give certain `LLInventoryListener` queries an API based on result sets.
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llinstancetracker.h
  indra/llcommon/llinttracker.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/resultset.cpp
  indra/llcommon/resultset.h
  indra/llcommon/stringize.h
  indra/llui/llfloaterreglistener.cpp
  indra/newview/llinventorylistener.cpp
  indra/newview/llinventorylistener.h
  indra/newview/scripts/lua/require/LLInventory.lua
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/require/result_view.lua
  indra/newview/scripts/lua/test_LLInventory.lua
  indra/newview/scripts/lua/test_inv_resultset.lua
  indra/newview/scripts/lua/test_result_view.lua
  indra/newview/scripts/lua/test_setdtor.lua
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, cmake, llcommon, llui

#2514 Fix race condition that was preventing "Voice Call" menu from reliably calling.
  indra/newview/llavataractions.cpp
Labels: bug, c/cpp

#2516 Follow-up fix for 238a2a64b31e6a0b431309e363067a7fe57125ae
  indra/newview/llpanelmaininventory.cpp
  indra/newview/llpanelmaininventory.h
Labels: c/cpp

#2517 Fix login progress always showing incorrect attempt number
  indra/newview/llviewerregion.cpp
Labels: c/cpp

#2518 Feature: Added toggles to avatar dropdown for hear media and sound or voice from avatar.
  indra/newview/llagent.cpp
  indra/newview/llagent.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2522 Don't enable vivox spatial when teleporting while in a webrtc conference/p2p/group call
  indra/newview/llvoiceclient.cpp
Labels: bug, c/cpp, webRTC

#2524 #2467 Fix for sim surrounds not fully loading
  indra/newview/llviewertexture.cpp
  indra/newview/llvovolume.cpp
  indra/newview/llvovolume.h
Labels: c/cpp

#2521 viewer#2411 Use font buffer for inventory
  indra/llui/llfolderviewitem.cpp
  indra/llui/llfolderviewitem.h
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/llui/lltexteditor.h
  indra/newview/llfloaterimcontainer.cpp
  indra/newview/llfloaterimcontainer.h
Labels: c/cpp, llui

#2508 #459 Filters on object inventory
  indra/llui/llfolderviewitem.cpp
  indra/llui/llfolderviewitem.h
  indra/llui/llfolderviewmodel.h
  indra/newview/llfolderviewmodelinventory.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventoryfilter.cpp
  indra/newview/llinventoryfilter.h
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/llpanelcontents.cpp
  indra/newview/llpanelcontents.h
  indra/newview/llpanelmaininventory.cpp
  indra/newview/llpanelmaininventory.h
  indra/newview/llpanelobjectinventory.cpp
  indra/newview/llpanelobjectinventory.h
  indra/newview/llsettingspicker.cpp
  indra/newview/llsidepanelinventory.cpp
  indra/newview/llviewerobjectlist.h
  indra/newview/skins/default/xui/en/floater_tools.xml
Labels: c/cpp, llui

#2525 Update calcDataSizeJ2C to stop undersized blocks
  indra/llimage/llimagej2c.cpp
Labels: c/cpp, llimage

#2520 Changes towards C++20 compatibility
  indra/llcommon/llapp.cpp
  indra/llcommon/llmainthreadtask.h
  indra/llcommon/llpointer.h
  indra/llcommon/llpredicate.h
  indra/llcorehttp/tests/test_httpoperation.hpp
  indra/llui/llviewereventrecorder.cpp
  indra/newview/lldeferredsounds.cpp
  indra/newview/lldeferredsounds.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llspatialpartition.h
  indra/newview/llviewertexteditor.cpp
  indra/newview/llvograss.cpp
  indra/newview/llvopartgroup.cpp
Labels: c/cpp, llcommon, llcorehttp, llui

#2526 Fix minor spelling error in variable name
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2527 Reduce 'World map' floater draw time
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llworldmapview.cpp
  indra/newview/llworldmapview.h
Labels: c/cpp

#2378 Modernize C++ in llapperanceutil
  indra/llappearanceutility/llappappearanceutility.cpp
  indra/llappearanceutility/llappappearanceutility.h
  indra/llappearanceutility/llbakingavatar.cpp
  indra/llappearanceutility/llbakingavatar.h
  indra/llappearanceutility/llbakingjoint.h
  indra/llappearanceutility/llbakingjointmesh.h
  indra/llappearanceutility/llbakingshadermgr.cpp
  indra/llappearanceutility/llbakingshadermgr.h
  indra/llappearanceutility/llbakingtexlayer.cpp
  indra/llappearanceutility/llbakingtexlayer.h
  indra/llappearanceutility/llbakingtexture.cpp
  indra/llappearanceutility/llbakingtexture.h
  indra/llappearanceutility/llbakingwearablesdata.cpp
  indra/llappearanceutility/llbakingwindow.cpp
  indra/llappearanceutility/llprocessparams.cpp
  indra/llappearanceutility/llprocessparams.h
  indra/llappearanceutility/llprocessskin.h
  indra/llappearanceutility/llprocesstexture.cpp
  indra/llappearanceutility/llprocesstexture.h
Labels: c/cpp

#2533 Callback button for groups was not being reenabled after hanging up on group call.
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llimview.cpp
Labels: c/cpp

#2523 Put viewer's Lua functionality behind a feature flag, default off.
  indra/llcommon/lldefs.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/tests/llcond_test.cpp
  indra/llmeshoptimizer/llmeshoptimizer.cpp
  indra/llui/llmenugl.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/lluilistener.cpp
  indra/newview/scripts/lua/auto/menus.lua
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/tests/cppfeatures_test.cpp
Labels: c/cpp, llcommon, llui, llmeshoptimizer

#2535 Voice bars of self and as seen by others do not appear the same.
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2539 Allow the in world voice indicator to be toggled in preferences
  indra/newview/app_settings/settings.xml
  indra/newview/llvoicevisualizer.cpp
  indra/newview/skins/default/xui/en/panel_preferences_sound.xml
Labels: c/cpp

#2536 Clean up llviewermenu
  indra/newview/llselectmgr.cpp
  indra/newview/lltoolselect.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermenu.h
  indra/newview/llviewermenufile.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#2541 #2434 Intel HD4000 compatibility pass
  indra/newview/llglsandbox.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llwearablelist.cpp
Labels: c/cpp

#2537 #2460 Max-Non-Impostors uses a bad shape
  indra/newview/lldrawable.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/pipeline.cpp
Labels: c/cpp

#2544 Profile guided optimizations
  indra/llcommon/llstrider.h
  indra/llrender/llimagegl.cpp
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/llface.cpp
  indra/newview/llskinningutil.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, llcommon, llrender

#2546 Fix incorrect operator warning and possible dereferencing of null pointer
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2547 Fix names in group chat sometimes showing as "Loading..." and never resolve
  indra/llui/llurlentry.cpp
  indra/llui/llurlentry.h
Labels: c/cpp, llui

#2551 Fix issue with improper reporting as to whether voice is working.
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2552 #2542 Buoyant Nametags
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2555 Don't allow LLAttachmentsMgr to iterate COF items when there is no questionable links there
  indra/newview/llattachmentsmgr.cpp
Labels: c/cpp

#2556 Fix warning spam from missing call to unmapBuffer introduced in #2544
  indra/llrender/llvertexbuffer.cpp
Labels: c/cpp, llrender

#2554 Replace glh_linear usage with GLM
  indra/cmake/CMakeLists.txt
  indra/llprimitive/CMakeLists.txt
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/llgltfloader.cpp
  indra/llprimitive/llmodelloader.cpp
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/llwindow/CMakeLists.txt
  indra/newview/gltfscenemanager.cpp
  indra/newview/llface.cpp
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/llhudrender.cpp
  indra/newview/llmaniptranslate.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llpanelprimmediacontrols.cpp
  indra/newview/llreflectionmap.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/llterrainpaintmap.cpp
  indra/newview/llviewercamera.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvotree.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, cmake, llwindow, llprimitive, llrender

#2543 mute icons were not showing during group call when user was muted
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2560 #2166 Avatar does not move its lips when the checkbox is checked
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoicevisualizer.h
Labels: c/cpp

#2557 OS X - Fix black screen and Tracy build
  indra/llcommon/llerror.cpp
  indra/llrender/llvertexbuffer.cpp
Labels: c/cpp, llcommon, llrender

#2545 viewer#2529 Optimize updateGLVariablesForSettings
  indra/llinventory/llsettingsbase.cpp
  indra/llinventory/llsettingsbase.h
  indra/llinventory/llsettingsdaycycle.cpp
  indra/llinventory/llsettingsdaycycle.h
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/llinventory/llsettingswater.cpp
  indra/llinventory/llsettingswater.h
  indra/newview/llenvironment.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/llsettingsvo.h
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llinventory

#2548 Make Develop->Render Tests->Frame Profile dump JSON to a file too (#2412)
  indra/llcommon/hexdump.h
  indra/llcommon/llinstancetracker.h
  indra/llcommon/llleaplistener.cpp
  indra/llcommon/llleaplistener.h
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/tests/llrand_test.cpp
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llui/llviewereventrecorder.cpp
  indra/newview/llappviewerlistener.cpp
  indra/newview/llfeaturemanager.cpp
  indra/newview/llglsandbox.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/llurldispatcher.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/scripts/lua/frame_profile.lua
  indra/newview/scripts/lua/frame_profile_quit.lua
  indra/newview/scripts/lua/require/LLAgent.lua
  indra/newview/scripts/lua/test_animation.lua
  indra/newview/tests/llluamanager_test.cpp
  indra/newview/viewer_manifest.py
  indra/test/namedtempfile.h
  scripts/perf/frame_profile
  scripts/perf/profile_csv.py
  scripts/perf/profile_pretty.py
Labels: c/cpp, python, llcommon, llrender, llui

#2515 Fix remaining occurrences of fake BOOL
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llfloaterluascripts.cpp
Labels: c/cpp

#2569 send AgentUpdate ASAP when control bits change
  indra/newview/llagent.cpp
  indra/newview/llagent.h
  indra/newview/llagentcamera.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llviewermessage.cpp
Labels: c/cpp

#2578 Fix for crash in LLPluginProcessParent during early shutdown.
  indra/llplugin/llpluginprocessparent.cpp
Labels: c/cpp, llplugin

#2581 Fix noise post effect due to missing uniform
  indra/newview/pipeline.cpp
Labels: c/cpp

#2580 Raise resolution of local baked texture preview from 512 to 2048
  indra/llappearance/llavatarappearancedefines.cpp
  indra/newview/character/avatar_lad.xml
  indra/newview/lldynamictexture.cpp
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llappearance

#2582 Profile guided optimization pass
  indra/llmath/llrigginginfo.h
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/llrender/llrendersphere.cpp
  indra/llrender/llrendersphere.h
  indra/llrender/llvertexbuffer.cpp
  indra/newview/llface.cpp
  indra/newview/llface.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llskinningutil.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvovolume.cpp
Labels: c/cpp, llmath, llprimitive, llrender

#2575 Fix Visual Studio complaints in LLTrans
  indra/llui/lltrans.cpp
  indra/llui/lltrans.h
  indra/newview/tests/lldateutil_test.cpp
Labels: c/cpp, llui

#2584 Suppress mapBuffer warnings.
  indra/newview/lldynamictexture.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvograss.cpp
  indra/newview/llvopartgroup.cpp
  indra/newview/llvosurfacepatch.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#2587 Mac pass
  indra/cmake/Tracy.cmake
  indra/newview/llmeshrepository.cpp
Labels: c/cpp, cmake

#2591 #2590 Fix for horrible FPS on Intel Mac
  indra/cmake/Tracy.cmake
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/llrender/llvertexbuffer.cpp
  indra/newview/featuretable_mac.txt
  indra/newview/llfeaturemanager.cpp
Labels: c/cpp, cmake, llrender

#2538 fix for alpha-gamma-bypass prototype
  indra/llprimitive/llprimitive.cpp
  indra/llprimitive/llprimitive.h
  indra/llprimitive/llprimtexturelist.cpp
  indra/llprimitive/lltextureentry.cpp
  indra/llprimitive/tests/llprimitive_test.cpp
  indra/llprimitive/tests/llprimtexturelist_stub.cpp
  indra/llprimitive/tests/lltextureentry_stub.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
  indra/newview/llviewerobject.cpp
  indra/newview/llvoavatar.cpp
Labels: c/cpp, llprimitive

#2593 Remove quads rendering mode entirely
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/llrender/llrender2dutils.cpp
  indra/llrender/llvertexbuffer.cpp
  indra/llui/llbadge.cpp
  indra/llui/llfloater.cpp
  indra/llui/llstatbar.cpp
  indra/newview/llbox.cpp
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llglsandbox.cpp
  indra/newview/llhudeffectblob.cpp
  indra/newview/llhudicon.cpp
  indra/newview/lljoystickbutton.cpp
  indra/newview/llmanipscale.cpp
  indra/newview/llmediactrl.cpp
  indra/newview/llnetmap.cpp
  indra/newview/llsnapshotlivepreview.cpp
  indra/newview/lltoolmorph.cpp
  indra/newview/llviewerjointattachment.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llworldmapview.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender, llui

#2592 #2408 The long covenant with emojis significantly slows down FPS
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/newview/llchatmsgbox.cpp
  indra/newview/llexpandabletextbox.cpp
  indra/newview/llfloaterbuyland.cpp
  indra/newview/llfloaterbuyland.h
  indra/newview/llfloaterland.cpp
  indra/newview/llfloaterland.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llpanelplaceprofile.cpp
  indra/newview/llpanelplaceprofile.h
  indra/newview/llviewermessage.cpp
  indra/newview/llviewertexteditor.cpp
Labels: c/cpp, llui

#2573 Add script to compare a Frame Profile JSON stats file vs. a baseline file.
  indra/llcommon/llsdjson.cpp
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/newview/llappviewer.cpp
  indra/newview/llviewerdisplay.cpp
  scripts/perf/logsdir.py
  scripts/perf/profile_cmp.py
  scripts/perf/profile_csv.py
  scripts/perf/profile_pretty.py
Labels: c/cpp, python, llcommon, llrender

#2598 Fix for particles not loading textures
  indra/newview/gltfscenemanager.cpp
  indra/newview/llface.cpp
Labels: c/cpp

#2600 cherry-pick viewer#1016 Incorrect behavior of Physics Shapes rendering
  .git-blame-ignore-revs
  indra/newview/llphysicsshapebuilderutil.cpp
  indra/newview/llphysicsshapebuilderutil.h
Labels: c/cpp

#2604 Fix crash in LLImProcessing when message comes in when region is still NULL
  indra/newview/llimprocessing.cpp
Labels: c/cpp

#2596 Fix copy&paste error in llfloaterimagepreview.cpp
  indra/newview/llfloaterimagepreview.cpp
Labels: c/cpp

#2597 Fix possible dereferencing of nullptr in llglsandbox.cpp
  indra/newview/llglsandbox.cpp
Labels: c/cpp

#2607 Turn off sLogInSignal to avoid crashing
  indra/llcommon/llapp.cpp
  indra/llcommon/llapp.h
Labels: c/cpp, llcommon

#2606 Avoid LL_ERRS when wgl_ARB_pixel_format is not supported
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#2602 Mute other / set volume level for other is not working.
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2595 Expose LLVector4a in LLRender
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/llrender/llrender2dutils.cpp
  indra/llui/llbadge.cpp
  indra/newview/llviewermedia.cpp
Labels: c/cpp, llrender, llui

#2605 Main (DeltaFPS) → Maint B sync
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/llwindow/llwindowwin32.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llglsandbox.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llvovolume.cpp
  indra/newview/llvovolume.h
  indra/newview/llwearablelist.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llwindow, llrender

#2609 Don't keep updating snapshot preview when the floater is closed
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llsnapshotlivepreview.cpp
Labels: c/cpp

#2611 viewer#2608 Crash at LLSnapshotLivePreview::getFormattedImage
  indra/llcommon/llmutex.h
  indra/llimage/llimage.h
  indra/newview/llsnapshotlivepreview.cpp
Labels: c/cpp, llcommon, llimage

#2610 Make Develop->Render Tests->Frame Profile dump JSON to a file too.
  indra/llcommon/CMakeLists.txt
  indra/llcommon/fsyspath.h
  indra/llcommon/hexdump.h
  indra/llcommon/llsdjson.cpp
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/newview/llappviewer.cpp
  indra/newview/llfeaturemanager.cpp
  indra/newview/llglsandbox.cpp
  indra/newview/llviewerdisplay.cpp
  scripts/perf/logsdir.py
  scripts/perf/profile_cmp.py
  scripts/perf/profile_csv.py
  scripts/perf/profile_pretty.py
Labels: c/cpp, cmake, python, llcommon, llrender

#2620 viewer#2576 Crash baning a resident
  indra/newview/llpanelgroupbulk.cpp
  indra/newview/llpanelgroupbulkban.cpp
  indra/newview/llpanelgroupbulkimpl.h
Labels: c/cpp

#2612 #1519 ObjectGrab message includes invalid SurfaceInfo data when in mouselook mode
  indra/newview/lltoolselect.cpp
  indra/newview/llviewerwindow.cpp
Labels: c/cpp

#2616 Cherry pick the combo box fix into Maint B
  indra/llui/llcombobox.cpp
Labels: c/cpp, llui

#2630 Fix sky settings with reflection probe ambiance of 0 still receiving tonemapping
  indra/newview/pipeline.cpp
Labels: c/cpp

#2622 Restore option to change location of existing pick
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llpanelprofilepicks.h
  indra/newview/skins/default/xui/en/panel_profile_pick.xml
Labels: c/cpp

#2623 secondlife/viewer#2462: Optimize unloading of prims
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llvovolume.cpp
  indra/newview/llvovolume.h
Labels: c/cpp

#2640 Improve inventory finder floater performance: Don't parse XUI tree each frame
  indra/newview/llinventoryfilter.cpp
  indra/newview/llinventoryfilter.h
  indra/newview/llpanelmaininventory.cpp
Labels: c/cpp

#2642 #2618 Roles and Members tab is a mess (show ctrl pos in debug views)
  indra/llui/llview.cpp
Labels: c/cpp, llui

#2644 #2618 Roles and Members tab is a mess
  indra/llui/llview.cpp
  indra/newview/skins/default/xui/en/panel_group_roles.xml
Labels: c/cpp, llui

#2634 #2626 fix for incoming IM calls not being rejected when DND mode is active
  indra/newview/llimview.cpp
Labels: c/cpp

#2636 Reverse the sort order for profile_cmp.py
  scripts/perf/profile_cmp.py
Labels: python

#2635 Add ability to pass command-line arguments to a Lua script.
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llleap.cpp
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/scriptcommand.cpp
  indra/llcommon/scriptcommand.h
  indra/llcommon/tests/llleap_test.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/scripts/lua/frame_profile_quit.lua
  indra/newview/scripts/lua/require/login.lua
  scripts/perf/frame_profile
Labels: c/cpp, cmake, llcommon

#2651 viewer#2627 instead of checking map for being empty got empty map
  indra/llinventory/llsettingsdaycycle.cpp
Labels: c/cpp, llinventory

#2658 Restore WebRTC shutdown fix
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2659 Cherry pick: Fix sky settings with reflection probe ambiance of 0 still receiving tonemapping
  indra/newview/pipeline.cpp
Labels: c/cpp

#2661 Performance improvements and cleanup in llviewerdisplay.cpp
  indra/llcommon/llthread.h
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llviewerdisplay.cpp
  indra/newview/llwatchdog.cpp
  indra/newview/llwatchdog.h
Labels: c/cpp, llcommon

#2662 #2559 No mouseover if a link is embedded with an emoji
  indra/llui/llstyle.cpp
  indra/llui/llstyle.h
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/newview/llexpandabletextbox.cpp
Labels: c/cpp, llui

#2665 viewer#2648 Fix issues with day offset value
  indra/newview/llenvironment.cpp
  indra/newview/llpanelenvironment.cpp
Labels: c/cpp

#2663 #2655 update alpha gamma drop down position
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/skins/default/xui/en/panel_tools_texture.xml
Labels: c/cpp

#2670 Add Lua scripts to viewer source tree
  indra/newview/CMakeLists.txt
Labels: cmake

#2671 viewer-private#291 Object floating text does not update without moving camera
  indra/newview/llhudtext.cpp
  indra/newview/llhudtext.h
Labels: c/cpp

#2675 #2674 Optimize LLWorld::renderPropertyLines() - use simplified lines
  indra/newview/llviewerparceloverlay.cpp
  indra/newview/llviewerparceloverlay.h
Labels: c/cpp

#2684 viewer#2413 Partially remove obsolete alert about expiring voice morphs
  indra/newview/app_settings/settings.xml
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicevivox.h
Labels: c/cpp

#2681 Generalize LLPointer's comparison operators to allow comparable LLPointer types.
  indra/llcommon/llpointer.h
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llcommon

#2678 More improvements and cleanup of LLViewerParcelOverlay
  indra/llinventory/llparcel.h
  indra/newview/llagentcamera.cpp
  indra/newview/llviewerparceloverlay.cpp
  indra/newview/llviewerparceloverlay.h
Labels: c/cpp, llinventory

#2679 Fix memory leak in LLImageDimensionsInfo
  indra/llimage/llimagedimensionsinfo.cpp
  indra/llimage/llimagedimensionsinfo.h
Labels: c/cpp, llimage

#2680 Restore currently entered text in chat entry textbox after going through history with Ctrl-PgUp/PgDown
  indra/llui/llchatentry.cpp
  indra/llui/llchatentry.h
Labels: c/cpp, llui

#2686 viewer#2646 Fix viewer ignoring Physics Shape Type changes
  indra/llui/llcombobox.cpp
  indra/llui/llscrolllistctrl.cpp
Labels: c/cpp, llui

#2688 Fix various issues with snapshot upload fee calculation
  indra/newview/llpanelsnapshot.cpp
  indra/newview/llpanelsnapshotinventory.cpp
  indra/newview/llpanelsnapshotlocal.cpp
  indra/newview/llpanelsnapshotoptions.cpp
  indra/newview/llpanelsnapshotpostcard.cpp
  indra/newview/llpanelsnapshotprofile.cpp
  indra/newview/skins/default/xui/de/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/de/panel_snapshot_options.xml
  indra/newview/skins/default/xui/en/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/en/panel_snapshot_options.xml
  indra/newview/skins/default/xui/es/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/es/panel_snapshot_options.xml
  indra/newview/skins/default/xui/fr/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/fr/panel_snapshot_options.xml
  indra/newview/skins/default/xui/it/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/it/panel_snapshot_options.xml
  indra/newview/skins/default/xui/ja/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/ja/panel_snapshot_options.xml
  indra/newview/skins/default/xui/pl/panel_snapshot_options.xml
  indra/newview/skins/default/xui/pt/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/pt/panel_snapshot_options.xml
  indra/newview/skins/default/xui/ru/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/ru/panel_snapshot_options.xml
  indra/newview/skins/default/xui/tr/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/tr/panel_snapshot_options.xml
  indra/newview/skins/default/xui/zh/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/zh/panel_snapshot_options.xml
Labels: c/cpp

#2701 #2411 Allow disabling and enabling LLFontVertexBuffer
  indra/llrender/llfontvertexbuffer.cpp
  indra/llrender/llfontvertexbuffer.h
  indra/newview/app_settings/settings.xml
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llrender

#2689 Honor FLAGS_SERVER_AUTOPILOT and don't locally override assigned agent rotation.
  indra/llprimitive/object_flags.h
  indra/newview/llviewerobject.cpp
Labels: c/cpp, llprimitive

#2708 #2411 Disable LLFontVertexBuffer for HUD
  indra/newview/llhudnametag.cpp
  indra/newview/llhudnametag.h
  indra/newview/llhudrender.cpp
  indra/newview/llhudrender.h
  indra/newview/llhudtext.cpp
  indra/newview/llhudtext.h
  indra/newview/llmanip.cpp
  indra/newview/llmaniprotate.cpp
  indra/newview/llmanipscale.cpp
  indra/newview/llmaniptranslate.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2710 viewer#2709 Fix loose triangle
  indra/llrender/llrender2dutils.cpp
Labels: c/cpp, llrender

#2700 Lua api for autopilot functions
  indra/llcommon/lua_function.cpp
  indra/newview/llagentlistener.cpp
  indra/newview/llagentlistener.h
  indra/newview/scripts/lua/require/LLAgent.lua
  indra/newview/scripts/lua/require/LLChat.lua
  indra/newview/scripts/lua/require/LLListener.lua
  indra/newview/scripts/lua/test_LLChatListener.lua
  indra/newview/scripts/lua/test_autopilot.lua
Labels: c/cpp, llcommon

#2712 Fix lerp issues and eliminate flerp in favor of std::lerp
  indra/llmath/llmath.h
  indra/llmath/llvolume.cpp
  indra/newview/llpanelprimmediacontrols.cpp
Labels: c/cpp, llmath

#2714 Clean up llpointer.h per previous discussions.
  .github/workflows/build.yaml
  indra/llappearance/lltexlayerparams.h
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llerror.h
  indra/llcommon/llpointer.cpp
  indra/llcommon/llpointer.h
  indra/llcommon/owning_ptr.h
  indra/llimage/llimage.h
  indra/llimagej2coj/llimagej2coj.cpp
  indra/llmath/llvolumemgr.cpp
  indra/llui/llnotifications.h
  indra/newview/llwatchdog.cpp
Labels: c/cpp, cmake, llappearance, llcommon, llimage, llimagej2coj, llmath, llui

#2706 viewer#2653 fix texture readback not being called and not setting values properly
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#2724 Remove dead LLPostProcess class and related code
  indra/llrender/CMakeLists.txt
  indra/llrender/llpostprocess.cpp
  indra/llrender/llpostprocess.h
  indra/newview/CMakeLists.txt
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterpostprocess.cpp
  indra/newview/llfloaterpostprocess.h
  indra/newview/llstartup.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerdisplay.h
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/skins/default/xui/en/floater_post_process.xml
Labels: c/cpp, cmake, llrender

#2713 Don't clear big render target if all pixels will be replaced
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/newview/app_settings/settings.xml
  indra/newview/llviewerobject.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#2729 Linux/GCC 13 build fix for template specialization of pasteTextWithLinebreaks
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
Labels: c/cpp, llui

#2725 Fix shutdown crash from OpenAL failing to release a buffer
  indra/llaudio/llaudioengine_openal.cpp
Labels: c/cpp, llaudio

#2722 Add UI callback to invoke specified script via menu
  indra/newview/llviewermenu.cpp
  indra/newview/scripts/lua/test_top_menu.lua
Labels: c/cpp

#2734 Try to eliminate the runtime cost of `ll_convert_to<T>(const T&)`.
  indra/llcommon/llstring.h
Labels: c/cpp, llcommon

#2738 Revert "viewer#2363 Region Day Offset error with Time of Day"
  indra/newview/llenvironment.cpp
  indra/newview/llpanelenvironment.cpp
Labels: c/cpp

#2723 bindDeferredShader and dead uniform cleanup
  indra/llrender/CMakeLists.txt
  indra/llrender/llatmosphere.cpp
  indra/llrender/llatmosphere.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/shaders/class1/deferred/blurLightF.glsl
  indra/newview/app_settings/shaders/class1/deferred/cofF.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiPointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/pointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/spotLightF.glsl
  indra/newview/llappviewer.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolbump.cpp
  indra/newview/lldrawpoolwlsky.cpp
  indra/newview/llenvironment.cpp
  indra/newview/llenvironment.h
  indra/newview/llpaneleditsky.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, cmake, llrender

#2740 viewer#2735 Fix day cycle not saving values
  indra/llinventory/llsettingsdaycycle.cpp
Labels: c/cpp, llinventory

#2733 SDL and Linux improvements
  indra/llrender/llgl.cpp
  indra/llwindow/llwindow.cpp
  indra/llwindow/llwindowsdl.cpp
  indra/llwindow/llwindowsdl.h
  indra/newview/featuretable_linux.txt
  indra/newview/linux_tools/wrapper.sh
Labels: c/cpp, llwindow, llrender

#2743 Linux: Remove APR from Linux-Symbolgrabber
  indra/media_plugins/base/media_plugin_base.cpp
  indra/media_plugins/base/media_plugin_base.h
Labels: c/cpp
