Repository secondlife/viewer, pull requests merged in 2024-01, with the labels that each got.

#605 SL-20759 Ctrl+O should close Avatar floater if Wearing tab is opened
  indra/newview/llpaneloutfitsinventory.h
  indra/newview/llsidepanelappearance.cpp
  indra/newview/llsidepanelappearance.h
  indra/newview/llviewermenu.cpp
Labels: c/cpp

#599 SL-18058 Post-merge functionality restore
  indra/newview/llpanelavatar.cpp
  indra/newview/llpanelavatar.h
  indra/newview/llpanelprofile.cpp
Labels: c/cpp

#607 SL-20769 Local textures shouldn't be used for Picks & Classifieds
  indra/newview/llpanelprofileclassifieds.cpp
  indra/newview/llpanelprofilepicks.cpp
Labels: c/cpp

#610 SL-20771 FIXED Classifieds Title not immediately updating button name
  indra/newview/llpanelprofileclassifieds.cpp
  indra/newview/llpanelprofileclassifieds.h
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llpanelprofilepicks.h
Labels: c/cpp

#608 SL-17896 Don't crash silently if files are missing or out of memory
  indra/llcommon/llcoros.cpp
  indra/llcommon/llerror.cpp
  indra/llcommon/llerror.h
  indra/llcommon/llexception.cpp
  indra/llcorehttp/_httpservice.cpp
  indra/llimage/llimagebmp.cpp
  indra/llimage/llimagedxt.cpp
  indra/llimage/llimagetga.cpp
  indra/llrender/llimagegl.cpp
  indra/llui/llnotifications.cpp
  indra/llui/lltexteditor.cpp
  indra/llui/lltransutil.cpp
  indra/newview/llappcorehttp.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llavatarrenderinfoaccountant.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, llcommon, llcorehttp, llimage, llrender, llui

#611 SL-20748 Fix library materials not being previewable on an object
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#614 SL-20743 Use LLMutex in LLImageBase for internal data thread-safety (update)
  indra/llcommon/llmutex.cpp
Labels: c/cpp, llcommon

#612 SL-20735 Fix blury profile pictures
  indra/newview/llfloaterprofiletexture.cpp
Labels: c/cpp

#617 Fix project structure generated by CMake
  indra/newview/CMakeLists.txt
Labels: cmake

#624 SL-19555 Fix picker failing to highlight default material in inventory
  indra/newview/llfloaterchangeitemthumbnail.cpp
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventoryfunctions.h
  indra/newview/llpanelface.cpp
  indra/newview/llpanelprofile.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
Labels: c/cpp

#623 Build fix for Visual Studio update (std::vector<PermissionBit>)
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#625 SL-20752 Mouselook no longer allows pitch upwards to full 90 degrees
  indra/newview/llagent.cpp
Labels: c/cpp

#621 SL-20770 FIXED Picks location field not updating to different parcel/region
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llpanelprofilepicks.h
Labels: c/cpp

#626 SL-20244 Maint A - On-screen animesh characters that start pelvis offset animations disappear when root goes off-screen
  indra/newview/llspatialpartition.h
  indra/newview/llvovolume.cpp
Labels: c/cpp

#627 SL-20798 FIXED Crash at LLIMMgr::addMessage
  indra/newview/llimview.cpp
Labels: c/cpp

#628 SL-20750 MacOS Crash processing attributed string
  indra/llwindow/llopenglview-objc.mm
  indra/newview/llinventorygallery.cpp
Labels: c/cpp, llwindow

#629 Rename OS X to macOS, mostly in comments
  indra/cmake/Variables.cmake
  indra/lib/python/indra/util/llmanifest.py
  indra/llcommon/llerror.cpp
  indra/llcommon/llsys.cpp
  indra/llcommon/lluuid.cpp
  indra/llfilesystem/lldir_mac.cpp
  indra/llfilesystem/lldir_mac.h
  indra/llfilesystem/lldir_utils_objc.h
  indra/llfilesystem/lldir_utils_objc.mm
  indra/llmessage/net.cpp
  indra/llrender/llfontgl.cpp
  indra/llrender/llimagegl.cpp
  indra/llwindow/llkeyboard.h
  indra/llwindow/llwindowmacosx.cpp
  indra/media_plugins/cef/mac_volume_catcher.cpp
  indra/media_plugins/cef/media_plugin_cef.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewermacosx-objc.mm
  indra/newview/llappviewermacosx.cpp
  indra/newview/llviewerjoystick.cpp
  indra/newview/llvoicevivox.cpp
Labels: c/cpp, cmake, python, llwindow, llcommon, llfilesystem, llmessage, llrender

#631 SL-20749 Scrolling up by mouse wheel is endless in LLPanelEmojiComplete
  indra/newview/llpanelemojicomplete.cpp
Labels: c/cpp

#632 SL-20756 The emoji in the profile floater is displayed schematically
  indra/llui/lltextbase.cpp
Labels: c/cpp, llui

#633 [macOS] remove obsolete check for system version
  indra/llcommon/llsys_objc.mm
Labels: llcommon

#636 SL-20799 FIXED Viewer crashes when trying to save snapshot on disc without empty space
  indra/llimage/llimage.cpp
Labels: c/cpp, llimage

#639 SL-20783 Avatar turning animation was affected by framerate
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#641 SL-20751 Information about frequently used and recently used emojis is available to all users
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#606 Fix failure to optimize away alpha channel on some GLTF upload paths
  indra/newview/lltinygltfhelper.cpp
Labels: c/cpp

#642 SL-20783 Fix excessive control messages
  indra/newview/llappviewer.cpp
Labels: c/cpp

#645 SL-20669 Material editor uses incorect blank normal map
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#644 SL-20708 don't reset "Quality & speed" slider when canceling Advanced Settings
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
Labels: c/cpp

#640 SL-20795 Part of previously typed emojis disappear in the 'Save settings as a preset...' option of the 'Preferences' floater
  indra/llcommon/llstring.cpp
  indra/llrender/llfontfreetype.cpp
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llui/llbutton.cpp
  indra/llui/llfolderviewitem.cpp
  indra/llui/lllineeditor.cpp
  indra/llui/llview.cpp
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateruipreview.cpp
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llworldmapview.cpp
  indra/newview/skins/default/xui/en/panel_preferences_graphics1.xml
Labels: c/cpp, llcommon, llrender, llui

#651 SL-20723 CLICK_ACTION_IGNORE was ignored on some attachments
  indra/newview/llvovolume.cpp
Labels: c/cpp

#652 Allow for upload of 2k textures
  indra/llimage/llimage.h
  indra/llrender/llgltexture.h
  indra/newview/llmaterialeditor.cpp
  indra/newview/llviewertexture.cpp
Labels: c/cpp, llimage, llrender

#654 XML formatting tool - add LF before EOF
  scripts/code_tools/fix_xml_indentations.py
Labels: python

#649 Put 2k textures behind a feature flag
  indra/llimage/llimage.h
  indra/llrender/llgltexture.h
  indra/newview/app_settings/settings.xml
  indra/newview/llmaterialeditor.cpp
  indra/newview/llviewertexture.cpp
Labels: c/cpp, llimage, llrender, ignore-for-release

#658 SL-20606: PBR swatches in build floater should show entire material
  indra/llmath/llcamera.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/CMakeLists.txt
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/lldrawpooltree.cpp
  indra/newview/lldynamictexture.cpp
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/llgltfmaterialpreviewmgr.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llreflectionmapmanager.h
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, cmake, llmath, llrender

#661 SL-18721 Shutdown fixes #2
  indra/llimage/llimageworker.cpp
  indra/llimage/llimageworker.h
  indra/newview/lltexturefetch.cpp
Labels: c/cpp, llimage

#663 Create test plan for optimizeAwayAlpha
  doc/testplans/optimize_away_alpha.md
Labels: ignore-for-release

#657 Merge PBR terrain and put PBR terrain behind feature flag.
  indra/llimage/llimage.cpp
  indra/llimage/llimage.h
  indra/llmath/llvolume.cpp
  indra/llmath/llvolume.h
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainUtilF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainV.glsl
  indra/newview/app_settings/shaders/class1/deferred/terrainV.glsl
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llappviewer.cpp
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/lldrawpoolterrain.h
  indra/newview/llfeaturemanager.cpp
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llsurfacepatch.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/llvosurfacepatch.cpp
  indra/newview/llvosurfacepatch.h
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/en/panel_region_terrain.xml
Labels: c/cpp, llimage, llmath, llrender, ignore-for-release

#664 SL-20416 Fix Crash Report 1409376 (update)
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
Labels: c/cpp, llui

#669 Put mirrors behind a feature flag and merge to materials_featurette
  indra/llplugin/llpluginprocessparent.cpp
  indra/llprimitive/llprimitive.cpp
  indra/llprimitive/llprimitive.h
  indra/llprimitive/lltextureentry.cpp
  indra/llprimitive/lltextureentry.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/materialV.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueF.glsl
  indra/newview/app_settings/shaders/class1/interface/radianceGenF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/llappviewer.cpp
  indra/newview/lldrawable.h
  indra/newview/lldrawpoolmaterials.cpp
  indra/newview/llface.cpp
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llpanelvolume.cpp
  indra/newview/llpanelvolume.h
  indra/newview/llreflectionmap.cpp
  indra/newview/llreflectionmap.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llreflectionmapmanager.h
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/llvovolume.cpp
  indra/newview/llvovolume.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
  indra/newview/skins/default/xui/en/floater_tools.xml
Labels: c/cpp, cmake, llprimitive, llrender, llplugin

#672 Crash in switch context
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#675 SL-20669 Fix missed uuid
  indra/newview/llpanelface.cpp
Labels: c/cpp

#674 Issue #17 Crash at autoAdjustOrigin
  indra/newview/llreflectionmap.cpp
Labels: c/cpp

#670 SL-20606 post-merge follow-up
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, ignore-for-release

#687 SL-17372 Fix viewer crashing when switching upload models
  indra/newview/llmodelpreview.cpp
  indra/newview/llmodelpreview.h
Labels: c/cpp

#688 Add a basic CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: documentation, ignore-for-release

#694 SL-18721 Shutdown fixes #3
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#701 BugSplat Crash #1409959 onTopLost
  indra/llui/llcombobox.cpp
  indra/llui/llfolderview.cpp
  indra/llui/llfolderview.h
  indra/llui/llmodaldialog.cpp
  indra/newview/llconversationview.cpp
  indra/newview/llexpandabletextbox.cpp
  indra/newview/llexpandabletextbox.h
  indra/newview/llpopupview.cpp
  indra/newview/llsplitbutton.cpp
  indra/newview/llsplitbutton.h
  indra/newview/lluploaddialog.cpp
Labels: c/cpp, llui

#699 Issue #696 RenderResolutionDivisor no longer works
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#703 Release/gltf maint2
  .github/workflows/build.yaml
  autobuild.xml
  doc/testplans/optimize_away_alpha.md
  indra/llcommon/indra_constants.cpp
  indra/llcommon/indra_constants.h
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterenvironmentadjust.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llpaneleditwater.cpp
  indra/newview/llpanelface.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, llcommon

#704 Issue #24 GLTF material disappears from object playing media
  indra/newview/llvovolume.cpp
Labels: c/cpp
