Repository secondlife/viewer, pull requests merged in 2024-12, with the labels that each got.

#3188 Cherry pick a fix for #3187 from 'develop'
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3185 #3093 #3055 World Map tiles are blurry #2
  indra/newview/lltexturefetch.cpp
  indra/newview/lltexturefetch.h
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
Labels: c/cpp

#3195 #3140 Crash trying to clone LLInlineViewSegment
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
Labels: c/cpp, llui

#3199 #3093 #3055 World Map tiles are blurry #2
  indra/newview/lltexturefetch.cpp
  indra/newview/lltexturefetch.h
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
Labels: c/cpp

#3201 #3184 Fix for crash on some GPUs when setting quality to High or higher
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llfeaturemanager.cpp
Labels: c/cpp, llrender

#3200 viewer#3169 Legacy settings should no longer be automatically converted #2
  indra/newview/app_settings/settings.xml
  indra/newview/llfloatereditextdaycycle.cpp
  indra/newview/llfloaterenvironmentadjust.cpp
  indra/newview/llfloaterfixedenvironment.cpp
  indra/newview/llpaneleditsky.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#3202 Additional tweaks to get skies closer to 6.6.17 in classic mode.
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiPointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/pointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/spotLightF.glsl
  indra/newview/pipeline.cpp
Labels: c/cpp

#3192 Rename "Vintage Mode" to "HDR and Emissive" in advanced settings.
  indra/newview/app_settings/settings.xml
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llfeaturemanager.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/panel_preferences_graphics1.xml
Labels: c/cpp

#3206 extraFPS -> develop merge
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class2/deferred/pbralphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiPointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/pointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/spotLightF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llfeaturemanager.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/panel_preferences_graphics1.xml
Labels: c/cpp, llrender

#3197 #3119 crash when lua requests debug settings value
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/newview/scripts/lua/test_debugsettings.lua
Labels: c/cpp, llcommon

#3205 #3190 Ensure materials are properly copied instead of reused.
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp

#3211 viewer#3070 Improve handling of duplciate requests
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#3212 #3210 Fix for "Texture will be downscaled" happening too often.
  indra/newview/app_settings/settings.xml
  indra/newview/lltexturefetch.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#3214 Fix for legacy skies with bright suns not matching SL6
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/newview/llsettingsvo.cpp
Labels: c/cpp, llrender

#3217 #2922 Add 'Create Landmark' to the chat context menu
  indra/llcorehttp/httpcommon.cpp
  indra/llmessage/llcorehttputil.cpp
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/llui/llurlaction.cpp
  indra/llui/llurlaction.h
  indra/llui/llurlentry.cpp
  indra/newview/llagent.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llfloatercreatelandmark.cpp
  indra/newview/llfloatercreatelandmark.h
  indra/newview/lllandmarkactions.cpp
  indra/newview/lllandmarkactions.h
  indra/newview/llslurl.cpp
  indra/newview/llviewerinventory.cpp
  indra/newview/llviewerinventory.h
  indra/newview/llviewerregion.cpp
  indra/newview/skins/default/xui/en/menu_url_slurl.xml
Labels: c/cpp, llcorehttp, llmessage, llui

#3221 #2923 Add 'Create Landmark' button to the agent profile floater
  indra/newview/lllandmarkactions.cpp
  indra/newview/lllandmarkactions.h
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llpanelprofilepicks.h
  indra/newview/skins/default/xui/en/panel_profile_pick.xml
Labels: c/cpp

#3228 #3219 Revert default exposure thresholds to DeltaFPS values
  indra/newview/app_settings/settings.xml
  indra/newview/pipeline.cpp
Labels: c/cpp

#3231 #2924 Add 'Create Landmark' to the place context menu
  indra/llcorehttp/httpcommon.cpp
  indra/newview/lllandmarkactions.cpp
  indra/newview/lllandmarkactions.h
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llpanelteleporthistory.cpp
  indra/newview/llpanelteleporthistory.h
  indra/newview/llviewerinventory.cpp
  indra/newview/skins/default/xui/en/menu_teleport_history_item.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llcorehttp

#3233 kill notification for background texture downres behavior
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#3240 #3222 Emoji tabs losing symbols
  indra/llui/lluistring.cpp
  indra/llui/lluistring.h
Labels: c/cpp, llui

#3247 #3222 Make sure variables are initialized
  indra/llui/lluistring.h
Labels: c/cpp, llui

#3250 #3248 Fix for stars not rendering when emissive enabled
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp

#3252 #3251 Remove obsolete intel driver notification
  indra/newview/llappviewer.cpp
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/pl/notifications.xml
Labels: c/cpp

#3253 Fix for assert (and potential crash) in LLAvatarPropertiesProcessor coroutine
  indra/newview/llavatarpropertiesprocessor.cpp
Labels: c/cpp

#3254 viewer#3169 Legacy settings should no longer be automatically converted
  indra/newview/app_settings/settings.xml
  indra/newview/llfloatereditextdaycycle.cpp
  indra/newview/llfloaterenvironmentadjust.cpp
  indra/newview/llfloaterfixedenvironment.cpp
  indra/newview/llpaneleditsky.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#3258 Fix a bug in leap; simplify liz-demo.lua; more utility functions.
  indra/llcommon/llcoros.cpp
  indra/llcommon/lua_function.cpp
  indra/newview/llluamanager.cpp
  indra/newview/scripts/lua/liz-demo.lua
  indra/newview/scripts/lua/require/LLListener.lua
  indra/newview/scripts/lua/require/leap.lua
  indra/newview/scripts/lua/require/util.lua
  indra/newview/scripts/lua/test_class.lua
  indra/newview/scripts/lua/test_nearby_avatars.lua
  indra/newview/scripts/lua/testmod.lua
Labels: c/cpp, llcommon

#3260 Fix crashes from shader load failures under RenderMaxOpenGLVersion 3.1/3.2/3.3
  indra/llrender/llshadermgr.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#3271 save snapshot to temp directory
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
  indra/newview/scripts/lua/luafloater_preview.xml
  indra/newview/scripts/lua/photo-demo.lua
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/test_snapshot.lua
  indra/newview/scripts/lua/test_snapshot_preview.lua
Labels: c/cpp

#3266 #3265 Crash at getAllowEnvironmentOverride
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llpanelenvironment.cpp
Labels: c/cpp

#3277 #2590 Radeon mac optimization pass
  indra/llcommon/llcommon.cpp
  indra/llcommon/llmemory.h
  indra/llrender/llimagegl.cpp
  indra/llwindow/llwindowmacosx.cpp
  indra/llwindow/llwindowmacosx.h
  indra/newview/featuretable_mac.txt
  indra/newview/llappviewer.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llwindow, llcommon, llrender

#3281 #3280 Fix crashes at gFloaterTools
  indra/newview/llagent.cpp
  indra/newview/llgiveinventory.cpp
  indra/newview/llpanelprimmediacontrols.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/lltoolbrush.cpp
  indra/newview/lltooldraganddrop.cpp
  indra/newview/lltoolplacer.cpp
  indra/newview/lltoolselectland.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#3283 #1156 Remove Linden Trees and Grass from Build floater
  indra/newview/llfloatertools.cpp
  indra/newview/llfloatertools.h
  indra/newview/lltoolplacer.cpp
  indra/newview/skins/default/textures/build/Object_Grass.png
  indra/newview/skins/default/textures/build/Object_Grass_Selected.png
  indra/newview/skins/default/textures/build/Object_Tree.png
  indra/newview/skins/default/textures/build/Object_Tree_Selected.png
  indra/newview/skins/default/textures/textures.xml
  indra/newview/skins/default/xui/da/floater_tools.xml
  indra/newview/skins/default/xui/de/floater_tools.xml
  indra/newview/skins/default/xui/en/floater_tools.xml
  indra/newview/skins/default/xui/es/floater_tools.xml
  indra/newview/skins/default/xui/fr/floater_tools.xml
  indra/newview/skins/default/xui/it/floater_tools.xml
  indra/newview/skins/default/xui/ja/floater_tools.xml
  indra/newview/skins/default/xui/pl/floater_tools.xml
  indra/newview/skins/default/xui/pt/floater_tools.xml
  indra/newview/skins/default/xui/ru/floater_tools.xml
  indra/newview/skins/default/xui/tr/floater_tools.xml
  indra/newview/skins/default/xui/zh/floater_tools.xml
Labels: c/cpp

#3286 #3285 Crash at remapIndexBuffer
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#3262 Fix mesa failing to link shaders due to missing vertex shader outputs
  indra/llrender/llshadermgr.cpp
Labels: c/cpp, llrender

#3287 Revert "#1156 Remove Linden Trees and Grass from Build floater"
  indra/newview/llfloatertools.cpp
  indra/newview/llfloatertools.h
  indra/newview/lltoolplacer.cpp
  indra/newview/skins/default/textures/build/Object_Grass.png
  indra/newview/skins/default/textures/build/Object_Grass_Selected.png
  indra/newview/skins/default/textures/build/Object_Tree.png
  indra/newview/skins/default/textures/build/Object_Tree_Selected.png
  indra/newview/skins/default/textures/textures.xml
  indra/newview/skins/default/xui/da/floater_tools.xml
  indra/newview/skins/default/xui/de/floater_tools.xml
  indra/newview/skins/default/xui/en/floater_tools.xml
  indra/newview/skins/default/xui/es/floater_tools.xml
  indra/newview/skins/default/xui/fr/floater_tools.xml
  indra/newview/skins/default/xui/it/floater_tools.xml
  indra/newview/skins/default/xui/ja/floater_tools.xml
  indra/newview/skins/default/xui/pl/floater_tools.xml
  indra/newview/skins/default/xui/pt/floater_tools.xml
  indra/newview/skins/default/xui/ru/floater_tools.xml
  indra/newview/skins/default/xui/tr/floater_tools.xml
  indra/newview/skins/default/xui/zh/floater_tools.xml
Labels: c/cpp

#3291 secondlife/viewer#3290: Fix Region/Estate floater not applying flag `RenderTerrainPBRTransformsEnabled` when opened for first time
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp

#3289 #3288 null overrides crashes
  indra/newview/llselectmgr.cpp
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp

#3296 #3295 Crash scaling texture down
  indra/llrender/llimagegl.cpp
Labels: c/cpp, llrender

#3299 #3256 force undampened movement for attached animated linkset in mous…
  indra/newview/lldrawable.cpp
Labels: c/cpp

#3303 #3301 Don't crash on invalid visual parameter update.
  indra/llappearance/llwearable.cpp
Labels: c/cpp, llappearance

#3306 #3305 Don't crash on invalid texture index in getTEWearableType
  indra/llappearance/llavatarappearancedefines.cpp
Labels: c/cpp, llappearance

#3310 #3302 fix crash on changing filter string when content is loading or there is no object selected
  indra/llui/llfolderview.h
  indra/newview/llpanelcontents.cpp
  indra/newview/llpanelcontents.h
  indra/newview/llpanelobjectinventory.h
Labels: c/cpp, llui

#3312 develop → Maint C sync
  indra/llappearance/llavatarappearancedefines.cpp
  indra/llappearance/llwearable.cpp
  indra/llcommon/llcommon.cpp
  indra/llmath/llvolume.cpp
  indra/llrender/llimagegl.cpp
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/llrender/llshadermgr.cpp
  indra/llui/lluistring.cpp
  indra/llui/lluistring.h
  indra/llwindow/llwindowmacosx.cpp
  indra/llwindow/llwindowmacosx.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llagent.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llavatarpropertiesprocessor.cpp
  indra/newview/lldrawable.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llgiveinventory.cpp
  indra/newview/llpanelenvironment.cpp
  indra/newview/llpanelprimmediacontrols.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
  indra/newview/llsettingsvo.cpp
  indra/newview/lltexturefetch.cpp
  indra/newview/lltoolbrush.cpp
  indra/newview/lltooldraganddrop.cpp
  indra/newview/lltoolplacer.cpp
  indra/newview/lltoolselectland.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/da/floater_avatar_textures.xml
  indra/newview/skins/default/xui/de/floater_avatar_textures.xml
  indra/newview/skins/default/xui/en/floater_avatar_textures.xml
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/es/floater_avatar_textures.xml
  indra/newview/skins/default/xui/fr/floater_avatar_textures.xml
  indra/newview/skins/default/xui/it/floater_avatar_textures.xml
  indra/newview/skins/default/xui/ja/floater_avatar_textures.xml
  indra/newview/skins/default/xui/pl/floater_avatar_textures.xml
  indra/newview/skins/default/xui/pl/notifications.xml
  indra/newview/skins/default/xui/pt/floater_avatar_textures.xml
  indra/newview/skins/default/xui/ru/floater_avatar_textures.xml
  indra/newview/skins/default/xui/tr/floater_avatar_textures.xml
  indra/newview/skins/default/xui/zh/floater_avatar_textures.xml
Labels: c/cpp, llwindow, llappearance, llcommon, llmath, llrender, llui
