Repository secondlife/viewer, pull requests merged in 2024-06, with the labels that each got.

#1593 viewer#1583 [Win] Viewer fails to detect more than 4Gb of video memory
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#1624 viewer#1588 Upload directly to Specified Inventory Folder
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterbvhpreview.h
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llfloaterimagepreview.h
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llfloatermodelpreview.h
  indra/newview/llfloaternamedesc.cpp
  indra/newview/llfloaternamedesc.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventoryfunctions.h
  indra/newview/llinventorygallerymenu.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llsnapshotlivepreview.cpp
  indra/newview/llviewerassetupload.cpp
  indra/newview/llviewerassetupload.h
  indra/newview/llviewermenufile.cpp
  indra/newview/llviewermenufile.h
  indra/newview/skins/default/xui/en/menu_gallery_inventory.xml
  indra/newview/skins/default/xui/en/menu_inventory.xml
Labels: c/cpp

#1622 #1567 Server-side Translation UI - display translation with icon
  indra/llrender/llfontgl.cpp
  indra/llui/lltextbase.cpp
  indra/llui/lltexteditor.cpp
  indra/newview/llchathistory.cpp
Labels: c/cpp, llrender, llui

#1631 #1628 Disable spherical mirror probes for the time being.
  indra/newview/llheroprobemanager.cpp
  indra/newview/llpanelvolume.cpp
Labels: c/cpp

#1639 Make LLLeap iterate over child stdout while read data is pending
  indra/llcommon/llleap.cpp
Labels: c/cpp, llcommon

#1635 viewer-private#244 Reconnect to voice after 'tuning'
  indra/newview/llvoicechannel.cpp
Labels: c/cpp

#1634 featurettes gltf dev merge
  autobuild.xml
  doc/contributions.txt
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/terrainV.glsl
  indra/newview/llagentbenefits.cpp
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmaterialeditor.h
  indra/newview/llpanelvolume.cpp
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp, llappearance

#1632 #1527 Improve performance on Apple silicon
  indra/llcommon/llprofiler.h
  indra/llrender/llgl.h
  indra/llrender/llrender.cpp
  indra/llrender/llvertexbuffer.cpp
  indra/newview/app_settings/shaders/class1/deferred/terrainF.glsl
  indra/newview/llface.cpp
Labels: c/cpp, llcommon, llrender

#1627 brad/sighup ignore
  indra/llcommon/llapp.cpp
Labels: c/cpp, llcommon

#1623 threadsafeschedule test timing
  indra/llcommon/tests/threadsafeschedule_test.cpp
Labels: c/cpp, llcommon

#1649 viewer#1154 Fix an extra key
  indra/newview/llviewerwindow.cpp
Labels: c/cpp

#1655 viewer#1641 Show accurate Alpha mode if asset is missing
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
Labels: c/cpp

#1656 Main -> Maint C sync
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/llcommon/llleap.cpp
Labels: c/cpp, cmake, llcommon

#1660 Merge from main into release/webrtc-voice
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/llcommon/llleap.cpp
Labels: c/cpp, cmake, llcommon

#1653 #1638 Add permissions checks to GLTF Save As and Upload buttons
  indra/llinventory/llpermissions.h
  indra/newview/gltf/asset.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llinventory

#1670 Fix issues resulting from b42f9d836b4c0f7fbd4bdae1734021e2a09fdbe8
  indra/llappearance/llpolymorph.cpp
  indra/llui/llresmgr.cpp
  indra/llui/lltextparser.cpp
  indra/newview/llappearancemgr.cpp
  indra/newview/llfriendcard.cpp
  indra/newview/llimview.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/llpanelteleporthistory.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llvograss.cpp
  indra/newview/llvopartgroup.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, llappearance, llui

#1662 1654 generate normals and tangents according to gltf specification
  indra/llmath/llvector4a.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/environment/srgbF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolsimple.cpp
  indra/newview/llglsandbox.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llvocache.cpp
Labels: c/cpp, llmath, llrender

#1674 viewer#1673 Crash calling dirtyDescendantsFilter
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#1680 Fix possible null pointer crash
  indra/newview/llface.cpp
Labels: c/cpp

#1585 Trim trailing whitespace
  .git-blame-ignore-revs
  .github/labeler.yaml
  .github/workflows/build.yaml
  .github/workflows/stale.yaml
  .pre-commit-config.yaml
  build.sh
  indra/llui/lltextvalidate.cpp
  indra/llui/lltextvalidate.h
  indra/newview/installers/darwin/apple-notarize.sh
  indra/newview/installers/darwin/fix_application_icon_position.sh
  indra/newview/linux_tools/register_secondlifeprotocol.sh
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloaterprofiletexture.h
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallerymenu.cpp
  indra/newview/llreflectionmap.cpp
  indra/newview/llsetkeybinddialog.cpp
  indra/newview/viewer_manifest.py
  scripts/code_tools/fix_xml_indentations.py
  scripts/code_tools/modified-strings.sh
  scripts/code_tools/modified_strings.py
  scripts/content_tools/anim_tool.py
  scripts/content_tools/arche_tool.py
  scripts/content_tools/dae_tool.py
  scripts/content_tools/skel_tool.py
  scripts/metrics/viewer_asset_logs.py
  scripts/metrics/viewerstats.py
  scripts/template_verifier.py
  scripts/templates/template-cpp.cpp
  scripts/templates/template-h.h
Labels: c/cpp, python, llui, ignore-for-release

#1682 Trim more trailing whitespaces to make the pre-commit check green and happy
  indra/cmake/Variables.cmake
  indra/lib/python/indra/util/llmanifest.py
  indra/llcommon/StackWalker.cpp
  indra/llcommon/is_approx_equal_fraction.h
  indra/llcommon/llmainthreadtask.h
  indra/llcommon/llsdjson.cpp
  indra/llcommon/llsdjson.h
  indra/llcommon/llsingleton.h
  indra/llcommon/llthread.h
  indra/llcommon/threadpool.cpp
  indra/llfilesystem/lldir_utils_objc.h
  indra/llmessage/llassetstorage.cpp
  indra/llmessage/llcorehttputil.cpp
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llmaterial.h
  indra/llrender/llrendertarget.cpp
  indra/llui/llviewereventrecorder.h
  indra/llui/llxyvector.cpp
  indra/newview/app_settings/shaders/class1/deferred/screenSpaceReflUtil.glsl
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfloater360capture.cpp
  indra/newview/llfloatercamerapresets.h
  indra/newview/llfloaterchangeitemthumbnail.cpp
  indra/newview/llfloatereditenvironmentbase.cpp
  indra/newview/llfloatereditenvironmentbase.h
  indra/newview/llfloaterenvironmentadjust.cpp
  indra/newview/llfloaterenvironmentadjust.h
  indra/newview/llfloaterfixedenvironment.cpp
  indra/newview/llfloaterforgetuser.cpp
  indra/newview/llfloaterforgetuser.h
  indra/newview/llfloatergridstatus.cpp
  indra/newview/llfloatergridstatus.h
  indra/newview/llfloaterhowto.h
  indra/newview/llfloatermyenvironment.cpp
  indra/newview/llfloaternewfeaturenotification.cpp
  indra/newview/llfloaterperformance.cpp
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/lllocalgltfmaterials.cpp
  indra/newview/llpaneleditsky.cpp
  indra/newview/llpaneleditwearable.cpp
  indra/newview/llpanelenvironment.h
  indra/newview/llpanelgroupcreate.cpp
  indra/newview/llpanelgroupcreate.h
  indra/newview/llpanelpulldown.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llsetkeybinddialog.h
  indra/newview/llsettingspicker.cpp
  indra/newview/lltinygltfhelper.cpp
  indra/newview/lltrackpicker.cpp
  indra/newview/lltrackpicker.h
  indra/newview/llviewercontrol.h
  indra/newview/tests/llviewercontrollistener_test.cpp
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llcommon, llfilesystem, llmessage, llprimitive, llrender, llui

#1667 secondlife/viewer#1475: Add PBR terrain repeats editing
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llpbrterrainfeatures.cpp
  indra/newview/llpbrterrainfeatures.h
  indra/newview/llviewerregion.cpp
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/skins/default/xui/en/panel_region_terrain_texture_transform.xml
  indra/newview/skins/default/xui/en/panel_settings_terrain_elevation.xml
  indra/newview/skins/default/xui/en/panel_settings_terrain_transform.xml
Labels: c/cpp, cmake, llprimitive

#1683 Fix merge error introduced in eb526fec0aadcaf30363fdfb1e253a609bf83acc
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#1688 Re-enable compiler warnings C4127, C4512 & C4706
  indra/llcommon/llfile.cpp
  indra/llcommon/llfindlocale.cpp
  indra/llcommon/llpreprocessor.h
  indra/llcorehttp/examples/http_texture_load.cpp
  indra/llwindow/lldxhardware.cpp
Labels: c/cpp, llwindow, llcommon, llcorehttp

#1691 viewer#1672 Crash at setDefaultFOV
  indra/newview/llviewercamera.cpp
  indra/newview/llviewercamera.h
Labels: c/cpp

#1685 Attempted workaround for actions/runner-images#10004 build failures.
  .github/workflows/build.yaml
  indra/cmake/00-Common.cmake
Labels: cmake

#1694 clean up LLUIListener::call
  indra/newview/lllocationinputctrl.cpp
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
  indra/newview/llviewermenu.cpp
Labels: c/cpp

#1693 viewer#1692 Crash at LLVOVolume::getReflectionProbeIsBox()
  indra/newview/llreflectionmap.cpp
  indra/newview/llviewerobject.h
  indra/newview/llvovolume.h
Labels: c/cpp

#1704 Main -> Maint C sync (GitHub build fix)
  .github/workflows/build.yaml
  indra/cmake/00-Common.cmake
Labels: cmake

#1713 Fix possible null pointer access crash
  indra/newview/llvocache.cpp
Labels: c/cpp

#1714 Fix some apparent previous merge error
  indra/newview/pipeline.cpp
Labels: c/cpp

#1717 #1687 Add support for KHR_texture_transform
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltfscenemanager.cpp
Labels: c/cpp, llrender

#1720 #1718 Add GLTF support for multiple texcoords
  indra/llrender/llglslshader.h
  indra/llrender/llrender.cpp
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp, llrender

#1724 secondlife/viewer#1475: PBR Terrain texture transform UI: Second pass
  indra/newview/skins/default/xui/en/panel_region_terrain_texture_transform.xml
  indra/newview/skins/default/xui/en/panel_settings_terrain_transform.xml
Labels: ignore-for-release

#1746 Fix a few merge issues
  indra/llrender/llglslshader.cpp
  indra/newview/llface.cpp
  indra/newview/llpanelface.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/lltinygltfhelper.cpp
Labels: c/cpp, llrender

#1665 #1651 Include translated text in chat log
  indra/newview/llfloaterimnearbychat.cpp
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/lllogchat.cpp
  indra/newview/lllogchat.h
Labels: c/cpp

#1743 secondlife/viewer#1475: Fix Terrain tab controls no longer disabled when insufficient permissions
  doc/contributions.txt
  indra/llmath/llmath.h
  indra/llui/llview.cpp
  indra/llui/llview.h
  indra/newview/app_settings/keywords_lsl_default.xml
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/textureUtilV.glsl
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
Labels: c/cpp, llmath, llui, ignore-for-release

#1764 #1611 Regression in anti-flipping mechanism for mouselook camera
  indra/llmath/llcoordframe.cpp
  indra/llmath/llquaternion.cpp
  indra/llmath/v2math.cpp
  indra/llmath/v2math.h
  indra/llmath/v3math.h
  indra/llmath/v4math.h
  indra/newview/llagent.cpp
  indra/newview/llagentcamera.cpp
  indra/newview/llagentpilot.cpp
  indra/newview/llviewercamera.cpp
Labels: c/cpp, llmath

#1768 jira-archive-internal#63268 Several objects are worn on the same part
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorybridge.h
  indra/newview/lltooldraganddrop.cpp
  indra/newview/llviewerattachmenu.cpp
  indra/newview/llviewerinventory.cpp
  indra/newview/llviewerinventory.h
Labels: c/cpp

#1762 Revert "Replace LL_X11 and LL_FLTK to LL_LINUX"
  indra/cmake/UI.cmake
  indra/llwindow/llwindowsdl.cpp
  indra/llwindow/llwindowsdl.h
  indra/newview/lldirpicker.cpp
  indra/newview/lldirpicker.h
  indra/newview/llfilepicker.cpp
  indra/newview/llfilepicker.h
Labels: c/cpp, cmake, llwindow

#1775 Fix for warnings/errors after Visual Studio update
  indra/cmake/00-Common.cmake
  indra/llcommon/llmemory.h
Labels: c/cpp, cmake, llcommon

#1747 Fix for lltracker beacon performance issue
  indra/newview/lltracker.cpp
Labels: c/cpp

#1739 1736 audit texture image unit usage on os x
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/logcontrol.xml
  indra/newview/app_settings/shaders/class1/deferred/aoUtil.glsl
  indra/newview/app_settings/shaders/class1/deferred/avatarShadowF.glsl
  indra/newview/app_settings/shaders/class1/deferred/blurLightF.glsl
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class1/deferred/shadowAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/deferred/shadowUtil.glsl
  indra/newview/app_settings/shaders/class1/interface/copyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/hazeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/multiPointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/pointLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/spotLightF.glsl
  indra/newview/app_settings/shaders/class3/deferred/waterHazeF.glsl
  indra/newview/app_settings/shaders/class3/environment/underWaterF.glsl
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp, llrender

#1783 viewer#1781 More detailed model upload errors for textures
  indra/llprimitive/llmodel.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp, llprimitive

#1782 #1080 BugSplat Crash: LLAppViewer::initStrings() - show crash reason
  indra/newview/llappviewer.cpp
Labels: c/cpp

#1785 Remove orphaned VRAM handling code
  indra/llwindow/llwindow.cpp
  indra/llwindow/llwindow.h
  indra/llwindow/llwindowheadless.h
  indra/llwindow/llwindowmacosx.cpp
  indra/llwindow/llwindowmacosx.h
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
Labels: c/cpp, llwindow

#1763 Setting up scheduled and manually dispatched releases.
  .github/workflows/build.yaml
  .github/workflows/tag-release.yaml
  indra/newview/llversioninfo.cpp
Labels: c/cpp

#1789 viewer#1772 Teleport History landing going higher and higher
  indra/newview/llteleporthistorystorage.cpp
Labels: c/cpp

#1794 #1644 On-water property lines persist at water level
  indra/newview/llviewerparceloverlay.cpp
Labels: c/cpp

#1796 jira-archive-internal#67837 Fix LLDir::getScrubbedFileName
  indra/llfilesystem/lldir.cpp
Labels: c/cpp, llfilesystem

#1795 viewer-private#242 Last used picker mode can force picker into a disabled mode
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
Labels: c/cpp

#1799 Follow-up improvements of 810219d3bf27d81751d0f41b65013ca31db34ff7
  indra/llfilesystem/lldir.cpp
  indra/llfilesystem/lldir.h
Labels: c/cpp, llfilesystem

#1797 merge release/maint-a into develop and close maint-a
  indra/llfilesystem/lldir.cpp
  indra/llfilesystem/lldir.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llrender.h
  indra/llwindow/llwindow.cpp
  indra/llwindow/llwindow.h
  indra/llwindow/llwindowheadless.h
  indra/llwindow/llwindowmacosx.cpp
  indra/llwindow/llwindowmacosx.h
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
  indra/newview/lldrawpool.cpp
  indra/newview/llreflectionmap.cpp
  indra/newview/llviewercamera.cpp
  indra/newview/llviewercamera.h
  indra/newview/llviewerobject.h
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/llvovolume.h
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
Labels: c/cpp, llwindow, llfilesystem, llrender

#1801 [WebRTC] Fix crash issue when echo cancellation is enabled/disabled.
  autobuild.xml
  indra/newview/skins/default/xui/en/panel_preferences_sound.xml
Labels: team:viewer

#1804 triage#59 Properly hide particles if 'friends only'
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#1811 Revert LLLuaFloater "idle" events in favor of Lua timers.Timer().
  indra/llui/llluafloater.cpp
  indra/llui/llluafloater.h
  indra/newview/scripts/lua/test_luafloater_speedometer.lua
Labels: c/cpp, llui

#1297 Add demo script with idle and notification interactions
  indra/newview/llvoavatar.cpp
  indra/newview/scripts/lua/LLNotification.lua
  indra/newview/scripts/lua/luafloater_speedometer.xml
  indra/newview/scripts/lua/test_luafloater_speedometer.lua
Labels: c/cpp

#1817 viewer-private#247 Retry loading missing textures for model upload
  indra/newview/llmeshrepository.h
  indra/newview/llmodelpreview.cpp
Labels: c/cpp

#1791 webrtc voice merge to develop
  .git-blame-ignore-revs
  .github/labeler.yaml
  autobuild.xml
  etc/message.xml
  indra/CMakeLists.txt
  indra/cmake/00-Common.cmake
  indra/cmake/CMakeLists.txt
  indra/cmake/WebRTC.cmake
  indra/llcommon/llprofilercategories.h
  indra/llmath/llquaternion.h
  indra/llwebrtc/CMakeLists.txt
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/llagent.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llavataractions.cpp
  indra/newview/llconversationview.cpp
  indra/newview/llfloaterimsession.cpp
  indra/newview/llfloaterimsession.h
  indra/newview/llgroupactions.cpp
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/llpanelgroup.cpp
  indra/newview/llpanelgroup.h
  indra/newview/llpanelpeople.cpp
  indra/newview/llpanelpeople.h
  indra/newview/llpanelprofile.cpp
  indra/newview/llpanelprofile.h
  indra/newview/llpanelvoicedevicesettings.cpp
  indra/newview/llspeakers.cpp
  indra/newview/llspeakers.h
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerhelp.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoicechannel.h
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicevivox.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
  indra/newview/skins/default/xui/en/floater_incoming_call.xml
  indra/newview/skins/default/xui/en/panel_preferences_sound.xml
  indra/newview/viewer_manifest.py
  scripts/messages/message_template.msg.sha1
Labels: c/cpp, cmake, python, llcommon, llmath

#1818 viewer#1808 Use bugsplat's setAttribute for app state
  autobuild.xml
  indra/llcommon/llsys.cpp
  indra/newview/llappviewerwin32.cpp
Labels: c/cpp, llcommon

#1767 Add nearby chat listener
  indra/newview/llviewermessage.cpp
  indra/newview/scripts/lua/LLChatListener.lua
  indra/newview/scripts/lua/test_LLChatListener.lua
Labels: c/cpp

#1822 viewer#1821 Crash at getSessionID()
  indra/newview/llspeakers.cpp
Labels: c/cpp

#1816 1769 gltf optimization pass
  indra/llcommon/llprofilercategories.h
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llrender.cpp
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessV.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/gltf/animation.cpp
  indra/newview/gltf/animation.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/common.h
  indra/newview/gltf/primitive.cpp
  indra/newview/gltf/primitive.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/gltfscenemanager.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolpbropaque.cpp
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llcommon, llrender

#1824 Fix texture fetch request getting canceled if request counter flips over
  indra/llimage/llimageworker.cpp
Labels: c/cpp, llimage

#1827 Fix some BOOL oversights during WebRTC merge
  indra/newview/llimview.cpp
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#1725 WIP: UI-related Lua API work
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llcallbacklist.cpp
  indra/llcommon/llcoros.cpp
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/lualistener.cpp
  indra/llcommon/lualistener.h
  indra/llcommon/tempset.h
  indra/newview/llappviewerlistener.cpp
  indra/newview/llappviewerlistener.h
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llfloaterluadebug.h
  indra/newview/llluamanager.cpp
  indra/newview/llwindowlistener.cpp
  indra/newview/scripts/lua/LLNotification.lua
  indra/newview/scripts/lua/UI.lua
  indra/newview/scripts/lua/qtest.lua
  indra/newview/scripts/lua/require/ErrorQueue.lua
  indra/newview/scripts/lua/require/Floater.lua
  indra/newview/scripts/lua/require/LLChat.lua
  indra/newview/scripts/lua/require/LLChatListener.lua
  indra/newview/scripts/lua/require/LLDebugSettings.lua
  indra/newview/scripts/lua/require/LLFloaterAbout.lua
  indra/newview/scripts/lua/require/LLGesture.lua
  indra/newview/scripts/lua/require/Queue.lua
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/require/WaitQueue.lua
  indra/newview/scripts/lua/require/coro.lua
  indra/newview/scripts/lua/require/fiber.lua
  indra/newview/scripts/lua/require/inspect.lua
  indra/newview/scripts/lua/require/leap.lua
  indra/newview/scripts/lua/require/login.lua
  indra/newview/scripts/lua/require/logout.lua
  indra/newview/scripts/lua/require/mapargs.lua
  indra/newview/scripts/lua/require/popup.lua
  indra/newview/scripts/lua/require/printf.lua
  indra/newview/scripts/lua/require/startup.lua
  indra/newview/scripts/lua/require/timers.lua
  indra/newview/scripts/lua/require/util.lua
  indra/newview/scripts/lua/test_LLChatListener.lua
  indra/newview/scripts/lua/test_atexit.lua
  indra/newview/scripts/lua/test_login.lua
  indra/newview/scripts/lua/test_logout.lua
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_demo2.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list2.lua
  indra/newview/scripts/lua/test_luafloater_speedometer.lua
  indra/newview/scripts/lua/test_mapargs.lua
  indra/newview/scripts/lua/test_popup.lua
  indra/newview/scripts/lua/test_timers.lua
  indra/newview/tests/llluamanager_test.cpp
  indra/newview/viewer_manifest.py
  scripts/packages-formatter.py
Labels: c/cpp, cmake, python, llcommon

#1832 #1831 Fix for redundantly rebuilding bounding boxes forever
  indra/newview/llviewerobject.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp

#1834 viewer#1506 The Dynamic probe checkbox wasn't working
  indra/newview/llpanelvolume.cpp
Labels: c/cpp

#1830 [WebRTC] Remove voice morphing UI
  indra/newview/app_settings/settings.xml
  indra/newview/llviewermenu.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/skins/default/xui/de/menu_viewer.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/es/menu_viewer.xml
  indra/newview/skins/default/xui/it/menu_viewer.xml
  indra/newview/skins/default/xui/ja/menu_viewer.xml
  indra/newview/skins/default/xui/pl/menu_viewer.xml
  indra/newview/skins/default/xui/pt/menu_viewer.xml
  indra/newview/skins/default/xui/ru/menu_viewer.xml
  indra/newview/skins/default/xui/tr/menu_viewer.xml
  indra/newview/skins/default/xui/zh/menu_viewer.xml
Labels: c/cpp

#1837 [WebRTC] control microphone gain via custom audio processor.
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#1842 viewer#1821 Crash at getSessionID()
  indra/newview/llspeakers.cpp
Labels: c/cpp

#1800 #1771 Fix for objects disappearing and not reappearing until LoD switch
  indra/newview/llvocache.cpp
Labels: c/cpp

#1849 Increase texture discard bias if system memory gets low
  indra/newview/app_settings/settings.xml
  indra/newview/lltextureview.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
Labels: c/cpp

#1850 [WebRC] Various crash fixes. Also fixes an issue with adhoc/group calls on vivox regions.
  indra/newview/llconversationmodel.cpp
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llimview.cpp
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#1843 1836 dont store texture in system memory unless absolutely necessary
  indra/llrender/llgltexture.cpp
  indra/llrender/llgltexture.h
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
  indra/newview/app_settings/shaders/class1/deferred/normgenF.glsl
  indra/newview/gltf/buffer_util.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/lldebugview.cpp
  indra/newview/lldrawpoolbump.cpp
  indra/newview/lldrawpoolbump.h
  indra/newview/llfloaterchangeitemthumbnail.cpp
  indra/newview/lllocalbitmaps.cpp
  indra/newview/llnetmap.cpp
  indra/newview/llsurface.cpp
  indra/newview/llsurface.h
  indra/newview/llsurfacepatch.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/llvovolume.cpp
  indra/newview/llvowater.cpp
  indra/newview/llvowater.h
  indra/newview/llworld.cpp
  indra/newview/llworldmipmap.cpp
  indra/newview/llworldmipmap.h
  scripts/messages/message_template.msg.sha1
Labels: c/cpp, llrender

#1874 realign system ram functions
  indra/llcommon/llmemory.cpp
Labels: c/cpp, llcommon
