Repository secondlife/viewer, pull requests merged in 2024-02, with the labels that each got.

#702 build.yaml: Build shared branches
  .github/workflows/build.yaml
Labels: ignore-for-release

#710 Add PBR terrain normal gen feature flag
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/interface/normaldebugF.glsl
  indra/newview/app_settings/shaders/class1/interface/normaldebugG.glsl
  indra/newview/app_settings/shaders/class1/interface/normaldebugV.glsl
  indra/newview/llspatialpartition.cpp
  indra/newview/llsurface.cpp
  indra/newview/llsurface.h
  indra/newview/llsurfacepatch.cpp
  indra/newview/llsurfacepatch.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llvosurfacepatch.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llrender, ignore-for-release

#717 #689 Fix for mirror stuttering.
  indra/newview/llappviewer.cpp
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#721 Fix for #684 - make mirrors not pixellated
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/terrainF.glsl
  indra/newview/app_settings/shaders/class1/interface/radianceGenF.glsl
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/llheroprobemanager.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#719 GH-141872 Ability to drag Favorites to the Landmarks panel
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp

#725 Issue #26 Support texture drop onto PBR materials
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llselectmgr.cpp
  indra/newview/lltooldraganddrop.cpp
  indra/newview/lltooldraganddrop.h
Labels: c/cpp

#727 #68175 PR-726 MacOS build fix
  indra/llui/lluictrl.h
Labels: c/cpp, llui

#728 SL-20669 Fix white uuid
  indra/llcommon/indra_constants.cpp
Labels: c/cpp, llcommon

#737 SL-19730 Bulk Pick Up Single Items
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermenu.h
  indra/newview/skins/default/xui/en/menu_object.xml
Labels: c/cpp

#726 #68175 [SL-17986] Ability to drag Favorites to the Overflow menu
  indra/newview/llfavoritesbar.cpp
  indra/newview/llfavoritesbar.h
Labels: c/cpp

#745 SL-19730 update menu items
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_object.xml
Labels: c/cpp

#750 secondlife/viewer#67: (debug) Add temporary setting to force-load PBR terrain
  indra/newview/app_settings/settings.xml
  indra/newview/llvlcomposition.cpp
Labels: c/cpp

#748 Add mirrors prototype UI + data model
  indra/llprimitive/llprimitive.cpp
  indra/llprimitive/llprimitive.h
  indra/newview/app_settings/settings.xml
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llpanelvolume.cpp
  indra/newview/llpanelvolume.h
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/llvovolume.cpp
  indra/newview/llvovolume.h
  indra/newview/skins/default/xui/en/floater_tools.xml
Labels: c/cpp, llprimitive

#751 #665 Make viewer respect MaxTextureResolution from SimulatorFeatures
  indra/newview/llviewerregion.cpp
Labels: c/cpp

#747 Issue #56 Redirect Help>Report Bug to Canny instead of Jira
  indra/newview/app_settings/settings.xml
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#752 Terrain graphics feature gating
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainUtilF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
Labels: c/cpp

#758 SL-18721 Shutdown fixes #4
  indra/llcommon/threadpool.h
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow, llcommon

#765 #746 Build fix for Visual Studio patch
  indra/llcommon/llbase64.cpp
  indra/llcommon/llrand.cpp
  indra/llcommon/llsd.h
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize_xml.cpp
  indra/llcommon/llsys.cpp
  indra/llcommon/lltrace.cpp
  indra/llcommon/lltraceaccumulators.cpp
  indra/llcorehttp/bufferarray.cpp
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp, llcommon, llcorehttp

#697 Fix for a potential crash in LLReflectionMapManager::registerSpatialGroup()
  indra/newview/llreflectionmapmanager.cpp
Labels: c/cpp

#766 #746 BugSplat Crash: LLAccordionCtrlTab::showAndFocusHeader(873)
  indra/newview/lloutfitgallery.cpp
Labels: c/cpp

#768 Improve PBR terrain loading robustness
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
Labels: c/cpp, ignore-for-release

#770 secondlife/viewer-issues#67: Add test plan + fix Windows build
  doc/testplans/terrain_loading.md
  indra/newview/lldrawpoolterrain.cpp
Labels: c/cpp, ignore-for-release

#769 BOOL to bool, pt. 1.1
  indra/llcommon/StackWalker.cpp
  indra/llcommon/StackWalker.h
  indra/llcommon/llapp.cpp
  indra/llcommon/llapp.h
Labels: c/cpp, llcommon

#767 SL-20363 Option 'Debug Unicode' - show unicode values
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
Labels: c/cpp, llcommon

#777 #68 The 'Recently used emoji' can not be selected by the 'Tab' key
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/skins/default/xui/en/floater_im_session.xml
Labels: c/cpp

#775 Put PBR material swatch behind feature flag
  indra/newview/app_settings/settings.xml
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/llviewerregion.cpp
Labels: c/cpp, ignore-for-release

#778 Release/gltf maint2
  indra/llcommon/indra_constants.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llselectmgr.cpp
  indra/newview/lltooldraganddrop.cpp
  indra/newview/lltooldraganddrop.h
  indra/newview/llvovolume.cpp
Labels: c/cpp, llcommon

#784 Fix RenderTerrainPBREnabled requiring restart and respect simulator feature PBRTerrainEnabled
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llvlcomposition.cpp
Labels: c/cpp, ignore-for-release

#792 Make LLFloaterLUADebug assume 'Execute' button on LUA String Enter
  indra/newview/llfloaterluadebug.cpp
Labels: c/cpp

#793 #779 Emoji picker is an unintuitive UX disaster
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
Labels: c/cpp

#788 Issue #71 Login failures cause growing black zone in the top
  indra/newview/llstartup.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
Labels: c/cpp

#801 viewer#780 Fix bulk removal of local textures
  indra/newview/lltexturectrl.cpp
Labels: c/cpp

#798 Add help() function to Lua "builtins."
  autobuild.xml
  indra/llcommon/llstring.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/stringize.h
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llluamanager.cpp
Labels: c/cpp, llcommon, llui, team:viewer

#794 Fix LUA 3p libraries pointing to publicly available URLs
  autobuild.xml
Labels: team:viewer

#814 jira-archive-internal#67837 Windows' bulk export of snapshots and textures
  indra/llcommon/threadpool.cpp
  indra/newview/lldirpicker.cpp
  indra/newview/lldirpicker.h
Labels: c/cpp, llcommon

#828 viewer#826 Follow-up buildfix: update lldatapacker
  indra/llmessage/lldatapacker.cpp
  indra/llmessage/lldatapacker.h
  indra/newview/llphysicsmotion.cpp
Labels: c/cpp, llmessage

#829 Remove obsolete Mac Rez file
  indra/newview/CMakeLists.txt
  indra/newview/macview.r
Labels: cmake

#830 viewer#826 Mac buildfix
  indra/newview/llviewerjointattachment.h
Labels: c/cpp

#832 viewer#831 Xcode buildfix
  indra/llwindow/llwindowmacosx-objc.h
  indra/newview/llviewermedia.cpp
Labels: c/cpp, llwindow

#838 viewer#836 Xcode buildfix
  indra/llwindow/llwindowmacosx-objc.h
Labels: c/cpp, llwindow

#842 viewer#840 Xcode buildfix
  indra/llrender/llfontfreetype.cpp
Labels: c/cpp, llrender

#846 Viewer#822 Sort participants by recent activity is not working
  indra/newview/llfloaterimcontainer.cpp
Labels: c/cpp

#850 viewer#848 Xcode buildfix
  indra/newview/llchicletbar.h
  indra/newview/llfloaterauction.h
  indra/newview/llfloateravatartextures.h
  indra/newview/llfloaterevent.h
  indra/newview/llfloatermediasettings.h
  indra/newview/llfloaternamedesc.h
  indra/newview/llfloaterperms.h
  indra/newview/llfloatertelehub.h
  indra/newview/llfloatertos.h
  indra/newview/llfloatertranslationsettings.h
  indra/newview/llfloatervoiceeffect.h
  indra/newview/llpanelgroupinvite.h
  indra/newview/llpanelland.h
  indra/newview/llpanelmarketplaceinbox.h
  indra/newview/llpaneltopinfobar.h
  indra/newview/llpreviewscript.h
  indra/newview/lltransientdockablefloater.h
Labels: c/cpp

#847 SL-20469 Crash at dead mRootVolp in getAttachedAvatar()
  indra/newview/llcontrolavatar.cpp
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#852 viewer#851 Xcode buildfix
  indra/llcommon/llstring.cpp
Labels: c/cpp, llcommon

#859 viewer#855 Xcode buildfix
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#858 triage#100 Fix invalid interest mode
  indra/newview/llagent.cpp
  indra/newview/llfloater360capture.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
Labels: c/cpp

#864 Viewer#863 Crash reading xml
  indra/llcommon/llsdserialize_xml.cpp
Labels: c/cpp, llcommon

#849 secondlife/viewer-issues#72: Fix material preview making things disappear. General cleanup.
  doc/testplans/material_preview.md
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/newview/app_settings/shaders/class1/deferred/exposureF.glsl
  indra/newview/lldynamictexture.cpp
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/llgltfmaterialpreviewmgr.h
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#869 secondlife/viewer-issues#72: Test plan feedback and additional improvements
  doc/testplans/material_preview.md
Labels: ignore-for-release

#878 remove another unused old macOS file
  indra/newview/CMakeLists.txt
  indra/newview/macmain.h
Labels: c/cpp, cmake

#879 Lua listen_events(), await_event() => get_event_pumps(), get_event_next().
  indra/cmake/run_build_test.py
  indra/llcommon/llevents.cpp
  indra/llcommon/llleap.cpp
  indra/llcommon/llleaplistener.cpp
  indra/llcommon/llleaplistener.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/lualistener.cpp
  indra/llcommon/lualistener.h
  indra/llcommon/tests/lleventcoro_test.cpp
  indra/newview/llluamanager.cpp
  indra/newview/tests/llluamanager_test.cpp
  indra/test/debug.h
  indra/test/lltut.h
  indra/test/print.h
Labels: c/cpp, cmake, python, llcommon

#881 Issue#880 Crash on a dead pointer in a chat session
  indra/newview/llconversationmodel.cpp
  indra/newview/llfloaterimsessiontab.cpp
Labels: c/cpp

#876 viewer#875 Crash at uri normalization
  indra/llcommon/lluriparser.cpp
  indra/llui/llurlentry.cpp
  indra/llui/llurlregistry.cpp
Labels: c/cpp, llcommon, llui

#885 Issue#884 Crash on ~LLSearchEditor
  indra/llui/llsearcheditor.cpp
  indra/llui/llsearcheditor.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llpanelgrouproles.cpp
  indra/newview/llpanelgrouproles.h
  indra/newview/llpanelpeople.cpp
  indra/newview/llpanelpeople.h
Labels: c/cpp, llui

#896 Issue#894 Crash at load3 in cacheOptimize
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#843 Initial require implementation
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llfilesystem/lldir.cpp
  indra/llfilesystem/lldir.h
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llfloaterluadebug.h
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/skins/default/xui/en/floater_lua_debug.xml
Labels: c/cpp, llcommon, llfilesystem

#891 First mirrors optimization pass
  indra/newview/app_settings/settings.xml
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerobject.h
  indra/newview/llvovolume.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#898 BUG-234595/Jira-public-Issue#11494 Mac texture loading/unloading
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp
