Repository secondlife/viewer, pull requests merged in 2024-08, with the labels that each got.

#2160 viewer#2157 Toolbar's drop position indicator does not appear
  indra/llui/lltoolbar.cpp
Labels: c/cpp, llui

#2164 viewer#2163 Crash at getReflectionProbeIsDynamic
  indra/newview/llreflectionmap.cpp
  indra/newview/llviewerobject.h
  indra/newview/llvovolume.h
Labels: c/cpp

#2077 Fix failure to join or detach threads causing rare shutdown termination
  indra/llcommon/llthread.cpp
Labels: c/cpp, llcommon

#2162 [WebRTC] Implement a Logging Sink for WebRTC
  autobuild.xml
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp, team:viewer, webRTC

#2128 Fix trying to bind to non-existent texunit sampler during water draw
  indra/newview/lldrawpoolwater.cpp
Labels: c/cpp

#2168 Emoji picker warning fixes and cleanup
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#2169 Crash at LLViewerTexture::updateClass()
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
Labels: c/cpp

#2173 Update from jpeglib to libjpeg-turbo 3.0.3
  autobuild.xml
  indra/cmake/JPEG.cmake
Labels: cmake, team:viewer

#2177 Remove unused pcre library dependency
  autobuild.xml
  indra/cmake/LLPrimitive.cmake
  indra/llprimitive/CMakeLists.txt
Labels: cmake, llprimitive, team:viewer

#2175 Update to libhunspell 1.7.2-r1
  autobuild.xml
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/Hunspell.cmake
  indra/llui/llspellcheck.cpp
  indra/newview/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llui, team:viewer

#2178 Disable EmojiHelper if Digit before Colon
  indra/llui/llemojihelper.cpp
Labels: c/cpp, llui

#2176 Update viewer-font and emojibase packages for Twemoji with Unicode 15
  autobuild.xml
Labels: team:viewer

#2179 viewer#853 Fix upload losing face data.
  indra/newview/llmeshrepository.cpp
Labels: c/cpp

#2174 Add UI.callables() and corresponding entry point.
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/test_callables.lua
Labels: c/cpp, llcommon

#2180 Add 'UI' 'getParents' op to list top-menu 'parent_menu' names.
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
Labels: c/cpp

#2047 Lua api for adding new menu items to the Top menu
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/test_callables.lua
  indra/newview/scripts/lua/test_top_menu.lua
Labels: c/cpp, llcommon

#2181 Update vlc to version 3.0.21
  autobuild.xml
Labels: team:viewer

#2131 Display parcel name when clicking on a parcel on the world map
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llfloaterworldmap.h
  indra/newview/llworldmap.h
  indra/newview/skins/default/xui/en/floater_world_map.xml
Labels: enhancement, c/cpp

#2184 Fix integer underflow causing issues with wearables
  indra/newview/llappearancemgr.cpp
Labels: c/cpp

#2188 Feature/warning cleansweep
  indra/cmake/00-Common.cmake
  indra/lib/python/indra/util/llmanifest.py
  indra/llcommon/llrand.cpp
  indra/newview/viewer_manifest.py
  scripts/packages-formatter.py
Labels: c/cpp, cmake, python, llcommon

#2187 Reduce Avatar Loading Checks
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2186 Update ogg_vorbis to 1.3.5-1.3.7
  autobuild.xml
  indra/cmake/Audio.cmake
Labels: cmake, team:viewer

#2194 [#2193] Fixed unwanted implicit cast from U32 to U16 causing possible crash
  indra/newview/llvosurfacepatch.cpp
Labels: c/cpp

#2185 Add 'LLPanelLogin' 'login', 'savedLogins' operations.
  indra/llcommon/lleventapi.cpp
  indra/llcommon/lleventapi.h
  indra/llcommon/lleventdispatcher.cpp
  indra/llcommon/lleventdispatcher.h
  indra/newview/llappviewer.cpp
  indra/newview/llpanellogin.cpp
  indra/newview/llpanellogin.h
  indra/newview/llpanelloginlistener.cpp
  indra/newview/llpanelloginlistener.h
  indra/newview/llsecapi.h
  indra/newview/scripts/lua/require/login.lua
  indra/newview/scripts/lua/test_login.lua
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp, llcommon

#2200 Ignore VmallocTotal from /proc/meminfo
  indra/cmake/Linking.cmake
  indra/llcommon/llsys.cpp
Labels: c/cpp, cmake, llcommon

#2205 viewer-private#261 (Vivox) Viewer doesn't reconnect to voice chat
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#2208 viewer#2203 Crash at breakVoiceConnectionCoro
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#2198 Lua UI visibility api
  indra/llui/llcommandmanager.cpp
  indra/llui/llcommandmanager.h
  indra/llui/llfloaterreg.cpp
  indra/llui/llfloaterreg.h
  indra/llui/llfloaterreglistener.cpp
  indra/llui/llfloaterreglistener.h
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/test_LLChatListener.lua
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
  indra/newview/scripts/lua/test_toolbars.lua
Labels: c/cpp, llui

#2215 #1922 Make PBR scale and offset crosshair work (fix callbacks in LLPanelFace)
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
Labels: c/cpp

#2216 viewer#2212 Bulk upload makes an incorrect cost estimate
  indra/newview/llviewermenufile.cpp
Labels: c/cpp

#2218 Rename 'UI' 'getParents' op to 'getTopMenus', add UI.lua function.
  indra/newview/lluilistener.cpp
  indra/newview/lluilistener.h
  indra/newview/scripts/lua/require/UI.lua
Labels: c/cpp

#2220 #1922 Make PBR scale and offset crosshair work (store control pointers in LLPanelFace)
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
Labels: c/cpp

#2224 #1922 Make PBR scale and offset crosshair work (fix PBR channels in LLPanelFace)
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
Labels: c/cpp

#2189 #1922 Make PBR scale and offset crosshair work like Texture crosshair do
  indra/llrender/llrender.h
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/llface.cpp
  indra/newview/llface.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llrender

#2214 Update libexpat to 2.6.2 and libapr to 1.7.4
  autobuild.xml
  indra/cmake/APR.cmake
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/EXPAT.cmake
  indra/llcorehttp/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: cmake, python, llcorehttp, team:viewer

#2217 Update xxhash to 0.8.2
  autobuild.xml
Labels: team:viewer

#2228 viewer#2225 Fix Joystick Floater's FPS drops
  indra/newview/llfloaterjoystick.cpp
  indra/newview/llfloaterjoystick.h
Labels: c/cpp

#2226 Auto-scaling amortisation of dynamic BB calcs
  indra/newview/app_settings/settings.xml
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerobjectlist.h
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2233 Fix copy&paste error in LLPanelFace
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
Labels: c/cpp

#2201 Upload dynamic library debug information (llwebrtc.pdb, etc.) to the crash logger in addition to the main binary.
  .github/workflows/build.yaml
  build.sh
  indra/cmake/Linking.cmake
  indra/llwebrtc/CMakeLists.txt
  indra/newview/CMakeLists.txt
Labels: cmake, team:viewer

#2235 #2229 BugSplat Crash #1502471: SecondLifeViewer!LLPolySkeletalDistortion::apply(196)
  indra/llcharacter/llcharacter.h
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp, llcharacter

#2238 #2230 BugSplat Crash #1502376: SecondLifeViewer!LLPrimitive::isAvatar(606)
  indra/newview/lldrawable.cpp
Labels: c/cpp

#2239 #2231 BugSplat Crash #1502347: SecondLifeViewer!LLViewerObject::getBoundingBoxAgent(5858)
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#2243 Update dullahan to v1.14.0-r3
  autobuild.xml
Labels: team:viewer

#2244 [WebRTC] After transition through WebRTC -> Vivox -> WebRTC regions, voice dot is on but no voice is transmitted.
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoicevivox.h
  indra/newview/llvoicewebrtc.h
Labels: bug, c/cpp, webRTC

#2246 bump sdl2 2.30.6
  autobuild.xml
Labels: team:viewer

#2247 Fix avatar lod corruption issue
  indra/newview/lldrawable.cpp
Labels: c/cpp

#2248 Use pre-installed NSIS
  .github/workflows/build.yaml
  indra/newview/installers/windows/installer_template.nsi
Labels: ignore-for-release

#2249 Fix sculpt discard level being discarded due to shadowing outer scope discard level
  indra/newview/llvovolume.cpp
Labels: c/cpp

#2250 Update various dependencies to current versions
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/cmake/CURL.cmake
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/FreeType.cmake
  indra/cmake/LLPrimitive.cmake
  indra/cmake/NGHTTP2.cmake
  indra/cmake/OpenSSL.cmake
  indra/cmake/PNG.cmake
  indra/cmake/ZLIBNG.cmake
  indra/llcorehttp/CMakeLists.txt
  indra/media_plugins/cef/CMakeLists.txt
  indra/media_plugins/example/CMakeLists.txt
  indra/media_plugins/libvlc/CMakeLists.txt
  indra/newview/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: cmake, python, llcorehttp, team:viewer

#2209 Introduce a custom coroutine/fiber scheduler to prioritize UI.
  indra/llcommon/CMakeLists.txt
  indra/llcommon/coro_scheduler.cpp
  indra/llcommon/coro_scheduler.h
  indra/llcommon/llcallbacklist.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llstartup.cpp
  indra/newview/scripts/lua/test_flycam.lua
Labels: c/cpp, cmake, llcommon

#2254 #2253 BugSplat Crash #1504389: SecondLifeViewer!LLVOAvatar::updateRiggingInfo(10561)
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2258 #2257 BugSplat Crash #1503682: SecondLifeViewer!LLFloaterIMSessionTab::enableDisableCallBtn(438)
  indra/newview/llfloaterimsessiontab.cpp
Labels: c/cpp

#2227 Interim fix for particles no longer rezzing properly after "blur fix".
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#2264 #2263 BugSplat Crash #1503400: SecondLifeViewer!LLDrawable::getFace(320)
  indra/newview/llflexibleobject.cpp
Labels: c/cpp

#2265 Add Throttle and LogThrottle classes to manage throttled APIs.
  indra/llcommon/CMakeLists.txt
  indra/llcommon/throttle.cpp
  indra/llcommon/throttle.h
  indra/newview/groupchatlistener.cpp
  indra/newview/groupchatlistener.h
Labels: c/cpp, cmake, llcommon

#2240 Lua api for sending group messages
  indra/llcommon/CMakeLists.txt
  indra/llcommon/throttle.cpp
  indra/llcommon/throttle.h
  indra/newview/groupchatlistener.cpp
  indra/newview/groupchatlistener.h
  indra/newview/llgroupactions.cpp
  indra/newview/lltoastimpanel.cpp
  indra/newview/scripts/lua/require/LLAgent.lua
  indra/newview/scripts/lua/require/LLChat.lua
  indra/newview/scripts/lua/test_group_chat.lua
Labels: c/cpp, cmake, llcommon

#2274 Update Luau to v0.638-r2 (2024-08-12 build)
  autobuild.xml
Labels: team:viewer

#2210 secondlife/viewer#1883: Local-only PBR terrain paintmap with developer tools
  doc/testplans/pbr_terrain_paintmap.md
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainUtilF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainV.glsl
  indra/newview/app_settings/shaders/class1/interface/pbrTerrainBakeF.glsl
  indra/newview/app_settings/shaders/class1/interface/pbrTerrainBakeV.glsl
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/lldrawpoolterrain.h
  indra/newview/llsurface.h
  indra/newview/llsurfacepatch.cpp
  indra/newview/llsurfacepatch.h
  indra/newview/llterrainpaintmap.cpp
  indra/newview/llterrainpaintmap.h
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llviewertexture.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/llvosurfacepatch.cpp
  indra/newview/llvosurfacepatch.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, cmake, llrender

#2276 Fix for coroutine assert rooted in coroRequestEnvironment
  indra/newview/llenvironment.cpp
Labels: c/cpp

#2273 #2271 BugSplat Crash #1504299: LLFocusableElement::~LLFocusableElement(79)
  indra/llui/llfocusmgr.cpp
Labels: c/cpp, llui

#2280 Skip windows symbol upload if there was no Release config build.
  .github/workflows/build.yaml
Labels: ignore-for-release

#2277 viewer-private#260 The 'Speak' button looks disabled during IM voice chat
  indra/newview/llimview.cpp
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoicechannel.h
Labels: c/cpp

#2282 Update tracy to 0.11 and improve developer experience
  autobuild.xml
  indra/cmake/Tracy.cmake
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llerror.cpp
  indra/llcommon/llinstancetracker.h
  indra/llcommon/llprofiler.cpp
  indra/llcommon/llprofiler.h
  indra/llcommon/llsingleton.cpp
  indra/llcommon/llsingleton.h
  indra/newview/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llcommon, team:viewer

#2251 Enable /permissive- on MSVC for better standards conformance
  indra/cmake/00-Common.cmake
  indra/llappearance/llavatarappearancedefines.cpp
  indra/llcommon/llallocator_heap_profile.cpp
  indra/llcommon/llevents.h
  indra/llcommon/llfindlocale.cpp
  indra/llcommon/llsdjson.cpp
  indra/llcommon/llstacktrace.cpp
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llcommon/lluuid.cpp
  indra/llcommon/tests/commonmisc_test.cpp
  indra/llimage/llimagejpeg.h
  indra/llinventory/llinventorytype.cpp
  indra/llmath/llsimdtypes.h
  indra/llmessage/llblowfishcipher.cpp
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/tests/llmediaentry_test.cpp
  indra/llwindow/lldxhardware.cpp
  indra/llwindow/llwindowwin32.cpp
  indra/llxml/llcontrol.h
  indra/newview/llappearancemgr.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llcommandlineparser.cpp
  indra/newview/llgroupmgr.cpp
  indra/newview/llimprocessing.cpp
  indra/newview/lllogchat.cpp
  indra/newview/llmediadataclient.cpp
  indra/newview/llsecapi.h
  indra/newview/llsechandler_basic.h
  indra/newview/llviewerjoystick.cpp
  indra/newview/llviewerjoystick.h
  indra/newview/llviewerprecompiledheaders.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llwindebug.h
  indra/test/test.cpp
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp, cmake, llwindow, llappearance, llcommon, llimage, llinventory, llmath, llmessage, llprimitive, llxml

#2294 viewer#2204 crash at connectionStateMachine
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2283 Reduce thread contention between main thread and asset fetch threads
  indra/llcorehttp/httprequest.cpp
  indra/llcorehttp/httpstats.h
  indra/llfilesystem/lldiskcache.cpp
  indra/llfilesystem/lldiskcache.h
  indra/llfilesystem/llfilesystem.cpp
  indra/llfilesystem/llfilesystem.h
  indra/llui/llspellcheck.cpp
  indra/llui/llspellcheck.h
  indra/llui/llui.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewerstatsrecorder.cpp
  indra/newview/llviewerstatsrecorder.h
Labels: c/cpp, llcorehttp, llfilesystem, llui

#2262 [WebRTC] allow quad channel microphones/inputs
  autobuild.xml
Labels: team:viewer

#2285 [WebRTC] Don't Fatal Exit on AudioDeviceStop failure (osx only)
  autobuild.xml
Labels: team:viewer

#2301 Add missing va_end
  indra/newview/pipeline.cpp
Labels: c/cpp

#2302 Update nvapi to R560
  autobuild.xml
Labels: team:viewer

#2300 [WebRTC] Voice dot not always visible after crossing region boundaries.
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#2308 #2307 BugSplat Crash #1504734: LLViewerTexture::getNumFaces()
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#2314 BugSplat Crash #1504587: std::vector::empty()
  indra/llcommon/lltracethreadrecorder.cpp
Labels: c/cpp, llcommon

#2312 viewer-private#268 When deleting worn items, move them to trash
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp

#2317 Fix loose mGalleryPanel in LLInventoryGallery
  indra/newview/llfloaterimnearbychathandler.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/lloutfitgallery.cpp
Labels: c/cpp

#2322 Remove pointless CMake status message
  indra/cmake/Copy3rdPartyLibs.cmake
Labels: cmake

#2320 viewer#2296 Don't show 'are you sure you want to leave the call' when shutting down
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
  indra/newview/llfloaterimcontainer.cpp
  indra/newview/llfloaterimcontainer.h
  indra/newview/llfloaterimsession.cpp
Labels: c/cpp, llui

#2332 Refactor LLFileSystem and fix an old issue in LLFile
  indra/llcommon/llfile.cpp
  indra/llcommon/llfile.h
  indra/llfilesystem/lldiskcache.cpp
  indra/llfilesystem/lldiskcache.h
  indra/llfilesystem/llfilesystem.cpp
  indra/llfilesystem/llfilesystem.h
  indra/newview/llmeshrepository.cpp
Labels: c/cpp, llcommon, llfilesystem

#2334 Fix various findChild calls causing frame drops and ui stutter
  indra/newview/lldebugview.cpp
  indra/newview/llfloaterimnearbychathandler.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/llfloatersettingsdebug.cpp
  indra/newview/llfloatersettingsdebug.h
  indra/newview/llfloatersidepanelcontainer.cpp
  indra/newview/llfloatersidepanelcontainer.h
  indra/newview/llfloatertools.cpp
  indra/newview/llfloatertools.h
  indra/newview/llpanelmaininventory.cpp
  indra/newview/llpanelmaininventory.h
  indra/newview/llpanelpeople.cpp
  indra/newview/llpanelpeople.h
  indra/newview/llpreviewnotecard.cpp
  indra/newview/llpreviewnotecard.h
  indra/newview/llpreviewscript.cpp
  indra/newview/llpreviewscript.h
  indra/newview/llpreviewtexture.cpp
  indra/newview/llpreviewtexture.h
  indra/newview/llscreenchannel.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/skins/default/xui/en/panel_preferences_alerts.xml
Labels: c/cpp

#2324 [WebRTC] Log WebRTC devices on webrtc initialization.
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp, webRTC

#2328 [WebRTC] Fixes to managing device start/stop playout/recording.
  autobuild.xml
  indra/llwebrtc/CMakeLists.txt
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
Labels: c/cpp, cmake, team:viewer

#2344 viewer#2342 Return AvatarBakedTextureUploadTimeout
  indra/newview/app_settings/settings.xml
  indra/newview/lltextureview.cpp
Labels: c/cpp

#2329 Various fixes to probe memory usage
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#2348 Remove orphaned LLAllocator
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llallocator.cpp
  indra/llcommon/llallocator.h
  indra/llcommon/llallocator_heap_profile.cpp
  indra/llcommon/llallocator_heap_profile.h
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llviewerprecompiledheaders.h
Labels: c/cpp, cmake, llcommon

#2347 Fix a bunch of XUI errors
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llfloatersidepanelcontainer.cpp
  indra/newview/skins/default/xui/en/floater_fast_timers.xml
  indra/newview/skins/default/xui/en/panel_login.xml
  indra/newview/skins/default/xui/en/panel_preferences_colors.xml
  indra/newview/skins/default/xui/en/widgets/slider_bar.xml
Labels: c/cpp

#2350 SL-15061 Crash at LLConversationItemSession::clearAndDeparentModels #3
  indra/newview/llfloaterimcontainer.cpp
Labels: c/cpp

#2356 Follow up for 4fa41c5c784c6e478d49c6641893e694aa7ed5c3 breaking inbox search/hiding
  indra/newview/llpanelmaininventory.cpp
  indra/newview/llpanelmaininventory.h
  indra/newview/llsidepanelinventory.cpp
Labels: c/cpp

#2357 #2354 Enable Tracy on test builds
  indra/cmake/Tracy.cmake
Labels: cmake

#2362 viewer#2338 Don't allow pasting into library from My Environments
  indra/newview/llfloatermyenvironment.cpp
Labels: c/cpp

#2361 Clean up boost includes and remove compiler warning pragma for unreachable code in PCH
  indra/llappearance/lllocaltextureobject.h
  indra/llcommon/lldoubledispatch.h
  indra/llcommon/llerrorcontrol.h
  indra/llcommon/llinitparam.h
  indra/llcommon/llprocess.h
  indra/llcommon/llrun.h
  indra/llcommon/tests/lleventcoro_test.cpp
  indra/llcommon/tests/llinstancetracker_test.cpp
  indra/llcorehttp/bufferarray.h
  indra/llcorehttp/httpcommon.h
  indra/llimage/llimagej2c.cpp
  indra/llimage/llimagej2c.h
  indra/llmessage/lliopipe.h
  indra/llmessage/llservice.h
  indra/llmessage/llstoredmessage.h
  indra/llui/llnotifications.h
  indra/newview/llagent.h
  indra/newview/llagentwearables.cpp
  indra/newview/llchannelmanager.h
  indra/newview/llfloateruipreview.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/lllogininstance.cpp
  indra/newview/lllogininstance.h
  indra/newview/llpanellogin.h
  indra/newview/llpathfindingmanager.cpp
  indra/newview/llpathfindingnavmesh.h
  indra/newview/llpathfindingnavmeshzone.cpp
  indra/newview/llpathfindingnavmeshzone.h
  indra/newview/llpathfindingobject.h
  indra/newview/llpathfindingobjectlist.h
  indra/newview/llscreenchannel.h
  indra/newview/llviewerprecompiledheaders.h
  indra/newview/llviewerwindow.h
  indra/newview/llvoiceclient.h
  indra/newview/llwindowlistener.cpp
  indra/newview/llxmlrpclistener.cpp
  indra/test/llevents_tut.cpp
  indra/test/test.cpp
Labels: c/cpp, llappearance, llcommon, llcorehttp, llimage, llmessage, llui

#2365 3p-lib updates
  autobuild.xml
Labels: team:viewer

#2371 Improve accuracy of texture memory tracking
  indra/llrender/llcubemaparray.cpp
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewertexture.cpp
Labels: c/cpp, llrender

#2373 Fix for #2237: intermittent Lua data stack overflow.
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/scope_exit.h
  indra/llcommon/tempset.h
  indra/newview/llluamanager.cpp
  indra/newview/scripts/lua/require/timers.lua
Labels: c/cpp, llcommon

#2379 Fix formatting and add some more constexpr
  indra/llinventory/llpermissionsflags.h
  indra/newview/llpanelprofile.cpp
Labels: c/cpp, llinventory

#2377 Reenable Linux build
  .github/workflows/build.yaml
  indra/llcommon/llapr.h
  indra/llwindow/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llwindow, llcommon

#2372 Fix hang when incoming p2p or group calls throw up dialog.
  indra/newview/llvoicewebrtc.cpp
Labels: bug, c/cpp, webRTC

#2382 Fix implicit conversion error in llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#2387 Fix crash on Intel GPUs (or anywhere OpenGL compatibility profile is used).
  indra/llrender/llimagegl.cpp
Labels: c/cpp, llrender

#2383 Fix local resetting of skeleton
  indra/newview/llhudeffectresetskeleton.cpp
Labels: c/cpp

#2392 Remove or suppress left over debug messages in hot paths
  indra/llcommon/llcallstack.h
  indra/llprimitive/llprimitive.cpp
  indra/newview/llface.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, llcommon, llprimitive

#2381 #2325 WebRTC: p2p voice calling option sometimes becomes disabled
  indra/newview/llfloaterimsession.cpp
  indra/newview/llfloaterimsession.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
  indra/newview/llvoicechannel.cpp
Labels: c/cpp

#2389 Do deprecated texture swizzle on GPU using GL texture swizzling functions
  indra/llrender/llfontbitmapcache.cpp
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
Labels: c/cpp, llrender

#2394 #2393 BugSplat Crash #1504586: LLRenderTarget::getTexture(483)
  indra/llrender/llrendertarget.cpp
Labels: c/cpp, llrender

#2396 secondlife/viewer#2391: Remove avatar rigging logging due to load time impact
  indra/llappearance/llpolyskeletaldistortion.cpp
  indra/llcharacter/lljoint.cpp
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llcallstack.cpp
  indra/llcommon/llcallstack.h
  indra/newview/llspatialpartition.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatarself.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, cmake, llcharacter, llappearance, llcommon

#2369 Incremented viewer version after release/2024.08-DeltaFPS branch creation
  indra/newview/VIEWER_VERSION.txt
Labels: ignore-for-release

#2364 secondlife/viewer#2349: Avatar/animesh rendering correctness pass
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolalpha.h
  indra/newview/lldrawpoolbump.cpp
  indra/newview/lldrawpoolmaterials.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#2368 viewer#2363 Region Day Offset error with Time of Day
  indra/newview/llpanelenvironment.cpp
Labels: c/cpp

#2405 Add dedicated sun probe shader and remove SSAO and shadow smoothing from probe generation passes
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
Labels: c/cpp

#2414 #2388 Texture downrezzing tune up.
  indra/newview/llface.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#2406 Update LLImageJ2C::calcDataSizeJ2C for better 2k image support
  indra/llimage/llimagej2c.cpp
Labels: c/cpp, llimage

#2400 Fix for #2385: say, shout and whisper messages from the script should be displayed consistently
  indra/newview/llviewermessage.cpp
Labels: c/cpp

#2415 Introduce Contrast Adaptive Sharpening post process effect
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llimagegl.cpp
  indra/llrender/llshadermgr.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/CASF.glsl
  indra/newview/app_settings/shaders/class1/deferred/fxaaF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
Labels: c/cpp, llrender

#2422 Fix start location dropping coordinates on login
  indra/newview/lllogininstance.cpp
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp

#2424 Fast track some changes removing unneeded logging code into DeltaFPS
  indra/llappearance/llpolyskeletaldistortion.cpp
  indra/llcharacter/lljoint.cpp
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llcallstack.cpp
  indra/llcommon/llcallstack.h
  indra/llprimitive/llprimitive.cpp
  indra/newview/llface.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatarself.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, cmake, llcharacter, llappearance, llcommon, llprimitive

#2423 Improve safety of macOS available RAM calcuations at suggestion of Ansariel and Beq
  indra/llcommon/llmemory.cpp
Labels: c/cpp, llcommon

#2384 Lua inventory api
  indra/llcommon/llassettype.cpp
  indra/llcommon/llassettype.h
  indra/llcommon/lua_function.cpp
  indra/llinventory/llfoldertype.cpp
  indra/llinventory/llfoldertype.h
  indra/newview/CMakeLists.txt
  indra/newview/llinventoryfunctions.h
  indra/newview/llinventorylistener.cpp
  indra/newview/llinventorylistener.h
  indra/newview/llinventorymodel.cpp
  indra/newview/llviewerinventory.cpp
  indra/newview/scripts/lua/require/LLInventory.lua
  indra/newview/scripts/lua/test_LLInventory.lua
Labels: c/cpp, cmake, llcommon, llinventory

#2426 viewer#2413 Remove obsolete alert about expiring voice morphs
  indra/newview/app_settings/settings.xml
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicevivox.h
  indra/newview/skins/default/xui/da/notifications.xml
  indra/newview/skins/default/xui/de/notifications.xml
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/es/notifications.xml
  indra/newview/skins/default/xui/fr/notifications.xml
  indra/newview/skins/default/xui/it/notifications.xml
  indra/newview/skins/default/xui/ja/notifications.xml
  indra/newview/skins/default/xui/pl/notifications.xml
  indra/newview/skins/default/xui/pt/notifications.xml
  indra/newview/skins/default/xui/ru/notifications.xml
  indra/newview/skins/default/xui/tr/notifications.xml
  indra/newview/skins/default/xui/zh/notifications.xml
Labels: c/cpp

#2430 #2428 Fix for crash when applying PBR material
  indra/llrender/llimagegl.cpp
  indra/newview/llface.cpp
Labels: c/cpp, llrender

#2435 #2432 default nametags to only show briefly and #2431 fix redundant search for pixiesmall.j2c
  indra/llfilesystem/lldir.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerpartsource.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, llfilesystem

#2441 #2438 Address frame stalls in updateImageDecodePriority
  indra/newview/llface.cpp
  indra/newview/llface.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp

#2444 #2432 Restore default nametag behavior.
  indra/llrender/llgl.cpp
  indra/llui/llfloater.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/llhudnametag.cpp
  indra/newview/llhudnametag.h
  indra/newview/llviewerdisplay.cpp
  indra/newview/llvoicevisualizer.cpp
Labels: c/cpp, llrender, llui

#2440 Clear unused metrics
  indra/newview/llviewerstats.cpp
  indra/newview/llviewerstats.h
Labels: c/cpp

#2447 #2445 revive old LLERROR_CRASH implementation
  indra/llcommon/llerror.cpp
  indra/llcommon/llerror.h
Labels: c/cpp, llcommon

#2446 #2360 Incorrect Day Cycle name in Edit Day Cycle floater
  indra/newview/llfloatereditextdaycycle.cpp
  indra/newview/llfloatereditextdaycycle.h
  indra/newview/llpanelenvironment.cpp
  indra/newview/skins/default/xui/en/floater_edit_ext_day_cycle.xml
Labels: c/cpp

#2449 secondlife/viewer#2421: Do not calculate and store silhouette edges for nearly every geometric prim with a corner
  indra/llmath/llvolume.cpp
  indra/llmath/llvolume.h
Labels: c/cpp, llmath

#2439 Add simple metrics of Lua usage
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/llviewerstats.cpp
Labels: c/cpp

#2433 Make LLPipeline::renderDebug() a bit cheaper
  indra/newview/llvoavatarself.cpp
  indra/newview/llworld.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#2456 error handling for intel crashes from GLTF Scene shader
  indra/newview/app_settings/settings.xml
  indra/newview/gltfscenemanager.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#2463 #2428 Fix for crash when applying PBR material to a single face (take 2)
  indra/newview/llface.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp

#2455 #2360 Incorrect Day Cycle name (remove unused key CANMOD)
  indra/llinventory/llsettingsbase.cpp
  indra/newview/llenvironment.cpp
  indra/newview/llfloatereditextdaycycle.cpp
  indra/newview/llfloatereditextdaycycle.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llpanelenvironment.cpp
  indra/newview/llpanelenvironment.h
  indra/newview/llsettingspicker.cpp
  indra/newview/llsettingspicker.h
  indra/newview/llsettingsvo.cpp
Labels: c/cpp, llinventory

#2469 #2454 Scrolling by the mouse wheel does not scroll up on the unopened Destination field
  indra/llui/llcombobox.cpp
  indra/llui/llcombobox.h
  indra/llui/llscrolllistctrl.cpp
Labels: c/cpp, llui

#2452 update OpenJPEG 2.5.2
  autobuild.xml
Labels: team:viewer

#2436 Fix background folder fetch pushing requests to wrong queue
  indra/newview/llinventorymodelbackgroundfetch.cpp
Labels: c/cpp

#2472 secondlife/viewer#2448: Fix crash rendering rigged PBR prims
  indra/newview/lldrawpoolpbropaque.cpp
Labels: c/cpp

#2470 Add Lua api to start/stop playing animation
  indra/newview/llagentlistener.cpp
  indra/newview/llagentlistener.h
  indra/newview/scripts/lua/require/LLAgent.lua
  indra/newview/scripts/lua/test_animation.lua
Labels: c/cpp

#2468 Introduce Khronos Neutral tonemapper as new default tonemapper
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/postDeferredGammaCorrect.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredTonemap.glsl
  indra/newview/pipeline.cpp
Labels: c/cpp
