Repository secondlife/viewer, pull requests merged in 2024-03, with the labels that each got.

#915 Convert remaining TRUE/FALSE to true/false
  indra/llcorehttp/_httpservice.cpp
  indra/llimage/tests/llimageworker_test.cpp
  indra/llinventory/tests/inventorymisc_test.cpp
  indra/llmessage/tests/lltemplatemessagedispatcher_test.cpp
  indra/llmessage/tests/llxfer_file_test.cpp
  indra/llprimitive/tests/llprimitive_test.cpp
  indra/llxml/llcontrol.cpp
  indra/llxml/tests/llcontrol_test.cpp
  indra/newview/tests/lllogininstance_test.cpp
  indra/newview/tests/llsechandler_basic_test.cpp
  indra/newview/tests/llviewerhelputil_test.cpp
  indra/test/llsaleinfo_tut.cpp
  indra/test/lltemplatemessagebuilder_tut.cpp
  indra/test/message_tut.cpp
Labels: c/cpp, llcorehttp, llimage, llinventory, llmessage, llprimitive, llxml

#905 Refactor `require()` to make it easier to reason about Lua stack usage.
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/tests/lleventcoro_test.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/scripts/lua/Queue.lua
  indra/newview/scripts/lua/testmod.lua
  indra/newview/viewer_manifest.py
  indra/test/debug.h
Labels: c/cpp, python, llcommon

#911 triage#105 clearPopups() crash
  indra/newview/llpopupview.cpp
Labels: c/cpp

#928 Issue #54 LLRender::init crash
  indra/llcommon/llcoros.cpp
  indra/llcommon/llerror.cpp
  indra/llcommon/llerror.h
  indra/llcommon/llexception.cpp
  indra/llcorehttp/_httpservice.cpp
  indra/llimage/llimagebmp.cpp
  indra/llimage/llimagedxt.cpp
  indra/llimage/llimagetga.cpp
  indra/llrender/llimagegl.cpp
  indra/llrender/llrender.cpp
  indra/llrender/llrender.h
  indra/llui/llnotifications.cpp
  indra/llui/lltexteditor.cpp
  indra/llui/lltransutil.cpp
  indra/newview/llappcorehttp.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llavatarrenderinfoaccountant.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, llcommon, llcorehttp, llimage, llrender, llui

#930 deleted unused code
  indra/newview/llbreastmotion.cpp
  indra/newview/llbreastmotion.h
  indra/newview/lldensityctrl.cpp
  indra/newview/lldensityctrl.h
  indra/newview/llface.inl
  indra/newview/llfloatereditsky.cpp
  indra/newview/llfloatereditwater.cpp
  indra/newview/llimpanel.cpp
  indra/newview/llimpanel.h
  indra/newview/llinventoryclipboard.cpp
  indra/newview/llinventoryclipboard.h
Labels: c/cpp

#931 triage#86 Use Emoji font in LineEditor by default
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llui/lllineeditor.cpp
  indra/llui/lltextbase.cpp
  indra/llui/lltexteditor.cpp
  indra/llui/lluictrl.cpp
  indra/newview/llfloateremojipicker.cpp
  indra/newview/skins/default/xui/en/widgets/line_editor.xml
Labels: c/cpp, llrender, llui

#934 Remove more orphaned files
  indra/newview/CMakeLists.txt
  indra/newview/llappviewer.cpp
  indra/newview/llbreadcrumbview.cpp
  indra/newview/llbreadcrumbview.h
  indra/newview/llfloaterauction.cpp
  indra/newview/lllistbrowser.cpp
  indra/newview/lllistbrowser.h
  indra/newview/llsavedsettingsglue.cpp
  indra/newview/llsavedsettingsglue.h
  indra/newview/llvectorperfoptions.cpp
  indra/newview/llvectorperfoptions.h
Labels: c/cpp, cmake

#844 viewer#819 Avoid reading the same XML file multiple times
  indra/llfilesystem/lldir.cpp
  indra/llfilesystem/lldir.h
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
  indra/llui/llmenubutton.cpp
  indra/llui/llpanel.cpp
  indra/llui/llpanel.h
  indra/llui/lluictrlfactory.cpp
  indra/llui/lluictrlfactory.h
  indra/llui/llxuiparser.cpp
  indra/llxml/llcontrol.cpp
  indra/llxml/llcontrol.h
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
  indra/llxml/llxmltree.cpp
  indra/llxml/llxmltree.h
  indra/newview/llappviewer.cpp
  indra/newview/llblocklist.cpp
  indra/newview/llchathistory.cpp
  indra/newview/llcommandlineparser.cpp
  indra/newview/llfavoritesbar.cpp
  indra/newview/llmediactrl.cpp
  indra/newview/llnotificationlistitem.cpp
  indra/newview/lltoast.cpp
  indra/newview/lltoastnotifypanel.cpp
  indra/newview/lltoastscriptquestion.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, cmake, llfilesystem, llui, llxml

#937 SL-20429 Fix emoji categories having mixed translations
  autobuild.xml
  indra/newview/CMakeLists.txt
  indra/newview/skins/default/xui/da/emoji_categories.xml
  indra/newview/skins/default/xui/de/emoji_categories.xml
  indra/newview/skins/default/xui/en/emoji_categories.xml
  indra/newview/skins/default/xui/it/emoji_categories.xml
  indra/newview/skins/default/xui/pl/emoji_categories.xml
Labels: cmake

#927 PBR Terrain UI second pass
  doc/testplans/pbr_terrain_composition.md
  doc/testplans/pbr_terrain_feature_gating.md
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/skins/default/xui/en/panel_region_terrain.xml
Labels: c/cpp

#938 triage#103 The focused state of the 'Recently used emojis' is not visible
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
  indra/newview/skins/default/xui/en/floater_im_session.xml
Labels: c/cpp

#941 viewer-private#41 Texture fail to apply to materials in some cases
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp

#948 viewer#730 Zoom slider not working in some cases.
  indra/newview/llagentcamera.cpp
Labels: c/cpp

#942 Mirrors quality pass 1
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainV.glsl
  indra/newview/app_settings/shaders/class3/deferred/reflectionProbeF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llreflectionmap.cpp
  indra/newview/llreflectionmapmanager.cpp
Labels: c/cpp

#953 HDRI Local Preview
  autobuild.xml
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/OpenEXR.cmake
  indra/llrender/llshadermgr.cpp
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/postDeferredGammaCorrect.glsl
  indra/newview/app_settings/shaders/class1/deferred/skyF.glsl
  indra/newview/app_settings/shaders/class1/deferred/skyV.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/lldrawpoolwlsky.cpp
  indra/newview/llenvironment.cpp
  indra/newview/llfilepicker.cpp
  indra/newview/llfilepicker.h
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llreflectionmapmanager.h
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llvoavatar.cpp
  indra/newview/pipeline.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llrender

#954 PBR Terrain UI second pass: review follow-up
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
Labels: c/cpp, ignore-for-release

#962 Game controller logging tweaks
  indra/llwindow/llgamecontrol.cpp
Labels: c/cpp, llwindow

#974 965 eep skies too bright after hdri local preview merge
  .github/workflows/build.yaml
  .github/workflows/stale.yaml
  build.sh
  indra/newview/app_settings/shaders/class1/deferred/skyF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/lldrawpoolwlsky.cpp
Labels: c/cpp

#981 Remove obsolete LLSINGLETON_C11 and LLSINGLETON_EMPTY_CTOR_C11 macros
  indra/llcommon/llsingleton.h
  indra/newview/llchicletbar.h
  indra/newview/llpaneltopinfobar.h
  indra/newview/llvoiceclient.h
Labels: c/cpp, llcommon

#986 983 add debug setting to control the maximum download resolution
  doc/testplans/RenderMaxTextureResolution.md
  indra/newview/app_settings/settings.xml
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#990 viewer#945 Some worn items are missing from Avatar floater's Outfits tab
  indra/newview/llaisapi.cpp
  indra/newview/llinventorymodelbackgroundfetch.cpp
  indra/newview/lloutfitslist.cpp
Labels: c/cpp

#982 Proposal # 2 to restore how UI/dialogs used to render by prioritizing fallback fonts.
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/ICU4C.cmake
  indra/llcommon/CMakeLists.txt
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llrender/llfontfreetype.cpp
  indra/newview/CMakeLists.txt
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llcommon, llrender

#992 secondlife/viewer#76: Change wording of terrain blending documentation when using materials
  doc/testplans/pbr_terrain_composition.md
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/skins/default/xui/en/panel_region_terrain.xml
Labels: c/cpp

#1002 viewer#970 Fixed param validation warnings
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/skins/default/xui/en/floater_fast_timers.xml
  indra/newview/skins/default/xui/en/floater_world_map.xml
Labels: c/cpp

#1003 SL-18721 Restore release behavior
  indra/llcommon/threadpool.h
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow, llcommon

#995 Revert 326055ba82c22fedde186c6a56bafd4fe87e613a after 2f452d06e6964b0edf26b0b3f6eaa156e3fa2d48
  indra/newview/lltoastnotifypanel.cpp
  indra/newview/skins/default/xui/en/panel_notification.xml
Labels: c/cpp

#1004 Add leap.lua module to mediate LEAP request/response viewer interactions.
  indra/cmake/Prebuilt.cmake
  indra/llcommon/lua_function.cpp
  indra/newview/llluamanager.cpp
  indra/newview/scripts/lua/ErrorQueue.lua
  indra/newview/scripts/lua/LLFloaterAbout.lua
  indra/newview/scripts/lua/LLGesture.lua
  indra/newview/scripts/lua/Queue.lua
  indra/newview/scripts/lua/UI.lua
  indra/newview/scripts/lua/WaitQueue.lua
  indra/newview/scripts/lua/coro.lua
  indra/newview/scripts/lua/inspect.lua
  indra/newview/scripts/lua/leap.lua
  indra/newview/scripts/lua/qtest.lua
  indra/newview/scripts/lua/test_LLFloaterAbout.lua
  indra/newview/scripts/lua/test_LLGesture.lua
  indra/newview/scripts/lua/util.lua
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, cmake, llcommon

#1007 secondlife/viewer#760: Fix terrain texture validator not respecting 2k texture feature flag
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp

#956 Allow fading emojis characters in fading text.
  indra/llrender/llfontgl.cpp
Labels: c/cpp, llrender

#968 viewer#961 Add a notification appearing when user tries to insert a disallowed character
  indra/llui/llfolderview.cpp
  indra/llui/lllineeditor.cpp
  indra/llui/lllineeditor.h
  indra/llui/llmultisliderctrl.cpp
  indra/llui/llresmgr.cpp
  indra/llui/llsliderctrl.cpp
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
  indra/llui/lltextvalidate.cpp
  indra/llui/lltextvalidate.h
  indra/llui/lltimectrl.cpp
  indra/llui/lltimectrl.h
  indra/newview/llfloatersellland.cpp
  indra/newview/llurllineeditorctrl.cpp
  indra/newview/skins/default/xui/en/floater_create_landmark.xml
  indra/newview/skins/default/xui/en/floater_edit_ext_day_cycle.xml
  indra/newview/skins/default/xui/en/floater_fixedenvironment.xml
  indra/newview/skins/default/xui/en/floater_model_preview.xml
  indra/newview/skins/default/xui/en/floater_test_line_editor.xml
  indra/newview/skins/default/xui/en/floater_test_text_editor.xml
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/en/panel_edit_wearable.xml
  indra/newview/skins/default/xui/en/panel_group_notices.xml
  indra/newview/skins/default/xui/en/panel_landmark_info.xml
  indra/newview/skins/default/xui/en/panel_login.xml
  indra/newview/skins/default/xui/en/panel_login_first.xml
  indra/newview/skins/default/xui/en/panel_profile_classified.xml
  indra/newview/skins/default/xui/en/sidepanel_item_info.xml
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, llui

#1013 secondlife/viewer#1006: Prevent setting PBR terrain material swatches to null
  doc/testplans/pbr_terrain_composition.md
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/skins/default/xui/en/panel_region_terrain.xml
Labels: c/cpp

#1014 secondlife/viewer#1006: Review feedback: Move blank material constant to indra_constants.h
  indra/llcommon/indra_constants.cpp
  indra/llcommon/indra_constants.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
  indra/newview/llmaterialeditor.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/lltexturectrl.cpp
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp, llcommon, ignore-for-release

#1017 viewer#1000 Textures on large prims lose resolution
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#1021 WebRTC: Make callbacks from webrtc-proper launch workqueue jobs to run code on the main thread, instead of relying on mutexes and such.
  autobuild.xml
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp, team:viewer

#1024 secondlife/viewer-issues#83: Disallow alpha blend/double sided from PBR terrain
  indra/llprimitive/llgltfmaterial.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llprimitive

#1025 viewer#1018 Crash at insertStringNoUndo
  indra/llui/lltextbase.cpp
Labels: c/cpp, llui

#1028 secondlife/viewer#1027: Fix noise on transparent PBR materials on minimap
  doc/testplans/pbr_terrain_composition.md
  indra/newview/llvlcomposition.cpp
Labels: c/cpp

#967 Initial implementation of LLLuaFloater
  indra/llui/CMakeLists.txt
  indra/llui/llfloaterreglistener.cpp
  indra/llui/llfloaterreglistener.h
  indra/llui/llluafloater.cpp
  indra/llui/llluafloater.h
  indra/newview/scripts/lua/luafloater_demo.xml
  indra/newview/scripts/lua/luafloater_gesture_list.xml
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
  indra/newview/scripts/lua/util.lua
Labels: c/cpp, cmake, llui

#1030 viewer#888 Washed out letters in a running string
  indra/newview/app_settings/settings.xml
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#1029 Add Develop menu option 'Debug Camera Controls'
  indra/llui/llview.cpp
  indra/llui/llview.h
  indra/newview/llfloatercamera.cpp
  indra/newview/llfloatercamera.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/floater_camera.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llui

#1036 WebRTC: Move processIceUpdates into a coroutine
  indra/llcommon/llprofilercategories.h
  indra/llwebrtc/llwebrtc.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp, llcommon

#1035 Andreyk/viewer 951
  indra/newview/llscrollingpanelparam.cpp
  indra/newview/llscrollingpanelparam.h
Labels: c/cpp

#1034 viewer#1033 Crash at syncFloaterTabOrder
  indra/llui/llfloater.cpp
  indra/llui/llfloater.h
Labels: c/cpp, llui

#1039 WebRTC: Throw 'area full' message when voice server indicates the channel is at capacity.
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#1032 triage#112 'No emoji found for' text is not translated to other languages in the 'Choose Emoji' floater
  indra/newview/llfloateremojipicker.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
Labels: c/cpp

#1038 Add fiber.lua, which permits calling leap.request() even from Lua's main thread.
  indra/llcommon/llevents.cpp
  indra/llcommon/llevents.h
  indra/llcommon/lua_function.cpp
  indra/newview/scripts/lua/ErrorQueue.lua
  indra/newview/scripts/lua/WaitQueue.lua
  indra/newview/scripts/lua/fiber.lua
  indra/newview/scripts/lua/leap.lua
  indra/newview/scripts/lua/printf.lua
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, llcommon

#1044 71091 sl 20703 pbr masked alpha gradient textures change with viewing angle
  indra/newview/llfetchedgltfmaterial.cpp
Labels: c/cpp

#1047 viewer-private#216 Viewer fails to rename vivox logs
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#1049 viewer-private#217 Rotate cef log file
  indra/newview/llviewermedia.cpp
Labels: c/cpp

#1045 Add LL. prefix to viewer entry points, fix existing references.
  indra/llcommon/lua_function.cpp
  indra/newview/scripts/lua/WaitQueue.lua
  indra/newview/scripts/lua/leap.lua
  indra/newview/scripts/lua/test_LLGesture.lua
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, llcommon

#1048 Add LL.check_stop() entry point and call it in fiber scheduler().
  indra/llcommon/lua_function.cpp
  indra/newview/scripts/lua/fiber.lua
Labels: c/cpp, llcommon

#1055 Guru/jira 69593 avatar is upside down
  indra/newview/llagent.cpp
  indra/newview/llfloatercamera.cpp
  indra/newview/skins/default/xui/en/floater_camera.xml
Labels: c/cpp

#1040 Add keystroke event support and allow adding text lines to the line editor
  indra/llui/llluafloater.cpp
  indra/newview/scripts/lua/luafloater_demo.xml
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_luafloater_gesture_list.lua
  indra/newview/scripts/lua/util.lua
Labels: c/cpp, llui

#1041 viewer#1016 Incorrect behavior of Physics Shapes rendering
  indra/newview/llphysicsshapebuilderutil.cpp
  indra/newview/llphysicsshapebuilderutil.h
Labels: c/cpp

#1060 viewer-private#131 landmark panel closes after a rename
  indra/newview/llfloatercreatelandmark.cpp
  indra/newview/llfloatercreatelandmark.h
Labels: c/cpp

#1058 secondlife/viewer#1050: Fix mirror clipping for PBR terrain. Also fixes environment settings for PBR terrain.
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp

#1066 Fix merge issues
  autobuild.xml
  indra/newview/lltexturectrl.cpp
  indra/newview/lltooldraganddrop.cpp
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#1067 secondlife/viewer#944 Display should be consistent between llDialog text and llDialog buttons
  indra/llui/lltextbase.cpp
  indra/llui/lltextbase.h
  indra/newview/lltoastnotifypanel.cpp
  indra/newview/lltoastnotifypanel.h
  indra/newview/skins/default/xui/en/panel_notification.xml
Labels: c/cpp, llui

#1070 viewer#1069 Crash after getting a list of notification files
  indra/llui/llnotifications.cpp
Labels: c/cpp, llui

#1077 Remove dead googlemock dependency and related setup code
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/GoogleMock.cmake
  indra/cmake/LLAddBuildTest.cmake
  indra/llcorehttp/CMakeLists.txt
  indra/llmessage/CMakeLists.txt
  indra/llmessage/tests/llmockhttpclient.h
  indra/test/CMakeLists.txt
  indra/test/test.cpp
Labels: c/cpp, cmake, llcorehttp, llmessage

#1076 viewer#1073 crash at loadSkeleton
  indra/llcommon/llsys.cpp
  indra/newview/llinventorymodel.cpp
  indra/newview/llstartup.cpp
Labels: c/cpp, llcommon

#1079 Terminate Lua scripts hanging in `LL.get_event_next()`.
  indra/llcommon/llevents.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/llcommon/lualistener.cpp
  indra/llcommon/lualistener.h
  indra/newview/llluamanager.cpp
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, llcommon

#1084 secondlife/viewer#1046 auto exposure quality pass
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/luminanceF.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredGammaCorrect.glsl
  indra/newview/pipeline.cpp
Labels: c/cpp

#1071 Run each script file with new LuaState
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/scripts/lua/test_LLFloaterAbout.lua
  indra/newview/scripts/lua/test_LLGesture.lua
Labels: c/cpp
