Repository secondlife/viewer, pull requests merged in 2024-11, with the labels that each got.

#2983 Various minor crash and correctness fixes
  indra/llmessage/llpartdata.cpp
  indra/llrender/llgl.cpp
  indra/llui/llfloater.cpp
  indra/newview/llflexibleobject.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/lllocationinputctrl.h
  indra/newview/llmediactrl.cpp
  indra/newview/llmediactrl.h
  indra/newview/llmodelpreview.cpp
  indra/newview/llnetmap.cpp
  indra/newview/llscrollingpanelparam.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp, llmessage, llrender, llui

#2918 Introduce NativeFileDialog-Extended filepickers for Linux
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/LLWindow.cmake
  indra/cmake/NFDE.cmake
  indra/cmake/SDL2.cmake
  indra/integration_tests/llimage_libtest/CMakeLists.txt
  indra/llwindow/llsdl.cpp
  indra/llwindow/llwindowsdl.cpp
  indra/llwindow/llwindowsdl.h
  indra/newview/CMakeLists.txt
  indra/newview/llappviewer.cpp
  indra/newview/llappviewerlinux.cpp
  indra/newview/lldirpicker.cpp
  indra/newview/llfilepicker.cpp
  indra/newview/llfilepicker.h
  indra/newview/llviewermenufile.cpp
Labels: c/cpp, cmake, llwindow, team:viewer

#2806 Fix disabling bugsplat on linux build
  indra/cmake/bugsplat.cmake
Labels: cmake

#2998 #2938 show confirmation before closing Conference chat
  indra/newview/llfloaterimsession.cpp
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#2855 Reduce build time on all three platforms and introduce linux tests
  .github/workflows/build.yaml
  autobuild.xml
  build.sh
  indra/cmake/00-Common.cmake
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/llcorehttp/examples/http_texture_load.cpp
  indra/llcorehttp/tests/llcorehttp_test.cpp
  indra/llcorehttp/tests/test_httprequest.hpp
  indra/llcorehttp/tests/test_llcorehttp_peer.py
  indra/llcorehttp/tests/test_refcounted.hpp
  indra/llmath/llmatrix3a.cpp
  indra/llmath/llmatrix4a.cpp
  indra/llmath/llrigginginfo.cpp
  indra/llmath/llvector4a.cpp
  indra/llmath/llvolumeoctree.cpp
  indra/llmath/v3colorutil.h
  indra/llui/CMakeLists.txt
  indra/llui/llfolderviewitem.cpp
  indra/llui/llui.h
  indra/newview/CMakeLists.txt
  indra/newview/gltf/common.h
  indra/newview/llinventoryitemslist.cpp
  indra/newview/llviewerprecompiledheaders.h
  indra/test/lltut.h
Labels: c/cpp, cmake, python, llcorehttp, llmath, llui, team:viewer

#3003 viewer#3001 Fix doubletap run
  indra/newview/llviewerinput.cpp
Labels: c/cpp

#3004 viewer#2999 Fix debug text flicker
  indra/newview/llhudnametag.cpp
  indra/newview/llhudtext.cpp
  indra/newview/llhudtext.h
Labels: c/cpp

#3007 Fixes various small memory leaks and some crashes
  indra/llplugin/llpluginprocessparent.cpp
  indra/newview/llfloaternotificationstabbed.cpp
  indra/newview/llfloaternotificationstabbed.h
  indra/newview/llfloateruipreview.cpp
  indra/newview/llmarketplacefunctions.cpp
  indra/newview/llmarketplacefunctions.h
  indra/newview/llmaterialmgr.cpp
  indra/newview/llmaterialmgr.h
  indra/newview/llpreviewgesture.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp, llplugin

#2935 Fix issue where sometimes connections would be restarted instead of closed.
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#3012 #2964 Fix for PBR glow on alpha rendering to depth.
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3005 Reduce number of full screen copies during renderFinalize
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/CASF.glsl
  indra/newview/app_settings/shaders/class1/deferred/SMAANeighborhoodBlendF.glsl
  indra/newview/app_settings/shaders/class1/deferred/cofF.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredGammaCorrect.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredNoDoFF.glsl
  indra/newview/app_settings/shaders/class1/deferred/postDeferredTonemap.glsl
  indra/newview/app_settings/shaders/class1/interface/glowcombineF.glsl
  indra/newview/app_settings/shaders/class1/interface/glowcombineFXAAF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_linux.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
  indra/newview/rlvdefines.h
  indra/newview/rlvhelper.h
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
Labels: c/cpp, cmake

#3020 viewer#3010 Fix malfunctioning json array to llsd parsing
  indra/llcommon/llsdjson.cpp
Labels: c/cpp, llcommon

#3017 #2884 fix for stalls caused by coro suspend
  indra/llcommon/llcoros.cpp
  indra/llcommon/lleventcoro.cpp
  indra/llcommon/lualistener.cpp
Labels: c/cpp, llcommon

#3024 #2902 Additional lines are displayed from one corner of the region
  indra/newview/llviewerparceloverlay.cpp
Labels: c/cpp

#3021 Fix shutdown crash in LLWebRTCVoiceClient
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#3028 #2997 The 'Reset Skeleton' option is missing in the right-click menu
  indra/newview/llviewermenu.cpp
Labels: c/cpp

#3026 secondlife/viewer#2768: Fix for PBR texture animations sometimes not starting
  .pre-commit-config.yaml
  indra/newview/llface.cpp
  indra/newview/llspatialpartition.h
  indra/newview/llviewermenu.cpp
  indra/newview/llvovolume.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp

#3031 #3029 restore tooltip delay const variable
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp

#3015 RaiseException on voiceControlCoro
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#3016 Tracy Improvements
  .github/workflows/build.yaml
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/Tracy.cmake
  indra/llcommon/linden_common.h
  indra/llcommon/llcommon.cpp
  indra/llcommon/llmemory.h
  indra/llcommon/llprofiler.h
  indra/llwindow/llwindowwin32.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewerlinux.cpp
  indra/newview/llappviewermacosx.cpp
  indra/newview/lldrawpool.h
  indra/newview/llheroprobemanager.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, cmake, llwindow, llcommon, team:viewer

#3033 secondlife/viewer#2991: Fix PBR terrain sometimes not loading textures
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
Labels: c/cpp

#3036 Fix url and toolbar menus binding callback functions to global scope
  indra/llui/lltextbase.cpp
  indra/llui/lltoolbar.cpp
Labels: c/cpp, llui

#3038 viewer#3037 hasPendingAttachedMeshes wasn't checking some objects
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#3057 #3042 crash at LLViewerMediaTexture::setPlaying
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#3056 viewer#3055 Fix texture fetch being stuck
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#3058 #3052 remove pointless logging when group notice is received
  indra/newview/llimprocessing.cpp
Labels: c/cpp

#3061 #2637 Revert to the previous alpha analysis to maintain legacy content parity.
  indra/llrender/llimagegl.cpp
Labels: c/cpp, llrender

#3060 Fix assert when retrieving data while mousing over minimap avatar dots
  indra/newview/llavatarpropertiesprocessor.cpp
Labels: c/cpp

#3063 Attempt at fix for secondlife/viewer#2745 mac crash when app is in background
  indra/llcommon/llprocessor.cpp
  indra/newview/featuretable_mac.txt
Labels: c/cpp, llcommon

#2854 Update PBR terrain test plan
  doc/testplans/pbr_terrain_composition.md
  doc/testplans/pbr_terrain_paintmap.md
Labels: ignore-for-release

#3066 Fix calling LLFloaterPreference::setPanelVisibility resulting in selecting the 1st tab
  indra/newview/llfloaterpreference.cpp
Labels: c/cpp

#3069 #3051 fix for Group notices get logged into wrong file
  indra/newview/lllogchat.cpp
  indra/newview/lllogchat.h
  indra/newview/llnotificationhandlerutil.cpp
Labels: c/cpp

#3080 Fix for PBR hair fighting itself (and other fully transparent materials)
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3030 2590 mac intel and radeon pro 5300m horrible fps 2
  indra/llrender/llimagegl.cpp
  indra/llrender/llvertexbuffer.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/avatarF.glsl
  indra/newview/app_settings/shaders/class1/deferred/bumpF.glsl
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseAlphaMaskF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseAlphaMaskIndexedF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseAlphaMaskNoColorF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseF.glsl
  indra/newview/app_settings/shaders/class1/deferred/diffuseIndexedF.glsl
  indra/newview/app_settings/shaders/class1/deferred/globalF.glsl
  indra/newview/app_settings/shaders/class1/deferred/impostorF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbropaqueF.glsl
  indra/newview/app_settings/shaders/class1/deferred/pbrterrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/terrainF.glsl
  indra/newview/app_settings/shaders/class1/deferred/treeF.glsl
  indra/newview/app_settings/shaders/class1/gltf/pbrmetallicroughnessF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/app_settings/shaders/class3/deferred/softenLightF.glsl
  indra/newview/featuretable.txt
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#3082 #3059 Backport to ExtraFPS.
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3084 Fix error/broken build after ExtraFPS merge
  indra/newview/pipeline.cpp
Labels: c/cpp

#3083 #3068 Experience names with emojis are displayed incompletely
  indra/llrender/llfontgl.cpp
Labels: c/cpp, llrender

#2990 More detailed frame time logging in ViewerStats
  indra/llcommon/llstatsaccumulator.h
  indra/newview/llviewerstats.cpp
  indra/newview/llviewerstats.h
Labels: c/cpp, llcommon

#3089 Fix RenderHDR toggle rendering incorrectly
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp

#3090 #3068 Experience names are displayed incompletely (fix batch rendering)
  indra/llrender/llfontgl.cpp
Labels: c/cpp, llrender

#3081 viewer#3018 Expose mouse wrap in UI
  indra/llwindow/llwindow.h
  indra/llwindow/llwindowheadless.h
  indra/llwindow/llwindowmacosx.h
  indra/llwindow/llwindowsdl.h
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterpreference.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/skins/default/xui/en/panel_preferences_move.xml
Labels: c/cpp, llwindow

#2737 set CURLOPT_ENCODING to nullptr in case of curl7
  indra/llcorehttp/_httpoprequest.cpp
  indra/llcorehttp/httpcommon.cpp
Labels: c/cpp, llcorehttp

#3075 viewer#3070 Avatar mesh loading adjustments
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#3100 secondlife/viewer#2570: Fix BoM texture interference on PBR materials. Also fix PBR copy/paste (secondlife/viewer#3099)
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp

#3109 viewer#3070 Fix mesh queues getting overfilled
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#3111 Crash at getDiscardLevel()
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#3108 #3093 World Map tiles are blurry
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#3022 allow group member to mod alphagamma on group objects
  indra/newview/llpanelface.cpp
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#3120 #2696 Viewer crashes on gestures : add checkbox 'Play all infinitely'
  indra/newview/llfloatergesture.cpp
  indra/newview/llfloatergesture.h
  indra/newview/skins/default/xui/en/floater_gesture.xml
Labels: c/cpp

#3136 secondlife/viewer#3104: Fix outfit gallery pictures sometimes not loading. Remove texture resolution restriction.
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitgallery.h
Labels: c/cpp

#3138 #2696 Viewer crashes on gestures : use setDimensions for mFullWidth/mFullHeight
  indra/llrender/llgltexture.cpp
  indra/llrender/llgltexture.h
  indra/newview/lldynamictexture.cpp
  indra/newview/lldynamictexture.h
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/lltoolmorph.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
Labels: c/cpp, llrender

#3137 secondlife/viewer#3104: Fix outfit gallery pictures sometimes not loading. Remove texture resolution restriction.
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitgallery.h
Labels: c/cpp

#3139 #2696 Viewer crashes on gestures : fix the bug
  indra/llcharacter/llkeyframemotion.cpp
Labels: c/cpp, llcharacter

#3141 2744 intel fallback cleanups
  indra/lib/python/indra/util/llmanifest.py
  indra/newview/CMakeLists.txt
  indra/newview/llfeaturemanager.cpp
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python

#3144 Fix memory leak in LLVertexBuffer
  indra/llrender/llvertexbuffer.cpp
Labels: c/cpp, llrender

#3129 prevent erroneous edit of wrong parcel
  indra/llinventory/llparcel.h
  indra/newview/llviewerparcelmgr.cpp
  indra/newview/llviewerparcelmgr.h
Labels: c/cpp, llinventory

#3150 secondlife/viewer#2991: Fix PBR terrain sometimes not loading textures
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
Labels: c/cpp

#3143 secondlife/viewer#2768, secondlife/viewer#2848: Partial cherry pick of "Animated pbr textures don't animate" from develop
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3153 #3116 fix help output not displaying in Lua console
  indra/newview/llfloaterluadebug.cpp
Labels: c/cpp

#3154 #3096 Shift+Tab selects extra lines on script edit on reduce indent
  indra/llui/lltexteditor.cpp
Labels: c/cpp, llui

#3152 cherry-pick into ExtraFPS #2696 Viewer crashes on gestures : fix the bug
  indra/llcharacter/llkeyframemotion.cpp
Labels: c/cpp, llcharacter

#3156 viewer#3147 Thumbnail picker's image is grey
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#3173 Add diagnostic output for LLProcess event history failure.
  indra/llcommon/tests/llprocess_test.cpp
Labels: c/cpp, llcommon

#3179 viewer#3170 Fix tonemaping slider
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/newview/pipeline.cpp
Labels: c/cpp, llinventory

#3180 #3133 add handler to prevent crash when preview gets closed before getting the callback
  indra/newview/llmodelpreview.cpp
  indra/newview/llmodelpreview.h
Labels: c/cpp

#3174 Fix for tonemapping mixing not working on PBR skies.
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/newview/llsettingsvo.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llinventory

#3183 Fix merge error and restore crash fix in LLMaterialEditor
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#2944 Post C++20 improvements
  indra/llcommon/stdtypes.h
  indra/llmath/llmath.h
Labels: c/cpp, llcommon, llmath
