Repository secondlife/viewer, pull requests merged in 2024-10, with the labels that each got.

#2747 Remove dead code related to GeForce Mobile GPUs
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp, llrender

#2750 Repair linux warning flags and fix test builds
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/llcommon/classic_callback.h
  indra/llcommon/coro_scheduler.cpp
  indra/llcommon/tests/llerror_test.cpp
  indra/llcommon/tests/llsingleton_test.cpp
  indra/media_plugins/cef/volume_catcher.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llhudrender.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llreflectionmap.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llxmlrpctransaction.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, cmake, llcommon, team:viewer

#2751 Clean up SDL input capture and various small linux fixes
  indra/llrender/llrender.cpp
  indra/llwindow/llwindowsdl.cpp
  indra/newview/llappviewer.cpp
Labels: c/cpp, llwindow, llrender

#2759 Fix thread-unsafe usage of LLPointer and LLMeshSkinInfo
  indra/newview/llmeshrepository.cpp
Labels: c/cpp

#2760 Add early-out in LLPipeline::applyCAS() if gCASProgram failed to compile
  indra/newview/pipeline.cpp
Labels: c/cpp

#2763 viewer#2762 Restore LLFontVertexBuffer for HUD
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontvertexbuffer.cpp
  indra/llrender/llvertexbuffer.cpp
  indra/llrender/llvertexbuffer.h
  indra/newview/llhudnametag.cpp
  indra/newview/llhudnametag.h
  indra/newview/llhudrender.cpp
  indra/newview/llhudrender.h
  indra/newview/llhudtext.cpp
  indra/newview/llhudtext.h
  indra/newview/llmanip.cpp
  indra/newview/llmaniprotate.cpp
  indra/newview/llmanipscale.cpp
  indra/newview/llmaniptranslate.cpp
Labels: c/cpp, llrender

#2764 viewer#2705 Some sky parameters weren't updating
  indra/llinventory/llsettingssky.cpp
  indra/newview/llsettingsvo.cpp
Labels: c/cpp, llinventory

#2761 Cmake configure speed up and MSVC redist copy fix
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/cmake/Prebuilt.cmake
Labels: cmake

#2766 Add a lot of more constexpr; use constants for accessing vector indices in vector math classes
  indra/llcommon/indra_constants.h
  indra/llcommon/llapp.h
  indra/llcommon/lldefs.h
  indra/llmath/v2math.cpp
  indra/llmath/v2math.h
  indra/llmath/v3dmath.cpp
  indra/llmath/v3dmath.h
  indra/llmath/v3math.cpp
  indra/llmath/v3math.h
  indra/llmath/v4math.cpp
  indra/llmath/v4math.h
Labels: c/cpp, llcommon, llmath

#2772 Fix pink flash when window is resized
  indra/llui/llflatlistview.h
  indra/newview/pipeline.cpp
Labels: c/cpp, llui

#2773 Fix OpenGL init failure on SDL/Linux on certain combinations of mesa drivers
  indra/llrender/llgl.cpp
  indra/llwindow/llwindowsdl.cpp
Labels: c/cpp, llwindow, llrender

#2774 #2408 The long covenant with emojis (crash fix)
  indra/llui/llstyle.cpp
Labels: c/cpp, llui

#2767 Restore Linux Release config builds
  .github/workflows/build.yaml
  autobuild.xml
  indra/CMakeLists.txt
  indra/cmake/00-Common.cmake
  indra/cmake/Havok.cmake
  indra/cmake/OPENAL.cmake
  indra/cmake/bugsplat.cmake
  indra/newview/CMakeLists.txt
Labels: cmake, team:viewer

#2782 viewer_private#300 Picker fixes
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
Labels: c/cpp

#2771 secondlife/viewer#2472: Debug tools for labeling textures
  indra/llrender/llgl.cpp
  indra/llrender/llgl.h
  indra/llrender/llgltexture.cpp
  indra/llrender/llgltexture.h
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
Labels: c/cpp, llrender, ignore-for-release

#2785 cherry pick secondlife/viewer#912 BugSplat Crash 1412267: nvoglv64+0xadcd00
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/llprimitive/llmodelloader.cpp
  indra/llprimitive/llmodelloader.h
  indra/newview/llmodelpreview.cpp
Labels: c/cpp, llprimitive

#2813 Fix mac link error using GL 4.3 functions
  indra/llrender/llgltexture.cpp
Labels: c/cpp, llrender

#2810 More cleanup of LLMath and the color classes in particular
  indra/llmath/camera.h
  indra/llmath/coordframe.h
  indra/llmath/llcalc.cpp
  indra/llmath/llcalc.h
  indra/llmath/llcalcparser.h
  indra/llmath/llcoordframe.h
  indra/llmath/llinterp.h
  indra/llmath/llline.h
  indra/llmath/m3math.h
  indra/llmath/v3color.cpp
  indra/llmath/v3color.h
  indra/llmath/v3colorutil.h
  indra/llmath/v4color.cpp
  indra/llmath/v4color.h
  indra/llmath/v4coloru.cpp
  indra/llmath/v4coloru.h
  indra/llmath/xform.h
Labels: c/cpp, llmath

#2815 Follow up for 39eb250
  indra/llmath/CMakeLists.txt
  indra/llmath/llcoordframe.cpp
  indra/llmath/llquaternion.cpp
  indra/llmath/llvolume.h
  indra/llmath/m3math.cpp
  indra/llmath/m4math.cpp
  indra/llmath/raytrace.cpp
  indra/llmath/v3dmath.cpp
  indra/llmath/v3math.cpp
  indra/llmath/v4math.cpp
  indra/llmessage/patch_code.cpp
  indra/llmessage/patch_dct.cpp
  indra/llmessage/patch_idct.cpp
  indra/newview/llsky.h
  indra/newview/llsprite.h
  indra/newview/llsurface.h
  indra/newview/llviewerregion.cpp
Labels: c/cpp, cmake, llmath, llmessage

#2808 viewer#2741 Sligtly better logging for a crash
  indra/llrender/llimagegl.cpp
Labels: c/cpp, llrender

#2812 viewer#2443 voice dot indicator should be visible by default
  indra/newview/app_settings/settings.xml
  indra/newview/llvoicevisualizer.cpp
Labels: c/cpp

#2804 #2542 Buoyant Nametags (hide the name tag for deep underwater avatar)
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2822 viewer#2818 Creating a link to an empty notecard fails
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp

#2824 Update GHA runner to macos-14
  .github/workflows/build.yaml
  indra/llmath/tests/v3dmath_test.cpp
  indra/test/lltut.h
Labels: c/cpp, llmath

#2825 viewer#2270 The "More" button does not close the "Choose emoji" floater
  indra/llui/llemojihelper.cpp
  indra/llui/llemojihelper.h
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
Labels: c/cpp, llui

#2826 viewer#2818 Creating a link to an empty notecard fails #2
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp

#2827 #2696 The viewer crashes on gestures floater (fix navigation)
  indra/llui/llscrolllistctrl.cpp
Labels: c/cpp, llui

#2828 viewer#2818 Creating a link to an empty notecard fails #3
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallerymenu.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#2803 Implement the groundwork for wayland support.
  indra/cmake/UI.cmake
  indra/llrender/llgl.cpp
  indra/llwindow/llwindowsdl.cpp
  indra/llwindow/llwindowsdl.h
Labels: c/cpp, cmake, llwindow, llrender

#2830 Project: RLVa
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/rlvactions.cpp
  indra/newview/rlvactions.h
  indra/newview/rlvcommon.cpp
  indra/newview/rlvcommon.h
  indra/newview/rlvdefines.h
  indra/newview/rlvfloaters.cpp
  indra/newview/rlvfloaters.h
  indra/newview/rlvhandler.cpp
  indra/newview/rlvhandler.h
  indra/newview/rlvhelper.cpp
  indra/newview/rlvhelper.h
  indra/newview/skins/default/xui/en/floater_rlv_console.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, cmake

#2589 Minimal RLVa contribution
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/rlvactions.cpp
  indra/newview/rlvactions.h
  indra/newview/rlvcommon.cpp
  indra/newview/rlvcommon.h
  indra/newview/rlvdefines.h
  indra/newview/rlvfloaters.cpp
  indra/newview/rlvfloaters.h
  indra/newview/rlvhandler.cpp
  indra/newview/rlvhandler.h
  indra/newview/rlvhelper.cpp
  indra/newview/rlvhelper.h
  indra/newview/skins/default/xui/en/floater_rlv_console.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, cmake

#2839 Fix GHA matrix config linux build
  .github/workflows/build.yaml
  indra/cmake/UI.cmake
  indra/newview/rlvhelper.cpp
Labels: c/cpp, cmake

#2837 #2408 The long covenant with emojis (no double requesting)
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llviewerregion.cpp
Labels: c/cpp

#2842 Revert #2518 in develop
  indra/newview/llagent.cpp
  indra/newview/llagent.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2843 Revert #2518 in ExtraFPS
  indra/newview/llagent.cpp
  indra/newview/llagent.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2838 viewer#2819 Group member pagination toggle
  indra/newview/app_settings/settings.xml
  indra/newview/llpanelgrouproles.cpp
Labels: c/cpp

#2823 secondlife/viewer#1883: Terrain paint client prototype WIP code check-in
  indra/llrender/llglslshader.cpp
  indra/llrender/llglslshader.h
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/interface/pbrTerrainBakeF.glsl
  indra/newview/app_settings/shaders/class1/interface/terrainStampF.glsl
  indra/newview/app_settings/shaders/class1/interface/terrainStampV.glsl
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llterrainpaintmap.cpp
  indra/newview/llterrainpaintmap.h
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llvlcomposition.cpp
  indra/newview/llvlcomposition.h
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, llrender

#2849 New flags on ScriptTeleportRequest message.
  indra/llcommon/indra_constants.h
  indra/llui/llfloater.h
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llviewermessage.cpp
  scripts/messages/message_template.msg
  scripts/messages/message_template.msg.sha1
Labels: c/cpp, llcommon, llui

#2851 viewer#2850 Fix a crash in LLTextureFetchWorker
  indra/newview/lltexturefetch.cpp
Labels: c/cpp

#2862 Fix various merge issues
  indra/llinventory/llinventory.cpp
  indra/llmath/llmath.h
  indra/llmath/v2math.h
  indra/llmath/v3math.h
  indra/llmath/v4math.h
  indra/llui/llfolderviewitem.cpp
  indra/llwindow/llwindowwin32.cpp
  indra/newview/llagent.cpp
  indra/newview/llagentcamera.cpp
  indra/newview/llagentcamera.h
  indra/newview/llappearancemgr.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterobjectweights.cpp
  indra/newview/llfloaterobjectweights.h
  indra/newview/llfolderviewmodelinventory.cpp
  indra/newview/llinspecttexture.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventoryfilter.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/lllocalbitmaps.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitslist.cpp
  indra/newview/llpaneloutfitsinventory.h
  indra/newview/llpanelwearing.cpp
  indra/newview/llsidepaneliteminfo.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp, llwindow, llinventory, llmath, llui

#2829 #2112 Provide SL Grid Map coordinates for Official Viewer Users please
  indra/llui/lllineeditor.cpp
  indra/llui/lllineeditor.h
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llworldmap.cpp
  indra/newview/llworldmapview.cpp
  indra/newview/skins/default/xui/en/floater_world_map.xml
  indra/newview/skins/default/xui/en/panel_region_general.xml
Labels: c/cpp, llui

#2865 Remove dependency on libwayland-dev
  indra/llwindow/llsdl.cpp
  indra/llwindow/llwindowsdl.cpp
Labels: c/cpp, llwindow

#2867 Apply changes from 55f2103adc36db0d3f068a31a144e15465226e13 to LLFolderViewItem::drawFavoriteIcon
  indra/llui/llfolderviewitem.cpp
  indra/llui/llfolderviewitem.h
Labels: c/cpp, llui

#2805 Lua api to get info about nearby avatars and objects
  indra/newview/app_settings/settings.xml
  indra/newview/llagentlistener.cpp
  indra/newview/llagentlistener.h
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llinventorylistener.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llviewerwindowlistener.cpp
  indra/newview/scripts/lua/require/LLAgent.lua
  indra/newview/scripts/lua/require/UI.lua
  indra/newview/scripts/lua/test_LLChatListener.lua
  indra/newview/scripts/lua/test_animation.lua
  indra/newview/scripts/lua/test_luafloater_demo.lua
  indra/newview/scripts/lua/test_nearby_avatars.lua
  indra/newview/scripts/lua/test_screen_position.lua
  indra/newview/scripts/lua/test_toolbars.lua
  indra/newview/skins/default/xui/en/floater_lua_debug.xml
Labels: c/cpp

#2872 Resolve maint-c post merge issue
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#2886 #2303 An error occured while trying to connect to voice
  indra/newview/llavataractions.cpp
  indra/newview/llavataractions.h
  indra/newview/llfloaterbump.cpp
  indra/newview/llfloaterbump.h
  indra/newview/llfloaterimcontainer.cpp
  indra/newview/llpanelprofile.cpp
  indra/newview/llpanelprofile.h
  indra/newview/llviewermenu.cpp
Labels: c/cpp

#2893 viewer#2889 Fixed mixed up water settings
  indra/llinventory/llsettingswater.cpp
Labels: c/cpp, llinventory

#2897 viewer#2741 Don't reallocate buffer all the time
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llrender

#2882 Add the latest viewer stats packet into Frame Profile dump file.
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/llviewerstats.h
Labels: c/cpp

#2896 secondlife/viewer#2895: Fix Windows cmake not detecting latest python
  indra/cmake/Python.cmake
Labels: cmake

#2905 #2007 The 'No device' option isn't displayed in the 'Input/Output'
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llpanelvoicedevicesettings.cpp
  indra/newview/llpanelvoicedevicesettings.h
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicevivox.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#2911 Make `llcoro::scheduler` log coros that run too long between yields.
  indra/llcommon/coro_scheduler.cpp
  indra/llcommon/coro_scheduler.h
  indra/llcommon/llcoros.cpp
  indra/llcommon/llcoros.h
  indra/llcommon/workqueue.cpp
  indra/llmessage/llcoproceduremanager.cpp
  indra/test/sync.h
Labels: c/cpp, llcommon, llmessage

#2915 Restore tonemapping to ACES with a slight mix towards linear and raise exposure limits
  indra/newview/app_settings/settings.xml
  indra/newview/skins/default/xui/en/panel_preferences_graphics1.xml
Labels: c/cpp, llinventory, llrender

#2912 #2736 The 'Day Offset' makes a rebound back to 0,5 or 1 value
  indra/newview/llpanelenvironment.cpp
Labels: c/cpp

#2919 #2910 Allow terminating multiple scripts at once
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
  indra/newview/llfloaterluascripts.cpp
  indra/newview/skins/default/xui/en/floater_lua_scripts.xml
Labels: c/cpp, llui

#2908 Bot self identification.
  indra/llmessage/message_prehash.cpp
  indra/llmessage/message_prehash.h
  indra/newview/llimprocessing.cpp
  indra/newview/llimprocessing.h
  indra/newview/llimview.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/skins/default/xui/da/strings.xml
  indra/newview/skins/default/xui/de/strings.xml
  indra/newview/skins/default/xui/en/strings.xml
  indra/newview/skins/default/xui/es/strings.xml
  indra/newview/skins/default/xui/fr/strings.xml
  indra/newview/skins/default/xui/it/strings.xml
  indra/newview/skins/default/xui/ja/strings.xml
  indra/newview/skins/default/xui/pl/strings.xml
  indra/newview/skins/default/xui/pt/strings.xml
  indra/newview/skins/default/xui/ru/strings.xml
  indra/newview/skins/default/xui/tr/strings.xml
  indra/newview/skins/default/xui/zh/strings.xml
  scripts/messages/message_template.msg
  scripts/messages/message_template.msg.sha1
Labels: c/cpp, llmessage

#2925 #2577 Worn transparent prims no longer show with 'Highlight transparent'
  indra/newview/pipeline.cpp
Labels: c/cpp

#2928 #2904 output position should ignore cursor position
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
  indra/newview/llfloaterluadebug.cpp
Labels: c/cpp, llui

#2929 #2899 Mac: add the libSDL2 link to SLPlugin
  indra/newview/viewer_manifest.py
Labels: python

#2585 Xcode16 build fix
  .github/workflows/build.yaml
  indra/CMakeLists.txt
  indra/llappearance/lltexlayerparams.h
  indra/llcommon/CMakeLists.txt
  indra/llcommon/fsyspath.h
  indra/llcommon/llerror.h
  indra/llcommon/llkeybind.cpp
  indra/llcommon/llpointer.cpp
  indra/llcommon/llpointer.h
  indra/llcommon/llqueuedthread.cpp
  indra/llcommon/lua_function.cpp
  indra/llcommon/owning_ptr.h
  indra/llimage/llimage.h
  indra/llimagej2coj/llimagej2coj.cpp
  indra/llmath/llinterp.h
  indra/llmath/llmath.h
  indra/llmath/llvolume.cpp
  indra/llmath/llvolumemgr.cpp
  indra/llmath/raytrace.cpp
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/llgltfloader.cpp
  indra/llrender/llimagegl.cpp
  indra/llui/llluafloater.cpp
  indra/llui/llnotifications.h
  indra/llwindow/llwindowmacosx.cpp
  indra/newview/gltfscenemanager.cpp
  indra/newview/llagentlistener.cpp
  indra/newview/llcylinder.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/llpaneloutfitedit.cpp
  indra/newview/llpanelprimmediacontrols.cpp
  indra/newview/llsky.cpp
  indra/newview/llsprite.cpp
  indra/newview/lltexturefetch.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llwatchdog.cpp
  indra/newview/llworldmipmap.cpp
  indra/newview/tests/llluamanager_test.cpp
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp, cmake, llwindow, llappearance, llcommon, llimage, llimagej2coj, llmath, llprimitive, llrender, llui

#2936 viewer#2753 "Animation to play" drop-down box stuck at None
  indra/newview/llpreviewgesture.cpp
Labels: c/cpp

#2890 temporary workaround for #2870: disable SDL2 on mac
  indra/llwindow/llgamecontrol.cpp
  indra/llwindow/llwindow.cpp
Labels: c/cpp, llwindow

#2898 viewer#2875 Proportionally agressive vram cleanup
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#2943 viewer#2653 Failure logging
  indra/newview/llpreviewtexture.cpp
Labels: c/cpp

#2946 Small fix in LLTeleportHandler::handle()
  indra/newview/llurldispatcher.cpp
Labels: c/cpp

#2959 Fix for IM session name and icon.
  indra/newview/llimprocessing.cpp
  indra/newview/llimview.cpp
  indra/newview/llimview.h
Labels: c/cpp

#2960 Update SDL to 2.30.8
  autobuild.xml
Labels: team:viewer

#2940 Add LL::ResultSet subclass VectorResultSet for the simple case.
  indra/llcommon/resultset.cpp
  indra/llcommon/resultset.h
  indra/newview/llagentlistener.cpp
  indra/newview/llinventorylistener.cpp
Labels: c/cpp, llcommon

#2970 viewer#2894 Make PBR scale like Blinn Phong does
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
Labels: c/cpp

#2973 viewer#2972 Fix viewer stripping quotes off folder names
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
  indra/newview/llxmlrpctransaction.cpp
Labels: c/cpp, llxml

#2864 Provide affordances to disable automatic downrezing of textures when SL is in background
  indra/newview/app_settings/settings.xml
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#2909 #2245 Allow Lua scripts to be run from the Conversations floater
  indra/newview/llfloaterimnearbychat.cpp
Labels: c/cpp

#2961 Update KDU to 8.4.1
  autobuild.xml
  indra/cmake/LLKDU.cmake
  indra/integration_tests/CMakeLists.txt
  indra/integration_tests/llimage_libtest/CMakeLists.txt
  indra/integration_tests/llimage_libtest/llimage_libtest.cpp
  indra/llkdu/CMakeLists.txt
  indra/llkdu/llimagej2ckdu.cpp
  indra/llkdu/llimagej2ckdu.h
  indra/llkdu/llkdumem.h
  indra/llkdu/tests/llimagej2ckdu_test.cpp
Labels: c/cpp, cmake, llkdu, team:viewer

#2977 #2962 allow the script to ‘wait’ for a teleport finished/failed event
  indra/newview/llviewerparcelmgr.cpp
  indra/newview/llviewerparcelmgr.h
  indra/newview/scripts/lua/frame_profile.lua
  indra/newview/scripts/lua/require/teleport_util.lua
Labels: c/cpp

#2980 viewer#2653 LOD textures weren't taking callback discard into account
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#2982 Give control over thread queue's automatic shutdown
  indra/llcommon/threadpool.h
  indra/llcommon/workqueue.cpp
  indra/llcommon/workqueue.h
Labels: c/cpp, llcommon

#2971 secondlife/viewer#2768: Partial fix for PBR texture animations stopping. May also fix some Blinn-Phong texture animations.
  indra/newview/llvovolume.cpp
Labels: c/cpp

#2989 viewer#2889 Fix water's normal map being ignored
  indra/llinventory/llsettingswater.cpp
Labels: c/cpp, llinventory

#2976 Fix issue where muted audio was being sent to the voice server anyway
  indra/llwebrtc/llwebrtc.cpp
Labels: c/cpp
