Repository secondlife/viewer, pull requests merged in 2024-07, with the labels that each got.

#1895 Fix trailing spaces to make pre-commit happy
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
Labels: c/cpp

#1871 Streamline and robustify lua_emplace<T>() object cleanup.
  indra/llcommon/fsyspath.h
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/newview/tests/llluamanager_test.cpp
  indra/test/test.cpp
Labels: c/cpp, llcommon

#1893 #1111 Remove xmlrpc-epi
  autobuild.xml
  indra/cmake/CMakeLists.txt
  indra/cmake/LLCommon.cmake
  indra/cmake/XmlRpcEpi.cmake
  indra/llcommon/llfile.cpp
  indra/llcommon/llfile.h
  indra/llcommon/llsd.cpp
  indra/llcommon/llsd.h
  indra/llcommon/llstring.cpp
  indra/llcommon/llstring.h
  indra/llmessage/CMakeLists.txt
  indra/llmessage/llfiltersd2xmlrpc.cpp
  indra/llmessage/llfiltersd2xmlrpc.h
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
  indra/newview/llcurrencyuimanager.cpp
  indra/newview/llfloaterbuyland.cpp
  indra/newview/lllogininstance.cpp
  indra/newview/llslurl.cpp
  indra/newview/llversioninfo.cpp
  indra/newview/llversioninfo.h
  indra/newview/llxmlrpclistener.cpp
  indra/newview/llxmlrpclistener.h
  indra/newview/llxmlrpctransaction.cpp
  indra/newview/llxmlrpctransaction.h
  indra/newview/skins/default/xui/da/floater_about.xml
  indra/newview/skins/default/xui/de/floater_about.xml
  indra/newview/skins/default/xui/en/floater_about.xml
  indra/newview/skins/default/xui/es/floater_about.xml
  indra/newview/skins/default/xui/fr/floater_about.xml
  indra/newview/skins/default/xui/it/floater_about.xml
  indra/newview/skins/default/xui/ja/floater_about.xml
  indra/newview/skins/default/xui/pt/floater_about.xml
  indra/newview/skins/default/xui/ru/floater_about.xml
  indra/newview/skins/default/xui/tr/floater_about.xml
  indra/newview/skins/default/xui/zh/floater_about.xml
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp, cmake, llcommon, llmessage, llxml, team:viewer

#1899 Fix for various TP where a mirror is present
  indra/newview/llheroprobemanager.cpp
Labels: c/cpp

#1903 Reduce string temporaries from frequently called llui find and get functions
  indra/llcommon/llstl.h
  indra/llui/llbadge.cpp
  indra/llui/llbadge.h
  indra/llui/llbutton.cpp
  indra/llui/llbutton.h
  indra/llui/llcheckboxctrl.cpp
  indra/llui/llcheckboxctrl.h
  indra/llui/llfloaterreg.cpp
  indra/llui/llfloaterreg.h
  indra/llui/llfloaterreglistener.cpp
  indra/llui/lllineeditor.cpp
  indra/llui/lllineeditor.h
  indra/llui/llmenugl.cpp
  indra/llui/llmenugl.h
  indra/llui/llnotifications.cpp
  indra/llui/llpanel.cpp
  indra/llui/llpanel.h
  indra/llui/lltabcontainer.cpp
  indra/llui/lltabcontainer.h
  indra/llui/lltextbox.cpp
  indra/llui/lltextbox.h
  indra/llui/lltexteditor.cpp
  indra/llui/lltexteditor.h
  indra/llui/lltrans.cpp
  indra/llui/lltrans.h
  indra/llui/llui.cpp
  indra/llui/llui.h
  indra/llui/lluicolortable.cpp
  indra/llui/lluicolortable.h
  indra/llui/lluictrl.cpp
  indra/llui/lluictrl.h
  indra/llui/lluictrlfactory.h
  indra/llui/llview.cpp
  indra/llui/llview.h
  indra/llwindow/llkeyboard.cpp
  indra/llwindow/llkeyboard.h
  indra/llxml/llcontrol.cpp
  indra/llxml/llcontrol.h
  indra/newview/llappviewer.cpp
  indra/newview/llfloatersidepanelcontainer.cpp
  indra/newview/llfloatersidepanelcontainer.h
  indra/newview/llfloaterwebcontent.cpp
  indra/newview/lllogininstance.cpp
  indra/newview/llsidetraypanelcontainer.cpp
  indra/newview/llsidetraypanelcontainer.h
  indra/newview/tests/lldateutil_test.cpp
  indra/newview/tests/lllogininstance_test.cpp
  indra/newview/tests/llslurl_test.cpp
  indra/newview/tests/llviewernetwork_test.cpp
  indra/newview/tests/llworldmap_test.cpp
Labels: c/cpp, llwindow, llcommon, llui, llxml

#1906 Reduce string temporaries in LLUI part 2
  indra/llui/llkeywords.cpp
  indra/llui/llkeywords.h
  indra/llui/lllayoutstack.cpp
  indra/llui/lllayoutstack.h
  indra/llui/llmenugl.cpp
  indra/llui/llmenugl.h
  indra/llui/llnotifications.cpp
  indra/llui/llnotifications.h
  indra/llui/llnotificationslistener.cpp
  indra/llui/llpanel.cpp
  indra/llui/llpanel.h
  indra/llui/lltabcontainer.cpp
  indra/llui/lltabcontainer.h
  indra/newview/llfloaterpreference.cpp
Labels: c/cpp, llui

#1910 viewer#1905 Fix "Share" and "Pay" buttons' state in nearby list
  indra/newview/llpanelpeoplemenus.cpp
  indra/newview/skins/default/xui/en/menu_people_nearby_multiselect.xml
Labels: c/cpp

#1904 viewer#1857 Reset texture transforms when terrain PBR is applied
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
Labels: c/cpp

#1875 Experimental fix for blurry textures
  indra/newview/app_settings/settings.xml
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#1889 LL Issue#1835 - Input delays introduced in PBR viewers.
  indra/newview/llappviewer.h
Labels: c/cpp

#1715 Quick fix for a possible merge bug from featurettes.
  indra/newview/pipeline.cpp
Labels: c/cpp

#1878 Add LuaAutorunPath, LuaCommandPath and LuaRequirePath settings.
  indra/llcommon/lua_function.h
  indra/llxml/tests/llcontrol_test.cpp
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/llstartup.cpp
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, llcommon, llxml

#1902 secondlife/viewer#1847: Add test plan for normal textures on PBR materials
  doc/testplans/pbr_materials.md
  doc/testplans/pbr_terrain_appearance.md
Labels: ignore-for-release

#1887 secondlife/viewer#1475: Add test plan for PBR terrain texture transforms UI
  doc/testplans/pbr_terrain_composition.md
Labels: ignore-for-release

#1913 viewer-private#247 Porperly reload image when uploading a model
  indra/newview/llmodelpreview.cpp
Labels: c/cpp

#1920 #1917 The 'No emoji selected' message appears and overlaps emoji name
  indra/newview/llfloateremojipicker.cpp
Labels: c/cpp

#1915 EnableVoiceMorphing should default to true
  indra/newview/app_settings/settings.xml
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#1925 Sync autobuild.xml up with release autobuild.
  autobuild.xml
Labels: team:viewer

#1919 viewer#1131 gltf model upload UI WIP #4
  indra/newview/llfloatergltfasseteditor.cpp
  indra/newview/llfloatergltfasseteditor.h
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#1872 #1870 Tune up for better experience on integrated intel with low memory
  indra/llfilesystem/llfilesystem.cpp
  indra/llmessage/llassetstorage.cpp
  indra/llrender/llgl.h
  indra/llrender/llimagegl.cpp
  indra/llrender/llimagegl.h
  indra/llrender/llrender.h
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/newview/app_settings/settings.xml
  indra/newview/featuretable.txt
  indra/newview/gltf/accessor.h
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/common.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/llappviewer.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/llface.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewerassetstorage.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewertexturelist.h
  indra/newview/llvograss.cpp
  indra/newview/llvotree.cpp
  indra/newview/llvovolume.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, llfilesystem, llmessage, llrender

#1918 viewer#1300 Small 'favorites' improvement
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventoryfunctions.h
  indra/newview/llpanelwearing.cpp
  indra/newview/llwearableitemslist.cpp
Labels: c/cpp

#1927 viewer#1131 Sync 'transform' arrows with UI
  indra/newview/llfloatergltfasseteditor.cpp
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#1924 Use llsd::toMap() to return LLSD maps from "LLAppearance" listener.
  indra/llcommon/llsdutil.h
  indra/newview/llappearancelistener.cpp
Labels: c/cpp, llcommon

#1929 SL-18721 Move window shutdown further down
  indra/llwindow/llwindowwin32.cpp
  indra/newview/llappviewer.cpp
Labels: c/cpp, llwindow

#1930 Introduce move support and string_view to LLSD
  indra/llcommon/lldate.cpp
  indra/llcommon/lldate.h
  indra/llcommon/llsd.cpp
  indra/llcommon/llsd.h
  indra/llcommon/llsdutil.cpp
  indra/llmath/llvolume.cpp
  indra/llmessage/llcorehttputil.cpp
  indra/llmessage/lltemplatemessagedispatcher.cpp
  indra/llprimitive/llmaterialid.cpp
  indra/llui/llnotifications.cpp
Labels: c/cpp, llcommon, llmath, llmessage, llprimitive, llui

#1933 #1931 BugSplat Crash: SecondLifeViewer!LLRenderTarget::release(387)
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/llwindow/llwindow.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewerwin32.cpp
Labels: c/cpp, llwindow, llrender

#1928 viewer#1916 Updated default Chat Window behavior
  indra/newview/llstartup.cpp
  indra/newview/skins/default/xui/en/floater_im_container.xml
Labels: c/cpp

#1936 SL-15354 Fixed object IMs not respecting chat settings
  indra/newview/llfloaterimnearbychathandler.cpp
Labels: c/cpp

#1935 #1931 Terminate AppViewer immediately in case of initialization failed
  indra/llrender/llrendertarget.cpp
  indra/llrender/llrendertarget.h
  indra/newview/llappviewer.cpp
Labels: c/cpp, llrender

#1938 viewer#1131 Fix gltf editor being a bit spamy
  indra/newview/llfloatergltfasseteditor.cpp
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#1941 Introduce move assignment and construction to LLPointer
  indra/llcommon/llpointer.h
Labels: c/cpp, llcommon

#1945 Remove ancient MSVC7 code
  indra/llcommon/llpreprocessor.h
  indra/newview/llappviewerwin32.cpp
Labels: c/cpp, llcommon

#1949 Fix for crash in XMLRPC reply decoding on login with large inventories
  indra/llcommon/llsd.cpp
  indra/llcommon/llsd.h
  indra/llxml/llxmlnode.cpp
  indra/llxml/llxmlnode.h
  indra/newview/llxmlrpctransaction.cpp
Labels: c/cpp, llcommon, llxml

#1953 Fix build error in llxmlnode.cpp
  indra/llxml/llxmlnode.cpp
Labels: c/cpp, llxml

#1892 Lua appearance listener
  indra/llui/llluafloater.cpp
  indra/newview/CMakeLists.txt
  indra/newview/llappearancelistener.cpp
  indra/newview/llappearancelistener.h
  indra/newview/llappearancemgr.cpp
  indra/newview/llappearancemgr.h
  indra/newview/llviewermenu.cpp
  indra/newview/llwearableitemslist.cpp
  indra/newview/llwearableitemslist.h
  indra/newview/scripts/lua/luafloater_outfits_list.xml
  indra/newview/scripts/lua/require/LLAppearance.lua
  indra/newview/scripts/lua/test_LLAppearance.lua
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, cmake, llui

#1954 viewer#1299 PBR texture stretches when "stretch textures" is unchecked
  indra/newview/llselectmgr.cpp
  indra/newview/llselectmgr.h
Labels: c/cpp

#1958 Break out common `LLAppearanceMgr::wearOutfit(LLInventoryCategory*)` method
  indra/llcommon/llsdutil.h
  indra/newview/llappearancelistener.cpp
  indra/newview/llappearancemgr.cpp
  indra/newview/llappearancemgr.h
Labels: c/cpp, llcommon

#1966 1943 make sys free in texture console llmemorysavailphysicalmeminkb tell the truth
  indra/llcommon/llmemory.cpp
  indra/llcommon/llsys.cpp
  indra/llcommon/llsys.h
  indra/newview/llappviewer.cpp
  indra/newview/llviewertexture.cpp
Labels: c/cpp, llcommon

#1951 Fix broken hero probe feature table entries
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
Labels: c/cpp

#1946 Update tracy profiler to 0.10
  autobuild.xml
  indra/llcommon/llerror.cpp
  indra/llcommon/llerrorcontrol.h
  indra/llcommon/lleventfilter.h
  indra/llcommon/llmemory.cpp
  indra/llcommon/llmutex.cpp
  indra/llcommon/llprofiler.h
  indra/llcommon/llsdserialize.cpp
  indra/llcommon/llsdserialize_xml.cpp
  indra/llcommon/llsdutil.cpp
  indra/llcommon/llsys.cpp
  indra/llcommon/llthread.cpp
  indra/llcommon/lltimer.cpp
  indra/llmath/llvolume.cpp
  indra/llmath/llvolumeoctree.h
  indra/llrender/llfontgl.cpp
  indra/llrender/llrender.cpp
  indra/llwindow/llwindowwin32.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llcallingcard.cpp
  indra/newview/lldrawable.cpp
  indra/newview/lldrawpoolavatar.cpp
  indra/newview/llface.cpp
  indra/newview/llnotificationscripthandler.cpp
  indra/newview/llscreenchannel.cpp
  indra/newview/llspatialpartition.cpp
  indra/newview/llsurfacepatch.cpp
  indra/newview/lltoastpanel.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerparceloverlay.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvosurfacepatch.cpp
  indra/newview/llworld.cpp
  indra/test/test.cpp
Labels: c/cpp, llwindow, llcommon, llmath, llrender, team:viewer

#1967 #1826 Fix for LL_ERRS crashing in mutex lock
  indra/llcommon/llerror.cpp
Labels: c/cpp, llcommon

#1950 Fix excessive clearing of shader cache when toggling mirrors
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewershadermgr.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llrender

#1948 Update meshoptimizer package to 0.21
  autobuild.xml
  indra/llmeshoptimizer/llmeshoptimizer.cpp
Labels: c/cpp, llmeshoptimizer, team:viewer

#1970 Remove orphaned constants gMinVideoRam and gMaxVideoRam
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
Labels: c/cpp

#1969 #1932 Fix a case where an IM toast wasn't displayed
  indra/newview/llimview.cpp
Labels: c/cpp

#1960 #1959 BugSplat Crash #1489790: VCRUNTIME140!memcmp(72)
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#1980 Introduce LLCoros::RMutex, use for SettingsConfig::mRecorderMutex
  indra/llcommon/llcoros.h
  indra/llcommon/llerror.cpp
Labels: c/cpp, llcommon

#1978 Neither alpha, tattoo nor universal wearable edit panels contain a param list and a main panel
  indra/newview/llpaneleditwearable.cpp
Labels: c/cpp

#1982 secondlife/viewer#1885: Terrain texture repeats: Remove feature flag dependency on simulator feature in favor of cap
  doc/testplans/pbr_terrain_composition.md
  indra/newview/app_settings/settings.xml
  indra/newview/llviewerregion.cpp
Labels: c/cpp

#1983 #1859 BugSplat Crash: SecondLifeViewer!<lambda>::operator()(61)
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#1973 viewer#1965 Fixed selection swirls swirling forever when the UI is hidden
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#1985 Update llphysicsextensions_source to v1.0.66e6919
  autobuild.xml
Labels: team:viewer

#1987 viewer#1975 Fixed "Allow Land Resell" option not switching
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp

#1992 viewer#1253 Viewer tries to detach attachments in inventory on shutdown
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
Labels: c/cpp

#1984 Remove ability to reuse a `LuaState` between `LLLUAmanager` functions.
  indra/llcommon/lua_function.cpp
  indra/llcommon/lua_function.h
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llfloaterluadebug.h
  indra/newview/llluamanager.cpp
  indra/newview/llluamanager.h
  indra/newview/scripts/lua/require/fiber.lua
  indra/newview/skins/default/xui/en/floater_lua_debug.xml
  indra/newview/tests/llluamanager_test.cpp
Labels: c/cpp, llcommon

#1994 Fix for GLTF scenes not uploading
  indra/newview/gltf/asset.cpp
  indra/newview/gltfscenemanager.cpp
Labels: c/cpp

#2002 Revert "secondlife/viewer#1885: Terrain texture repeats: Remove feature flag dependency on simulator feature in favor of cap"
  indra/newview/llviewerregion.cpp
Labels: c/cpp, ignore-for-release

#1995 viewer#1988 "Set empty" for controls ignores "Apply to all"
  indra/newview/llsetkeybinddialog.cpp
Labels: c/cpp

#2009 Show description and actual value of LLSD type setting
  indra/newview/llfloaterluadebug.cpp
  indra/newview/llfloatersettingsdebug.cpp
  indra/newview/llfloatersettingsdebug.h
  indra/newview/skins/default/xui/en/floater_settings_debug.xml
Labels: c/cpp

#2011 Initialize array before use
  indra/newview/gltf/primitive.cpp
Labels: c/cpp

#2010 Make image_list_t iterator const
  indra/newview/llviewertexturelist.h
Labels: c/cpp

#2008 viewer#1990 Fixed "Main dictionary" option is switching to the previous value
  indra/newview/llfloaterspellchecksettings.cpp
  indra/newview/llfloaterspellchecksettings.h
Labels: c/cpp

#2017 Fix: Stop textures from being set as inactive if still on a face.
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#2012 viewer#1975 Fixed "Allow Land Resell" option not switching
  indra/newview/llfloaterregioninfo.cpp
Labels: c/cpp

#2016 viewer#2006 Fixed terrain textures not updating in the "Region/Estate" floater
  indra/newview/llviewerregion.cpp
Labels: c/cpp

#2035 #2034 BugSplat Crash #1494883: LLCullResult::clear(3983)
  indra/newview/llspatialpartition.cpp
Labels: c/cpp

#2040 #2039 BugSplat Crash #1494687: LLPipeline::calcNearbyLights(LLCamera&)
  indra/newview/pipeline.cpp
Labels: c/cpp

#2025 Raised the 512x512 limitation for uploading snapshots to inventory to 2048x2048
  indra/newview/llagentbenefits.cpp
  indra/newview/llagentbenefits.h
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llpanelsnapshot.cpp
  indra/newview/llpanelsnapshotinventory.cpp
  indra/newview/llpanelsnapshotoptions.cpp
  indra/newview/llsnapshotlivepreview.cpp
Labels: c/cpp

#2032 Fix: Update calcDataSizeJ2C to pyramid-base file size estimation
  indra/llimage/llimagej2c.cpp
Labels: c/cpp, llimage

#2037 #2036 BugSplat Crash #1494874: LLScrollingPanelList::updatePanelVisiblilty()(220)
  indra/llui/llscrollingpanellist.cpp
Labels: c/cpp, llui

#2046 viewer-private#251 Fixed state of folder creation in marketplace
  indra/newview/llinventorybridge.cpp
Labels: c/cpp

#2055 viewer#2027 Cannot apply PBR Materials on larger linksets
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
Labels: c/cpp

#2031 #2029 OSMessageBoxWin32 shows message box behind the viewer window
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#2052 #2051 BugSplat Crash #1495268: LLVOAvatar::updateRiggingInfo()
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2060 Fix trailing whitespaces in webrtc code to pass pre-commit
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
Labels: c/cpp

#2004 #1500 BugSplat Crash when out of disk space
  indra/llcommon/llapp.cpp
  indra/llcommon/llapp.h
  indra/llcommon/llapr.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llcommon

#2057 Remove unnecessary code and (re-)add some more compile time constants
  indra/llimage/llimage.h
  indra/llimage/llimagej2c.cpp
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llpanelsnapshot.cpp
  indra/newview/llsnapshotlivepreview.cpp
Labels: c/cpp, llimage

#2054 Fixes bad upload quality issue with OpenJPEG
  indra/llimagej2coj/llimagej2coj.cpp
Labels: c/cpp, llimagej2coj

#2058 viewer#1997 Warn user if closing appearance with unsaved changes
  indra/newview/llfloatersidepanelcontainer.cpp
  indra/newview/llfloatersidepanelcontainer.h
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#2062 viewer#2061 Crash in ~LLScriptEdCore()
  indra/newview/llpreviewscript.cpp
Labels: c/cpp

#2068 Allow `LLEventPump` listener access to its own `LLBoundListener`.
  indra/llcommon/lleventfilter.cpp
  indra/llcommon/lleventfilter.h
  indra/llcommon/llevents.cpp
  indra/llcommon/llevents.h
  indra/llui/llnotifications.h
  indra/llui/llnotificationslistener.cpp
  indra/newview/llspeakers.h
  indra/newview/tests/llluamanager_test.cpp
  indra/test/llevents_tut.cpp
  indra/viewer_components/login/tests/lllogin_test.cpp
Labels: c/cpp, llcommon, llui

#2066 Enable SSE2 instruction support in glm for optimized codegen
  indra/cmake/00-Common.cmake
Labels: cmake

#2070 viewer#1923 Fix dependent floater going too far from parent
  indra/llui/llfloater.cpp
Labels: c/cpp, llui

#1996 Fix for tracy build.
  indra/llcommon/llsdserialize.cpp
  indra/newview/lldrawable.cpp
  indra/newview/llspatialpartition.cpp
Labels: c/cpp, llcommon

#2073 calcDataSizeJ2C adjusted to use maximum possible components
  indra/llimage/llimagej2c.cpp
Labels: c/cpp, llimage

#2075 Add newer MSVC redist libs to copy action
  indra/cmake/Copy3rdPartyLibs.cmake
  indra/newview/viewer_manifest.py
Labels: cmake, python

#2081 Introduce scroll wheel support to LLComboBox
  indra/llui/llcombobox.cpp
  indra/llui/llcombobox.h
Labels: c/cpp, llui

#2080 Cache various frequently accessed settings
  indra/llui/lllayoutstack.cpp
  indra/newview/llagentcamera.cpp
  indra/newview/llcontrolavatar.cpp
  indra/newview/lldrawpoolalpha.cpp
  indra/newview/lldrawpoolterrain.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llviewerdisplay.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llui

#2078 Fix two rare shutdown crashes in gCacheName and gObjectList
  indra/llmessage/llcachename.cpp
  indra/llmessage/llcachename.h
  indra/newview/llfloateravatarpicker.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerobjectlist.h
Labels: c/cpp, llmessage

#2079 Use thread pool to create plugin processes to reduce created/destroyed threads
  indra/llplugin/llpluginprocessparent.cpp
  indra/llplugin/llpluginprocessparent.h
Labels: c/cpp, llplugin

#2084 Update llca to 202407221423.0
  autobuild.xml
Labels: team:viewer

#2085 Fix various nullptr crashes
  indra/llui/llscrolllistctrl.cpp
  indra/newview/llfloaterimcontainer.cpp
  indra/newview/llimview.cpp
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorypanel.cpp
  indra/newview/llpanellandmarks.cpp
  indra/newview/llviewercontrol.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llxmlrpctransaction.cpp
Labels: c/cpp, llui

#2086 Update expired cert in integration test
  indra/newview/tests/llsechandler_basic_test.cpp
Labels: c/cpp

#2091 #1318 Pagination in the Group Interface
  indra/llui/llscrolllistctrl.cpp
  indra/newview/llgroupmgr.cpp
  indra/newview/llgroupmgr.h
  indra/newview/llpanelgroupbulk.cpp
  indra/newview/llpanelgroupbulkimpl.h
  indra/newview/llpanelgrouproles.cpp
Labels: c/cpp, llui

#2097 #2095 Crash #1497728: LLInventorySingleFolderPanel::hasVisibleItems
  indra/newview/llinventorypanel.cpp
  indra/newview/llinventorypanel.h
Labels: c/cpp

#2092 Improve error message notifying user that Voice Morph Effects are not supported
  indra/newview/llvoiceclient.cpp
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/en/strings.xml
  indra/newview/tests/llsechandler_basic_test.cpp
Labels: c/cpp

#2098 Fix matrix stack underflow during avatar preview generation
  indra/newview/pipeline.cpp
Labels: c/cpp

#2105 Fix warning from misnamed button image name reference
  indra/newview/llhudtext.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/lloutfitgallery.cpp
  indra/newview/llphysicsmotion.cpp
  indra/newview/lltoolpie.cpp
  indra/newview/skins/default/xui/en/panel_scrolling_param.xml
  indra/newview/skins/default/xui/en/widgets/drop_down.xml
Labels: c/cpp

#2106 #1318 Pagination in the Group Interface (small fix)
  indra/newview/llgroupmgr.cpp
Labels: c/cpp

#2099 Fix various sources of stutter from findChild during draw
  indra/llui/lldockcontrol.cpp
  indra/llui/lldockcontrol.h
  indra/llui/llscrollbar.cpp
  indra/llui/llscrollbar.h
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
  indra/llui/llviewereventrecorder.cpp
  indra/llui/llwindowshade.cpp
  indra/llui/llwindowshade.h
  indra/newview/llfloaterimsessiontab.cpp
  indra/newview/llfloaterimsessiontab.h
  indra/newview/llfloaterland.cpp
  indra/newview/llfloaterland.h
  indra/newview/llfloaterperformance.cpp
  indra/newview/llfloaterperformance.h
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llfloatersnapshot.h
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llfloaterworldmap.h
  indra/newview/llpanelblockedlist.cpp
  indra/newview/llpanelblockedlist.h
  indra/newview/llpanelenvironment.cpp
  indra/newview/llpanelenvironment.h
  indra/newview/llpanelgroup.cpp
  indra/newview/llpanelgroup.h
  indra/newview/llpanelland.cpp
  indra/newview/llpanelland.h
  indra/newview/llprogressview.cpp
  indra/newview/llprogressview.h
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
  indra/newview/llviewermenu.cpp
Labels: c/cpp, llui

#2093 viewer#2065 Region restart schedule floater
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llfloaterregionrestartschedule.cpp
  indra/newview/llfloaterregionrestartschedule.h
  indra/newview/llviewerregion.cpp
  indra/newview/skins/default/xui/en/floater_region_restart_schedule.xml
  indra/newview/skins/default/xui/en/panel_region_general.xml
Labels: c/cpp, cmake

#2109 Fix commit 4b543b618b101aca9dee1f224d8dbd4fbf937d71
  indra/newview/llhudtext.cpp
Labels: c/cpp

#2111 Fix commit 66d2c846b180d58e4e90052d87e27505e2d22736
  indra/newview/llpanelenvironment.h
Labels: c/cpp

#2110 #1318 Pagination in the Group Interface (rework)
  indra/newview/llgroupmgr.cpp
  indra/newview/llgroupmgr.h
  indra/newview/llpanelgrouproles.cpp
Labels: c/cpp

#2115 Reduce utf8 to wstring conversion and llwstring temporaries during text draw
  indra/llrender/llfontgl.cpp
  indra/llui/llbadge.cpp
  indra/llui/llbutton.cpp
  indra/llui/llbutton.h
  indra/llui/llconsole.cpp
  indra/llui/llcontainerview.cpp
  indra/llui/llcontainerview.h
  indra/llui/llfolderview.cpp
  indra/llui/llfolderviewitem.cpp
  indra/llui/llfolderviewitem.h
  indra/llui/llmenugl.cpp
  indra/llui/llmultisliderctrl.cpp
  indra/llui/llscrolllistcell.cpp
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llsliderctrl.cpp
  indra/llui/llstatbar.cpp
  indra/llui/llstatgraph.cpp
  indra/newview/llexpandabletextbox.cpp
  indra/newview/llprogressview.cpp
  indra/newview/llworldmapview.cpp
Labels: c/cpp, llrender, llui

#2116 Fix more findChild calls during draw and frequent data callbacks
  indra/newview/llfloaterconversationlog.cpp
  indra/newview/llfloaterconversationlog.h
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitgallery.h
  indra/newview/llpaneleditwearable.cpp
  indra/newview/llpaneleditwearable.h
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llpanelmaininventory.cpp
  indra/newview/llpanelmaininventory.h
  indra/newview/llpaneloutfitedit.cpp
  indra/newview/llpaneloutfitedit.h
  indra/newview/llpaneloutfitsinventory.cpp
  indra/newview/llpaneloutfitsinventory.h
  indra/newview/llpanelpeople.cpp
  indra/newview/llpanelpeople.h
  indra/newview/llscrollingpanelparambase.cpp
  indra/newview/llscrollingpanelparambase.h
  indra/newview/llsidepanelappearance.cpp
  indra/newview/llsidepanelappearance.h
  indra/newview/llwearableitemslist.cpp
  indra/newview/llwearableitemslist.h
  indra/newview/skins/default/xui/en/panel_edit_alpha.xml
Labels: c/cpp

#2127 Fix running multiple viewer instances stealing sound from first instance
  indra/llaudio/llaudiodecodemgr.cpp
  indra/llaudio/llaudioengine.cpp
Labels: c/cpp, llaudio

#2126 Fix rapidly triggering gestures can make them get stuck
  indra/newview/llgesturemgr.cpp
Labels: c/cpp

#2120 Fix a bunch of XUI warnings
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llfloaterworldmap.h
  indra/newview/llpanelgroup.cpp
  indra/newview/llpanelgroup.h
  indra/newview/skins/default/xui/en/floater_im_session.xml
  indra/newview/skins/default/xui/en/widgets/emoji_complete.xml
Labels: c/cpp

#2124 Destroy stream process when stopping audio stream to allow restarting when libvlc is stuck or errored internally
  indra/newview/llviewermedia_streamingaudio.cpp
Labels: c/cpp

#2125 Fix warning for Type mismatch in LLMsgVarData::addData for SpaceIP
  indra/newview/llcallingcard.cpp
Labels: c/cpp

#2123 viewer#2113 Optional disable eyes/head follow cursor/lookat
  indra/newview/app_settings/settings.xml
  indra/newview/llhudeffectlookat.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#2129 Fix double variable name in initialization
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp

#2130 fix misleading indentation compiler warnings
  indra/newview/llpanelprofile.cpp
Labels: c/cpp

#2134 Linux; Package lllibwebrtc.so
  indra/newview/viewer_manifest.py
Labels: python

#2133 Add ability to compile and run tests on Linux
  indra/llcorehttp/tests/llcorehttp_test.cpp
  indra/llfilesystem/tests/lldir_test.cpp
Labels: c/cpp, llcorehttp, llfilesystem

#2137 Fix trailing whitespaces in webrtc code to pass pre-commit
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
Labels: c/cpp

#2140 Update expired cert in integration test
  indra/newview/tests/llsechandler_basic_test.cpp
Labels: c/cpp

#2138 Fix PR builds from forks
  .github/workflows/build.yaml
Labels: ignore-for-release

#2104 #2103 BugSplat Crash #1497033: LLViewerTextureList::getImage
  indra/newview/llvovolume.cpp
Labels: c/cpp

#2122 #2100 BugSplat Crash #1497210: LLVOAvatar::updateImpostors()(10616)
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llcharacter/llkeyframemotion.cpp
  indra/newview/llavatarrenderinfoaccountant.cpp
  indra/newview/llcontrolavatar.cpp
  indra/newview/llfloater360capture.cpp
  indra/newview/llfloaterperformance.cpp
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llscenemonitor.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llworld.cpp
  indra/newview/llworld.h
  indra/newview/pipeline.cpp
Labels: c/cpp, llcharacter

#2143 build.yaml: Remove unused BUILD variable
  .github/workflows/build.yaml
Labels: ignore-for-release

#2146 viewer#2142 Crash at LLOutfitGalleryItem::setDefaultImage
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallery.h
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitgallery.h
Labels: c/cpp

#2117 viewer-private#255 p2p outgoing calls did not work correctly
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoiceclient.h
  indra/newview/llvoicevivox.cpp
  indra/newview/llvoicevivox.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp

#2141 fix another misleading indentation compiler warning
  indra/llxml/llxmltree.cpp
Labels: c/cpp, llxml

#2148 viewer#2121 Don't update Audio visualizer if voice is blocked
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#2149 Cache LLVOAvatar::isBuddy check to reduce repeated calls to LLAvatarTracker::isBuddy during draw
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp

#2147 build.yaml: Fix FROM_FORK value, ReleaseOS PR builds
  .github/workflows/build.yaml
  build.sh
Labels: ignore-for-release, team:viewer

#2154 Represent the many "LLAgent" "setCameraParams" args in an array.
  indra/newview/llagentlistener.cpp
  indra/newview/scripts/lua/test_camera_control.lua
Labels: c/cpp

#2118 Lua api for Follow Camera control
  indra/newview/llagentlistener.cpp
  indra/newview/llagentlistener.h
  indra/newview/scripts/lua/luafloater_camera_control.xml
  indra/newview/scripts/lua/require/LLAgent.lua
  indra/newview/scripts/lua/test_camera_control.lua
Labels: c/cpp

#2155 [WebRTC] Use new webrtc lib with crash-on-fatal support
  autobuild.xml
Labels: team:viewer, webRTC
