Repository secondlife/viewer, pull requests merged in 2025-02, with the labels that each got.

#3501 #3346 crash at LLConversationItemSession::clearAndDeparentModels
  indra/newview/llconversationmodel.cpp
Labels: c/cpp

#3500 Andreyk/wip mesh loading
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#3499 Run QA test workflow
  .github/workflows/qatest.yaml
Labels: team:qa

#3497 Fix media failing to function on PBR materials (#3445)
  indra/newview/llviewertexture.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3509 Update qatest.yaml to scan build branch name
  .github/workflows/qatest.yaml
Labels: team:qa

#3510 Update qatest.yaml upload-artifact version
  .github/workflows/qatest.yaml
Labels: team:qa, team:viewer

#3517 Water Exclusion Surfaces
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/shaders/class1/objects/simpleColorF.glsl
  indra/newview/app_settings/shaders/class1/objects/simpleNoAtmosV.glsl
  indra/newview/app_settings/shaders/class3/deferred/waterHazeF.glsl
  indra/newview/app_settings/shaders/class3/environment/underWaterF.glsl
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/lldrawpool.cpp
  indra/newview/lldrawpool.h
  indra/newview/lldrawpoolwater.cpp
  indra/newview/lldrawpoolwater.h
  indra/newview/lldrawpoolwaterexclusion.cpp
  indra/newview/lldrawpoolwaterexclusion.h
  indra/newview/llviewershadermgr.cpp
  indra/newview/llviewershadermgr.h
  indra/newview/llviewertexturelist.cpp
  indra/newview/llvovolume.cpp
  indra/newview/pipeline.cpp
  indra/newview/pipeline.h
Labels: c/cpp, cmake, llrender

#3518 viewer-private#375 add more logging in attempt to get more info
  indra/newview/llvoiceclient.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#3521 #3332 Switching screens can break text rendering
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llrender/llfontvertexbuffer.cpp
  indra/llrender/llfontvertexbuffer.h
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llrender

#3532 #3332 Fix buffers not accounting for dynamic cache values
  indra/llrender/llfontbitmapcache.cpp
  indra/llrender/llfontfreetype.h
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llrender/llfontvertexbuffer.cpp
  indra/llrender/llfontvertexbuffer.h
Labels: c/cpp, llrender

#3536 #3210 Fix for "Texture will be downscaled" log message happening too often
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#3535 Lua editor: initial PR to start the project viewer
  indra/llmessage/message_prehash.cpp
  indra/llmessage/message_prehash.h
  indra/llui/llcombobox.cpp
  indra/llui/llcombobox.h
  indra/llui/llkeywords.cpp
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llscrolllistctrl.h
  indra/newview/app_settings/keywords_lsl_default.xml
  indra/newview/llcompilequeue.cpp
  indra/newview/llcompilequeue.h
  indra/newview/llpreviewscript.cpp
  indra/newview/llpreviewscript.h
  indra/newview/llstartup.cpp
  indra/newview/llviewerassetupload.cpp
  indra/newview/llviewerassetupload.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/floater_live_lsleditor.xml
Labels: c/cpp, llmessage, llui

#3533 viewer-private#395 Fix voice not reconnecting
  indra/newview/llvoicevivox.cpp
Labels: c/cpp

#3539 viewer-private#396 Use benefits for picks count
  indra/newview/llagentpicksinfo.cpp
  indra/newview/llagentpicksinfo.h
Labels: c/cpp

#3548 viewer-private#394 Ensure correct item id is used on mac
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#3549 Update ForeverFPS build to use macos15/xcode16.1
  .github/workflows/build.yaml
  indra/CMakeLists.txt
  indra/llcommon/fsyspath.h
  indra/llcommon/llqueuedthread.cpp
  indra/llrender/llfontfreetype.cpp
  indra/llrender/llimagegl.cpp
  indra/llwindow/llwindowmacosx.cpp
  indra/newview/gltfscenemanager.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/lltexturefetch.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp, cmake, llwindow, llcommon, llrender

#3560 Lua editor: mac build fix
  .github/workflows/build.yaml
  indra/CMakeLists.txt
  indra/llcommon/fsyspath.h
  indra/llcommon/llqueuedthread.cpp
  indra/llrender/llimagegl.cpp
  indra/llwindow/llwindowmacosx.cpp
  indra/newview/gltfscenemanager.cpp
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/lltexturefetch.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/viewer_components/login/lllogin.cpp
Labels: c/cpp, cmake, llwindow, llcommon, llrender

#3562 Switch from GL_RGB16F to GL_R11F_G11F_B10F for probes
  indra/llrender/llcubemaparray.cpp
  indra/llrender/llimagegl.cpp
  indra/newview/llreflectionmapmanager.cpp
Labels: c/cpp, llrender

#3558 #2639 GPU test twice to fix misreported bandwidth
  indra/newview/llglsandbox.cpp
Labels: c/cpp

#3570 #3511 fix for PBR skies being too bright on Low Graphics
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/newview/llsettingsvo.cpp
Labels: c/cpp, llinventory

#3565 drain UDP socket to avoid dropped packets
  indra/llappearance/llavatarappearance.cpp
  indra/llmessage/llpacketbuffer.cpp
  indra/llmessage/llpacketbuffer.h
  indra/llmessage/llpacketring.cpp
  indra/llmessage/llpacketring.h
  indra/llmessage/message.cpp
  indra/llmessage/message.h
  indra/llmessage/net.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llstartup.cpp
Labels: c/cpp, llappearance, llmessage

#3585 #3581 #3563 Fix callback deletion not working
  indra/llui/llfolderview.cpp
Labels: c/cpp, llui

#3599 #3572 fix for More/Less previews are being disabled in Shape editor
  indra/newview/llscrollingpanelparam.h
Labels: c/cpp

#3600 viewer-private#398 Fix constant asset rerequests
  indra/newview/gltfscenemanager.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp

#3603 #3332 Remake glyph count into cache generation
  indra/llrender/llfontbitmapcache.cpp
  indra/llrender/llfontbitmapcache.h
  indra/llrender/llfontfreetype.cpp
  indra/llrender/llfontfreetype.h
  indra/llrender/llfontgl.cpp
  indra/llrender/llfontgl.h
  indra/llrender/llfontvertexbuffer.cpp
  indra/llrender/llfontvertexbuffer.h
Labels: c/cpp, llrender

#3602 Adjust specular to hopefully bring back some of the "sparkles" on water.
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/lldrawpoolwater.cpp
Labels: c/cpp

#3610 #3331 - Mirrors no longer function on relog
  indra/newview/llheroprobemanager.cpp
  indra/newview/llheroprobemanager.h
Labels: c/cpp

#3613 #3591 More test coverage for crashes
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llviewermenu.cpp
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp

#3620 Revert "#2639 GPU test twice to fix misreported bandwidth (#3558)"
  indra/newview/llglsandbox.cpp
Labels: c/cpp

#3589 theoretical earlier start to asset downloads during startup
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llstartup.cpp
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#3622 #3597 Fix crash when RenderDebugGLSession is True
  indra/llrender/llgl.cpp
Labels: c/cpp, llrender

#3628 #3627 Warn user about low memory on bad_alloc
  indra/llmessage/llcoproceduremanager.cpp
  indra/llmessage/llcorehttputil.cpp
  indra/newview/llvosky.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llmessage

#3583 Andreyk/avatars load
  indra/llappearance/llavatarappearance.cpp
  indra/llmessage/llpacketbuffer.cpp
  indra/llmessage/llpacketbuffer.h
  indra/llmessage/llpacketring.cpp
  indra/llmessage/llpacketring.h
  indra/llmessage/message.cpp
  indra/llmessage/message.h
  indra/llmessage/net.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
  indra/newview/llstartup.cpp
  indra/newview/lltextureview.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llviewertexturelist.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
Labels: c/cpp, llappearance, llmessage
