Repository secondlife/viewer, pull requests merged in 2025-01, with the labels that each got.

#3323 #3322 No confirmation is shown when gifting all your money
  indra/newview/llfloaterpay.cpp
Labels: c/cpp

#3320 Remove obsolete cmake_minimum_required that is lower than the required version in the main CMakeLists.txt
  indra/doxygen/CMakeLists.txt
Labels: cmake

#3324 #3311 RenderSkyAutoAdjustLegacy does not engage tonemapper
  indra/llinventory/llsettingssky.cpp
  indra/llinventory/llsettingssky.h
  indra/newview/llsettingsvo.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llinventory

#3330 #3329 Crash at LLSpatialGroup::dirtyGeom
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3333 #3302 Crash at LLSaveFolderState::doFolder
  indra/newview/llpanelcontents.cpp
Labels: c/cpp

#3337 #3317 Fix full screen issue with Windows 11 24H2
  indra/llwindow/llwindow.cpp
  indra/llwindow/llwindow.h
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
Labels: c/cpp, llwindow

#3345 #3344 Crash at LLFloater::openFloater
  indra/newview/llstartup.cpp
Labels: c/cpp

#3321 Add Analyze Compile Flags
  indra/cmake/00-Common.cmake
Labels: cmake

#3351 Revert "Add Analyze Compile Flags"
  indra/cmake/00-Common.cmake
Labels: cmake

#3350 #3347 Crashes in LLFontFreetype::renderGlyph
  indra/llrender/llfontfreetype.cpp
  indra/llrender/llfontfreetype.h
Labels: c/cpp, llrender

#3361 #3360 Crash in LLReflectionMapManager::update()
  indra/newview/llreflectionmapmanager.cpp
Labels: c/cpp

#3235 Adding C++23 compatibility
  .github/workflows/build.yaml
  indra/CMakeLists.txt
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llterrainpaintmap.cpp
  indra/newview/llterrainpaintmap.h
Labels: c/cpp, cmake

#3365 #3334 Teleporting from history doesn't work
  indra/newview/llpanelteleporthistory.cpp
Labels: c/cpp

#3369 #3349 keep object selection after showing confirmation dialog
  indra/newview/llviewermenu.cpp
Labels: c/cpp

#3370 #3353 Fix favorited items not being readded on parent removal
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#3381 #3374 LLFolderViewFolder::updateHasFavorites
  indra/newview/llinventorypanel.cpp
  indra/newview/llinventorypanel.h
Labels: c/cpp

#3390 Fix world going black and white on apple gpu
  indra/llrender/llcubemaparray.cpp
  indra/llrender/llcubemaparray.h
  indra/newview/app_settings/shaders/class2/deferred/alphaF.glsl
  indra/newview/app_settings/shaders/class3/deferred/materialF.glsl
  indra/newview/llheroprobemanager.cpp
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llviewercontrol.cpp
Labels: c/cpp, llrender

#3392 #3377 Select 'All items' tab when creating a folder via '+' button
  indra/newview/llpanelmaininventory.cpp
Labels: c/cpp

#3393 #3316 Crash in LLReflectionMap::getIsDynamic()
  indra/newview/llheroprobemanager.cpp
  indra/newview/llreflectionmap.cpp
  indra/newview/llreflectionmap.h
Labels: c/cpp

#3389 fix build for gcc 15
  indra/newview/llvoiceclient.cpp
Labels: c/cpp

#3404 #3398 Remove 3p logos from the viewer
  indra/newview/llprogressview.cpp
  indra/newview/llprogressview.h
  indra/newview/skins/default/textures/3p_icons/fmod_logo.png
  indra/newview/skins/default/textures/3p_icons/havok_logo.png
  indra/newview/skins/default/textures/3p_icons/vivox_logo.png
  indra/newview/skins/default/xui/de/panel_progress.xml
  indra/newview/skins/default/xui/en/panel_progress.xml
  indra/newview/skins/default/xui/es/panel_progress.xml
  indra/newview/skins/default/xui/fr/panel_progress.xml
  indra/newview/skins/default/xui/it/panel_progress.xml
  indra/newview/skins/default/xui/ja/panel_progress.xml
  indra/newview/skins/default/xui/pl/panel_progress.xml
  indra/newview/skins/default/xui/pt/panel_progress.xml
Labels: c/cpp

#2353 Re-introduce llappearanceutility to viewer & add 2k bake support
  .gitattributes
  .github/workflows/build.yaml
  autobuild.xml
  indra/CMakeLists.txt
  indra/cmake/00-Common.cmake
  indra/cmake/Audio.cmake
  indra/cmake/EXPAT.cmake
  indra/cmake/LLAppearanceUtility.cmake
  indra/cmake/Linking.cmake
  indra/cmake/Variables.cmake
  indra/llappearance/CMakeLists.txt
  indra/llappearance/llavatarappearancedefines.cpp
  indra/llappearance/llavatarappearancedefines.h
  indra/llappearance/lltexlayer.cpp
  indra/llappearance/lltexlayer.h
  indra/llappearanceutility/CMakeLists.txt
  indra/llappearanceutility/README.md
  indra/llappearanceutility/appearance_utility.cpp
  indra/llappearanceutility/llappappearanceutility.cpp
  indra/llappearanceutility/llappappearanceutility.h
  indra/llappearanceutility/llbakingavatar.cpp
  indra/llappearanceutility/llbakingavatar.h
  indra/llappearanceutility/llbakingjoint.cpp
  indra/llappearanceutility/llbakingjoint.h
  indra/llappearanceutility/llbakingjointmesh.cpp
  indra/llappearanceutility/llbakingjointmesh.h
  indra/llappearanceutility/llbakingprocess.cpp
  indra/llappearanceutility/llbakingprocess.h
  indra/llappearanceutility/llbakingshadermgr.cpp
  indra/llappearanceutility/llbakingshadermgr.h
  indra/llappearanceutility/llbakingtexlayer.cpp
  indra/llappearanceutility/llbakingtexlayer.h
  indra/llappearanceutility/llbakingtexture.cpp
  indra/llappearanceutility/llbakingtexture.h
  indra/llappearanceutility/llbakingwearable.cpp
  indra/llappearanceutility/llbakingwearable.h
  indra/llappearanceutility/llbakingwearablesdata.cpp
  indra/llappearanceutility/llbakingwearablesdata.h
  indra/llappearanceutility/llbakingwindow.cpp
  indra/llappearanceutility/llbakingwindow.h
  indra/llappearanceutility/llprocessparams.cpp
  indra/llappearanceutility/llprocessparams.h
  indra/llappearanceutility/llprocessskin.cpp
  indra/llappearanceutility/llprocessskin.h
  indra/llappearanceutility/llprocesstexture.cpp
  indra/llappearanceutility/llprocesstexture.h
  indra/llappearanceutility/tests/joint-offsets.xml
  indra/llappearanceutility/tests/joint-offsets.xml.output
  indra/llappearanceutility/tests/params.xml
  indra/llappearanceutility/tests/params.xml.output
  indra/llappearanceutility/tests/texture.llsd.binary
  indra/llappearanceutility/tests/texture.llsd.output
  indra/llrender/CMakeLists.txt
  indra/llrender/llgl.cpp
  indra/llrender/llimagegl.cpp
  indra/llwindow/CMakeLists.txt
  indra/llwindow/llwindow.cpp
  indra/llwindow/llwindowmesaheadless.h
  indra/newview/viewer_manifest.py
Labels: c/cpp, cmake, python, llwindow, llappearance, llrender, team:viewer

#3407 #3403 fix Favorited worn outfit not coloured in My Outfits tab
  indra/newview/lloutfitslist.cpp
  indra/newview/lloutfitslist.h
Labels: c/cpp

#3363 Internal PR corresponding to AiraYumi's #3235
  .github/workflows/build.yaml
  indra/CMakeLists.txt
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/llterrainpaintmap.cpp
  indra/newview/llterrainpaintmap.h
  indra/newview/llvoiceclient.cpp
Labels: c/cpp, cmake

#3406 #3405 MotD dynamic resizing
  indra/newview/llprogressview.cpp
  indra/newview/llprogressview.h
  indra/newview/skins/default/xui/en/panel_progress.xml
  indra/newview/skins/default/xui/pl/panel_progress.xml
Labels: c/cpp

#3338 Server#1036 A blocked user should not be able to gift L$
  indra/newview/llmutelist.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#3410 #3364 Fix update rate being stuck high due to bias
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#3411 #3395 Make LLProfile error more detailed
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath

#3419 Build `develop` branch on every commit
  .github/workflows/build.yaml
Labels: ignore-for-release

#3414 #3413 Shutdown crash at removeFromLocalIDTable
  indra/newview/llviewerobject.h
  indra/newview/llviewerobjectlist.cpp
  indra/newview/llviewerobjectlist.h
Labels: c/cpp

#3432 #3319 Crash at LLInitParam::Param::setProvided
  indra/llui/llstyle.cpp
  indra/llui/llstyle.h
  indra/llui/lltextbase.cpp
  indra/llui/lltextbox.cpp
  indra/newview/llfloaterimsessiontab.cpp
Labels: c/cpp, llui

#3434 #3408 Fix linux 3p builds
  indra/newview/viewer_manifest.py
Labels: python

#3437 #3436 Better handling of 'teleport_strings.xml' parsing failure
  indra/newview/llagent.cpp
Labels: c/cpp

#3439 #3438 Crash when ParcelProperties' Bitmap is of wrong size
  indra/newview/llviewerparcelmgr.cpp
Labels: c/cpp

#3444 #3442 Crash at LLDrawable::isState
  indra/newview/pipeline.cpp
Labels: c/cpp

#3453 #3452 Crash in LLSaleInfo::asLLSD()
  indra/llinventory/llinventory.cpp
  indra/llinventory/llsaleinfo.cpp
Labels: c/cpp, llinventory

#3462 #3451 Crash at LLFloaterSnapshot::Impl::getActivePanel
  indra/newview/llfloatersnapshot.cpp
Labels: c/cpp

#3468 Fall back mul_mat4_vec3 to scalar implementation to attempt crash mitigation
  indra/llmath/llvector4a.h
  indra/llmath/v3math.h
  indra/llmath/v4math.h
  indra/llrender/llrender.cpp
  indra/newview/gltfscenemanager.cpp
  indra/newview/llgltfmaterialpreviewmgr.cpp
  indra/newview/llhudrender.cpp
  indra/newview/llpanelprimmediacontrols.cpp
  indra/newview/llreflectionmap.cpp
  indra/newview/llsettingsvo.cpp
  indra/newview/llviewercamera.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp, llmath, llrender

#3470 brad/3335 set shaders abort logging
  indra/llrender/llshadermgr.cpp
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp, llrender

#3471 Add Show Selected C++ Standard
  indra/CMakeLists.txt
Labels: cmake

#3477 #3473 Fix crash at mActiveObjects
  indra/newview/llviewerobjectlist.cpp
Labels: c/cpp

#3479 #3466 Crash at LLScrollingPanelParam::draw
  indra/newview/llappearancemgr.cpp
Labels: c/cpp

#3483 #3383 'InventoryAddAttachmentBehavior' setting should affect inventory panel in List view
  indra/newview/app_settings/settings.xml
  indra/newview/llinventorybridge.cpp
Labels: c/cpp

#3487 viewer#2576 Crash baning a resident
  indra/newview/llpanelgroupbulk.cpp
  indra/newview/llpanelgroupbulkban.cpp
  indra/newview/llpanelgroupbulkimpl.h
Labels: c/cpp

#3482 #3400 Reimplement LLError marker for crash statistics
  indra/llcommon/llerror.h
  indra/newview/llappviewer.cpp
Labels: c/cpp, llcommon
