Repository secondlife/viewer, pull requests merged in 2025-06, with the labels that each got.

#4205 #4203 show valid log info about 16 bit limit
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4207 #4097 Fix crash in LLGLTFLoader::populateModelFromMesh()
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4208 #4080 Rigged mesh support #7
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4219 #4214 Fix material upload
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4228 Fix GLTF import missing mesh parts
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4229 #4170 Follow-up: Optimize GLTF node hierarchy traversal
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4241 #4114 Improve GLTF mesh uploader log
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4239 macOS 26 build changes
  indra/cmake/Linking.cmake
  indra/llplugin/llpluginprocessparent.cpp
  indra/llwindow/llopenglview-objc.mm
  indra/newview/llfloateruipreview.cpp
Labels: c/cpp, cmake, llwindow, llplugin

#4249 #4248 Add safety checks to LLMeshSkinInfo::asLLSD()
  indra/llprimitive/llmodel.cpp
Labels: c/cpp, llprimitive

#4251 #4147 Joint override
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4254 #4114 Improve GLTF mesh uploader log 2
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4262 Bump viewer version for 2025.04.1
  indra/newview/VIEWER_VERSION.txt
Labels: c/cpp, cmake

#4256 #4147 Move mAlternateBindMatrices
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4266 #4147 Joint Overrides #3
  indra/llappearance/CMakeLists.txt
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/llappearance/lljointdata.h
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
  indra/newview/llmodelpreview.cpp
Labels: c/cpp, cmake, llappearance

#4273 #4204 Log embedded texture extraction failure
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4278 #4204 Unused code cleanup
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4279 #4204 Remove more unused code
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4276 Fix loading name of banned residents in group bulk ban panel
  indra/newview/llpanelgroupbulk.cpp
  indra/newview/llpanelgroupbulkimpl.h
Labels: c/cpp

#4177 Media changes including support for PRIM_MEDIA_FIRST_CLICK_INTERACT and HUD autoplay
  doc/testplans/PRIM_MEDIA_FIRST_CLICK_INTERACT.md
  indra/newview/app_settings/settings.xml
  indra/newview/lltoolpie.cpp
  indra/newview/lltoolpie.h
  indra/newview/llvovolume.cpp
  indra/newview/skins/default/xui/en/panel_preferences_sound.xml
Labels: c/cpp

#4292 #4291 Uploading without a .bin silently fails
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4306 Merge develop into glTF mesh import
  .github/workflows/build.yaml
  indra/llappearance/CMakeLists.txt
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/llappearance/lljointdata.h
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llbvhloader.h
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llprimitive/CMakeLists.txt
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/lldaeloader.h
  indra/llprimitive/llgltfloader.cpp
  indra/llprimitive/llgltfloader.h
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/llprimitive/llmodelloader.cpp
  indra/llprimitive/llmodelloader.h
  indra/newview/CMakeLists.txt
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/llfilepicker.cpp
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterbvhpreview.h
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llskinningutil.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
  indra/newview/skins/default/xui/en/floater_model_preview.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, cmake, llcharacter, llappearance, llprimitive

#4307 Revert "Merge develop into glTF mesh import"
  .github/workflows/build.yaml
  indra/llappearance/CMakeLists.txt
  indra/llappearance/llavatarappearance.cpp
  indra/llappearance/llavatarappearance.h
  indra/llappearance/lljointdata.h
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llbvhloader.h
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llprimitive/CMakeLists.txt
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/lldaeloader.h
  indra/llprimitive/llgltfloader.cpp
  indra/llprimitive/llgltfloader.h
  indra/llprimitive/llmodel.cpp
  indra/llprimitive/llmodel.h
  indra/llprimitive/llmodelloader.cpp
  indra/llprimitive/llmodelloader.h
  indra/newview/CMakeLists.txt
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/buffer_util.h
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
  indra/newview/gltfscenemanager.cpp
  indra/newview/llfilepicker.cpp
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterbvhpreview.h
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llskinningutil.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
  indra/newview/skins/default/xui/en/floater_model_preview.xml
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, cmake, llcharacter, llappearance, llprimitive

#4310 Revert "Fix LLCharacter base class constness."
  indra/llappearance/llavatarappearance.h
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llbvhloader.h
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/lldaeloader.h
  indra/llprimitive/llmodelloader.h
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterbvhpreview.h
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
Labels: c/cpp, llcharacter, llappearance, llprimitive
