Repository secondlife/viewer, pull requests merged in 2025-10, with the labels that each got.

#4778 #4777 Fix webrtc crashing in worker threads on shutdown
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#4784 #1759 Fix texture picker using IMG_WHITE for blank materials
  indra/newview/lltexturectrl.cpp
Labels: c/cpp

#4725 Fix #4195: Preserve transforms when switching PBR materials
  indra/llprimitive/llgltfmaterial.cpp
  indra/llprimitive/llgltfmaterial.h
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llselectmgr.cpp
  indra/newview/lltooldraganddrop.cpp
Labels: c/cpp, llprimitive

#4790 #4772 fix group ownership detection for deeded objects
  indra/llinventory/llpermissions.cpp
Labels: c/cpp, llinventory

#4791 Cherry pick of #2570 - Fix baked texture being shared between avatars
  indra/newview/llfetchedgltfmaterial.cpp
  indra/newview/llfetchedgltfmaterial.h
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
Labels: c/cpp

#4797 #4796 Preferences' mic volume slider had no effect.
  indra/llwebrtc/llwebrtc.cpp
Labels: c/cpp

#4775 Reenabled Havok LLPhysicsExtensions for Rosetta
  autobuild.xml
  build.sh
  indra/cmake/LLPhysicsExtensions.cmake
  indra/newview/CMakeLists.txt
Labels: cmake, team:viewer
