Repository secondlife/viewer, pull requests merged in 2025-07, with the labels that each got.

#4312 #4190 Provide unsupported extension info in log file
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4317 #4242 Better issue logging
  indra/newview/app_settings/settings.xml
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4328 Create pull_request_template.md
  .github/pull_request_template.md
Labels: ignore-for-release

#4329 Fix link in pull_request_template.md
  .github/pull_request_template.md
Labels: ignore-for-release

#4340 #4323 fix for transparent meshes
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4346 #4314 Fix model suffixes
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/lldaeloader.h
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp, llprimitive

#4355 #4339 World Map Find button shouldn't autocomplete
  indra/newview/llfloaterworldmap.cpp
Labels: c/cpp

#4360 #4349 fix repeats cannot be adjusted for specular when a normal map i…
  indra/newview/llpanelface.cpp
Labels: c/cpp

#4361 #3725 Improve reporting of avatar statistics
  indra/newview/llagentwearables.cpp
  indra/newview/llappearancemgr.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
  indra/newview/tests/llviewerassetstats_test.cpp
Labels: c/cpp

#4362 #4267 Offline messages not being requested
  indra/newview/llimprocessing.cpp
  indra/newview/llmutelist.cpp
  indra/newview/llmutelist.h
Labels: c/cpp

#4363 #4267 Offline messages not being requested #2
  indra/newview/llmutelist.cpp
Labels: c/cpp

#4364 #4294 Make upload order more deterministic
  indra/newview/llmeshrepository.cpp
Labels: c/cpp

#4367 #4204 Cache processed materials
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4368 #4204 Refactor material name and texture handling in GLTF loader
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4366 [#4365] Fix emoji hitboxes in the emoji history list
  indra/newview/llpanelemojicomplete.cpp
Labels: c/cpp

#4369 #4294 Make upload order more deterministic #2
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#4373 #4204 Cache material names, centralize texture index validation
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4375 #4349 fix repeats cannot be adjusted for specular when a normal map i…
  indra/newview/llpanelface.cpp
Labels: c/cpp

#4384 #4283 fix for missing items in 'My Outfits' floater
  indra/newview/lloutfitslist.cpp
Labels: c/cpp

#4391 #4370 Fix change in crouch behaviour
  indra/newview/llviewermessage.cpp
Labels: c/cpp

#4396 #4320 MacOS crash handling
  indra/llcommon/workqueue.cpp
  indra/newview/llappviewer.cpp
Labels: c/cpp, llcommon

#4401 #4399 Crash at load_face_from_dom_triangles
  indra/llprimitive/lldaeloader.cpp
Labels: c/cpp, llprimitive

#4407 #4393 Handle unknown exceptions in uploader better
  indra/llprimitive/llmodelloader.cpp
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp, llprimitive

#4417 #4400 Model Import "use lod above" was not updating
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llfloatermodelpreview.h
Labels: c/cpp

#4425 #4424 don't try to update theme too early
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#4423 #3851 Increase cache size
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/skins/default/xui/en/panel_preferences_advanced.xml
Labels: c/cpp

#4433 #4415 fix crash when cancelling large model process on MacOS
  indra/newview/llmodelpreview.cpp
Labels: c/cpp

#4426 Media first click interact self ownership check fix
  indra/newview/lltoolpie.cpp
Labels: c/cpp

#4442 Geenz/main to 2025.05
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/commands.xml
  indra/newview/app_settings/settings.xml
  indra/newview/llfloateravatarwelcomepack.cpp
  indra/newview/llfloateravatarwelcomepack.h
  indra/newview/llstartup.cpp
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/skins/default/xui/en/floater_avatar_welcome_pack.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/strings.xml
Labels: c/cpp, cmake

#4437 #4374 update icon for title bar
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
  indra/newview/CMakeLists.txt
  indra/newview/llappviewerwin32.cpp
  indra/newview/res/ll_icon_small.ico
  indra/newview/res/resource.h
  indra/newview/res/viewerRes.rc
Labels: c/cpp, cmake, llwindow

#4444 2k image resize
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/llfloaterimagepreview.h
  indra/newview/llviewermenufile.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#4451 Remove the first login screen
  indra/newview/llpanellogin.cpp
  indra/newview/llpanellogin.h
  indra/newview/skins/default/textures/windows/first_login_image.jpg
  indra/newview/skins/default/xui/de/panel_login_first.xml
  indra/newview/skins/default/xui/en/panel_login_first.xml
  indra/newview/skins/default/xui/es/panel_login_first.xml
  indra/newview/skins/default/xui/fr/panel_login_first.xml
  indra/newview/skins/default/xui/it/panel_login_first.xml
  indra/newview/skins/default/xui/ja/panel_login_first.xml
  indra/newview/skins/default/xui/pl/panel_login_first.xml
  indra/newview/skins/default/xui/pt/panel_login_first.xml
  indra/newview/skins/default/xui/ru/panel_login_first.xml
  indra/newview/skins/default/xui/tr/panel_login_first.xml
  indra/newview/skins/default/xui/zh/panel_login_first.xml
  indra/newview/viewer_manifest.py
Labels: c/cpp, python

#4428 Media first click interact friend check fix
  indra/newview/lltoolpie.cpp
Labels: c/cpp

#4456 #4455 Division by zero in updateFrameStats
  indra/newview/llviewerstats.h
Labels: c/cpp

#4459 #4385 show agent name next to @ mention url in chat logs
  indra/llui/llurlaction.cpp
  indra/llui/llurlaction.h
  indra/llui/llurlentry.cpp
  indra/llui/llurlentry.h
  indra/newview/lllogchat.cpp
Labels: c/cpp, llui

#4461 #4460 debug text cannot be scrolled
  indra/newview/llfloatersettingsdebug.cpp
  indra/newview/llfloatersettingsdebug.h
  indra/newview/skins/default/xui/en/floater_test_slapp.xml
Labels: c/cpp

#4468 #4465 modify vertex limit threshold for starting splitting
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp
