Repository secondlife/viewer, pull requests merged in 2025-04, with the labels that each got.

#3848 Improvements for fix_xml_indentations.py
  scripts/code_tools/fix_xml_indentations.py
Labels: python

#3864 # 3826 Physics Material Type does not update for linked objects
  indra/newview/llpanelvolume.cpp
Labels: c/cpp

#3869 Add discord channel for open source discussion.
  CONTRIBUTING.md
Labels: team:viewer

#3860 SLua editor: Better strings and logs for external editors
  indra/llui/llkeywords.cpp
  indra/newview/llpreviewscript.cpp
  indra/newview/llpreviewscript.h
Labels: c/cpp, llui

#3875 #2702 Increase hover height's limit
  indra/newview/llvoavatar.cpp
Labels: c/cpp

#3882 #3627 std::bad_alloc when loading a model
  indra/newview/gltfscenemanager.cpp
  indra/newview/llmaterialeditor.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#3886 #3873 Return back AudioLevelWind
  indra/newview/app_settings/settings.xml
  indra/newview/llvieweraudio.cpp
Labels: c/cpp

#3888 #3745 fix for showing system notification on login #2
  indra/newview/llcallingcard.cpp
Labels: c/cpp

#3893 #3892 Crash at fillCompositionLogfont
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#3853 Fix: Apply Cloud Texture Changes from Environment Settings Floater
  indra/newview/llfloaterenvironmentadjust.cpp
Labels: c/cpp

#3901 Refactor LLWindowWin32::LLWindowWin32Thread::wakeAndDestroy()
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#3903 #3897 Fix favorite's stars being hidden in some cases
  indra/llui/llfolderview.cpp
  indra/llui/llfolderview.h
  indra/llui/llfolderviewitem.cpp
Labels: c/cpp, llui

#3909 Fix annoying llhttpdate test on windows and macos
  indra/test/llhttpdate_tut.cpp
Labels: c/cpp

#3883 Fix: Remove potentially redundant RenderAutoHideSurfaceAreaLimit sett…
  indra/newview/pipeline.cpp
Labels: c/cpp

#3907 #3757 Disable ability to create folders in individual outfits
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorygallery.cpp
  indra/newview/llinventorygallerymenu.cpp
Labels: c/cpp

#3917 Post-merge fix compareGalleryItem() in lloutfitgallery.cpp
  indra/newview/lloutfitgallery.cpp
Labels: c/cpp

#3916 #3910 Sometimes can't favorite a folder due to version mismatch.
  indra/llui/llfolderviewitem.cpp
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp, llui

#3921 #3897 Fix favorite's stars being hidden in some cases #2
  indra/llui/llfolderview.cpp
  indra/llui/llfolderview.h
  indra/llui/llfolderviewitem.cpp
Labels: c/cpp, llui

#3927 Add a bunch of old and new math improvements
  indra/llappearance/llpolymorph.cpp
  indra/llcommon/indra_constants.h
  indra/llcommon/lldefs.h
  indra/llcommon/stdtypes.h
  indra/llmath/llcamera.h
  indra/llmath/llcoordframe.cpp
  indra/llmath/llcoordframe.h
  indra/llmath/llline.h
  indra/llmath/llmath.h
  indra/llmath/llquaternion.cpp
  indra/llmath/llvolume.cpp
  indra/llmath/llvolume.h
  indra/llmath/m3math.cpp
  indra/llmath/m4math.cpp
  indra/llmath/v2math.cpp
  indra/llmath/v2math.h
  indra/llmath/v3color.cpp
  indra/llmath/v3color.h
  indra/llmath/v3colorutil.h
  indra/llmath/v3dmath.cpp
  indra/llmath/v3dmath.h
  indra/llmath/v3math.cpp
  indra/llmath/v3math.h
  indra/llmath/v4color.cpp
  indra/llmath/v4color.h
  indra/llmath/v4coloru.cpp
  indra/llmath/v4coloru.h
  indra/llmath/v4math.cpp
  indra/llmath/v4math.h
  indra/llmath/xform.h
  indra/newview/llpanelprimmediacontrols.cpp
  indra/newview/llphysicsmotion.cpp
Labels: c/cpp, llappearance, llcommon, llmath

#3929 Remove obsolete cmake_minimum_required that is lower than the required version in the main CMakeLists.txt
  indra/doxygen/CMakeLists.txt
Labels: cmake

#3930 Restore currently entered text in chat entry textbox after going through history with Ctrl-PgUp/PgDown
  indra/llui/llchatentry.cpp
  indra/llui/llchatentry.h
Labels: c/cpp, llui

#3932 Snapshot fixes from archived develop branch
  indra/newview/llpanelsnapshot.cpp
  indra/newview/llpanelsnapshotinventory.cpp
  indra/newview/llpanelsnapshotlocal.cpp
  indra/newview/llpanelsnapshotoptions.cpp
  indra/newview/llpanelsnapshotpostcard.cpp
  indra/newview/llpanelsnapshotprofile.cpp
  indra/newview/skins/default/xui/de/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/de/panel_snapshot_options.xml
  indra/newview/skins/default/xui/en/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/en/panel_snapshot_options.xml
  indra/newview/skins/default/xui/es/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/es/panel_snapshot_options.xml
  indra/newview/skins/default/xui/fr/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/fr/panel_snapshot_options.xml
  indra/newview/skins/default/xui/it/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/it/panel_snapshot_options.xml
  indra/newview/skins/default/xui/ja/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/ja/panel_snapshot_options.xml
  indra/newview/skins/default/xui/pl/panel_snapshot_options.xml
  indra/newview/skins/default/xui/pt/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/pt/panel_snapshot_options.xml
  indra/newview/skins/default/xui/ru/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/ru/panel_snapshot_options.xml
  indra/newview/skins/default/xui/tr/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/tr/panel_snapshot_options.xml
  indra/newview/skins/default/xui/zh/panel_snapshot_inventory.xml
  indra/newview/skins/default/xui/zh/panel_snapshot_options.xml
Labels: c/cpp

#3946 Restore missing 'override'
  indra/llui/llflatlistview.h
  indra/llui/lltextbox.h
Labels: c/cpp, llui

#3939 Reduce memory allocations pinging the mainloop timeout
  indra/llcommon/llthread.h
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llwatchdog.cpp
  indra/newview/llwatchdog.h
Labels: c/cpp, llcommon

#3941 Improve inventory finder floater performance: Don't parse XUI tree each frame
  indra/newview/llinventoryfilter.cpp
  indra/newview/llinventoryfilter.h
  indra/newview/llpanelmaininventory.cpp
Labels: c/cpp

#3937 Fix memory leak in LLImageDimensionsInfo
  indra/llimage/llimagedimensionsinfo.cpp
  indra/llimage/llimagedimensionsinfo.h
Labels: c/cpp, llimage

#3948 Restore llmath fixes that got lost during merge
  indra/llmath/v2math.h
  indra/llmath/v3math.h
  indra/llmath/v4math.h
Labels: c/cpp, llmath

#3949 Performance improvements and cleanup in llviewerdisplay.cpp
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#3956 #3488 Reduce locking
  indra/newview/llmeshrepository.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
Labels: c/cpp

#3961 #3960 Fix expensive mesh thread score calculations
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#3966 #3918 Implement automatic shutdown for WorkQueueBase
  indra/llcommon/workqueue.cpp
  indra/llcommon/workqueue.h
Labels: c/cpp, llcommon

#3967 #3920 LLPanel::getString crash
  indra/newview/llfloaternewfeaturenotification.cpp
Labels: c/cpp

#3976 #3975 Crash at LLSpatialGroup::dirtyGeom
  indra/newview/llvovolume.cpp
Labels: c/cpp

#3970 Reduce cost of joint lookups by reducing string allocations via use of std::string_view and heterogeneous map lookups
  indra/llappearance/llavatarappearance.h
  indra/llcharacter/llbvhloader.cpp
  indra/llcharacter/llbvhloader.h
  indra/llcharacter/llcharacter.cpp
  indra/llcharacter/llcharacter.h
  indra/llcharacter/lljoint.cpp
  indra/llcharacter/lljoint.h
  indra/llprimitive/lldaeloader.cpp
  indra/llprimitive/lldaeloader.h
  indra/llprimitive/llgltfloader.cpp
  indra/llprimitive/llgltfloader.h
  indra/llprimitive/llmodelloader.h
  indra/newview/llfloaterbvhpreview.cpp
  indra/newview/llfloaterbvhpreview.h
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llmodelpreview.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoavatar.h
  indra/newview/llvoavatarself.cpp
  indra/newview/llvoavatarself.h
Labels: c/cpp, llcharacter, llappearance, llprimitive

#3991 #3978 Fix offset in Land Owner highlights
  indra/newview/llsurfacepatch.cpp
Labels: c/cpp

#3992 #3953 My Inventory folder appears in Favorites
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#3980 viewerp#300 Fix inconsistency with copying textures vs pbr
  indra/newview/llinventorymodel.cpp
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/lltexturectrl.cpp
Labels: c/cpp

#3955 [#3954] Fix uploading small textures with OpenJPEG
  indra/llimagej2coj/llimagej2coj.cpp
Labels: c/cpp, llimagej2coj

#3973 [#3972] Implemented Texture Panel Repeats per meter improvements and PBR feature
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/skins/default/xui/en/panel_tools_texture.xml
Labels: c/cpp

#3994 #3791 check against alpha blending as a part of determining exclude water
  indra/newview/llpanelface.cpp
Labels: c/cpp

#3990 Fix: ignore *pass-on* counters when detecting left-button grabs from `llTakeControl`
  indra/newview/llagent.cpp
Labels: c/cpp

#3995 #3924 Fix favorites inventory panel being stuck
  indra/newview/llinventorypanel.cpp
Labels: c/cpp

#3998 #3993 Fix missing 'add to favorites' option
  indra/newview/llinventorybridge.cpp
Labels: c/cpp

#3999 #3997 Crash in a gltf asset enabled region
  indra/llrender/llglslshader.cpp
  indra/newview/gltfscenemanager.cpp
Labels: c/cpp, llrender

#4003 #3748 Don't allow dropping material onto water exclusion surface
  indra/newview/lltooldraganddrop.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp

#4002 p#428 Fix texture picker's tentative behavior
  indra/newview/lltexturectrl.cpp
  indra/newview/lltexturectrl.h
Labels: c/cpp

#4006 #4005 Crash at LLVOVolume::isMesh
  indra/newview/llpanelobject.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llvovolume.cpp
Labels: c/cpp
