Repository secondlife/viewer, pull requests merged in 2025-09, with the labels that each got.

#4625 #4587 Shaders sometimes do not match the shader settings
  indra/llrender/llshadermgr.cpp
  indra/llrender/llshadermgr.h
  indra/newview/llviewershadermgr.cpp
Labels: c/cpp, llrender

#4632 p#470 Fix wrong release notes being shown.
  indra/newview/llstartup.cpp
Labels: c/cpp

#4640 Updates to macOS universal build
  autobuild.xml
  indra/llfilesystem/lldir.cpp
  indra/llfilesystem/lldiriterator.cpp
  indra/llfilesystem/lldiskcache.cpp
Labels: c/cpp, llfilesystem, team:viewer

#4641 #4639 Crash at getDimensionsF32
  indra/llui/lltextbase.cpp
Labels: c/cpp, llui

#4649 #1965 Properly terminate particles when HUD is off #2
  indra/newview/llviewerdisplay.cpp
Labels: c/cpp

#4657 Improvements found in reviewing mac_arm branch #4629
  indra/cmake/Variables.cmake
  indra/llcommon/llmd5.cpp
  indra/llkdu/llimagej2ckdu.cpp
  indra/llwindow/llopenglview-objc.mm
  indra/newview/llappviewer.cpp
Labels: c/cpp, cmake, llwindow, llcommon, llkdu

#4593 [WebRTC] Rework device handling sequence so that we can handle unplugging/re-plugging devices
  .github/workflows/build.yaml
  autobuild.xml
  indra/llwebrtc/CMakeLists.txt
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc.h
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: c/cpp, cmake, team:viewer

#4673 #4651 Try distinguishing freezes from crashes
  indra/newview/llappviewer.cpp
  indra/newview/llappviewerwin32.cpp
Labels: c/cpp

#4672 #4604 Tweak range decrease
  indra/newview/llviewermessage.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexture.h
  indra/newview/llvocache.cpp
Labels: c/cpp

#4683 #4675 Voice indicator did not reappear after tuning
  indra/newview/llconversationview.cpp
  indra/newview/llspeakingindicatormanager.cpp
  indra/newview/llvoicechannel.cpp
  indra/newview/llvoicechannel.h
Labels: c/cpp

#4676 Fix indexing problem with mac devices
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
Labels: bug, c/cpp

#4692 #4432 Change graphics quality via a debug setting
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterpreference.cpp
  indra/newview/llviewercontrol.cpp
Labels: c/cpp

#4690 #4685 EventQueueGet shouldn't use llcorehttp's backoff-retry logic
  indra/newview/lleventpoll.cpp
  indra/newview/lleventpoll.h
Labels: c/cpp

#4696 #4687 Fix audio device selection showing a bunch of zeros
  indra/newview/llpanelvoicedevicesettings.cpp
  indra/newview/skins/default/xui/en/panel_sound_devices.xml
Labels: c/cpp

#4708 [#3954] Fix OpenJPEG uploading small textures (again)
  indra/llimagej2coj/llimagej2coj.cpp
Labels: c/cpp, llimagej2coj

#4718 #4695 Fix missing voice cleanup
  indra/llwebrtc/llwebrtc.cpp
  indra/llwebrtc/llwebrtc_impl.h
  indra/newview/llvoiceclient.cpp
Labels: c/cpp

#4728 #4695 Fix device update causing a crash
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#4746 p#475 Excessive texture fetch logging on shutdown
  indra/newview/lltexturefetch.cpp
Labels: c/cpp

#4755 #3189 Fix missed else condition
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#4761 #4751 Restore navigation UI for Marketplace and Search
  indra/newview/llfloatermarketplace.cpp
  indra/newview/llfloatermarketplace.h
  indra/newview/llfloatersearch.cpp
  indra/newview/llfloatersearch.h
  indra/newview/llstatusbar.cpp
  indra/newview/skins/default/xui/en/floater_marketplace.xml
  indra/newview/skins/default/xui/en/floater_search.xml
Labels: c/cpp

#4763 #4762 Better cacheOptimize's issue handling
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath
