Repository secondlife/viewer, pull requests merged in 2025-08, with the labels that each got.

#4487 #4473 Permit zooming to self in people panel
  indra/newview/llpanelpeoplemenus.cpp
Labels: c/cpp

#4488 #3564 Permit 'labeling' audio streams that play via media plugin
  indra/newview/llviewermedia_streamingaudio.cpp
Labels: c/cpp

#4491 #4470 Temporarily disable Discord SDK
  autobuild.xml
Labels: team:viewer

#4497 #4474 Zoom in to Object From Chat
  indra/llui/lltextbase.cpp
  indra/llui/llurlaction.cpp
  indra/llui/llurlaction.h
  indra/newview/llchathistory.cpp
  indra/newview/llchatitemscontainerctrl.cpp
  indra/newview/llviewermenu.cpp
  indra/newview/llviewermenu.h
  indra/newview/skins/default/xui/en/menu_object_icon.xml
  indra/newview/skins/default/xui/en/menu_url_objectim.xml
Labels: c/cpp, llui

#4496 Discord without auth & "Hidden Region" instead of blank
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
  indra/newview/llfloaterpreference.cpp
Labels: c/cpp

#4490 Nearby tab slider
  indra/newview/skins/default/xui/en/panel_people.xml
Labels: enhancement

#4502 #4472 Permit going below ground if camera isn't constrained
  indra/newview/llagentcamera.cpp
Labels: c/cpp

#4504 #4503 Crash at openHeaderEntriesFile
  indra/newview/lltexturecache.cpp
Labels: c/cpp

#4494 Straighten out muting to prevent echo when crossing from vivox to webrtc regions near a webrtc region boundary.
  indra/llwebrtc/llwebrtc.cpp
  indra/newview/llvoicewebrtc.cpp
  indra/newview/llvoicewebrtc.h
Labels: bug, c/cpp

#4507 #4334 Crash at getIsDynamic #2
  indra/newview/llreflectionmap.h
Labels: c/cpp

#4516 #4420 Fix chat log reading issue with certain characters
  indra/newview/lllogchat.cpp
Labels: c/cpp

#4520 #4284 Better window shutdown logging
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#4525 #4522 Crash at shouldAllowFirstMediaInteraction
  indra/newview/lltoolpie.cpp
Labels: c/cpp

#4517 Fix clang compiler issues due to unused variables
  indra/llrender/llrendertarget.cpp
  indra/newview/gltf/asset.cpp
  indra/newview/lldrawpoolwater.cpp
  indra/newview/llstartup.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llvoavatar.cpp
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp, llrender

#4501 Chore: Move message.xml to scripts/messages
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/message.xml
  indra/newview/viewer_manifest.py
Labels: cmake, python, ignore-for-release, tech-debt

#4531 Fix issue where p2p calls were coming up muted even thought speak button indicated they were not muted.
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#4540 #4535 Revert "Fix: ignore *pass-on* counters when detecting left-button grabs (#3990)"
  indra/newview/llagent.cpp
Labels: c/cpp

#4542 #4527 Crash trying to upload a huge image
  indra/llimage/llimagebmp.cpp
  indra/llimage/llimagedxt.cpp
  indra/llimage/llimagejpeg.cpp
  indra/llimagej2coj/llimagej2coj.cpp
  indra/llkdu/llimagej2ckdu.cpp
  indra/newview/llfloaterimagepreview.cpp
  indra/newview/skins/default/xui/en/notifications.xml
Labels: c/cpp, llimage, llimagej2coj, llkdu

#4395 Add support for Normalized Frametime Variation (NVFT)
  indra/newview/llviewerstats.cpp
  indra/newview/llviewerstats.h
  indra/newview/skins/default/xui/en/floater_stats.xml
Labels: c/cpp

#4554 #4544 Add source format information to mesh upload statistics
  indra/newview/llfloatermodelpreview.cpp
  indra/newview/llfloatermodelpreview.h
  indra/newview/llmeshrepository.cpp
  indra/newview/llmeshrepository.h
Labels: c/cpp

#4565 #4544 Fix extension check being case sensitive
  indra/newview/llfloatermodelpreview.cpp
Labels: c/cpp

#4577 #4284 Reorder window shutdown
  indra/llwindow/llwindowwin32.cpp
Labels: c/cpp, llwindow

#4586 #4570 Attemp to send logout message when lost network
  indra/newview/llappviewer.cpp
  indra/newview/llappviewer.h
Labels: c/cpp

#4605 #4598 Crash in LLReflectionMapManager::update
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llreflectionmapmanager.h
  indra/newview/llviewercontrol.cpp
Labels: c/cpp

#4615 #4598 Fix variables being inited before settings are ready
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/pipeline.cpp
Labels: c/cpp
