Repository secondlife/viewer, pull requests merged in 2025-03, with the labels that each got.

#3624 Resubmit PR#2849 New flags on ScriptTeleportRequest message.
  indra/llcommon/indra_constants.h
  indra/llui/llfloater.h
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llviewermessage.cpp
  scripts/messages/message_template.msg
  scripts/messages/message_template.msg.sha1
Labels: c/cpp, llcommon, llui

#3623 Resubmit PR:2689 Honor flag sent by server indicating server side autopilot is engaged. When flag is set allow server to update local avatar rotation.
  indra/llprimitive/object_flags.h
  indra/newview/llviewerobject.cpp
Labels: c/cpp, llprimitive

#3645 #3512 Add UX for marking water exclusion surfaces
  indra/newview/llpanelface.cpp
  indra/newview/llpanelface.h
  indra/newview/skins/default/xui/en/notifications.xml
  indra/newview/skins/default/xui/en/panel_tools_texture.xml
Labels: c/cpp

#3651 #3644 Fix new logging of packet drops hitting performance
  indra/llmessage/llpacketring.cpp
  indra/llmessage/llpacketring.h
  indra/llmessage/message.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llfloaterlagmeter.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/llviewerstats.h
  indra/newview/llviewerthrottle.cpp
  indra/newview/llworld.cpp
Labels: c/cpp, llmessage

#3652 #3630 fix for incorrectly pointed particle beam after dropping HUD attachment
  indra/newview/llselectmgr.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
Labels: c/cpp

#3656 #3644 Fix new logging of packet drops hitting performance #2
  indra/llmessage/llpacketring.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llviewerstats.cpp
  indra/newview/llviewerstats.h
  indra/newview/llviewerthrottle.cpp
  indra/newview/llworld.cpp
Labels: c/cpp, llmessage

#3659 #3611 Decrease TextureScaleMinAreaFactor
  indra/newview/app_settings/settings.xml
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#3648 Add RenderTextureVRAMDivisor
  indra/newview/app_settings/settings.xml
  indra/newview/llviewertexture.cpp
Labels: c/cpp

#3660 #3654 Searchable disabled settings not readable when highlighted
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llsearchablecontrol.h
  indra/newview/skins/default/colors.xml
Labels: c/cpp, llui

#3662 Lua editor: script editor in the inventory
  indra/newview/llpreviewscript.cpp
  indra/newview/llpreviewscript.h
  indra/newview/llviewerassetupload.cpp
  indra/newview/llviewerassetupload.h
  indra/newview/skins/default/xui/en/floater_live_lsleditor.xml
  indra/newview/skins/default/xui/en/floater_script_preview.xml
  indra/newview/skins/default/xui/en/panel_script_ed.xml
Labels: c/cpp

#3657 Cherry-picking develop fixes into 2025.03
  indra/newview/lldrawable.cpp
  indra/newview/llfloaterregioninfo.cpp
  indra/newview/llfloaterregioninfo.h
  indra/newview/llimprocessing.cpp
  indra/newview/llimview.cpp
  indra/newview/lllogchat.cpp
  indra/newview/lllogchat.h
  indra/newview/llnotificationhandlerutil.cpp
  indra/newview/lltooldraganddrop.cpp
  indra/newview/skins/default/xui/de/strings.xml
  indra/newview/skins/default/xui/en/panel_performance_preferences.xml
  indra/newview/skins/default/xui/es/strings.xml
  indra/newview/skins/default/xui/fr/strings.xml
  indra/newview/skins/default/xui/it/strings.xml
  indra/newview/skins/default/xui/ja/panel_performance_preferences.xml
  indra/newview/skins/default/xui/pl/strings.xml
  indra/newview/skins/default/xui/pt/strings.xml
  indra/newview/skins/default/xui/ru/strings.xml
  indra/newview/skins/default/xui/tr/strings.xml
Labels: c/cpp

#3682 Fix preferences search not finding text defined in text boxes (#3653)
  indra/llui/lltextbox.h
Labels: c/cpp, llui

#3709 #3409 Make maximum probe count adjustable.
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class1/deferred/deferredUtil.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/llreflectionmapmanager.h
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
Labels: c/cpp

#3707 Merge branch 'main' into release/2025.03
  indra/newview/llagent.cpp
  indra/newview/llglsandbox.cpp
Labels: c/cpp

#3711 #3702 Crash at doTeleportViaLandmark
  indra/newview/llagent.cpp
Labels: c/cpp

#3718 #3717 LLPluginClassMedia::sendMessage
  indra/newview/llfloater360capture.cpp
Labels: c/cpp

#3708 2025.03 Cherry pick from Maint B
  indra/llappearance/llpolymesh.cpp
  indra/llmessage/llproxy.cpp
  indra/llxml/llxmltree.cpp
  indra/newview/llaisapi.cpp
  indra/newview/llappviewer.cpp
  indra/newview/llfilepicker.cpp
  indra/newview/llfloatercreatelandmark.cpp
  indra/newview/llfloatercreatelandmark.h
  indra/newview/llfloateremojipicker.cpp
  indra/newview/llfloateremojipicker.h
  indra/newview/llfloaterperformance.cpp
  indra/newview/llfloaterperformance.h
  indra/newview/llfloaterpreference.cpp
  indra/newview/llfloaterpreference.h
  indra/newview/llfloaterpreferencesgraphicsadvanced.cpp
  indra/newview/llfloaterpreferencesgraphicsadvanced.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventorybridge.h
  indra/newview/llinventorymodelbackgroundfetch.cpp
  indra/newview/lloutfitslist.cpp
  indra/newview/llpanelemojicomplete.cpp
  indra/newview/llviewerjointmesh.cpp
  indra/newview/llviewermedia.cpp
  indra/newview/llviewerobject.cpp
  indra/newview/llviewerobject.h
  indra/newview/llviewerregion.cpp
  indra/newview/llvoicevivox.cpp
  indra/newview/skins/default/xui/en/floater_emoji_picker.xml
  indra/newview/skins/default/xui/en/floater_fast_timers.xml
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
  indra/newview/skins/default/xui/en/floater_world_map.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
  indra/newview/skins/default/xui/en/panel_preferences_graphics1.xml
  indra/newview/skins/default/xui/en/panel_region_environment.xml
Labels: c/cpp, llappearance, llmessage, llxml

#3727 #3591 Restructure SE to not catch LLContinueError
  indra/llcommon/llcoros.cpp
Labels: c/cpp, llcommon

#3728 Set correct rpath for OpenAL
  indra/newview/viewer_manifest.py
Labels: python

#3723 Cherry-pick: Rye's changes to reduce build time
  autobuild.xml
  indra/cmake/00-Common.cmake
  indra/llmath/llmatrix3a.cpp
  indra/llmath/llmatrix4a.cpp
  indra/llmath/llrigginginfo.cpp
  indra/llmath/llvector4a.cpp
  indra/llmath/llvolumeoctree.cpp
  indra/llmath/v3colorutil.h
  indra/llui/llfolderviewitem.cpp
  indra/llui/llui.h
  indra/newview/CMakeLists.txt
  indra/newview/gltf/common.h
  indra/newview/llinventoryitemslist.cpp
  indra/newview/llviewerprecompiledheaders.h
  indra/test/lltut.h
Labels: c/cpp, cmake, llmath, llui, team:viewer

#3733 #3189 Pasted PBR materials disappearing
  indra/newview/llgltfmateriallist.cpp
  indra/newview/llgltfmateriallist.h
  indra/newview/llpanelface.cpp
Labels: c/cpp

#3740 #3739 Friends list login race condition fix
  indra/newview/llcallingcard.cpp
  indra/newview/llcallingcard.h
  indra/newview/llstartup.cpp
Labels: c/cpp

#3732 #3685 Add two new slapps to support wearing contents of folders - Add and Remove
  indra/newview/llappearancemgr.cpp
Labels: c/cpp

#3701 Lua editor: WIP updates
  indra/llui/llkeywords.cpp
  indra/newview/app_settings/keywords_lua_default.xml
  indra/newview/llpreviewscript.cpp
  indra/newview/llpreviewscript.h
  indra/newview/llscripteditor.cpp
  indra/newview/llscripteditor.h
  indra/newview/skins/default/xui/en/panel_script_ed.xml
Labels: c/cpp, llui

#3749 #3745 fix for showing system notification on login
  indra/newview/llcallingcard.cpp
Labels: c/cpp

#3751 #3750 Crash at isSaveTextureEnabled
  indra/newview/llpanelmaininventory.cpp
Labels: c/cpp

#3752 #3731 Temporary viewer-side workaround to create SLua scripts by default
  indra/newview/llpanelcontents.cpp
  indra/newview/llviewerinventory.cpp
Labels: c/cpp

#3756 Lua editor: #3731 follow-ups
  indra/newview/llpanelcontents.cpp
  indra/newview/llviewerinventory.cpp
Labels: c/cpp

#3763 #3736 LLExperienceCache shutdown crash
  indra/llmessage/llexperiencecache.cpp
Labels: c/cpp, llmessage

#3765 #3547 Further reduce ParcelInfoRequest calls
  indra/newview/llpanelprofilepicks.cpp
  indra/newview/llremoteparcelrequest.cpp
  indra/newview/llremoteparcelrequest.h
Labels: c/cpp

#3746 #3644 Adjust throttle based of how busy buffer is
  indra/llmessage/llpacketring.cpp
  indra/llmessage/llpacketring.h
  indra/llmessage/message.h
  indra/newview/llappviewer.cpp
  indra/newview/llviewerthrottle.cpp
  indra/newview/llviewerthrottle.h
Labels: c/cpp, llmessage

#3766 #3685 add test floater for new slapps
  indra/newview/CMakeLists.txt
  indra/newview/app_settings/settings.xml
  indra/newview/llfloaterslapptest.cpp
  indra/newview/llfloaterslapptest.h
  indra/newview/llinventorybridge.cpp
  indra/newview/llviewerfloaterreg.cpp
  indra/newview/skins/default/xui/en/floater_test_slapp.xml
  indra/newview/skins/default/xui/en/menu_inventory.xml
  indra/newview/skins/default/xui/en/menu_viewer.xml
Labels: c/cpp, cmake

#3773 #3488 Prelock mutexes
  indra/newview/llmeshrepository.cpp
Labels: c/cpp

#3777 #1964 fix for reflection probe doesn't update position when the linkset is moved by the script
  indra/newview/llviewerobject.cpp
Labels: c/cpp

#3781 Lua editor: Keywords update
  indra/newview/app_settings/keywords_lsl_default.xml
  indra/newview/app_settings/keywords_lua_default.xml
  indra/newview/llpreviewscript.cpp
Labels: c/cpp

#3783 #3778 #3654 Split text and background selection colors
  indra/llui/llbutton.cpp
  indra/llui/llmenugl.cpp
  indra/llui/llscrolllistctrl.cpp
  indra/llui/llsearchablecontrol.h
  indra/llui/lltextbase.cpp
  indra/newview/skins/default/colors.xml
Labels: c/cpp, llui

#3726 #3364 Fix a case of excessive texture updates when bias fluctuates a bit
  indra/newview/lldrawpooltree.cpp
  indra/newview/llviewertexture.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#3759 prevent erroneous edit of wrong parcel - redux
  indra/llinventory/llparcel.h
  indra/newview/llviewerparcelmgr.cpp
  indra/newview/llviewerparcelmgr.h
Labels: c/cpp, llinventory

#3792 vp#404 Improve URL filter
  indra/llui/llurlentry.cpp
Labels: c/cpp, llui

#3797 #3796 Crash at assetRequestCoro
  indra/llmessage/llassetstorage.cpp
  indra/llmessage/llassetstorage.h
  indra/newview/llviewerassetstorage.cpp
  indra/newview/llviewerassetstorage.h
Labels: c/cpp, llmessage

#3793 Readd probe count setting
  indra/llrender/llcubemaparray.cpp
  indra/llrender/llcubemaparray.h
  indra/newview/app_settings/settings.xml
  indra/newview/app_settings/shaders/class3/environment/waterF.glsl
  indra/newview/featuretable.txt
  indra/newview/featuretable_mac.txt
  indra/newview/llreflectionmapmanager.cpp
  indra/newview/skins/default/xui/en/floater_preferences_graphics_advanced.xml
Labels: c/cpp, llrender

#3799 #3798 Crash at getAvatar()
  indra/newview/llface.cpp
Labels: c/cpp

#3625 Resubmit PR#2908+2951 Bot self identification and bug fix.
  indra/llmessage/message_prehash.cpp
  indra/llmessage/message_prehash.h
  indra/newview/llimprocessing.cpp
  indra/newview/llimprocessing.h
  indra/newview/llimview.cpp
  indra/newview/llimview.h
  indra/newview/llviewermessage.cpp
  indra/newview/skins/default/xui/da/strings.xml
  indra/newview/skins/default/xui/de/strings.xml
  indra/newview/skins/default/xui/en/strings.xml
  indra/newview/skins/default/xui/es/strings.xml
  indra/newview/skins/default/xui/fr/strings.xml
  indra/newview/skins/default/xui/it/strings.xml
  indra/newview/skins/default/xui/ja/strings.xml
  indra/newview/skins/default/xui/pl/strings.xml
  indra/newview/skins/default/xui/pt/strings.xml
  indra/newview/skins/default/xui/ru/strings.xml
  indra/newview/skins/default/xui/tr/strings.xml
  indra/newview/skins/default/xui/zh/strings.xml
Labels: c/cpp, llmessage

#3808 #3795 Fix macos shutdown crash
  indra/llwindow/llwindowmacosx.cpp
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llwindow

#3813 #3803 Crash at LLTabContainer::setTab
  indra/newview/llfloaterimcontainer.cpp
Labels: c/cpp

#3815 #3814 Out of range exception in TextCmdRemove::execute
  indra/llui/lltexteditor.cpp
Labels: c/cpp, llui

#3830 #3829 WebRTC crash OnDataReceivedImpl
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#3837 #3836 Fix crash at LLNotificationForm::getNumElements()/LLSD::size()
  indra/llui/llnotifications.cpp
Labels: c/cpp, llui

#3719 fix: Correctly update shadows on RenderShadowResolutionScale change
  indra/newview/pipeline.cpp
Labels: c/cpp

#3838 #3795 Crash at getVolatileAPRPool()
  indra/llcommon/workqueue.cpp
  indra/llui/llcommandmanager.cpp
  indra/llui/llnotifications.cpp
  indra/llui/llnotifications.h
  indra/newview/llappviewer.cpp
  indra/newview/llviewerwindow.cpp
Labels: c/cpp, llcommon, llui

#3835 #3809 Fix J2C Upload
  indra/llimage/llimagedimensionsinfo.cpp
  indra/llimage/llimagedimensionsinfo.h
  indra/newview/llfilepicker.cpp
  indra/newview/lllocalbitmaps.cpp
  indra/newview/lllocalbitmaps.h
  indra/newview/llviewermenufile.cpp
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp, llimage

#3839 #3809 Partial revert of "Fix J2C Upload"
  indra/llimage/llimagedimensionsinfo.cpp
  indra/llimage/llimagedimensionsinfo.h
  indra/newview/llfilepicker.cpp
  indra/newview/llviewermenufile.cpp
Labels: c/cpp, llimage

#3807 SLua editor: multi-line strings and comments
  indra/llui/llkeywords.cpp
  indra/llui/llkeywords.h
  indra/newview/app_settings/keywords_lua_default.xml
  indra/newview/skins/default/xui/de/floater_about.xml
  indra/newview/skins/default/xui/en/floater_about.xml
  indra/newview/skins/default/xui/es/floater_about.xml
  indra/newview/skins/default/xui/fr/floater_about.xml
  indra/newview/skins/default/xui/it/floater_about.xml
  indra/newview/skins/default/xui/ja/floater_about.xml
  indra/newview/skins/default/xui/pt/floater_about.xml
  indra/newview/skins/default/xui/ru/floater_about.xml
  indra/newview/skins/default/xui/tr/floater_about.xml
  indra/newview/skins/default/xui/zh/floater_about.xml
Labels: c/cpp, llui

#3840 #3044 Add option to hide L$ balance for Snapshots with Interface showing
  indra/newview/app_settings/settings.xml
  indra/newview/llappviewer.cpp
  indra/newview/llfloatersnapshot.cpp
  indra/newview/llfloatersnapshot.h
  indra/newview/llsnapshotlivepreview.cpp
  indra/newview/llstatusbar.cpp
  indra/newview/llstatusbar.h
  indra/newview/llviewermenufile.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/llviewerwindow.cpp
  indra/newview/llviewerwindow.h
  indra/newview/llviewerwindowlistener.cpp
  indra/newview/skins/default/xui/en/floater_snapshot.xml
Labels: c/cpp

#3843 #3814 More bad_alloc handling
  indra/llmath/llvolume.cpp
Labels: c/cpp, llmath
