Repository secondlife/viewer, pull requests merged in 2025-05, with the labels that each got.

#4012 #4001 Bump cache version
  indra/newview/llappviewer.cpp
Labels: c/cpp

#4018 calcDataSizeJ2C Adjust curve for more than 6 layers
  indra/llimage/llimagej2c.cpp
Labels: c/cpp, llimage

#4019 updateImageDecodePriority - Avoid Long Face Loop
  indra/newview/llviewertexturelist.cpp
Labels: c/cpp

#4024 #4009 Add color settings for chat mentions to Preferences
  indra/llui/llurlentry.cpp
  indra/newview/skins/default/colors.xml
  indra/newview/skins/default/xui/en/panel_preferences_colors.xml
Labels: c/cpp, llui

#4025 #3317 Fix full screen issue with Windows 11 24H2
  indra/llwindow/llwindow.cpp
  indra/llwindow/llwindow.h
  indra/llwindow/llwindowwin32.cpp
  indra/llwindow/llwindowwin32.h
Labels: c/cpp, llwindow

#4023 [#4022] Fix FullScreen mode in Windows 11 24H2
  indra/newview/llappviewerwin32.cpp
  indra/newview/llappviewerwin32.h
Labels: c/cpp

#4029 #4027 Crash at adjustTexturesByScale
  indra/newview/llselectmgr.cpp
Labels: c/cpp

#4017 fix and optimize openjpeg J2C encoder
  indra/llimagej2coj/llimagej2coj.cpp
  indra/llimagej2coj/llimagej2coj.h
Labels: c/cpp, llimagej2coj

#4036 #4008 Fix media scale adjustments with pbr applied
  indra/newview/llpanelface.cpp
Labels: c/cpp

#4040 Fix map search bug causing duplicate requests properly
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llfloaterworldmap.h
  indra/newview/skins/default/xui/en/floater_world_map.xml
Labels: c/cpp

#4041 Make builds support Python 3.13
  indra/cmake/Python.cmake
  indra/llmessage/llproxy.cpp
Labels: c/cpp, cmake, llmessage

#4039 #4011 Add conversation list highlight for chat mention
  indra/llui/llfolderviewitem.h
  indra/llui/llurlentry.cpp
  indra/llui/llurlentry.h
  indra/llui/llurlregistry.cpp
  indra/llui/llurlregistry.h
  indra/newview/llconversationview.cpp
  indra/newview/llconversationview.h
  indra/newview/llfloaterimcontainer.cpp
  indra/newview/llfloaterimcontainer.h
  indra/newview/llimview.cpp
  indra/newview/llviewermessage.cpp
  indra/newview/skins/default/colors.xml
Labels: c/cpp, llui

#3935 SLua editor: WIP
  indra/llui/llkeywords.cpp
  indra/llui/llkeywords.h
  indra/newview/app_settings/settings.xml
  indra/test/llhttpdate_tut.cpp
Labels: c/cpp, llui

#4043 #3757 Smarter subfolders dragndrop
  indra/newview/llinventorybridge.cpp
  indra/newview/llinventoryfunctions.cpp
  indra/newview/llinventoryfunctions.h
  indra/newview/llinventorygallery.cpp
Labels: c/cpp

#4044 Clean up worldmap: Remove LLCtrlListInterface and reduce number of getChild calls
  indra/newview/llfloaterworldmap.cpp
  indra/newview/llfloaterworldmap.h
Labels: c/cpp

#4045 #4010 Add audio ping for chat mentions
  indra/newview/app_settings/settings.xml
  indra/newview/llimview.cpp
  indra/newview/llvieweraudio.cpp
  indra/newview/skins/default/xui/en/panel_preferences_chat.xml
Labels: c/cpp

#4049 #3758 do not reopen avatar picker floater
  indra/llui/llchatmentionhelper.cpp
Labels: c/cpp, llui

#4053 #4046 Fix hud vs inworld text color mismatch
  indra/newview/llhudtext.cpp
Labels: c/cpp

#4057 #4056 Crash at childGetSelectionInterface
  indra/newview/llmodelpreview.cpp
Labels: c/cpp

#4059 Revert "#4008 Fix media scale adjustments with pbr applied"
  indra/newview/llpanelface.cpp
Labels: c/cpp

#4062 #4010 play only audio mention ping for new conversation
  indra/newview/llimview.cpp
  indra/newview/skins/default/colors.xml
Labels: c/cpp

#4063 Modernize away possibly missing std::less comparator
  indra/llcharacter/llbvhloader.cpp
Labels: c/cpp, llcharacter

#4070 #2279 fix for View Angle setting
  indra/newview/llviewercamera.cpp
  indra/newview/llviewercamera.h
Labels: c/cpp

#4075 #4071 Permit pasting links into outfits
  indra/newview/llinventorybridge.cpp
Labels: c/cpp

#4076 #4072 Fix Appearance floater not updating
  indra/newview/app_settings/settings.xml
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitslist.cpp
  indra/newview/lloutfitslist.h
Labels: c/cpp

#4084 #4081 Meshes missing after teleport
  indra/newview/llmeshrepository.cpp
  indra/newview/llviewerregion.cpp
  indra/newview/llviewerregion.h
Labels: c/cpp

#4089 #4088 Fix Outfit folders changing to normal folders
  indra/newview/llinventoryfunctions.cpp
Labels: c/cpp

#4092 #4091 fix speaker icon is showing all users speaking when anyone is talking
  indra/newview/llavatarlistitem.cpp
Labels: c/cpp

#4090 Import GLTF skin data
  indra/llprimitive/llmodelloader.cpp
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp, llprimitive

#4104 #4102 Allow selecting gltf models on mac
  indra/newview/llfilepicker.cpp
Labels: c/cpp

#4121 #4105 Support .gltf and .glb files in lookupLODModelFiles
  indra/newview/llmodelpreview.cpp
Labels: c/cpp

#4126 #p430 don't show MFA dialog twice
  indra/newview/lllogininstance.cpp
  indra/newview/lllogininstance.h
  indra/newview/llstartup.cpp
  indra/newview/tests/lllogininstance_test.cpp
Labels: c/cpp

#4127 #4080 Rigged mesh support #2
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4133 Fix for crash on macOS when loading a GLTF mesh.
  indra/newview/gltf/asset.cpp
  indra/newview/gltf/asset.h
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltfscenemanager.cpp
Labels: c/cpp

#4134 #4118 Allow Bulk Upload to initialize on Bulk Upload All option
  indra/newview/llmaterialeditor.cpp
Labels: c/cpp

#4113 #4110 Crash on LLScrollListCtrl::deleteSelectedItems
  indra/llui/llscrolllistctrl.cpp
  indra/newview/llfloatermodelpreview.cpp
Labels: c/cpp, llui

#4100 Viewer 1865 for 2025.04
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#4052 adjust which webrtc tracks are enabled when the avatar crosses a region border
  indra/newview/llvoicewebrtc.cpp
Labels: c/cpp

#4141 #4132 fix name mentions sometimes not being highlighted
  indra/llui/lltextbase.cpp
Labels: c/cpp, llui

#4142 #4109 Improve handling of GLTF transform hierarchy
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4135 Fix null outfit gallery observer pointer
  indra/newview/lloutfitgallery.cpp
  indra/newview/lloutfitgallery.h
Labels: c/cpp

#4150 #4109 Use correct GLTF coordinate system rotation
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4158 #4105 Fix duplicate GLTF model instances causing upload errors
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4164 #4109 Add validation for non-triangulated geometry in GLTF loader
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/skins/default/xui/en/floater_model_preview.xml
Labels: c/cpp

#4167 #4109 Improve LLGLTFLoader::computeCombinedNodeTransform()
  indra/newview/gltf/llgltfloader.cpp
Labels: c/cpp

#4172 #4080 Rigged mesh support #5
  indra/newview/gltf/llgltfloader.cpp
  indra/newview/gltf/llgltfloader.h
Labels: c/cpp

#4180 #4080 Fix gltf crash when opening
  indra/newview/gltf/buffer_util.h
Labels: c/cpp
